@import '../../styles/abstracts/variables';
$m-modal--max-width: 380px !default;
$m-dialog--max-width--l: $m-max-width !default;
$m-dialog--max-width: 640px !default;
$m-dialog--max-width--s: 420px !default;
$m-dialog--header-height: $m-touch-size !default;

.m-base-window {
    display: inline-block;
    width: 100%;

    &__wrap {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        min-width: $m-min-width;

        @include m-is-ie() {
            display: block;
        }

        &.m--is-modal,
        &.m--is-dialog {
            @media screen and (min-width: $m-bp--min--s) {
                padding: $m-padding--l;
            }
        }

        &.m--is-modal {
            @media screen and (max-width: $m-bp--max--s) {
                padding: $m-padding;
            }

            &.m--is-open {
                .m-base-window {
                    &__article {
                        transform: translate3d(0, 0, 0);
                        opacity: 1;
                    }
                }
            }

            .m-base-window {
                &__article {
                    transition: transform $m-transition-duration ease, opacity $m-transition-duration--s linear;
                    margin-top: auto;
                    margin-bottom: auto;
                    transform: translate3d(0, $m-padding--l, 0);
                    opacity: 0;
                    border-radius: $m-border-radius;

                    @media screen and (min-width: #{$m-modal--max-width + $m-padding * 2}) {
                        width: $m-modal--max-width;
                    }

                    @include m-is-ie() {
                        margin: 60px auto;
                    }
                }

                &__header {
                    border-bottom: 1px solid $m-color--grey-light;
                }

                &__footer {
                    text-align: center;

                    &:not(.m--no-padding) {
                        padding-bottom: $m-padding;
                    }
                }

                &__footer-nav {
                    &,
                    > :first-child {
                        display: inline-flex;
                        flex-direction: column;

                        &,
                        &.m-button,
                        &.m-link,
                        > :first-child {
                            margin: 0;
                        }
                    }

                    .m-button,
                    .m-link {
                        margin-top: $m-margin;
                    }
                }
            }
        }

        &.m--is-dialog,
        &.m--is-sidebar {
            .m-base-window {
                &__header {
                    position: relative;
                    min-height: $m-dialog--header-height;
                    padding-right: $m-touch-size;

                    &__close-button {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        margin: 0;
                        transform: translate3d(0, -50%, 0);
                        stroke-width: 2px;

                        &:hover {
                            color: $m-color--white;
                        }

                        &::after {
                            background: $m-color--black-grey-light;
                        }
                    }
                }

                &__body {
                    flex: 1 1 auto;
                    overflow-x: hidden;
                    overflow-y: auto;

                    @include m-is-ie() {
                        flex: none;
                    }
                }
            }
        }

        &.m--is-dialog {
            &.m--is-full-size {
                .m-base-window {
                    &__article {
                        @media screen and (min-width: #{$m-bp--min--s}) {
                            max-width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            &.m--is-large {
                .m-base-window {
                    &__article {
                        @media screen and (min-width: #{$m-bp--min--s}) {
                            max-width: $m-dialog--max-width--l;
                        }
                    }
                }
            }

            &.m--is-small {
                .m-base-window {
                    &__article {
                        @media screen and (min-width: #{$m-bp--min--s}) {
                            max-width: $m-dialog--max-width--s;
                        }
                    }
                }
            }

            &.m--is-open {
                .m-base-window {
                    &__article {
                        @media screen and (max-width: #{$m-bp--max--s}) {
                            transform: translate3d(0, 0, 0);
                        }

                        @media screen and (min-width: #{$m-bp--min--s}) {
                            transform: translate3d(0, 0, 0);
                            opacity: 1;
                        }
                    }
                }
            }

            .m-base-window {
                &__article {
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;

                    @media screen and (max-width: #{$m-bp--max--s}) {
                        transition: transform 0.6s ease;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        transform: translate3d(0, 110%, 0);
                        margin: 0 !important; //style for IE
                    }

                    @media screen and (min-width: #{$m-bp--min--s}) {
                        transition: transform $m-transition-duration ease, opacity $m-transition-duration--s linear;
                        transform: translate3d(0, $m-padding--l, 0);
                        margin-top: auto;
                        margin-bottom: auto;
                        max-width: $m-dialog--max-width;
                        opacity: 0;
                    }

                    @include m-is-ie() {
                        margin: $m-padding--l*2 auto;
                    }
                }

                &__header {
                    background: $m-color--black-grey;
                    color: $m-color--white;
                    min-height: $m-dialog--header-height;
                    padding-right: $m-touch-size;

                    h2 {
                        margin: 0;
                        font-size: $m-font-size--h4;
                        font-weight: $m-font-weight--bold;
                        line-height: 1.2;
                    }

                    &__close-button {
                        color: $m-color--white;

                        &::after {
                            background: $m-color--black-grey-light;
                        }
                    }
                }

                &__footer {
                    display: flex;
                    align-items: center;
                    min-height: $m-touch-size;
                    border-top: 1px solid $m-color--grey;
                }
            }
        }

        &.m--is-sidebar {
            &.m--is-from-top,
            &.m--is-from-right,
            &.m--is-from-bottom,
            &.m--is-from-bottom-right,
            &.m--is-from-bottom-left,
            &.m--is-from-left {
                &.m--is-open {
                    .m-base-window {
                        &__article {
                            transform: translate3d(0, 0, 0);
                        }
                    }
                }
            }

            &.m--is-from-top,
            &.m--is-from-right,
            &.m--is-from-left {
                .m-base-window {
                    &__article {
                        top: 0;
                    }
                }
            }

            &.m--is-from-top {
                .m-base-window {
                    &__article {
                        transform: translate3d(0, -100%, 0);
                    }
                }
            }

            &.m--is-from-bottom {
                .m-base-window {
                    &__article {
                        transform: translate3d(0, calc(100% + #{$m-touch-size}), 0);
                    }
                }
            }

            &.m--is-from-bottom,
            &.m--is-from-bottom-right,
            &.m--is-from-bottom-left {
                .m-base-window {
                    &__article {
                        bottom: 0;
                        max-height: calc(100vh - #{$m-padding--xl});
                    }
                }
            }

            &.m--is-from-right,
            &.m--is-from-bottom-right {
                .m-base-window {
                    &__article {
                        transform: translate3d(100%, 0, 0);
                    }
                }
            }

            &.m--is-from-left,
            &.m--is-from-bottom-left {
                .m-base-window {
                    &__article {
                        transform: translate3d(-100%, 0, 0);
                    }
                }
            }

            .m-base-window {
                &__article {
                    transition: transform 0.6s ease;
                    position: absolute;
                    right: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    min-height: $m-touch-size--l;
                }

                &__header {
                    display: block;
                    border-bottom: 1px solid $m-color--grey-light;

                    &__close-button {
                        color: $m-color--black-grey-light;
                    }
                }

                &__close-button {
                    transition: background $m-transition-duration ease;
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: $m-margin $m-padding;
                    background: none;
                    border: none;
                    font-size: $m-font-size;
                    color: $m-color--white;
                    cursor: pointer;
                    outline: none;
                    text-decoration: none;
                    line-height: 1;
                    transform: translate3d(0, -100%, 0);

                    &:focus:not(:hover) {
                        background: rgba($m-color--black, 0.3);
                    }
                }
            }
        }

        &.m--is-clickable-backdrop {
            cursor: pointer;
        }

        &.m--is-open {
            overflow-x: hidden;
            overflow-y: auto;
        }
    }

    &__article {
        cursor: auto;
        width: 100%;
        background: $m-color--white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    }

    &__header,
    &__body,
    &__footer {
        &.m--no-padding {
            padding: 0;
        }

        > :first-child {
            margin-top: 0;

            > :first-child {
                margin-top: 0;
            }
        }
    }

    &__header {
        display: flex;
        align-items: center;
        width: 100%;
        padding: $m-margin $m-padding;
    }

    &__body {
        padding: $m-padding;

        @include m-scrollbar-ie();

        &::-webkit-scrollbar {
            @include m-scrollbar();

            &-track-piece {
                @include m-scrollbar-track-piece();
            }

            &-thumb {
                @include m-scrollbar-thumb();
            }
        }
    }

    &__footer {
        padding-right: $m-padding;
        padding-left: $m-padding;
    }
}
