<div class="m-base-window" @click="openDialog" ref="baseWindow">
    <slot></slot>
    <portal v-if="propOpen" :target-el="'#' + propId">
        <div class="m-base-window__wrap" :class="[{ 'm--is-open': visible,
                    'm--is-modal': windowMode == 'modal',
                    'm--is-dialog': windowMode == 'dialog',
                    'm--is-sidebar': windowMode == 'sidebar',
                    'm--is-small': propSize == 'small',
                    'm--is-small': propSize == 'light',
                    'm--is-full-size': propSize == 'full-size',
                    'm--is-clickable-backdrop': propCloseOnBackdrop,
                    'm--is-disabled':disabled }, className, 'm--is-from-' + propFrom]"
                    @click.self="backdropClick"
                    ref="dialogWrap">
            <article class="m-base-window__article" :style="{ width: propWidth, 'margin-left': marginLeft }">
                <button type="button" @click="closeDialog" class="m-base-window__close-button" v-if="windowMode == 'sidebar' && propFrom == 'bottom'">
                    <m-i18n k="m-base-window:close"></m-i18n>
                </button>
                <header class="m-base-window__header" :class="{ 'm--has-title': hasTitle, 'm--no-padding': !padding || !paddingHeader }"
                    v-if="showHeader">
                    <h2 class="m-base-window__title" v-if="hasTitle">{{ title }}</h2>
                    <slot name="header"></slot>
                    <m-button @click="closeDialog" mode="icon" icon-name="default" class="m-base-window__header__close-button">
                        <m-i18n k="m-base-window:close"></m-i18n>
                    </m-button>
                </header>
                <header class="m-base-window__header" v-else-if="windowMode == 'dialog'">
                    <h2>Error: This component needs a header slot or title prop.</h2>
                </header>
                <div class="m-base-window__body" :class="{ 'm--no-padding': !padding || !paddingBody }" v-if="hasBodySlot">
                    <slot name="body"></slot>
                </div>
                <footer class="m-base-window__footer" :class="{ 'm--no-padding': !padding || !paddingFooter }" v-if="hasFooterSlot || windowMode == 'modal'">
                    <slot name="footer" v-if="windowMode != 'modal'"></slot>
                    <nav class="m-base-window__footer-nav" v-if="windowMode == 'modal'">
                        <slot name="footer"></slot>
                        <template v-if="!hasFooterSlot">
                            <m-button @click="onTrue">
                                <m-i18n k="m-base-window:ok"></m-i18n>
                            </m-button>
                            <m-link mode="button" @click="onFalse">
                                <m-i18n k="m-base-window:cancel"></m-i18n>
                            </m-link>
                        </template>
                    </nav>
                </footer>
            </article>
        </div>
    </portal>
</div>
