@import 'abstracts/variables';
$m-dropdown--color--hover: $m-color--grey-lightest;
$m-dropdown--color--select: $m-color--grey-lighter;
$m-dropdown--color--active: $m-color--primary-lightest;

.m-dropdown {
    // box-sizing: content-box;
    display: inline-flex;
    flex-direction: column;

    &__list {
        transition: 0.3s max-height ease;
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0;
        padding: 0;
        user-select: none;
        list-style: none;
        text-align: left;
        background: $m-color--white;
        box-shadow: rgba($m-color--black, 0.3) 0 1px 3px 0;

        &.is-hidden {
            position: absolute;
            visibility: hidden;
        }

        &__element {
            margin: 0;
            width: 100%;

            &:not(.is-selected) {
                .m-dropdown__list__element__text {
                    cursor: pointer;
                    transition: 0.3s background ease;
                }
            }

            &.is-selected {
                .m-dropdown__list__element__text {
                    cursor: default;
                    background: $m-dropdown--color--select;
                }
            }

            &.is-focus {
                .m-dropdown__list__element__text {
                    background: $m-dropdown--color--hover;
                }
            }

            &__text {
                box-sizing: border-box;
                display: inline-flex;
                align-items: center;
                width: 100%;
                padding: $m-margin $m-padding;
                color: $m-color--text;
                text-decoration: none;

                &:hover {
                    background: $m-dropdown--color--hover;
                }

                &:active {
                    background: $m-dropdown--color--active;
                }
            }
        }
    }
}

.m-dropdown__value {
    box-sizing: border-box;
    position: relative;
    transition: color 0.3s ease, border-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    padding: 0 $m-padding--xs;
    background: #fff;
    border: 1px solid #dcdbd9;
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
    color: #000;
}
