<div>

    <h3>No context</h3>
    <p class="m-u--margin-bottom">
        Basic behavior
    </p>
    <p>
        <m-dropdown>
            <m-dropdown-item label="item A"
                             value="A"></m-dropdown-item>
            <m-dropdown-item label="item B"
                             value="B"></m-dropdown-item>
            <m-dropdown-item label="item C"
                             value="C"></m-dropdown-item>
        </m-dropdown>
    </p>

    <hr />

    <h3>Filterable</h3>
    <p class="m-u--margin-bottom">
        Allow to filter the items
    </p>
    <p>
        <m-dropdown :filterable="true">
            <m-dropdown-item label="item A"
                             value="A"></m-dropdown-item>
            <m-dropdown-item label="item B"
                             value="B"></m-dropdown-item>
            <m-dropdown-item label="item C"
                             value="C"></m-dropdown-item>
        </m-dropdown>
    </p>

    <hr />

    <p>
        <h3>Undefined and null model value</h3>
        <p class="m-u--margin-bottom">
            <h4>Undefined</h4>
            <m-dropdown :filterable="false"
                        label="Légume"
                        v-model="undefinedValue1"
                        helperMessage="Non filtrable, sans placeholder">
                <m-dropdown-item value="1a"
                                 label="Asperge"></m-dropdown-item>
                <m-dropdown-item value="1b"
                                 label="Brocoli"></m-dropdown-item>
                <m-dropdown-item value="1c"
                                 label="Carotte"></m-dropdown-item>
                <m-dropdown-item value="1d"
                                 label="Daikon"></m-dropdown-item>
                <m-dropdown-item value="1e"
                                 label="Épinard"></m-dropdown-item>
            </m-dropdown>
            <m-dropdown :filterable="false"
                        label="Légume"
                        placeholder="Choisir un légume"
                        v-model="undefinedValue2"
                        helperMessage="Non filtrable, avec placeholder">
                <m-dropdown-item value="2a"
                                 label="Asperge"></m-dropdown-item>
                <m-dropdown-item value="2b"
                                 label="Brocoli"></m-dropdown-item>
                <m-dropdown-item value="2c"
                                 label="Carotte"></m-dropdown-item>
                <m-dropdown-item value="2d"
                                 label="Daikon"></m-dropdown-item>
                <m-dropdown-item value="2e"
                                 label="Épinard"></m-dropdown-item>
            </m-dropdown>
            <m-dropdown :filterable="true"
                        label="Légume"
                        v-model="undefinedValue3"
                        helperMessage="Filtrable, sans placeholder">
                <m-dropdown-item value="3a"
                                 label="Asperge"></m-dropdown-item>
                <m-dropdown-item value="3b"
                                 label="Brocoli"></m-dropdown-item>
                <m-dropdown-item value="3c"
                                 label="Carotte"></m-dropdown-item>
                <m-dropdown-item value="3d"
                                 label="Daikon"></m-dropdown-item>
                <m-dropdown-item value="3e"
                                 label="Épinard"></m-dropdown-item>
            </m-dropdown>

            <h4>Null</h4>
            <m-dropdown :filterable="false"
                        label="Légume"
                        v-model="nullValue1"
                        helperMessage="Non filtrable, sans placeholder">
                <m-dropdown-item value="4a"
                                 label="Asperge"></m-dropdown-item>
                <m-dropdown-item value="4b"
                                 label="Brocoli"></m-dropdown-item>
                <m-dropdown-item value="4c"
                                 label="Carotte"></m-dropdown-item>
                <m-dropdown-item value="4d"
                                 label="Daikon"></m-dropdown-item>
                <m-dropdown-item value="4e"
                                 label="Épinard"></m-dropdown-item>
            </m-dropdown>
            <m-dropdown :filterable="false"
                        label="Légume"
                        placeholder="Choisir un légume"
                        v-model="nullValue2"
                        helperMessage="Non filtrable, avec placeholder">
                <m-dropdown-item value="5a"
                                 label="Asperge"></m-dropdown-item>
                <m-dropdown-item value="5b"
                                 label="Brocoli"></m-dropdown-item>
                <m-dropdown-item value="5c"
                                 label="Carotte"></m-dropdown-item>
                <m-dropdown-item value="5d"
                                 label="Daikon"></m-dropdown-item>
                <m-dropdown-item value="5e"
                                 label="Épinard"></m-dropdown-item>
            </m-dropdown>
            <m-dropdown :filterable="true"
                        label="Légume"
                        v-model="nullValue3"
                        helperMessage="Filtrable, sans placeholder">
                <m-dropdown-item value="6a"
                                 label="Asperge"></m-dropdown-item>
                <m-dropdown-item value="6b"
                                 label="Brocoli"></m-dropdown-item>
                <m-dropdown-item value="6c"
                                 label="Carotte"></m-dropdown-item>
                <m-dropdown-item value="6d"
                                 label="Daikon"></m-dropdown-item>
                <m-dropdown-item value="6e"
                                 label="Épinard"></m-dropdown-item>
            </m-dropdown>
        </p>

        <hr />

        <p>
            <h3>Dropdown-item avec une value numerique</h3>
            <p class="m-u--margin-bottom">
                From <a href="https://github.com/ulaval/modul-components/pull/458"
                   target="blank">PR #458</a> : It's impossible to select a dropdown option when it is a numeric value
            </p>
            <p>
                <m-dropdown :filterable="false"
                            label="Item à valeur numérique"
                            v-model="numValue">
                    <m-dropdown-item v-for="item of numItems"
                                     :value="item"
                                     :label="item"></m-dropdown-item>
                </m-dropdown>
            </p>
        </p>

</div>
