<div class="m-dropdown" ref="mDropdown" :class="{ 'is-disabled': stateDisabled }">
    <ul class="m-dropdown__list is-hidden" aria-hidden="true">
        <li class="m-dropdown__list__element">
            <span class="m-dropdown__list__element__text" ref="mDropdownCalculate"></span>
        </li>
    </ul>

    <m-popper trigger="click" :options="{ placement: 'bottom' }" :close-on-content-click="true" :toggle-on-reference-click="false" :disabled="stateDisabled">
        <ul class="m-dropdown__list"
            ref="mDropdownElements">
            <li v-for="(element, index) in elementsSortedFiltered"
                v-if="elementsCount > 0"
                @click="selectElement($event, element)"
                class="m-dropdown__list__element"
                :class="{ 'is-selected': element === propsSelectedElement }"
                :key="index"
                :data-index="index">
                <span class="m-dropdown__list__element__text">{{ getElementListText(element) }}</span>
            </li>
            <li v-if="elementsCount <= 0"
                class="m-dropdown__list__element">
                <span class="m-dropdown__list__element__text">Aucun résultat</span>
            </li>
        </ul>

        <input type="text"
               class="m-dropdown__value"
               ref="mDropdownValue"
               slot="reference"
               v-if="isEditabled"
               v-model="textElement"
               :placeholder="propsInvite" />
        <span class="m-dropdown__value"
              ref="mDropdownValue"
              slot="reference"
              v-if="!isEditabled">
            {{ textElement }}
        </span>


    </m-popper>

    <!--<m-text-field  :value="textElement"></m-text-field>-->
</div>
