<div>
    <!-- Sandbox template -->
    <h3>Test Title</h3>
    <p class="m-u--margin-bottom">
        Test description
        <!-- if relevant, add link to PR
        </br>From <a href="https://github.com/ulaval/modul-components/pull/000" target="blank">PR description</a>
        -->
    </p>
    <p>
        <m-dropdown :filterable="true" label="test">
            <m-dropdown-item value="Test 1"></m-dropdown-item>
            <m-dropdown-item value="Test 2"></m-dropdown-item>
            <m-dropdown-item value="Test 3"></m-dropdown-item>
            <m-dropdown-item value="Test 4"></m-dropdown-item>
            <m-dropdown-item value="Test 5"></m-dropdown-item>
            <m-dropdown-item value="Test 6"></m-dropdown-item>
        </m-dropdown>
    </p>
</div>
