<m-popper class="m-icon-menu" placement="bottom" :shadow="false">
    <slot name="icon" slot="trigger" v-if="iconName"></slot>
    <m-icon-button :icon-name="iconName" slot="trigger">
        {{ titreButton }}
    </m-icon-button>

    <div class="m-icon-menu__menu"
         :style="{ width: width }">
        <div class="m-icon-menu__menu__header-wrap">
            <div class="m-icon-menu__menu__header"
                 :class="{ 'm--no-padding': !padding || !paddingHeader }">
                <h2 v-if="hasTitle">{{ title }}</h2>
                <slot name="header"></slot>
             </div>

        </div>
        <div class="m-icon-menu__menu__body"
             :class="{ 'm--no-padding': !padding || !paddingBody }"
             v-if="hasDefaultSlot">
            <slot></slot>
        </div>
        <div class="m-icon-menu__menu__footer-wrap">
            <div class="m-icon-menu__menu__footer"
                 :class="{ 'm--no-padding': !padding || !paddingFooter }"
                 v-if="hasFooterSlot">
                <slot name="footer"></slot>
           </div>
        </div>
    </div>
</m-popper>
