@import 'commons';

.m-carousel-item {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;

    & * {
        max-width: 100%;
        max-height: 100%;
    }

    &:not(.m--no-animation) {
        transition: transform $m-transition-duration--xl;
    }
}
