
<m-flex-template padding-top="52px">
    <m-template>
        <template slot="header">
            <m-link state="unvisited">
                <span slot="icon-left"><</span>Menu
            </m-link>
            <h1>Media Queries</h1>
        </template>
        <h2>min-width</h2>
        <p id="min480" v-if="isScreenMinXS">480px >= ... <strong>isScreenMinXS</strong></p>
        <p id="min768" v-if="isScreenMinS">768px >= ... <strong>isScreenMinS</strong></p>
        <p id="min1024" v-if="isScreenMinM">1024px >= ... <strong>isScreenMinM</strong></p>
        <p id="min1200" v-if="isScreenMinL"> 1200px >= ... <strong>isScreenMinL</strong></p>
        <p id="min1600" v-if="isScreenXL">1600px >= ... <strong>isScreenXL</strong></p>

        <h2>max-width</h2>
        <p id="max480" v-if="isScreenXS"><strong>isScreenXS</strong> ... < 480px</p>
        <p id="max768" v-if="isScreenMaxS"><strong>isScreenMaxS</strong> ... < 768px</p>
        <p id="max1024" v-if="isScreenMaxM"><strong>isScreenMaxM</strong> ... < 1024px</p>
        <p id="max1200" v-if="isScreenMaxL"><strong>isScreenMaxL</strong> ... < 1200px</p>
        <p id="max1600" v-if="isScreenMaxXL"><strong>isScreenMaxXL</strong> ... < 1600px</p>

        <h2>min-width and max-width</h2>
        <p id="in480-768" v-if="isScreenS">480px =­> ... <strong>isScreenS</strong> ... < 768px</p>
        <p id="in768-1024" v-if="isScreenM">768px => ... <strong>isScreenM</strong>... < 1024px</p>
        <p id="in1024-1600" v-if="isScreenL">1024px => ... <strong>isScreenL</strong> ... < 1600px</p>
    </m-template>
</m-flex-template>
