
<m-dialog :mode="mode"
        :id="id"
        :open="open"
        :disabled="disabled"
        :close-on-backdrop="closeOnBackdrop"
        :title="title"
        :class-name="className"
        :padding="padding"
        :padding-header="paddingHeader"
        :padding-body="paddingBody"
        :padding-footer="paddingFooter">
    <template slot="header" v-if="hasHeaderSlot"><slot name="header"></slot></template>
    <template slot="body" v-if="hasBodySlot"><slot name="body"></slot></template>
    <template slot="footer" v-if="hasFooterSlot"><slot name="footer"></slot></template>
    <slot></slot>
</m-dialog> 