@import 'commons';

.m-pagination {
    text-align: center;

    &__nav {
        display: flex;
        justify-content: center;
    }

    &__pages {
        display: flex;
        margin: 0;
    }

    &__item {
        .m-pagination__item--link,
        .m-pagination__item--text {
            display: flex;
            width: 40px; // Magic number, 44px trop large pour afficher suffisament d'item en mobile
            height: $m-touch-size;
            align-items: center;
            justify-content: center;
        }
    }

    &__item--ellipsis {
        .m-pagination__item--text {
            width: $m-touch-size/2;
        }
    }

    &.m--is-loading {
        color: $m-color--disabled;
    }
}
