@import 'abstracts/variables';
$m-panel--border-width: 1px;
$m-panel--screen--max: 639px;
$m-panel--screen--min: 640px;

.m-panel {
    position: relative;
    border: $m-panel--border-width solid $m-color--grey-light;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 1px rgba($m-color--black, 0.05);

    @include m-is-ie() {
        display: block;
    }

    &.m--is-mode-primary {
        background: $m-color--white;
        border-top: 0;
        padding-top: 4px;

        &::before {
            position: absolute;
            top: 0;
            right: - $m-panel--border-width;
            left: - $m-panel--border-width;
            content: '';
            display: block;
            height: 4px;
            background-color: $m-color--accent;
        }
    }

    &.m--is-mode-secondary {
        background: $m-color--grey-lightest;

        .m-panel {
            > .m-panel__header {
                background-color: $m-color--grey-lighter;
                border-bottom: 1px solid $m-color--grey;
            }
        }
    }

    &.m--no-shadow {
        box-shadow: none;
    }

    &.m--no-border {
        border: 0;
    }

    &__body,
    &__footer {
        > :first-child {
            margin-top: 0;

            > :first-child {
                margin-top: 0;
            }
        }
    }

    &__header {
        &:not(.m--no-padding) {
            padding: $m-padding $m-padding #{ $m-padding + $m-margin--s } $m-padding;
        }

        &__content,
        &__content-left {
            > :first-child {
                margin-top: 0;

                > :first-child {
                    margin-top: 0;
                }
            }
        }

        &__content {
            flex: 1;
        }

        &.m--is-right-content-alone {
            &[min-width~="#{ $m-panel--screen--min }"] {
                justify-content: flex-end;
            }
        }
    }

    &__body {
        flex: 1 1 auto;
        padding-bottom: #{ $m-padding + $m-margin--s };

        &:not(.m--no-padding) {
            padding-right: $m-padding;
            padding-left: $m-padding;
        }

        &.m--has-padding-top {
            padding-top: $m-padding;
        }

        @include m-scrollbar-ie();

        &::-webkit-scrollbar {
            @include m-scrollbar();

            &-track-piece {
                @include m-scrollbar-track-piece();
            }

            &-thumb {
                @include m-scrollbar-thumb();
            }
        }
    }

    &__footer {
        border-top: 1px solid $m-color--grey;

        &:not(.m--no-padding) {
            padding: $m-padding;
        }
    }

    &[max-width~="#{ $m-panel--screen--max }"] {
        .m-panel__header {
            display: block;
        }

        &:not(.m--is-right-content-alone) {
            .m-panel__header__content-right {
                margin-top: $m-margin;
            }
        }
    }

    &[min-width~="#{ $m-panel--screen--min }"] {
        .m-panel__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
