@import 'abstracts/variables';
$m-panel--border-width: 1px;

.m-panel {
    position: relative;
    border: $m-panel--border-width solid $m-color--grey-light;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 1px rgba($m-color--black, 0.05);

    &.m--is-primary {
        background: $m-color--white;
        border-top: 0;
        padding-top: 4px;

        &::before {
            position: absolute;
            top: 0;
            right: - $m-panel--border-width;
            left: - $m-panel--border-width;
            content: '';
            display: block;
            height: 4px;
            background-color: $m-color--secondary;
        }
    }

    &.m--is-secondary {
        background: $m-color--grey-lightest;

        .m-panel__header {
            background-color: $m-color--grey-lighter;
            border-bottom: 1px solid $m-color--grey;
        }
    }

    &.m--no-shadow {
        box-shadow: none;
    }

    &.m--no-border {
        border: 0;
    }

    &__header,
    &__body,
    &__footer {
        > :first-child {
            margin-top: 0;

            > :first-child {
                margin-top: 0;
            }
        }
    }

    &__header {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto;

        @media screen and (max-width: 640px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &:not(.m--no-padding) {
            padding: $m-padding $m-padding #{ $m-padding + $m-margin--s } $m-padding;
        }

        &__content-left,
        &__content-right {
            > :first-child {
                margin-top: 0;
            }
        }

        &__content {
            &-right {
                justify-self: flex-end;
            }
        }
    }

    &__body {
        flex: 1;

        &:not(.m--no-padding) {
            padding: 0 $m-padding #{ $m-padding + $m-margin--s } $m-padding;
        }

        &.m--has-padding-top {
            padding-top: $m-padding;
        }
    }

    &__footer {
        border-top: 1px solid $m-color--grey;

        &:not(.m--no-padding) {
            padding: $m-padding;
        }
    }
}
