@import 'abstracts/variables';
$m-panel--border-width: 1px;
$m-panel--screen--max: 639px;
$m-panel--screen--min: 640px;

.m-panel {
    position: relative;
    display: inline-flex;
    flex-direction: column;

    @include m-is-ie() {
        display: block;
    }

    &:not(.m--no-border) {
        border: $m-panel--border-width solid $m-color--grey-light;
    }

    &:not(.m--no-shadow) {
        box-shadow: $m-box-shadow--s;
    }

    &.m--has-highlighting-border {
        border-top: 0;
        padding-top: 4px;

        &::before {
            position: absolute;
            top: 0;
            right: - $m-panel--border-width;
            left: - $m-panel--border-width;
            content: '';
            display: block;
            height: 4px;
            background-color: $m-color--accent;
        }
    }

    &.m--is-skin-light {
        background: $m-color--white;
    }

    &.m--is-skin-dark {
        background: $m-color--grey-lightest;

        .m-panel {
            > .m-panel__header {
                background-color: $m-color--grey-lighter;
                border-bottom: 1px solid $m-color--grey;
            }
        }
    }

    &__body,
    &__footer {
        > :first-child {
            margin-top: 0;

            > :first-child {
                margin-top: 0;
            }
        }
    }

    &__header {
        &:not(.m--no-padding) {
            padding: $m-padding $m-padding--s #{ $m-padding + $m-margin--s } $m-padding--s;
        }

        &__content,
        &__content-left {
            > :first-child {
                margin-top: 0;

                > :first-child {
                    margin-top: 0;
                }
            }
        }

        &__content {
            flex: 1;
        }

        &.m--is-right-content-alone {
            &[min-width~="#{ $m-panel--screen--min }"] {
                justify-content: flex-end;
            }
        }
    }

    &__body {
        flex: 1 1 auto;
        padding-bottom: #{ $m-padding + $m-margin--s };

        &:not(.m--no-padding) {
            padding-right: $m-padding--s;
            padding-left: $m-padding--s;
        }

        &.m--has-padding-top {
            padding-top: $m-padding;
        }

        @include m-scrollbar-ie();

        &::-webkit-scrollbar {
            @include m-scrollbar();

            &-track-piece {
                @include m-scrollbar-track-piece();
            }

            &-thumb {
                @include m-scrollbar-thumb();
            }
        }
    }

    &__footer {
        border-top: 1px solid $m-color--grey;

        &:not(.m--no-padding) {
            padding: $m-padding--s;
        }
    }

    &__header,
    &__body,
    &__footer {
        &:not(.m--no-padding) {
            @media (min-width: $m-bp--min--s) {
                padding-right: $m-padding;
                padding-left: $m-padding;
            }
        }
    }

    &[max-width~="#{ $m-panel--screen--max }"] {
        .m-panel__header {
            display: block;
        }

        &:not(.m--is-right-content-alone) {
            .m-panel__header__content-right {
                margin-top: $m-margin;
            }
        }
    }

    &[min-width~="#{ $m-panel--screen--min }"] {
        .m-panel__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
