
@import '../../styles/abstracts/variables';

.m-panel {
    position: relative;
	border: 1px solid $m-color--grey;
    display: block;
    box-shadow: 0 1px 1px rgba($m-color--black, 0.07);

    &.is-primary {
        background: $m-color--white;
        border-top: 0;
        padding-top: 4px;

        &:before {
            width: 100%;
            height: 4px;
            top: 0;
            left: 0;
            content: "";
            display: block;
            position: absolute;
            background-color: $m-color--secondary;
        }

    }

    &.is-secondary {
        background: $m-color--grey--lightest;

        .m-panel__header {
            background-color: $m-color--grey--lighter;
            border-bottom: 1px solid $m-color--grey;
        }

    }

    &.no-shadow {
        box-shadow: none;
    }

    &.no-padding {
        .m-panel__header, .m-panel__body {
            padding: 0;
        }
    }

}

.m-panel__header, .m-panel__body {
    padding: $m-padding;
}



