@import 'abstracts/variables';
$m-panel--border-width: 1px;
$m-panel--screen--max: 639px;
$m-panel--screen--min: 640px;

.m-panel {
    position: relative;
    display: flex;
    flex-direction: column;

    @include m-is-ie() {
        display: block;
    }

    &:not(.m--no-border) {
        border: $m-panel--border-width solid $m-color--grey-light;
    }

    &:not(.m--no-shadow) {
        box-shadow: $m-box-shadow--s;
    }

    &.m--is-skin-light {
        background: $m-color--white;
        border-top: 0;
        padding-top: 4px;

        &::before {
            position: absolute;
            top: 0;
            right: - $m-panel--border-width;
            left: - $m-panel--border-width;
            content: '';
            display: block;
            height: 4px;
            background-color: $m-color--accent;
        }
    }

    &.m--is-skin-prism {
        background: $m-color--white;

        .m-panel__header {
            border-bottom: 1px solid $m-color--grey;

            @include m-box-header-pading(__menu);
        }

        .m-panel__body {
            padding-top: $m-spacing--xl;
            padding-bottom: $m-spacing--xl;

            @media (min-width: $m-mq--min--s) {
                padding-left: $m-spacing--l;
                padding-right: $m-spacing--l;
            }

            @media (max-width: $m-mq--max--s) {
                padding-left: $m-spacing;
                padding-right: $m-spacing;
            }
        }
    }

    &__body,
    &__footer {
        > :first-child {
            margin-top: 0;
            padding-top: 0;

            > :first-child {
                margin-top: 0;
            }
        }
    }

    &__header {
        position: relative;

        &__content {
            flex: 1;

            > :first-child {
                margin-top: 0;

                > :first-child {
                    margin-top: 0;
                }
            }
        }

        &__menu {
            .m--is-skin-light & {
                right: $m-spacing;
            }
        }

        .m--has-menu.m--is-skin-light & {
            padding-right: $m-spacing + $m-touch-size;
        }

        .m--has-menu.m--is-skin-prism & {
            @media (min-width: $m-mq--min--s) {
                padding-right: $m-spacing--l + $m-touch-size;
            }

            @media (max-width: $m-mq--max--s) {
                padding-right: $m-spacing + $m-touch-size;
            }
        }

        &.m--is-right-content-alone {
            &[min-width~="#{ $m-panel--screen--min }"] {
                justify-content: flex-end;
            }
        }
    }

    &__body {
        flex: 1 1 auto;
        position: relative;

        &:not(.m--no-padding) {
            padding-right: $m-padding--s;
            padding-left: $m-padding--s;
        }

        &.m--has-padding-top {
            padding-top: $m-padding;
        }

        @include m-scrollbar();
    }

    &__footer {
        border-top: 1px solid $m-color--grey;

        @include m-box-header-pading();
    }

    &[max-width~="#{ $m-panel--screen--max }"] {
        &.m--is-skin-light {
            .m-panel__header {
                display: block;
            }
        }

        &:not(.m--is-right-content-alone) {
            .m-panel__header__content-right {
                margin-top: $m-margin;
            }
        }
    }

    &[min-width~="#{ $m-panel--screen--min }"] {
        .m-panel__header {
            justify-content: space-between;
        }
    }
}
