<m-popper class="m-timepicker" @open="onOpen" @close="onClose" :options="options" :disabled="disabled">
    <m-text-field icon-name="clock" :force-focus="isOpen" :value="formattedTime" @change="onChange" :error="error" :placeholder="placeholder"
        :icon-description="isOpen ? closeTimeSelectorDesc : openTimeSelectorDesc"></m-text-field>
    <article class="m-timepicker__article" slot="body">
        <div class="m-timepicker__body">
            <ul class="m-timepicker__hours" ref="hours" @scroll="onScroll" @mousedown="onMousedown" @mouseup="onMouseup">
                <li v-for="(h, i) in hours"><a class="m-timepicker__hours__item" :class="{'m--is-selected': i == tempHour}" @click.stop.prevent="selectHour(i)">{{formatHour(i)}}</a></li>
            </ul>
            <ul class="m-timepicker__minutes" ref="minutes" @scroll="onScroll" @mousedown="onMousedown" @mouseup="onMouseup">
                <li v-for="m in minutes"><a class="m-timepicker__minutes__item" :class="{'m--is-selected': m == tempMinute}" @click.stop.prevent="selectMinute(m)">{{formatMinute(m)}}</a></li>
            </ul>
        </div>
        <footer class="m-timepicker__footer">
            <m-link mode="button" @click="onOk">{{okButtonText}}</m-link>
        </footer>
    </article>
</m-popper>
