@import 'abstracts/variables';
$m-timepicker--color-hover: $m-color--interactive-lightest !default;
$m-timepicker--color-select: $m-color--grey-lighter !default;
$m-timepicker--color-active: $m-color--grey-lightest !default;

.m-timepicker {
    display: inline-flex;

    &__header,
    &__body,
    &__footer {
        background: $m-color--white;

        @media (min-width: #{$m-mq--min--s}) {
            border-right: $m-border-width--s solid $m-color--border;
            border-left: $m-border-width--s solid $m-color--border;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: $m-touch-size;
        padding: $m-margin 0;
        border-bottom: $m-border-width--s solid $m-color--border;
        font-weight: $m-font-weight--bold;

        @media (min-width: #{$m-mq--min--s}) {
            border-top: $m-border-width--s solid $m-color--border;
        }

        &__hours,
        &__minutes {
            flex: 1 1 auto;
            text-align: center;
        }
    }

    &__body {
        position: relative;
        display: flex;
        width: 100%;
        height: $m-touch-size * 3;

        @media (min-width: #{$m-mq--min--s}) {
            width: 210px;
            height: $m-touch-size * 5;
        }

        &__hours,
        &__minutes {
            width: 50%;
            flex: 1 0 auto;
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;
            overflow: auto;

            @include m-scrollbar();

            &-item {
                transition: background $m-transition-duration ease;
                outline: 0;
                color: inherit;
                height: $m-touch-size;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;

                &:not(.m--is-selected) {
                    cursor: pointer;

                    &:hover,
                    &:focus {
                        background: $m-timepicker--color-hover;
                    }

                    &:active {
                        background: $m-timepicker--color-active;
                    }
                }

                &.m--is-selected {
                    cursor: not-allowed;
                    background: $m-timepicker--color-select;
                }
            }
        }
    }

    &__footer {
        border-top: $m-border-width--s solid $m-color--border;
        padding: $m-margin--s $m-padding;
        text-align: center;

        @media (min-width: #{$m-mq--min--s}) {
            border-bottom: $m-border-width--s solid $m-color--border;
        }
    }
}
