<div>
    <h5>default</h5>
    <div style="border: solid 1px black; padding: 10px; width: 600px;">
        <m-error-cookies-not-supported></m-error-cookies-not-supported>
    </div>

    <br />

    <h5>With custom title</h5>
    <div style="border: solid 1px black; padding: 10px; width: 600px;">
        <m-error-cookies-not-supported :title="title"></m-error-cookies-not-supported>
    </div>

    <br />

    <h5>With many custom hints</h5>
    <div style="border: solid 1px black; padding: 10px; width: 600px;">
        <m-error-cookies-not-supported :hints="manyHints"></m-error-cookies-not-supported>
    </div>

    <br />

    <h5>With many custom links</h5>
    <div style="border: solid 1px black; padding: 10px; width: 600px;">
        <m-error-cookies-not-supported :links="manyLinks"></m-error-cookies-not-supported>
    </div>

    <br />

    <h5>Unexpected error popup</h5>
    <m-button v-m-popup:errorpopup>pop me an error</m-button>
    <m-dialog ref="errorpopup" :negativeLink="false" ok-label="Fermer">
            <m-error-cookies-not-supported ></m-error-cookies-not-supported>
    </m-dialog>
</div>
