<div>
    <h2>No context</h2>
    <div style="border: solid 1px black; padding: 10px; width: 600px;">
        <m-error-cookies-not-supported></m-error-cookies-not-supported>
    </div>

    <hr />

    <h2>With custom title</h2>
    <div style="border: solid 1px black; padding: 10px; width: 600px;">
        <m-error-cookies-not-supported :title="title"></m-error-cookies-not-supported>
    </div>

    <hr />

    <h2>With many custom hints</h2>
    <div style="border: solid 1px black; padding: 10px; width: 600px;">
        <m-error-cookies-not-supported :hints="manyHints"></m-error-cookies-not-supported>
    </div>

    <hr />

    <h2>With many custom links</h2>
    <div style="border: solid 1px black; padding: 10px; width: 600px;">
        <m-error-cookies-not-supported :links="manyLinks"></m-error-cookies-not-supported>
    </div>

    <hr />

    <h2>Error popup</h2>
    <m-button v-m-popup:errorpopup>try me</m-button>
    <m-dialog ref="errorpopup"
              :negativeLink="false"
              ok-label="Fermer">
        <m-error-cookies-not-supported></m-error-cookies-not-supported>
    </m-dialog>
</div>
