@import 'abstracts/variables';

.m-options-menu-item {
    display: table-row;
    text-decoration: none;

    &__icon,
    &__text {
        display: table-cell;
        padding-top: $m-margin;
        padding-bottom: $m-margin;
    }

    &__icon {
        color: $m-color--grey-darker;
        width: 32px;
        padding-left: $m-padding;

        &.is-empty {
            padding-left: 0;
            width: 0;
        }
    }

    &__text {
        color: $m-color--black;
        padding-right: $m-padding;
        padding-left: 10px;

        &.is-empty {
            padding-left: 0;
        }

        .m-options-menu-item__icon.is-empty + & {
            padding-left: $m-padding;
        }
    }

    &.disabled {
        cursor: default;
    }

    &:hover:not(.disabled),
    &:focus:not(.disabled) {
        background-color: $m-color--grey-lighter;
    }

    &:focus {
        outline: 0;
    }

    &:hover:not(.disabled) &__icon {
        color: $m-color--black-grey;
    }

    &:active:not(.disabled) {
        background-color: $m-color--interactive-lightest;
    }
}
