<div class="m-input-style"
     :class="{ 'm--is-focus' : isFocus,
               'm--is-label-up': labelIsUp,
               'm--is-disabled' : isDisabled,
               'm--has-error' : hasError,
               'm--is-valid' : isValid,
               'm--has-label': hasLabel,
               'm--has-value': hasValue }"
     @click="onClick">
    <label class="m-input-style__label" v-if="hasLabel">
        <m-icon name="default" class="m-input-style__disabled-icon" v-if="disabled">
        </m-icon>{{ label }}</label>
    <div class="m-input-style__value">
        <slot></slot>
    </div>
</div>
