<li class="m-radio" :class="{ 'm--is-button': isButton(),
              'm--is-disabled': propDisabled,
              'm--is-checked': model == value,
              'm--is-focus': hasFocus && !propDisabled,
              'm--is-input-right': propPosition == 'right',
              'm--is-full-width': propFullWidth,
              'm--is-inline': propInline }">
    <input class="m-radio__hidden" :value="value" type="radio" v-model="model" :id="radioID" :name="propName" @focus="onFocus"
        @blur="onBlur" :disabled="propDisabled">
    <label class="m-radio__label" :for="radioID" ref="label">
        <m-radio-style :focus="hasFocus && !propDisabled" :full-width="propFullWidth" :checked="model == value" :disabled="propDisabled" :position="propPosition" v-if="!isButton()">
            <m-icon aria-hidden="true" class="m-radio__icon m--is-left" :name="iconName" v-if="isButton() && hasIconLeft() && hasIcon()"></m-icon>
            <span class="m-radio__label__content"><slot><span v-if="demo">Label</span></slot></span>
            <m-icon aria-hidden="true" class="m-radio__icon m--is-right" :name="iconName" v-if="isButton() && !hasIconLeft() && hasIcon()"></m-icon>
        </m-radio-style>
        <template v-if="isButton()">
            <m-icon aria-hidden="true" class="m-radio__icon m--is-left" :name="iconName" v-if="isButton() && hasIconLeft() && hasIcon()"></m-icon>
            <span class="m-radio__label__content"><slot><span v-if="demo">Label</span></slot></span>
            <m-icon aria-hidden="true" class="m-radio__icon m--is-right" :name="iconName" v-if="isButton() && !hasIconLeft() && hasIcon()"></m-icon>
        </template>
    </label>
    <m-validation-message
        :error-message="errorMessage"
        :valid-message="validMessage"
        :helper-message="helperMessage" v-if="!isButton()"></m-validation-message>
</li>
