@import 'abstracts/variables';
$m-radio--width: 16px !default;
$m-radio--color-disabled: $m-color--grey-darker !default;
$m-radio--color-disabled-light: $m-color--grey !default;

.m-radio {
    display: flex;
    flex-direction: column;
    user-select: none;
    line-height: 1;
    list-style: none;
    padding-left: 0;

    &:not(.m--is-button) {
        &.m--is-full-width {
            width: 100%;
        }
    }

    &.m--is-button {
        &:not(.m--is-disabled) {
            &.m--is-checked {
                .m-radio {
                    &__label {
                        color: $m-color--white;
                        background: $m-color--interactive-dark;
                        border-color: $m-color--interactive-dark;
                        cursor: default;
                    }

                    &__icon {
                        color: $m-color--white;
                    }
                }
            }

            &:not(.m--is-checked) {
                &:hover,
                &:active,
                &.m--is-focus {
                    .m-radio {
                        &__label {
                            color: $m-color--white;
                        }

                        &__icon {
                            color: $m-color--white;
                        }
                    }
                }

                &:hover,
                &.m--is-focus {
                    .m-radio {
                        &__label {
                            background: $m-color--interactive;
                            border-color: $m-color--interactive;
                        }
                    }
                }

                &:active {
                    .m-radio {
                        &__label {
                            background: $m-color--interactive-darker;
                            border-color: $m-color--interactive-darker;
                        }
                    }
                }
            }

            .m-radio {
                &__label {
                    transition-property: background, border-color, color;
                    transition-duration: 0.3s;
                    transition-timing-function: ease;
                    color: $m-color--interactive;
                    border-color: $m-color--interactive;
                    font-weight: $m-font-weight--bold;
                    cursor: pointer;
                }

                &__icon {
                    color: $m-color--interactive;
                }
            }
        }

        &.m--is-disabled {
            .m-radio {
                &__label {
                    cursor: not-allowed;
                    color: $m-radio--color-disabled;
                    background: $m-color--white;
                    border-color: $m-radio--color-disabled;
                }

                &__icon {
                    color: $m-radio--color-disabled;
                }
            }
        }

        &.m--is-inline {
            &:first-child {
                .m-radio__label {
                    border-top-left-radius: $m-border-radius;
                    border-bottom-left-radius: $m-border-radius;
                    border-left: 1px solid $m-color--interactive;
                }
            }

            &:last-child {
                .m-radio__label {
                    border-top-right-radius: $m-border-radius;
                    border-bottom-right-radius: $m-border-radius;
                }
            }

            .m-radio__label {
                border-top: 1px solid;
            }
        }

        &:not(.m--is-inline) {
            display: inline-flex;

            &:first-child {
                .m-radio__label {
                    border-top-right-radius: $m-border-radius;
                    border-top-left-radius: $m-border-radius;
                    border-top: 1px solid $m-color--interactive;
                }
            }

            &:last-child {
                .m-radio__label {
                    border-bottom-right-radius: $m-border-radius;
                    border-bottom-left-radius: $m-border-radius;
                }
            }

            .m-radio__label {
                border-left: 1px solid;
            }
        }

        &.m--is-full-width {
            flex: 1;
        }

        .m-radio {
            &__label {
                width: 100%;
                height: 100%;
            }

            &__label {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px $m-padding 9px $m-padding;
                border-right: 1px solid;
                border-bottom: 1px solid;
            }

            &__icon {
                position: relative;
                z-index: 2;
                font-size: $m-font-size;
                height: $m-font-size;
                transition: color $m-transition-duration ease;

                &:empty {
                    display: none;
                }

                &.m--is-left {
                    margin-right: $m-margin--s;
                }

                &.m--is-right {
                    margin-left: $m-margin--s;
                }
            }
        }
    }

    &__hidden {
        @include m-visually-hidden;
    }
}
