@import 'abstracts/variables';
$m-radio--width: 16px;
$m-radio--color-disabled: $m-color--grey-darker !default;

.m-radio.m--is-radio-style {
    display: block;
    user-select: none;
    line-height: 1;
    list-style: none;
    padding-left: 0;

    &:not(.is-disabled) {
        &.m--is-inline {
            display: inline;
        }

        .m-radio__wrap {
            display: inline-flex;
            align-items: center;
            cursor: pointer;

            &.m--is-right {
                flex-direction: row-reverse;

                .m-radio__label {
                    padding-right: $m-margin--s;
                }
            }

            &:not(.m--is-right) {
                .m-radio__label {
                    padding-left: $m-margin--s;
                }
            }

            &:hover:not(.m--is-disabled) {
                .m-radio__label {
                    color: $m-color--interactive;
                }
            }

            &:hover,
            &.m--is-focus {
                .m-radio__input {
                    border-color: $m-color--interactive;
                    background: $m-color--interactive-lightest;
                }
            }

            &.m--is-disabled {
                cursor: not-allowed;

                .m-radio__input {
                    border-color: $m-radio--color-disabled;
                    background: $m-radio--color-disabled;
                }

                .m-radio__label {
                    color: $m-radio--color-disabled;
                    background: $m-color--white;
                    border-color: $m-radio--color-disabled;
                }
            }
        }

        .m-radio__label {
            flex: 1;
            color: $m-color--text;
        }

        .m-radio__input {
            border-color: $m-color--black;
            color: $m-color--black;

            &.m--is-checked {
                &::before {
                    visibility: visible;
                    transform: scale(1);
                }
            }

            &::before {
                transition: 0.3s transform ease-out;
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                background: $m-color--interactive;
                border-radius: 50%;
                visibility: hidden;
                transform: scale(0);
            }
        }
    }

    .m-radio__input {
        transition: 0.3s background ease, 0.3s border-color ease;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: $m-radio--width;
        height: $m-radio--width;
        background: $m-color--white;
        border-width: 1px;
        border-style: solid;
        border-radius: 50%;
        z-index: 1;
    }

    .m-radio__label {
        transition: 0.3s color ease;
    }

    .m-radio__hidden {
        @include visuallyHidden;
    }
}

.m-radio.m--is-button-style {
    display: inline-flex;
    user-select: none;
    line-height: 1;
    list-style: none;
    padding-left: 0;
    margin: 0;

    &.m--is-full-size {
        display: flex;
        flex: 1;

        .m-radio__wrap {
            flex: 1;
        }
    }

    &:not(.is-disabled) {
        .m-radio__wrap {
            .m-radio__label {
                transition-property: background, border-color, color;
                transition-duration: 0.3s;
                transition-timing-function: ease;
                color: $m-color--interactive;
                border-right: 1px solid $m-color--interactive;
                border-top: 1px solid $m-color--interactive;
                border-bottom: 1px solid $m-color--interactive;
                font-weight: $m-font-weight--bold;
                cursor: pointer;
            }

            .m-radio__icon {
                color: $m-color--interactive;
            }

            &:hover {
                .m-radio__label {
                    background: $m-color--interactive;
                    color: $m-color--white;
                }

                .m-radio__icon {
                    color: $m-color--white;
                }
            }

            &.m--is-checked {
                .m-radio__label {
                    color: $m-color--white;
                    background: $m-color--interactive-dark;
                    border-color: $m-color--interactive-dark;
                    cursor: default;
                }

                .m-radio__icon {
                    color: $m-color--white;
                }
            }

            &:not(.m--is-checked):not(.m--is-disabled) {
                &:hover {
                    .m-radio__label {
                        background: $m-color--interactive;
                        color: $m-color--white;
                    }

                    .m-radio__icon {
                        color: $m-color--white;
                    }
                }
            }

            &.m--is-focus {
                .m-radio__label {
                    background: $m-color--interactive;
                    border-color: $m-color--interactive;
                    color: $m-color--white;
                }

                .m-radio__icon {
                    color: $m-color--white;
                }
            }

            &.m--is-disabled {
                .m-radio__label {
                    cursor: not-allowed;
                    color: $m-radio--color-disabled;
                    background: $m-color--white;
                    border-color: $m-radio--color-disabled;
                }

                .m-radio__icon {
                    color: $m-radio--color-disabled;
                }
            }
        }
    }

    .m-radio__wrap {
        display: inline-flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        vertical-align: middle;
        appearance: none;
        outline: none;
        user-select: none;
        font-size: 100%;
        text-decoration: none;
        line-height: 1;

        &.m--is-first {
            .m-radio__label {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                border-left: 1px solid $m-color--interactive;
            }
        }

        &.m--is-last {
            .m-radio__label {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }

    .m-radio__label {
        transition: 0.3s color ease;
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 10px $m-padding 9px $m-padding;
    }

    .m-radio__hidden {
        @include visuallyHidden;
    }

    .m-radio__icon {
        position: relative;
        z-index: 2;
        font-size: $m-font-size;
        height: $m-font-size;
        transition: 0.3s color ease;

        &:empty {
            display: none;
        }

        &.m--is-left {
            margin-right: $m-margin--s;
        }

        &.m--is-right {
            margin-left: $m-margin--s;
        }
    }
}
