@import 'commons';
$m-radio--width: 17px !default;
$m-radio--color-disabled: $m-color--disabled !default;

.m-radio {
    user-select: none;
    line-height: 1;
    list-style: none;
    padding-left: 0;
    display: inline;

    &:not(.m--is-disabled):not(.m--is-read-only) {
        &:not(.m--is-error):not(.m--is-valid) {
            &:not(.m--is-checked) .m-radio__wrap:hover,
            &.m--is-focus {
                .m-radio {
                    &__label {
                        color: $m-color--interactive;
                    }

                    &__input {
                        border-color: $m-color--interactive;
                        background: $m-color--interactive-lightest;
                    }
                }
            }
        }

        &.m--is-error {
            .m-radio__input {
                border-color: $m-color--error;

                &::before {
                    background: $m-color--error;
                }
            }

            &:not(.m--is-checked) .m-radio__wrap:hover,
            &.m--is-focus {
                .m-radio {
                    &__input {
                        background: $m-color--error-lightest;
                    }
                }
            }
        }

        &.m--is-valid {
            .m-radio__input {
                border-color: $m-color--success;

                &::before {
                    background: $m-color--success;
                }
            }

            &:not(.m--is-checked) .m-radio__wrap:hover,
            &.m--is-focus {
                .m-radio {
                    &__label {
                        color: $m-color--success;
                    }

                    &__input {
                        background: $m-color--success-lightest;
                    }
                }
            }
        }

        &:not(.m--is-checked) {
            .m-radio__wrap {
                cursor: pointer;
            }
        }

        .m-radio {
            &__label {
                transition: color $m-transition-duration ease;
                color: $m-color--text;
            }

            &__input {
                border-color: $m-color--black;
                color: $m-color--black;
            }
        }
    }

    &.m--is-disabled {
        .m-radio {
            &__wrap {
                cursor: default;
            }

            &__input {
                border-color: $m-color--disabled;
            }

            &__label {
                color: $m-color--disabled;
                background: $m-color--white;
                border-color: $m-color--disabled;
            }
        }

        &.m--is-checked {
            .m-radio__input {
                &::before {
                    background: $m-color--disabled;
                }
            }
        }
    }

    &.m--is-read-only {
        .m-radio {
            &__wrap {
                cursor: default;
            }

            &__input {
                border-color: $m-color--disabled;
            }
        }

        &.m--is-checked {
            .m-radio__input {
                &::before {
                    background: $m-color--disabled;
                }
            }
        }
    }

    &.m--is-checked {
        .m-radio {
            &__wrap {
                cursor: default;
            }

            &__input {
                &::before {
                    visibility: visible;
                    transform: scale(1);
                }
            }
        }
    }

    &.m--is-input-right {
        .m-radio {
            &__wrap {
                flex-direction: row-reverse;
            }

            &__label {
                padding-right: $m-margin--s;
            }
        }
    }

    &:not(.m--is-input-right) {
        .m-radio__label {
            padding-left: $m-margin--s;
        }
    }

    &.m--is-align-center {
        .m-radio__wrap {
            align-items: center;
        }
    }

    &:not(.m--is-align-center) {
        .m-radio__wrap {
            align-items: flex-start;
        }
    }

    .m-radio {
        &__wrap {
            display: inline-flex;
            align-items: center;
        }

        &__input {
            transition: background $m-transition-duration ease, border-color $m-transition-duration ease;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: $m-radio--width;
            height: $m-radio--width;
            background: $m-color--white;
            border-width: 1px;
            border-style: solid;
            border-radius: 50%;
            z-index: 1;

            &::before {
                transition: transform $m-transition-duration ease-out;
                content: '';
                display: block;
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                background: $m-color--interactive;
                border-radius: 50%;
                visibility: hidden;
                transform: scale(0);
            }
        }

        &__label {
            flex: 1;
        }
    }

    &__hidden {
        @include m-visually-hidden;
    }
}
