<span class="m-radio">
    <input class="m-radio__hiddenn" ref="refRadio" type="radio" :id="radioID" :name="name" :value="radioLabel"
        v-model="modelValue" @focus="isFocus=true" @blur="isFocus=false" @click="onClick">
    <label class="m-radio__wrap" :class="{ 'm--is-right': propPosition == 'right', 'm--is-focus': isFocus && modelValue == value}"
        :for="radioID" :aria-hidden="!propLabel">
        <span class="m-radio__input" :class="{ 'm--is-checked': modelValue == value }" aria-hidden="true"></span>
        <span class="m-radio__label" v-if="propLabel">
            <slot>Label</slot>
        </span>
    </label>
</span>
