<div>
    <!-- Sandbox template -->
    <h3>Radio center alignement</h3>
    <ul>
        <m-radio radio-vertical-align="center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque
            ipsam placeat dolores esse libero ipsum, officiis asperiores! Distinctio quis, deleniti placeat, hic aperiam
            quia magnam accusantium at eaque voluptatum ratione! Lorem ipsum dolor sit amet consectetur
            elit. Veniam quia culpa quas distinctio sapiente assumenda, soluta obcaecati ipsam reprehenderit aperiam eos
            blanditiis aspernatur provident libero quod modi quos iusto molestias. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Eligendi ut consequuntur tempore fuga nihil quibusdam officia
            nesciunt, ullam eveniet explicabo unde alias, esse asperiores. Corrupti officiis sunt voluptatibus iure?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab, est! Optio ipsum voluptates alias vel quos,
            dolorum ducimus itaque quo, voluptatibus dolore autem quod molestiae magni nam aut consequatur cupiditate!
        </m-radio>
    </ul>

    <h3>Radio top alignement</h3>
    <ul>
        <m-radio>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque ipsam placeat dolores esse libero
            ipsum, officiis asperiores! Distinctio quis, deleniti placeat, hic aperiam quia magnam accusantium at eaque
            voluptatum ratione! Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quia culpa quas
            distinctio sapiente assumenda, soluta obcaecati ipsam reprehenderit aperiam eos blanditiis aspernatur
            provident libero quod modi quos iusto molestias. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eligendi ut consequuntur tempore fuga nihil quibusdam officia deleniti nesciunt, ullam eveniet explicabo
            unde alias, esse asperiores. Corrupti officiis sunt voluptatibus iure? Lorem, ipsum dolor sit amet
            consectetur adipisicing elit. Ab, est! Optio ipsum voluptates alias vel quos, dolorum ducimus itaque quo,
            voluptatibus dolore autem quod molestiae magni nam aut consequatur cupiditate!
        </m-radio>
    </ul>

    <h3>Radio top alignement with 10px margin top</h3>
    <ul>
        <m-radio radio-margin-top="10px">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque ipsam
            placeat dolores esse libero ipsum, officiis asperiores! Distinctio quis, deleniti placeat, hic aperiam quia
            magnam accusantium at eaque voluptatum ratione! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Veniam quia culpa quas distinctio sapiente assumenda, soluta obcaecati ipsam reprehenderit aperiam eos
            blanditiis aspernatur provident libero quod modi quos iusto molestias. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Eligendi ut consequuntur tempore fuga nihil quibusdam officia deleniti
            nesciunt, ullam eveniet explicabo unde alias, esse asperiores. Corrupti officiis sunt voluptatibus iure?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab, est! Optio ipsum voluptates alias vel quos,
            dolorum ducimus itaque quo, voluptatibus dolore autem quod molestiae magni nam aut consequatur cupiditate!
        </m-radio>
    </ul>

    <h3>Radio center alignement - Disabled is true</h3>
    <ul>
        <m-radio radio-vertical-align="center"
                 :disabled="true">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque ipsam placeat
            dolores esse libero ipsum, officiis asperiores! Distinctio quis, deleniti placeat, hic aperiam quia magnam
            accusantium at eaque voluptatum ratione! Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
            quia culpa quas distinctio sapiente assumenda, soluta obcaecati ipsam reprehenderit aperiam eos blanditiis
            aspernatur provident libero quod modi quos iusto molestias. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Eligendi ut consequuntur tempore fuga nihil quibusdam officia deleniti nesciunt, ullam
            eveniet explicabo unde alias, esse asperiores. Corrupti officiis sunt voluptatibus iure? Lorem, ipsum dolor
            sit amet consectetur adipisicing elit. Ab, est! Optio ipsum voluptates alias vel quos, dolorum ducimus
            itaque quo, voluptatibus dolore autem quod molestiae magni nam aut consequatur cupiditate!
        </m-radio>
    </ul>

    <h3>Radio center alignement - Read only is true</h3>
    <ul>
        <m-radio radio-vertical-align="center"
                 :readonly="true">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque ipsam placeat
            dolores esse libero ipsum, officiis asperiores! Distinctio quis, deleniti placeat, hic aperiam quia magnam
            accusantium at eaque voluptatum ratione! Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
            quia culpa quas distinctio sapiente assumenda, soluta obcaecati ipsam reprehenderit aperiam eos blanditiis
            aspernatur provident libero quod modi quos iusto molestias. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Eligendi ut consequuntur tempore fuga nihil quibusdam officia deleniti nesciunt, ullam
            eveniet explicabo unde alias, esse asperiores. Corrupti officiis sunt voluptatibus iure? Lorem, ipsum dolor
            sit amet consectetur adipisicing elit. Ab, est! Optio ipsum voluptates alias vel quos, dolorum ducimus
            itaque quo, voluptatibus dolore autem quod molestiae magni nam aut consequatur cupiditate!
        </m-radio>
    </ul>

    <h3>Radio center alignement - Read only is false</h3>
    <ul>
        <m-radio radio-vertical-align="center"
                 :readonly="false">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque ipsam placeat
            dolores esse libero ipsum, officiis asperiores! Distinctio quis, deleniti placeat, hic aperiam quia magnam
            accusantium at eaque voluptatum ratione! Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
            quia culpa quas distinctio sapiente assumenda, soluta obcaecati ipsam reprehenderit aperiam eos blanditiis
            aspernatur provident libero quod modi quos iusto molestias. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Eligendi ut consequuntur tempore fuga nihil quibusdam officia deleniti nesciunt, ullam
            eveniet explicabo unde alias, esse asperiores. Corrupti officiis sunt voluptatibus iure? Lorem, ipsum dolor
            sit amet consectetur adipisicing elit. Ab, est! Optio ipsum voluptates alias vel quos, dolorum ducimus
            itaque quo, voluptatibus dolore autem quod molestiae magni nam aut consequatur cupiditate!
        </m-radio>
    </ul>
    <h3>Radio $emit('blur') - See the console.log</h3>
    <ul>
        <m-radio radio-vertical-align="center"
                 @blur="onBlur">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque ipsam placeat
            dolores esse libero ipsum, officiis asperiores! Distinctio quis, deleniti placeat, hic aperiam quia magnam
            accusantium at eaque voluptatum ratione! Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
            quia culpa quas distinctio sapiente assumenda, soluta obcaecati ipsam reprehenderit aperiam eos blanditiis
            aspernatur provident libero quod modi quos iusto molestias. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Eligendi ut consequuntur tempore fuga nihil quibusdam officia deleniti nesciunt, ullam
            eveniet explicabo unde alias, esse asperiores. Corrupti officiis sunt voluptatibus iure? Lorem, ipsum dolor
            sit amet consectetur adipisicing elit. Ab, est! Optio ipsum voluptates alias vel quos, dolorum
            ducimus itaque quo, voluptatibus dolore autem quod molestiae magni nam aut consequatur cupiditate!
        </m-radio>
    </ul>
</div>
