<div>
    <h5>default</h5>
    <div style="border: solid 1px black; padding: 10px; width: 600px;">
        <m-error-page-not-found></m-error-page-not-found>
    </div>

    <br />

    <h5>With custom title</h5>
    <div style="border: solid 1px black; padding: 10px; width: 600px;">
        <m-error-page-not-found :title="title"></m-error-page-not-found>
    </div>

    <br />

    <h5>With many custom hints</h5>
    <div style="border: solid 1px black; padding: 10px; width: 600px;">
        <m-error-page-not-found :hints="manyHints"></m-error-page-not-found>
    </div>

    <br />

    <h5>With many custom links</h5>
    <div style="border: solid 1px black; padding: 10px; width: 600px;">
        <m-error-page-not-found :links="manyLinks"></m-error-page-not-found>
    </div>

    <br />

    <h5>Unexpected error popup</h5>
    <m-button v-m-popup:errorpopup>pop me an error</m-button>
    <m-modal ref="errorpopup" :negativeLink="false" ok-label="Fermer">
            <m-error-page-not-found ></m-error-page-not-found>
    </m-modal>
</div>
