@import 'abstracts/variables';

.m-list-item {
    position: relative;
    list-style: none;
    border-bottom: 2px solid $m-color--border;
    transition: color 0.3s ease;
    background-color: $m-color--white;
    transform-style: preserve-3d;
    padding: $m-padding;
    word-break: break-all;

    @media (max-width: $m-mq--max--s) {
        padding-left: 0;
        padding-right: 0;
    }

    &__content {
        .m--has-icon & {
            padding-right: $m-touch-size;
        }

        .m--has-slot & {
            flex: 1;
            padding-right: $m-padding;
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: $m-touch-size;
    }

    // &.m--is-disabled {
    //     color: rgba($m-color--grey-darker, 0.6);
    //     background-color: $m-color--grey-lightest;
    //     cursor: not-allowed;
    // }

    &.m--has-slot {
        display: flex;
        align-items: center;
    }

    &.m--is-waiting {
        // color: $m-color--grey-darker;
        cursor: wait;
    }

    &.m--is-full-lenght {
        padding-left: 0;
        padding-right: 0;
    }
}
