* @chuckmah @fredduguay
/package.json @chuckmah
/package-lock.json @chuckmah

# m-form
/src/components/form/ @guignol1981
/utils/form/ @guignol1981

# m-copy-to-clipboard
/src/components/copy-to-clipboard/ @Mboulianne
