@import 'abstracts/variables';

.error {
    color: red;
    text-decoration: line-through;
}

.m-upload-fileslist {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #000;
    background: lightgoldenrodyellow;
}
