<ul class="m-upload-fileslist">
    <li v-for="(file, index) of fileList"
        class="m-upload-fileslist__file"
        :class="{'error': file.errorReading}">
        <m-spinner class="m-upload-fileslist__file__loading"
                    v-if="!file.isRead"></m-spinner>
        <span class="m-upload-fileslist__file__name">{{ file.file.name }}</span>
        <img :src="file.img"
                v-if="showImage && file.img"
                class="m-upload-fileslist__file__image"
                :alt="file.file.name" />
        <m-button class="m-upload-fileslist__file__remove" @click="removeFile(index)">Remove</m-button>
    </li>
</ul>

