{
    "plugins": [
        "dynamic-import-node",
        "require-context-hook"
    ],
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ]
}
