{
    "extends": "stylelint-config-standard",
    "plugins": [
        "stylelint-scss"
    ],
    "rules": {
        "indentation": 4,
        "scss/dollar-variable-pattern": [ "^m-", {
        "ignore": ["local"]} ],
        "scss/selector-no-redundant-nesting-selector": null,
        "at-rule-no-unknown": null,
        "no-descending-specificity": null
    }
}
