language: node_js

node_js:
  - "8"

branches:
  only:
  - master
  - develop

install:
  - npm run setup

script:
  - npm run clean
  - npm run buildWebpack
  - npm run unitall -- -w 1
  - npm run tslint

cache:
  directories:
    - node_modules

git:
  depth: 1
