<div class="DISPLAYFLEX">
    <div v-show="!editMode" >
        <slot name="readMode"></slot>
    </div>
    <div @click.stop v-show="editMode">
        <template v-if="isMqMinS">
            <div :class="{'BLUE-BACKGROUND': !errorPresent, 'RED-BACKGROUND': errorPresent}">
                <slot name="editMode" ></slot>
                <m-button :waiting="submitted" ref="confirm-control" skin="primary" @click="confirm">
                    <m-i18n k="m-inplace-edit:save"></m-i18n>
                </m-button>
                <m-button :disabled="submitted" ref="cancel-control" skin="secondary" @click="cancel">
                    <m-i18n k="m-inplace-edit:cancel"></m-i18n>
                </m-button>
            </div>
        </template>
        <template v-else>
            <m-dialog :title="dialogTitle" :open="editMode" @close="cancel">
                <slot name="editMode"></slot>
                <template slot="footer">
                    <m-button :waiting="submitted" ref="confirm-control-mobile" skin="primary" @click="confirm">
                        <m-i18n k="m-inplace-edit:save"></m-i18n>
                    </m-button>
                    <m-button :disabled="submitted" ref="cancel-control-mobile" skin="secondary" @click="cancel">
                        <m-i18n k="m-inplace-edit:cancel"></m-i18n>
                    </m-button>
                </template>
            </m-dialog>
        </template>
    </div>
</div>
