<div>
    <h2>No context</h2>

    <p>Default behavior</p>

    <m-inplace-edit @click="click1"
                    :edit-mode.sync="editMode1">
        <span slot="readMode">{{value1}}</span>
        <m-textfield slot="editMode"
                     label="Field #1"
                     v-model="value1"></m-textfield>
    </m-inplace-edit>

    <hr />

    <h2>
        With padding (px)
        &nbsp;<input v-model="editorPadding"
               type="number"
               min="0"
               max="100" />
    </h2>

    <p>Add a padding to the editor</p>

    <m-inplace-edit @click="click2"
                    :edit-mode.sync="editMode2"
                    :padding="editorPadding + 'px'">
        <span slot="readMode">{{value1}}</span>
        <m-textfield slot="editMode"
                     label="Field #1"
                     v-model="value1"></m-textfield>
    </m-inplace-edit>

    <hr />

    <h2>
        With edit mode padding (px)
        &nbsp;<input v-model="editorEditModePadding"
               type="number"
               min="0"
               max="100" />
    </h2>

    <p>Add a padding to the edit mode</p>

    <m-inplace-edit @click="click2"
                    :edit-mode.sync="editMode2"
                    :edit-mode-padding="editorEditModePadding + 'px'">
        <span slot="readMode">{{value1}}</span>
        <m-textfield slot="editMode"
                     label="Field #1"
                     v-model="value1"></m-textfield>
    </m-inplace-edit>

    <hr />

    <h2>Tag style</h2>
    <p>Apply a style to the editor tag</p>
    <m-inplace-edit @click="click4"
                    :edit-mode.sync="editMode4">
        <span slot="readMode">h1: try me</span>
        <m-textfield slot="editMode"
                     tag-style="h1"
                     v-model="value1"></m-textfield>
    </m-inplace-edit>
    <m-inplace-edit @click="click4"
                    :edit-mode.sync="editMode4">
        <span slot="readMode">h2: try me</span>
        <m-textfield slot="editMode"
                     tag-style="h2"
                     v-model="value1"></m-textfield>
    </m-inplace-edit>
</div>
