@import 'abstracts/variables';

$m-icon-header--color: $m-color--accent;

.m-icon-header {
    position: relative;
    z-index: 1;
    display: inline-block;

    &::after {
        transition: transform $m-transition-duration ease;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate3d(-50%, $m-margin, 0);
        opacity: 0;

        @include m-triangle('top', $m-icon-header--color);
    }

    &.m--is-open {
        &::after {
            transition: transform $m-transition-duration ease, opacity $m-transition-duration ease;
            transition-delay: 0.2s;
            opacity: 1;
            transform: translate3d(-50%, 0, 0);
        }

        button.m-icon-button {
            color: $m-color--grey-darkest;
        }
    }

    &__window {
        position: fixed;
        top: 0;
        height: 100%;
        z-index: 3;
        display: flex;
        flex-direction: column;
        min-width: 250px;
        width: 100%;
        overflow: hidden;
        box-shadow: $m-box-shadow;
        background: $m-color--white;

        @media (max-width: $m-mq--max--s) {
            bottom: 0;
        }

        @media (min-width: $m-mq--min--s) {
            max-height: 460px;
            border-radius: $m-border-radius--s;
        }

        &.m--is-placement-right {
            right: 0;

            @media (min-width: $m-mq--min--s) {
                right: $m-padding;
            }
        }

        &.m--is-placement-left {
            left: 0;

            @media (min-width: $m-mq--min--s) {
                left: $m-padding;
            }
        }

        &.m--is-enter-active,
        &.m--is-leave-active {
            transition: transform $m-transition-duration ease, opacity $m-transition-duration--s linear;
        }

        &.m--is-enter,
        &.m--is-leave-to {
            transform: translate3d(0, $m-margin, 0) scale(0.98);
            opacity: 0;
        }
    }

    &__header,
    &__body,
    &__footer {
        &:not(.m--no-padding) {
            padding: $m-padding;
        }
    }

    &__header {
        min-height: $m-touch-size;
        background: $m-icon-header--color;
        color: $m-color--white;

        // doesn't work for slot content because of the scoped style... >_<
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            font-size: $m-font-size--h4;
            font-weight: $m-font-weight--bold;
        }
        ////////////////////////////////////////////

        > :first-child {
            margin-top: 0;
        }
    }

    &__body {
        position: relative;
        width: 100%;
        max-width: 300px;
        flex: 1 1 auto;
        overflow-x: hidden;
        overflow-y: auto;
        min-height: 80px;

        @include m-scrollbar();
    }

    &__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: 1px solid $m-color--grey-light;
    }
}
