<m-flex-template padding-top="52px">
    <m-template>
        <h1 slot="header">Menu</h1>
        <h2>
            <m-link url="attributes">Attributes list</m-link>
        </h2>
        <h2>
            <m-link url="media-queries">Media Queries</m-link>
        </h2>
        <!-- <select v-model="myObj.selection">
            <option v-for="i in items" :value="i">{{i}}</option>
          </select><br/> -->
        <!-- <m-dropdown v-model="myObj.selection" width="500px" :editable="true">
            <m-dropdown-item v-for="i in items" :value="i" :label="getLabel(i)"></m-dropdown-item>
            <!-- <m-dropdown-item :label="1" :value="1"></m-dropdown-item> -->
        <!-- </m-dropdown> -->
        <m-dropdown width="500px" v-model="myObj.selection" :filterable="true" :disabled="false">
            <m-dropdown-item v-for="(i, k, x) in items" :value="i" :label="getLabel(i)" :disabled="k==1||k==4" ></m-dropdown-item>
            <m-dropdown-group label="mon groupe">
                <m-dropdown-item v-for="(j, l, y) in items3" :value="j" :label="getLabel(j)" :disabled="l==0"></m-dropdown-item>
            </m-dropdown-group>
        </m-dropdown>


        t: {{t}}

        <m-button @click="setItem()">Caption {{myCaption}}</m-button>{{myCaption}}
        <m-button @click="setItem2()">Caption {{myObj.selection}}</m-button>{{myObj.selection}}

        <m-text-field :disabled="false"></m-text-field>
        <h2>Components list</h2>
        <nav class="m-u--margin-top">
            <m-bullet-list>
                <li v-for="route in routes">
                    <m-link :url="route">{{route}}</m-link>
                </li>
            </m-bullet-list>
        </nav>
    </m-template>
</m-flex-template>
