@import 'abstracts/variables';
$m-button--color: $m-color--primary !default;
$m-button--color--hover: $m-color--primary--light !default;
$m-button--color--active: $m-color--primary !default;
$m-button--color--selected: $m-color--primary--darker !default;
$m-button--color--waiting: $m-color--primary--lighter !default;
$m-button--color--disabled: $m-color--grey--light !default;

.m-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    appearance: none;
    outline: none;
    user-select: none;
    font-size: 100%;
    text-decoration: none;
    line-height: 1;
    border-radius: 4px;

    &.is-primary,
    &.is-secondary {
        transition-property: background, border-color, color;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        padding: 10px $m-padding 9px $m-padding;
        font-weight: $m-font-weight--bold;
        border: 1px solid $m-button--color;

        &:not(.is-selected):not(.is-waiting):not(.is-disabled) {
            cursor: pointer;

            &:hover {
                color: $m-color--white;
                background: $m-button--color--hover;
                border-color: $m-button--color--hover;
            }

            &:active {
                background: $m-button--color--active;
                border-color: $m-button--color--active;
            }
        }

        &.is-waiting {
            cursor: progress;
            color: $m-color--white;
            background: $m-button--color--waiting;
            border-color: $m-button--color--waiting;
        }

        &.is-disabled {
            cursor: not-allowed;
            color: $m-button--color--disabled;
            background: $m-color--white;
            border-color: $m-button--color--disabled;
        }

        &.is-selected {
            background: $m-button--color--selected;
            border-color: $m-button--color--selected;
        }
    }

    &.is-primary {
        color: $m-color--white;
        background: $m-button--color;
    }

    &.is-secondary {
        color: $m-button--color;
        background: $m-color--white;
    }

    &.is-icon {
        border: none;
        max-width: $m-touch-size;
        min-height: $m-touch-size;
        background: transparent;
    }
}

.m-button__text {
    flex: 1;
}

.m-button__more-info,
.m-button__icon {
    &:empty {
        display: none;
    }
}

.m-button__more-info {
    display: block;
    font-size: $m-font-size--s;
    font-weight: $m-font-weight--regular;
    margin-top: $m-margin--s;

    &:empty {
        display: none;
    }
}

.m-button__icon {
    &.is-left {
        margin-right: $m-padding--s;
    }

    &.is-right {
        margin-left: $m-padding--s;
    }
}
