<div>
    <h2 class="m-u--no-margin">L'utilsation de v-html dans un bouton et d'un &lt;m-i18n &gt; dans un autre n'est pas compatible</h2>
    <p class="m-u--margin-bottom">
        <a href="https://github.com/ulaval/modul-components/pull/536">PR-536</a> : Pour démontrer le bug qui force l'utilisation de key= lorsque l'on utilise des template voir <a href="https://fr.vuejs.org/v2/guide/conditional.html#Controle-des-elements-reutilisables-avec-key">(la doc officiel)</a>

    </p>

    <h2>Using key</h2>
    <div class="m-u--margin-top">
        <m-button v-html="libelle"
                  @click="toogleAfficher()"
                  v-if="afficherbouton1"
                  key="username-input-2">
        </m-button>
        <m-button @click="toogleAfficher()"
                  v-if="!afficherbouton1">
            patate2
        </m-button key="username-input">
    </div>

    <h2>Not using key</h2>
    <div class="m-u--margin-top">
        <m-button v-html="libelle"
                  @click="toogleAfficher()"
                  v-if="afficherbouton1">
        </m-button>

        <m-button @click="toogleAfficher()"
                  v-if="!afficherbouton1">
            patate2
        </m-button>
    </div>

    <m-button class="m-u--margin-top--l">I am a button</m-button>
</div>
