@import 'commons';

$m-button--border-radius: 4px !default;

.m-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: $m-font-size;
    border-radius: $m-button--border-radius;
    padding: 11px $m-padding 11px $m-padding; // Magic number
    font-weight: $m-font-weight--semi-bold;

    @include m-button();

    @include m-is-ie() {
        display: inline;
    }

    span:not(.m-button__hidden) {
        position: relative;
    }

    &:not(.m--is-waiting):not(.m--is-disabled) {
        &.m--is-skin-primary {
            @include m-button--primary();
        }

        &.m--is-skin-secondary {
            @include m-button--secondary();
        }

        @include m-button--hover();
    }

    &.m--is-waiting {
        @include m-button--waiting();
    }

    &.m--is-disabled {
        @include m-button--disabled();
    }

    &.m--is-full-size {
        width: 100%;
    }

    .m-icon {
        font-size: 12px;
        stroke-width: 2px;
    }

    &__precision,
    &__icon {
        &:empty {
            display: none;
        }
    }

    &__text {
        flex: 1;
    }

    &__icon {
        position: relative;
        z-index: 2;
        font-size: $m-font-size;
        height: $m-font-size;

        &.m--is-left {
            margin-right: $m-margin;
        }

        &.m--is-right {
            margin-left: $m-margin;
        }
    }

    &__precision {
        display: block;
        font-size: $m-font-size--s;
        font-weight: $m-font-weight--light;
        margin-top: $m-margin--xs;

        &:empty {
            display: none;
        }
    }

    &__hidden {
        @include m-visually-hidden;
    }
}
