<button class="m-button" :class="{ 'm--is-primary': propsMode=='primary',
              'm--is-secondary': propsMode=='secondary',
              'm--is-icon': propsMode=='icon',
              'm--is-selected': propsState=='selected',
              'm--is-waiting': propsState=='waiting',
              'm--is-disabled': propsState=='disabled',
              'm--is-full-size': isFullSize }" :disabled="isDisabled" :type="type" @click="onClick">
    <span class="m-button__wrap" v-if="propsMode!='icon'">
        <m-icon class="m-button__icon m--is-left" :name="iconName" :width="iconSize" :height="iconSize" v-if="hasIconeLeft && hasIcone"></m-icon>
        <span class="m-button__text">
            <slot>m-button</slot>
            <span class="m-button__more-info" v-if="hasMoreInfo">
                <slot name="more-info"></slot>
            </span>
        </span>
        <m-icon class="m-button__icon m--is-right" :name="iconName" :width="iconSize" :height="iconSize" v-if="!hasIconeLeft  && hasIcone"></m-icon>
    </span>
    <span class="m-button__icon" v-if="propsMode=='icon' && hasIcone">
        <m-icon :name="iconName" :width="iconSize" :height="iconSize"></m-icon>
        <span class="m-button__hidden" v-if="hasSlots"><slot></slot></span>
        <span v-if="!hasSlots">m-button icon mode needs a text in its default slot that will describe its function. This text will be hidden and only read by the voice readers.
</span>
    </span>
    <span v-if="propsMode=='icon' && !hasIcone">{{ errorMessageIcon }}</span>
</button>
