@import 'abstracts/variables';

.m-upload-dragdrop {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #000;
    background: lightblue;

    &.drag-over {
        background: $m-color--grey-dark;
        cursor: move;
    }
}
