@import 'abstracts/variables';
@import 'menu-skins';

.m-menu {
    overflow: hidden;

    &__header {
        @include menu-skins();

        padding: $m-spacing;
        position: relative;
        z-index: 2;
        box-shadow: 0 2px 2px var(--menu-item-group-bgc-rgba);
    }

    &__body {
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 1;
    }
}
