@import 'commons';
@import 'menu-skins';

.m-menu {
    overflow: hidden;
    user-select: none;

    &__trigger {
        transition: color $m-transition-duration ease, font-weight $m-transition-duration ease;
        position: relative;
        z-index: 1;
        outline: none;
        padding: $m-spacing;
        font-weight: $m-font-weight--bold;
        display: flex;
        align-items: center;
        text-transform: uppercase;

        &__plus {
            margin-right: $m-spacing--s;
        }

        .m-menu.m--is-skin-light & {
            color: rgba($m-color--white, 0.7);
            background: $m-menu-color--skin-light-bg-light;
            box-shadow: 0 1px 2px rgba($m-color--black, 0.1);
        }

        .m-menu.m--is-skin-dark & {
            color: $m-color--grey-light;
            background: $m-menu-color--skin-dark-bg-light;
            box-shadow: 0 1px 2px rgba($m-color--black, 0.5);
        }

        .m-menu.m--is-open & {
            color: $m-color--white;
        }

        .m-menu:not(.m--is-disabled) & {
            cursor: pointer;

            &:hover,
            &:focus {
                color: $m-color--white;
            }
        }

        .m-menu.m--is-disabled & {
            cursor: default;
        }
    }

    &__body {
        position: relative;
        z-index: 0;
        margin: 0;
        padding: 0;
        list-style: none;
    }
}
