<div>
    <!-- Sandbox template -->
    <h3>Test Title</h3>
    <p class="m-u--margin-bottom">
        Test description
        <!-- if relevant, add link to PR
        </br>From <a href="https://github.com/ulaval/modul-components/pull/000" target="blank">PR description</a>
        -->
    </p>
    <m-menu>
    <m-menu-item-add @click="doAdd"></m-menu-item-add>
        <m-menu-item-edit></m-menu-item-edit>
        <m-menu-item-archive></m-menu-item-archive>
        <m-menu-item-delete :disabled="true"></m-menu-item-delete>
    </m-menu>
    <m-menu>
        <m-menu-item>Test 1</m-menu-item>
        <m-menu-item>Test 2</m-menu-item>
        <m-menu-item icon-name="m-svg__clock">Temps</m-menu-item>
    </m-menu>
    <m-menu>
        <m-menu-item>Test 1</m-menu-item>
        <m-menu-item :disabled="true">Test 2</m-menu-item>
        <m-menu-item>Test 3</m-menu-item>
        <m-menu-item>Test 4</m-menu-item>
        <m-menu-item>Test 5</m-menu-item>
        <m-menu-item>Test 6</m-menu-item>
    </m-menu>
</div>
