@import 'abstracts/variables';

.m-menu {
    display: inline-flex;

    &__wrap {
        background-color: $m-color--white;
        width: 100%;
        margin: 0;
        padding: 0;
        max-height: 208px; // magic number
        overflow: auto;

        @include m-scrollbar();
    }
}
