
$m-menu-color--skin-light-bg-light: $m-color--interactive !default;
$m-menu-color--skin-light-bg-dark: $m-color--interactive-dark !default;

$m-menu-color--skin-dark-bg-light: $m-color--grey-darkest !default;
$m-menu-color--skin-dark-bg-dark: $m-color--grey-black !default;
