<div>
    <h2>No context</h2>

    <p>Default behavior</p>

    <m-menu>
        <div slot="trigger">
            Try me
        </div>
        <m-menu-item value="item1"
                     label="Item 1"
                     icon-name="m-svg__profile">
        </m-menu-item>
    </m-menu>

    <hr />

    <h2>Disabled</h2>

    <p>A disabled menu</p>

    <m-menu :disabled="true">
        <div slot="trigger">
            Try me
        </div>
        <m-menu-item value="item1"
                     label="Item 1"
                     icon-name="m-svg__profile">
        </m-menu-item>
    </m-menu>

    <hr />

    <h2>
        Available skins
        &nbsp;<select v-model="menuSkin">
            <option v-for="(element, i) in menuSkinAsArray"
                    :value="element"
                    :selected="element === menuSkin"
                    :key="i">{{element}}</option>
        </select>
    </h2>

    <p>Change the skin of the menu</p>

    <m-menu :skin="menuSkin">
        <div slot="trigger">
            Try me
        </div>
        <m-menu-item value="item1"
                     label="Item 1"
                     icon-name="m-svg__profile">
        </m-menu-item>
    </m-menu>
</div>
