<m-popper @show="onShow" @hide="onHide" padding="" :options="options" :disabled="disabled">
    <div class="m-options-menu" slot="body" ref="menu">
        <slot>
            <m-options-menu-item icon-name="default">Option 1</m-options-menu-item>
            <m-options-menu-item icon-name="default"></m-options-menu-item>
            <m-options-menu-item>Option 3</m-options-menu-item>
        </slot>
    </div>
    <m-button mode="icon" icon-name="options">
        <m-i18n k="m-options-menu:open" v-if="!isOpen"></m-i18n>
        <m-i18n k="m-options-menu:close" v-if="isOpen"></m-i18n>
    </m-button>
</m-popper>
