<form class="m-form"
      :id="form.id"
      @submit.prevent="submit"
      @reset.prevent="reset">
    <m-message class="m-form__message-summary"
               v-if="hasErrors"
               :state="messageStateEror"
               ref="summary">
        <ul>
            <li v-for="error in errors"
                v-html="error"></li>
        </ul>
    </m-message>

    <p class="m-form__required"
       v-if="hasRequiredFields">
        <span class="m-form__required__marker">*</span>
        <span class="m-form__required__label">{{ 'm-form:required' | f-m-i18n }}</span>
    </p>

    <slot></slot>
</form>
