<div>
    <h2 class="m-u--no-margin">Basic form</h2>
    <p>
        {{formGroup}}
    </p>
    <p>
        {{formGroup.getControl('name').isValid}}
    </p>
    <p>
        {{formGroup.isValid}}
    </p>
    <m-form class="m-u--margin-top"
            :form-group="formGroup"
            @reset="reset()"
            @submit="submit()">
        <m-textfield v-model.trim="formGroup.getControl('name').value"
                     label="name">
        </m-textfield>
        <p class="m-u--margin-bottom--l">
            <m-button type="submit"
                      :form="formGroup.id">Submit</m-button>
            <m-button type="reset"
                      skin="secondary"
                      :form="formGroup.id">Reset</m-button>
        </p>
    </m-form>
</div>
