<form :id="formGroup.id"
      @submit.prevent="submit"
      @reset.prevent="reset">
    <m-accordion-transition>
        <m-message class="m-form__message-summary"
                   v-if="formGroup.errors.length > 0"
                   state="error"
                   ref="summary">
            <ul>
                <li v-for="(error, index) in formGroup.errors"
                    :key="index"
                    v-html="error.summaryMessage || error.message"></li>
            </ul>
        </m-message>
    </m-accordion-transition>
    <slot name="serverResponse">
    </slot>
    <slot></slot>
</form>
