<div class="m-add-sandbox">
    <h2 class="m-u--no-margin">Required and 20 characters max</h2>
    <p></p>
    <p>
        <m-form :form-group="formGroups[0]"
                v-m-control="formGroups[0]"
                @reset="reset(0)"
                @submit="submit(0)">
            <m-textfield v-model.trim="formGroups[0].getControl('Title').value"
                         :label="formGroups[0].getControl('Title').name"
                         :error-message="formGroups[0].getControl('Title').errors.length > 0 ? formGroups[0].getControl('Title').errors[0].message : null"
                         :max-length="20"
                         :character-count="true"
                         :character-count-threshold="20 * .75"
                         v-m-control="formGroups[0].getControl('Title')">
            </m-textfield>
            <p class="m-u--margin-bottom--l">
                <m-button type="submit"
                          :form="formGroups[0].id">Submit</m-button>
                <m-button type="reset"
                          skin="secondary"
                          :form="formGroups[0].id">Reset</m-button>
            </p>
        </m-form>
    </p>

    <hr />

    <h2 class="m-u--no-margin">Required and 5 characters min</h2>
    <p></p>
    <p>
        <m-form :form-group="formGroups[1]"
                v-m-control="formGroups[1]"
                @reset="reset(1)"
                @submit="submit(1)">
            <m-textfield v-model.trim="formGroups[1].getControl('Security answer').value"
                         :label="formGroups[1].getControl('Security answer').name"
                         :error-message="formGroups[1].getControl('Security answer').errors.length > 0 ? formGroups[1].getControl('Security answer').errors[0].message : null"
                         v-m-control="formGroups[1].getControl('Security answer')">
            </m-textfield>
            <p class="m-u--margin-bottom--l">
                <m-button type="submit"
                          :form="formGroups[1].id">Submit</m-button>
                <m-button type="reset"
                          skin="secondary"
                          :form="formGroups[1].id">Reset</m-button>
            </p>
        </m-form>
    </p>

    <hr />
    <h2 class="m-u--no-margin">Format with fixed max characters (postal code)</h2>
    <p>input mask is not ready for this (it should use inputs mixins)</p>
    <p>
        <m-form :form-group="formGroups[2]"
                v-m-control="formGroups[2]"
                @reset="reset(2)"
                @submit="submit(2)">
            <m-textfield v-model.trim="formGroups[2].getControl('Postal code').value"
                         :label="formGroups[2].getControl('Postal code').name"
                         :error-message="formGroups[2].getControl('Postal code').errors.length > 0 ? formGroups[2].getControl('Postal code').errors[0].message : null"
                         v-m-control="formGroups[2].getControl('Postal code')">
            </m-textfield>
            <p class="m-u--margin-bottom--l">
                <m-button type="submit"
                          :form="formGroups[2].id">Submit</m-button>
                <m-button type="reset"
                          skin="secondary"
                          :form="formGroups[2].id">Reset</m-button>
            </p>
        </m-form>
    </p>

    <hr />
    <h2 class="m-u--no-margin">Format without fixed max characters (email)</h2>
    <p>input mask is not ready for this (it should use inputs mixins)</p>
    <p>
        <m-form :form-group="formGroups[3]"
                v-m-control="formGroups[3]"
                @reset="reset(3)"
                @submit="submit(3)">
            <m-textfield v-model.trim="formGroups[3].getControl('Email').value"
                         :label="formGroups[3].getControl('Email').name"
                         :error-message="formGroups[3].getControl('Email').errors.length > 0 ? formGroups[3].getControl('Email').errors[0].message : null"
                         v-m-control="formGroups[3].getControl('Email')">
            </m-textfield>
            <p class="m-u--margin-bottom--l">
                <m-button type="submit"
                          :form="formGroups[3].id">Submit</m-button>
                <m-button type="reset"
                          skin="secondary"
                          :form="formGroups[3].id">Reset</m-button>
            </p>
        </m-form>
    </p>

    <hr />

    <h2 class="m-u--no-margin">More than one validations (external) </h2>
    <p>input mask is not ready for this (it should use inputs mixins)</p>
    <p>
        <m-form :form-group="formGroups[4]"
                ref="form4"
                v-m-control="formGroups[4]"
                @reset="reset(4)"
                @submit="submit(4)">
            <m-textfield v-model.trim="formGroups[4].getControl('Course code').value"
                         :label="formGroups[4].getControl('Course code').name"
                         helper-message="Ex. : MAT-1000"
                         :error-message="formGroups[4].getControl('Course code').errors.length > 0 ? formGroups[4].getControl('Course code').errors[0].message : null"
                         v-m-control="formGroups[4].getControl('Course code')">
            </m-textfield>
            <p class="m-u--margin-bottom--l">
                <m-button type="submit"
                          :form="formGroups[4].id">Submit</m-button>
                <m-button type="reset"
                          skin="secondary"
                          :form="formGroups[4].id">Reset</m-button>
            </p>
        </m-form>
    </p>

    <hr />

    <h2 class="m-u--no-margin">Live check username avaibility (async)</h2>
    <p>John, Jane, Doe are reserved</p>
    <p>
        <m-form :form-group="formGroups[5]"
                :ref="formGroups[5].name"
                @reset="reset(5)"
                @submit="submit(5)">

            <m-textfield v-model.trim="formGroups[5].getControl('Username').value"
                         :label="formGroups[5].getControl('Username').name"
                         :waiting="formGroups[5].getControl('Username').waiting"
                         :valid-message="formGroups[5].getControl('Username').valid ? 'Le nom d\'utilisateur est disponible' : ''"
                         :valid="formGroups[5].getControl('Username').valid"
                         :error-message="formGroups[5].getControl('Username').errors.length > 0 ? formGroups[5].getControl('Username').errors[0].message : null"
                         v-m-control="formGroups[5].getControl('Username')">
            </m-textfield>
            <p class="m-u--margin-bottom--l">
                <m-button type="submit"
                          :form="formGroups[5].id">Submit</m-button>
                <m-button type="reset"
                          skin="secondary"
                          :form="formGroups[5].id">Reset</m-button>
            </p>
        </m-form>
    </p>

    <hr />

    <h2 class="m-u--no-margin">Radio buttons required</h2>
    <p></p>
    <p>
        <m-form :form-group="formGroups[6]"
                v-m-control="formGroups[6]"
                @reset="reset(6)"
                @submit="submit(6)">

            <m-radio-group v-model.trim="formGroups[6].getControl('Value').value"
                           :error-message="formGroups[6].getControl('Value').errors.length > 0 ? formGroups[6].getControl('Value').errors[0].message : null"
                           label="Select a role"
                           v-m-control="formGroups[6].getControl('Value')">
                <m-radio value="Sys admin">Sys admin</m-radio>
                <m-radio value="Unit admin">Unit admin</m-radio>
                <m-radio value="Conceptor">Conceptor</m-radio>
                <m-radio value="Assistant">Assistant</m-radio>
                <m-radio value="Student">Student</m-radio>
            </m-radio-group>

            <p class="m-u--margin-bottom--l">
                <m-button type="submit"
                          :form="formGroups[6].id">Submit</m-button>
                <m-button type="reset"
                          skin="secondary"
                          :form="formGroups[6].id">Reset</m-button>
            </p>
        </m-form>
    </p>

    <hr />

    <h2 class="m-u--no-margin">Checkbox 2 to 5 selections (FormArray)</h2>
    <p></p>
    <p>

        <m-form :form-group="formGroups[7]"
                @reset="reset(7)"
                @submit="submit(7)">

            <m-input-group :error-message="formGroups[7].getControl('roles').errors.length > 0 ? formGroups[7].getControl('roles').errors[0].message : null"
                           legend="Select betweeen 2 and 5 roles"
                           v-m-control="formGroups[7].getControl('roles')">
                <m-checkbox v-for="(control, index) in formGroups[7].getControl('roles').controls"
                            v-model="control.value"
                            v-m-control="control"
                            :key="index">
                    {{rolesName[index]}}</m-checkbox>
            </m-input-group>

            <p class="m-u--margin-bottom--l">
                <m-button type="submit"
                          :form="formGroups[7].id">Submit</m-button>
                <m-button type="reset"
                          skin="secondary"
                          :form="formGroups[7].id">Reset</m-button>
            </p>
        </m-form>
    </p>

    <hr />

    <h2 class="m-u--no-margin">Email confirmation</h2>
    <p></p>
    <p>

        <m-form :form-group="formGroups[8]"
                @reset="reset(8)"
                @submit="submit(8)">

            <m-input-group :error-message="formGroups[8].errors.length > 0 ? formGroups[8].errors[0].message : null"
                           legend=""
                           v-m-control="formGroups[8]">

                <m-textfield v-model.trim="formGroups[8].getControl('Email').value"
                             :label="formGroups[8].getControl('Email').name"
                             :error-message="formGroups[8].getControl('Email').errors.length > 0 ? formGroups[8].getControl('Email').errors[0].message : null"
                             v-m-control="formGroups[8].getControl('Email')">
                </m-textfield>

                <m-textfield v-model.trim="formGroups[8].getControl('Email confirmation').value"
                             :label="formGroups[8].getControl('Email confirmation').name"
                             :error-message="formGroups[8].getControl('Email confirmation').errors.length > 0 ? formGroups[8].getControl('Email confirmation').errors[0].message : null"
                             v-m-control="formGroups[8].getControl('Email confirmation')">
                </m-textfield>

            </m-input-group>

            <p class="m-u--margin-bottom--l">
                <m-button type="submit"
                          :form="formGroups[8].id">Submit</m-button>
                <m-button type="reset"
                          skin="secondary"
                          :form="formGroups[8].id">Reset</m-button>
            </p>
        </m-form>
    </p>

    <hr />
</div>
