@import 'commons';

.m-radio-group {
    &__body {
        margin: 0;
        padding: 0;
    }

    &.m--is-inline {
        /deep/ .m-radio {
            display: inline;

            + .m-radio {
                margin-left: $m-spacing--s;
            }
        }
    }

    &:not(.m--is-inline) {
        /deep/ .m-radio {
            + .m-radio {
                margin-top: $m-spacing--s;
            }

            &-group__body {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
