<div class="m-radio-group"
     :class="{ 'm--is-inline': inline,
              'm--is-disabled': stateIsDisabled,
              'm--has-error': hasError,
              'm--is-valid': isValid }">
    <m-validation-message :id="idValidationMessage"
                          class="m-radio-group__message m-u--margin-bottom"
                          :disabled="stateIsDisabled"
                          :error-message="errorMessage"
                          :valid-message="validMessage"
                          :helper-message="helperMessage"></m-validation-message>
    <p :id="idLabel"
       class="m-radio-group__label"
       v-if="hasLabel">
        <span>{{ label }}</span>
        <span class="m-radio-group__icon">
            <slot name="icon"></slot>
        </span>
    </p>
    <ul class="m-radio-group__body"
        role="radiogroup"
        :aria-labelledby="idLabel"
        :aria-describedby="idValidationMessage">
        <slot></slot>
    </ul>
</div>
