@import 'abstracts/variables';
$m-radio--width: 16px;

.m-radio-group {
    display: inline-flex;

    &__wrap {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    &.m--is-inline {
        .m-radio {
            display: inline;
        }

        &:not(.m--is-full-width) {
            .m-radio + .m-radio {
                margin-left: $m-padding--s;
            }
        }
    }

    &:not(.m--is-inline) {
        &,
        .m-radio-group__wrap {
            flex-direction: column;
        }

        .m-radio {
            + .m-radio {
                margin-top: $m-margin--s;
            }
        }
    }

    &.m--is-full-width {
        width: 100%;
    }
}
