<div class="m-radio-group" :class="{ 'm--is-inline': inline, 'm--is-full-width': fullWidth }">
    <ul class="m-radio-group__wrap">
        <slot>
            <span v-if="demo">
                <m-radio value="radio1" v-model="model">Radio 1</m-radio>
                <m-radio value="radio2" v-model="model">Radio 2</m-radio>
                <m-radio value="radio3" v-model="model">Radio 3</m-radio>
            </span>
        </slot>
    </ul>
    <m-validation-message
        :error-message="errorMessage"
        :valid-message="validMessage"
        :helper-message="helperMessage"></m-validation-message>
</div>
