@import 'abstracts/variables';
$m-radio--width: 16px;

.m-radio-group {
    &__wrap {
        margin: 0;
        padding: 0;
    }

    &.m--is-inline {
        &,
        .m-radio-group__wrap {
            display: inline-block;
        }

        .m-radio {
            display: inline;

            + .m-radio {
                margin-left: $m-padding--s;
            }
        }
    }

    &:not(.m--is-inline) {
        &,
        .m-radio-group__wrap {
            display: inline-flex;
            flex-direction: column;
        }

        .m-radio {
            + .m-radio {
                margin-top: $m-margin--s;
            }
        }
    }
}
