<div>
    <h3>
        Ajouter une marge en dessous du groupe de boutons radio
    </h3>
    <p>From <a href="https://jira.dti.ulaval.ca/browse/MODUL-135">MODUL-135</a></p>
    <p>
        <m-radio-group error-message="Enim ipsum qui consectetur ea in non.">
            <m-radio value="Choix de réponse 1">1</m-radio>
            <m-radio value="Choix de réponse 2">2</m-radio>
            <m-radio value="Choix de réponse 3">3</m-radio>
        </m-radio-group>
    </p>

    <!-- Sandbox template -->
    <h3>Test Title</h3>
    <p class="m-u--margin-bottom">
        Test description
        <!-- if relevant, add link to PR
        </br>From <a href="https://github.com/ulaval/modul-components/pull/000" target="blank">PR description</a>
        -->
    </p>
</div>
