@import '../../styles/abstracts/variables';

.m-error-template {
    &.m--is-state-success {
        .m-error-template {
            &__title,
            &__icon {
                color: $m-color--success;
            }

            &__icon-container::before {
                background-color: $m-color--success-lightest;
            }
        }
    }

    &.m--is-state-information {
        .m-error-template {
            &__title,
            &__icon {
                color: $m-color--interactive;
            }

            &__icon-container::before {
                background-color: $m-color--interactive-lightest;
            }
        }
    }

    &.m--is-state-error {
        .m-error-template {
            &__title,
            &__icon {
                color: $m-color--error;
            }

            &__icon-container::before {
                background-color: $m-color--error-lightest;
            }
        }
    }

    &.m--is-state-warning {
        .m-error-template {
            &__title,
            &__icon {
                color: $m-color--warning;
            }

            &__icon-container::before {
                background-color: $m-color--warning-lightest;
            }
        }
    }

    &__header {
        ~ .m-error-template__body {
            padding-top: $m-spacing--l;
        }
    }

    &__title {
        font-size: $m-font-size--h3;
        text-align: center;
        font-weight: $m-font-weight--black;
        margin: 0;

        ~ .m-error-template__icon-container {
            margin-top: $m-spacing--l;
        }
    }

    &__icon-container {
        position: relative;
        min-height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &::before {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            z-index: 0;
            transform: translate3d(0, -50%, 0);
            content: '';
            display: block;
            height: 80px; // Magic number
        }

        &__svg {
            z-index: 1;
        }
    }

    &__icon {
        position: relative;
    }

    &__stacktrace {
        margin-top: $m-margin;
        max-height: 120px;
        overflow: auto;
        padding: $m-padding;

        @include m-scrollbar();

        pre {
            margin: 0;
        }
    }

    &__hints,
    &__links {
        text-align: left; // needed when inside a popup
    }

    &__hints {
        margin: 0;

        &.m--no-content {
            text-align: center;
        }

        + .m-error-template__hints {
            margin-top: $m-margin;
        }
    }

    &__details {
        margin: 0;

        &:not(:first-child) {
            margin: $m-margin 0 0 0;
        }
    }

    &__links {
        list-style: none;
        margin: 0;
        padding: 0;

        &:not(:first-child) {
            margin: $m-margin 0 0 0;
        }
    }
}
