@import '../../styles/abstracts/variables';

.m-error-template {
    text-align: center;

    &.m--is-skin-blue {
        h2 {
            color: $m-color--interactive;
        }
    }

    &.m--is-skin-red {
        h2 {
            color: $m-color--error;
        }
    }

    &.m--is-skin-yellow {
        h2 {
            color: $m-color--warning;
        }
    }

    &__stacktrace {
        margin-top: $m-margin;
        max-height: 120px;
        overflow: auto;
        padding: $m-padding;

        @include m-scrollbar();

        pre {
            margin: 0;
        }
    }

    &__hints {
        text-align: left;
    }

    &__links {
        text-align: left;
    }

    &__details {
        text-align: left;
    }
}
