<article class="m-error-template"
         :class="{'m--is-state-confirmation': isStateConfirmation,
                  'm--is-state-information': isStateInformation,
                  'm--is-state-warning': isStateWarning,
                  'm--is-state-error': isStateError,
                  'm--is-skin-default': isSkinDefault,
                  'm--is-skin-light': isSkinLight }">
    <header class="m-error-template__header">
        <h2 class="m-error-template__title"
            v-if="title"
            v-html="title"></h2>
        <div class="m-error-template__icon-container"
             aria-hidden="true">
            <div class="m-error-template__icon"
                :style="styleObject"
                v-html="svg"
                v-if="isSvg"></div>
            <m-icon class="m-error-template__icon"
                    :name="iconNameProp"
                    :size="propImageSize"
                    v-else></m-icon>
        </div>
    </header>
    <div class="m-error-template__body"
         v-if="hasBody">
        <p class="m-error-template__hints"
            :class="{'m--no-content': !hasLinksAndSlot}"
            v-if="hasHints"
            v-for="hint in hints"
            ref="hint">{{hint}}</p>
        <div class="m-error-template__details"
            v-if="$slots.default">
            <slot></slot>
        </div>
        <ul class="m-error-template__links"
            v-if="hasLinks">
            <li ref="link"
                v-for="link in links">
                <m-link class="m-error-template__link"
                        icon-name="m-svg__chevron--right"
                        mode="link" :url="link.url"
                        :target="isTargetExternal(link.external)">{{link.label}}</m-link>
            </li>
        </ul>
    </div>
</article>
