<div>

    <h2>No context</h2>

    <div style="border: solid 1px black; padding: 10px; width: 600px;">
        <m-message-page></m-message-page>
    </div>

    <hr />

    <h2>Available states &nbsp;
        <select v-model="messagePageState">
            <option v-for="(element, i) in messagePageStateAsArray"
                    :value="element"
                    :selected="element === messagePageState">{{element}}</option>
        </select>
    </h2>

    <div style="border: solid 1px black; padding: 10px; width: 600px;">
        <m-message-page :state="messagePageState"></m-message-page>
    </div>

    <h2>Available image sizes &nbsp;
        <select v-model="messagePageImageSize">
            <option v-for="(element, i) in messagePageImageSizeAsArray"
                    :value="element"
                    :selected="element === messagePageImageSize">{{element}}</option>
        </select>
    </h2>

    <div style="border: solid 1px black; padding: 10px; width: 600px;">
        <m-message-page :image-size="messagePageImageSize"></m-message-page>
    </div>

    <hr />

    <h2>Available skins &nbsp;
        <select v-model="messagePageSkin">
            <option v-for="(element, i) in messagePageSkinAsArray"
                    :value="element"
                    :selected="element === messagePageSkin">{{element}}</option>
        </select>
    </h2>

    <div style="border: solid 1px black; padding: 10px; width: 600px;">
        <m-message-page :skin="messagePageSkin"></m-message-page>
    </div>

    <hr />

    <h2>with #one hint</h2>
    <div style="border: solid 1px black; padding: 10px; width: 600px;">
        <m-message-page state="error"
                        :title="title"
                        icon-name="error"
                        :hints="oneHint"></m-message-page>
    </div>

    <hr />

    <h2>with #multiple hints</h2>
    <div style="border: solid 1px black; padding: 10px; width: 600px;">
        <m-message-page state="error"
                        :title="title"
                        icon-name="error"
                        :hints="manyHints"></m-message-page>
    </div>

    <hr />

    <h2>with #one link</h2>
    <div style="border: solid 1px black; padding: 10px; width: 600px;">
        <m-message-page state="error"
                        :title="title"
                        icon-name="error"
                        :links="oneLink"></m-message-page>
    </div>

    <hr />

    <h2>with #multiple links</h2>
    <div style="border: solid 1px black; padding: 10px; width: 600px;">
        <m-message-page state="error"
                        :title="title"
                        icon-name="error"
                        :links="manyLinks"></m-message-page>
    </div>

    <hr />

    <h2>Error popup with hints and links</h2>
    <m-button v-m-popup:errorpopup>try me</m-button>
    <m-modal ref="errorpopup"
             :negativeLink="false"
             ok-label="Fermer">
        <m-message-page state="error"
                        :title="title"
                        icon-name="m-svg__warning-filled"
                        :hints="manyHints"
                        :links="manyLinks"></m-message-page>
    </m-modal>

    <hr />

    <h2>Eith content in slot</h2>
    <div style="border: solid 1px black; padding: 10px; width: 600px;">
        <m-message-page state="error"
                        :title="title"
                        icon-name="error"
                        :hints="manyHints"
                        :links="manyLinks">
            <span>
                <b>***Custom error details content through slot.***</b>
            </span>
        </m-message-page>
    </div>

    <hr />

</div>
