<div>
    <m-textarea :character-count="true" max-length="20" :lengthOverflow="true" threshold="80" :error-message="tagee"></m-textarea>
    <m-textarea :character-count="true" max-length="20" :lengthOverflow="false" ></m-textarea>
    <m-textarea :character-count="true" max-length="20" :lengthOverflow="true" threshold="80" error-message="Enim qui mollit proident incididunt et ad laborum sunt sint deserunt ipsum ut in duis."></m-textarea>
    <m-textarea :character-count="true" max-length="20" :lengthOverflow="false" error-message="Enim qui mollit proident incididunt et ad laborum sunt sint deserunt ipsum ut in duis."></m-textarea>
</div>
