<div class="m-textarea"
        :class="{ 'm--is-disabled' : isDisabled,
                  'm--is-waiting' : isWaiting,
                  'm--has-error' : hasError,
                  'm--is-valid' : isValid,
                  'm--has-icon' : hasIcon,
                  'm--has-label': hasLabel }"
     @click="onClick"
     :style="{ maxWidth: '720px' }">
    <m-input-style class="m--has-textarea"
                   :disabled="isDisabled"
                   :waiting="isWaiting"
                   :error="hasError"
                   :valid="isValid"
                   :label="label"
                   :focus="isFocus"
                   :empty="isEmpty"
                   :icon-name="iconName">
        <textarea class="m-textarea__input"
                  :disabled="!active"
                  :placeholder="placeholder"
                  :readonly="readonly"
                  :maxlength="maxlength"
                  :rows="rows"
                  @focus="onFocus"
                  @blur="onBlur"
                  @keyup="onKeyup"
                  ref="input"
                  v-model="model"
                  :style="{ maxWidth: '720px' }"></textarea>
    </m-input-style>
    <m-validation-message
        :disabled="isDisabled"
        :waiting="isWaiting"
        :error-message="errorMessage"
        :valid-message="validMessage"
        :helper-message="helperMessage"></m-validation-message>
</div>
