<div class="m-textarea"
     :class="{ 'm--is-disabled' : isDisabled,
               'm--is-waiting' : isWaiting,
               'm--has-error' : hasTextareaError,
               'm--is-valid' : isTextareaValid,
               'm--is-focus' : isFocus,
               'm--has-icon' : hasIcon,
               'm--has-label': hasLabel }"
     @click="onClick"
     :style="{ width: inputWidth, maxWidth: inputMaxWidth }">
    <m-input-style :disabled="isDisabled"
                   :waiting="isWaiting"
                   :error="hasTextareaError"
                   :valid="isTextareaValid"
                   :label="label"
                   :label-for="id"
                   :focus="isFocus"
                   :empty="isEmpty"
                   :icon-name="iconName"
                   :required-marker="requiredMarker"
                   :tag-style="tagStyle">
        <textarea ref="input"
                  :id="id"
                  class="m-textarea__input"
                  :disabled="!active"
                  :placeholder="placeholder"
                  :readonly="readonly"
                  rows="1"
                  @focus="onFocus"
                  @blur="onBlur"
                  @change="onChange"
                  @keypress.enter.prevent
                  @keyup="onKeyup"
                  @keydown="onKeydown"
                  @paste="onPaste"
                  :autocomplete="autocomplete"
                  v-model="model"
                  :maxlength="maxLengthNumber">
        </textarea>
        <div class="m-textarea__input-hidden"
             ref="inputHidden"
             aria-hidden="true">{{ valueLength > 0 ? model : '&nbsp;'}}
        </div>
    </m-input-style>
    <div class="m-textarea__validation">
        <m-validation-message
            class="m-textarea__validation__message"
            :disabled="isDisabled"
            :waiting="isWaiting"
            :error="hasTextareaError"
            :error-message="errorMessage"
            :valid="isTextareaValid"
            :valid-message="validMessage"
            :helper-message="helperMessage"></m-validation-message>
        <m-character-count v-if="characterCount" :value-length="valueLength" :max-length="maxLength" :threshold="characterCountThreshold" :transition="hasCounterTransition"></m-character-count>
    </div>
</div>
