<div>
    <h3>Max-lenght(20) / Lenght-overflow(true) / Threshold(-5)</h3>
    <m-textarea :character-count="true" max-length="20" :lengthOverflow="true" threshold="-5" :error-message="tagee"></m-textarea>
    <h3>Max-lenght(20) / Lenght-overflow(true) / Threshold(200)</h3>
    <m-textarea :character-count="true" max-length="20" :lengthOverflow="true" threshold="200"></m-textarea>
    <h3>Max-lenght(20) / Lenght-overflow(true) / Threshold(200)</h3>
    <m-textarea :character-count="true" max-length="20" :lengthOverflow="true" threshold="10"></m-textarea>
    <h3>Max-lenght(20) / Lenght-overflow(false) / Threshold(undefined)</h3>
    <m-textarea :character-count="true" max-length="20" :lengthOverflow="false"></m-textarea>
    <h3>Max-lenght(20) / Lenght-overflow(true) / Threshold(10)</h3>
    <m-textarea :character-count="true" max-length="20" :lengthOverflow="true" threshold="10" error-message="Enim qui mollit proident incididunt et ad laborum sunt sint deserunt ipsum ut in duis."></m-textarea>
    <h3>Max-lenght(20) / Lenght-overflow(false) / Threshold(undefined)</h3>
    <m-textarea :character-count="true" max-length="20" :lengthOverflow="false" error-message="Enim qui mollit proident incididunt et ad laborum sunt sint deserunt ipsum ut in duis."></m-textarea>
</div>
