@import 'commons';

.m-textarea {
    position: relative;
    display: inline-flex;
    flex-direction: column;

    &.m--has-error {
        .m-textarea__validation {
            color: $m-color--error;
        }
    }

    &.m--is-valid {
        .m-textarea__validation {
            color: $m-color--success;
        }
    }

    &__validation {
        display: flex;
        justify-content: flex-end;

        &__message {
            flex: 1 1 auto;
        }
    }

    &__label {
        font-size: $m-font-size;
        font-weight: $m-font-weight--bold;
    }
}
