@import 'commons';

.m-datefields {
    display: inline-block;

    &__years {
        margin-right: $m-margin--l;
    }

    &__months {
        margin-right: $m-margin--l;
    }

    .m-spinner {
        display: inline-flex;
    }
}
