@import '../../styles/abstracts/variables';

.m-accordion-group {
    &__header {
        display: flex;
        justify-content: space-between;
        padding: $m-margin $m-padding;

        &.m--is-no-title {
            justify-content: flex-end;
        }
    }

    &__body {
        margin-top: 2px;
    }
}

