<div>
    <!-- Sandbox template -->
    <h3>Test Title</h3>
    <p class="m-u--margin-bottom">
        Test description
        <!-- if relevant, add link to PR
        </br>From <a href="https://github.com/ulaval/modul-components/pull/000" target="blank">PR description</a>
        -->
    </p>

    <h2>Default</h2>
    <m-accordion-group class="m-u--margin-top">
        <m-accordion>
            <h2 class="m-u--no-margin" slot="header">Titre 1</h2>
            Contenu de l'accordéon 1
        </m-accordion>
        <m-accordion>
            <h2 class="m-u--no-margin" slot="header">Titre 2</h2>
            Contenu de l'accordéon 2
        </m-accordion>
        <m-accordion>
            <h2 class="m-u--no-margin" slot="header">Titre 3</h2>
            Contenu de l'accordéon 3
        </m-accordion>
        <m-accordion>
            <h2 class="m-u--no-margin" slot="header">Titre 4</h2>
            Contenu de l'accordéon 4
        </m-accordion>
    </m-accordion-group>

    <h2>Concurrent</h2>
    <m-accordion-group class="m-u--margin-top" :concurrent="true">
        <m-accordion>
            <h2 class="m-u--no-margin" slot="header">Titre 1</h2>
            Contenu de l'accordéon 1
        </m-accordion>
        <m-accordion>
            <h2 class="m-u--no-margin" slot="header">Titre 2</h2>
            Contenu de l'accordéon 2
        </m-accordion>
        <m-accordion>
            <h2 class="m-u--no-margin" slot="header">Titre 3</h2>
            Contenu de l'accordéon 3
        </m-accordion>
        <m-accordion>
            <h2 class="m-u--no-margin" slot="header">Titre 4</h2>
            Contenu de l'accordéon 4
        </m-accordion>
    </m-accordion-group>
</div>
