<transition>
    <article class="m-accordion-group" v-if="!hasError">
        <header class="m-accordion-group__header" :class="{ 'm--is-no-title' : !hasTitle }" v-if="hasTitle || !propConcurrent">
            <span class="m-accordion-group__header__title" v-if="hasTitle">
                <slot name="title"></slot>
            </span>
            <template v-if="!propConcurrent">
                <m-link mode="button" @click="openAllAccordions" v-if="!propAllOpen">
                    <m-i18n i18n-key="m-accordion-group:open-all"></m-i18n>
                </m-link>
                <m-link mode="button" @click="closeAllAccordions" v-if="propAllOpen">
                    <m-i18n i18n-key="m-accordion-group:close-all"></m-i18n>
                </m-link>
            </template>
        </header>
        <div class="m-accordion-group__body">
            <slot>
                <m-accordion :isOpen="false"></m-accordion>
                <m-accordion :isOpen="false"></m-accordion>
                <m-accordion :isOpen="false"></m-accordion>
            </slot>
        </div>
    </article>
    <article class="m-accordion-group" v-if="hasError">
        <p>{{ errorMessage }}</p>
    </article>
</transition>
