@import '../../styles/abstracts/variables';

.m-fullpage {
    // display: inline-block;

    &__wrap {
        transition-duration: $m-transition-duration;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        outline: none;
        min-width: $m-min-width;

        &.m--is-origin {
            &-bottom {
                &.m--is-enter,
                &.m--is-leave-to {
                    .m-fullpage__article {
                        transform: translate3d(0, 100vh, 0);
                    }
                }
            }
        }
    }

    &__article {
        transition: transform $m-transition-duration ease-in-out;
        background-color: $m-color--grey-lighter;
        transform: translate3d(0, 0, 0);
        max-height: 100vh;
        width: 100vw;
        cursor: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        background: $m-color--white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
        height: 100vh;
        width: 100vw;

        .m--is-centered & {
            max-width: 1200px;
        }
    }

    &__close-button {
        align-self: center;
        margin-right: $m-spacing--l;

        @media (max-width: $m-mq--min--s) {
            margin-right: $m-spacing;
        }

        @media (max-width: $m-mq--min--s) {
            margin-right: $m-spacing;
        }

        &:hover {
            color: $m-color--white;
        }

        &:focus:not(:hover) {
            background: rgba($m-color--black, 0.3);
            color: $m-color--white;
        }
    }

    &__header,
    &__content,
    &__footer {
        position: relative;
    }

    &__header {
        background-color: $m-color--black-grey;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $m-color--white;
        min-height: var(--m-min-height-header);

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            font-size: $m-font-size--h2;
            font-weight: $m-font-weight--bold;
        }

        &__left {
            align-self: stretch;
            display: flex;
            align-items: center;
            justify-content: center;
            width: var(--m-min-height-header);
            background-color: $m-color--black-grey-darker;
        }

        &__center {
            flex: 1 1 0;
            padding: 0 $m-spacing--l;
        }
    }

    &__content {
        padding: $m-spacing;
        flex: 1 1 auto;
        overflow: auto;

        @include m-scrollbar();
    }

    &__footer {
        flex-shrink: 0;
        box-shadow: 0 -1px 2px rgba($m-color--black, 0.1);
        padding: $m-spacing $m-spacing--l;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
    }
}
