<div class="m-fullpage" ref="baseWindow">
    <slot name="trigger"></slot>
    <portal :target-el="'#' + propId">
        <transition name="m--is">
            <div class="m-fullpage__wrap"
                 :class="[{ 'm--is-open': propOpen,
                            'm--is-disabled':disabled },
                            className ]"
                 ref="dialogWrap"
                 v-show="propOpen">
                <section class="m-fullpage__article" ref="article">
                    <header>
                        <div class="m-fullpage__header">
                            <div class="m-fullpage__header__center">
                                <slot name="header"></slot>
                            </div>
                            <div class="m-fullpage__header__right" v-if="hasHeaderRightSlot">
                                <slot name="header-right"></slot>
                            </div>
                        </div>
                    </header>
                    <div class="m-fullpage__body">
                        <slot></slot>
                    </div>
                    <footer v-if="hasFooterSlot">
                        <div class="m-fullpage__footer">
                            <slot name="footer"></slot>
                        </div>
                    </footer>
                </section>
            </div>
        </transition>
    </portal>
</div>
