<div class="m-fullpage" ref="baseWindow">
    <slot name="trigger"></slot>
    <portal :target-el="'#' + propId">
        <transition name="m--is">
            <div v-show="propOpen" class="m-fullpage__wrap m--is-origin-bottom" :class="[{ 'm--is-open': propOpen,
                               'm--is-disabled':disabled,
                               'm--is-centered':isCentered },
                               className ]" ref="dialogWrap">
                <article class="m-fullpage__article" ref="article">
                    <div class="m-fullpage__body">
                        <header class="m-fullpage__header">
                            <div class="m-fullpage__header__left" v-if="hasMenuButton">
                                <slot name="header-left">
                                    <m-icon-button icon-name="m-index" @click="menu()" skin="dark"></m-icon-button>
                                </slot>
                            </div>
                            <div class="m-fullpage__header__center">
                                <slot name="header"></slot>
                            </div>
                            <div class="m-fullpage__header__right">
                                <slot name="header-right">
                                    <m-icon-button @click="closeDialog" icon-name="close" skin="dark" class="m-fullpage__close-button" v-if="closeButton">
                                        <m-i18n k="m-sidebar:close"></m-i18n>
                                    </m-icon-button>
                                </slot>
                            </div>

                        </header>
                        <div class="m-fullpage__content">
                            <slot></slot>
                        </div>
                        <footer class="m-fullpage__footer">
                            <slot name="footer"></slot>
                        </footer>
                    </div>
                </article>
            </div>
        </transition>
    </portal>
</div>
