@import 'commons';
$m-option-item--color-hover: $m-color--interactive-lightest !default;
$m-option-item--color-select: $m-color--grey-lighter !default;
$m-option-item--color-active: $m-color--grey-lightest !default;

.m-option-item {
    display: flex;
    text-decoration: none;

    @media (min-width: $m-mq--min--s) {
        max-width: 220px; // Magic number
    }

    &:not(:last-child) {
        border-bottom: 1px solid $m-color--border;
    }

    .m--has-icon-spacing {
        .m-option-item {
            &__text {
                padding-left: 10px;
            }
        }
    }

    &__icon,
    &__text {
        display: flex;
        align-items: center;
        padding-top: $m-padding;
        padding-bottom: $m-padding;
    }

    &__icon {
        transition: color $m-transition-duration ease;
        color: $m-color--grey;
        padding-left: $m-padding;
    }

    &__text {
        flex: 1 1 auto;
        color: $m-color--text;
        padding-right: $m-padding;
        padding-left: $m-padding;
    }

    &.m--is-disabled {
        cursor: default;

        .m-option-item {
            &__text,
            &__icon {
                color: $m-color--disabled;
            }
        }
    }

    &:not(.m--is-disabled) {
        transition: background $m-transition-duration ease;
        cursor: pointer;

        &:hover,
        &:focus {
            background: $m-option-item--color-hover;

            .m-option-item__icon {
                color: $m-color--text;
            }
        }

        &:active {
            background: $m-option-item--color-active;
        }
    }

    &:focus {
        outline: 0;
    }

    @media (max-width: $m-mq--min--s) {
        width: 100%;
    }
}
