// ======================================================================
//  css customs properties
// ======================================================================
:root {

    // ======================================================================
    //  Official color of Université Laval
    // ======================================================================
    --m-color--ul-blue: rgb(0, 153, 255);
    --m-color--ul-yellow: rgb(255, 193, 3);
    --m-color--ul-red: rgb(224, 4, 19);

    // ======================================================================
    //  Seven Shades of Grey to rules them all!
    // ======================================================================
    --m-color--grey-darkest: rgb(31, 31, 31);
    --m-color--grey-darker: rgb(61, 61, 61);
    --m-color--grey-dark: rgb(105, 105, 105);
    --m-color--grey: rgb(146, 146, 146);
    --m-color--grey-light: rgb(215, 215, 215);
    --m-color--grey-lighter: rgb(244, 244, 244);
    --m-color--grey-lightest: rgb(249, 249, 249);

    // ======================================================================
    //  General color
    // ======================================================================
    --m-color--black: rgb(0, 0, 0);
    --m-color--text: var(--m-color--grey-darker);
    --m-color--white: rgb(255, 255, 255);

    // ======================================================================
    //  Success colors
    // ======================================================================
    --m-color--success-dark: rgb(0, 153, 98);
    --m-color--success: rgb(0, 199, 127);
    --m-color--success-light: rgb(205, 243, 227);
    --m-color--success-lightest: rgb(234, 249, 241);

    // ======================================================================
    //  Warning colors
    // ======================================================================
    --m-color--warning: var(--m-color--ul-yellow);
    --m-color--warning-lightest: rgb(255, 248, 230);

    // ======================================================================
    //  Error colors
    // ======================================================================
    --m-color--error-dark: rgb(179, 4, 15);
    --m-color--error: var(--m-color--ul-red);
    --m-color--error-lightest: rgb(252, 242, 243);

    // ======================================================================
    //  Interactive colors
    // ======================================================================
    --m-color--interactive-darker: rgb(0, 117, 195);
    --m-color--interactive-dark: rgb(5, 135, 225);
    --m-color--interactive: var(--m-color--ul-blue);
    --m-color--interactive-light: rgb(54, 173, 255);
    --m-color--interactive-lighter: rgb(110, 210, 255);
    --m-color--interactive-lightest: rgb(223, 250, 255);

    // ======================================================================
    //  Accent colors
    // ======================================================================
    --m-color--accent-dark: rgb(237, 133, 20);
    --m-color--accent: rgb(243, 150, 18);
    --m-color--accent-light: rgb(255, 170, 38);
    --m-color--accent-lightest: rgb(255, 238, 207);

    // ======================================================================
    //  Active colors
    // ======================================================================
    --m-color--active: var(--m-color--ul-yellow);

    // ======================================================================
    //  disabled colors
    // ======================================================================
    --m-color--disabled: var(--m-color--grey-lighter);
    --m-color--disabled-light: var(--m-color--grey-lighter);

    // ======================================================================
    //  Scrollbar colors
    // ======================================================================
    --m-color--scrollbar: var(--m-color--grey);
    --m-color--scrollbar-light: var(--m-color--grey-lighter);

    // ======================================================================
    //  UI colors
    // ======================================================================
    --m-color--border-dark: var(--m-color--grey-dark);
    --m-color--border: var(--m-color--grey-lighter);
    --m-color--header-dark: var(--m-color--grey-darkest);
}
