// ======================================================================
//  css customs layout properties
// ======================================================================
:root {
    --m-min-height-header: 88px;
}
