@mixin visuallyHidden() {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

@mixin transitionAccordion() {
    transition: 0.3s max-height ease;
    overflow: hidden;
    height: auto;
}

@mixin m-is-ie() {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }

    @media screen and (min-width: 0\0) {
        @content;
    }
}
