// ======================================================================
//  Min-width
// ======================================================================
$m-screen--min--xs: 480px !default;
$m-screen--min--s: 768px !default;
$m-screen--min--m: 1024px !default;
$m-screen--min--l: 1200px !default;
$m-screen--min--xl: 1600px !default;

// ======================================================================
//  Max-width
// ======================================================================
$m-screen--max--xs: 479px !default;
$m-screen--max--s: 767px !default;
$m-screen--max--m: 1023px !default;
$m-screen--max--l: 1199px !default;
$m-screen--max--xl: 1599px !default;
