$m-color--calendar--pink: #eb6b56;
$m-color--calendar--red: #e84c3d;
$m-color--calendar--orange: #f39612;
$m-color--calendar--yellow: #ffc103;
$m-color--calendar--green--light: #46c9af;
$m-color--calendar--green: #67cf53;
$m-color--calendar--green--dark: #13bf69;
$m-color--calendar--mauve: #9c59b8;
$m-color--calendar--blue: #1895fd;
$m-color--calendar--blue--dark: #1368af;
$m-color--calendar--blue--darker: #495778;
$m-color--calendar--grey: #4f4f4f;
