// ======================================================================
//  Fonts property
// ======================================================================
$m-font-path: 'https://contenu.monportail.ulaval.ca/mpo/modules/sourcesanspro/1.0.51/SourceSansPro-Regular' !default;
$m-font-name: 'SourceSansPro' !default;
$m-font-family: 'SourceSansPro', 'Helvetica Neue', Arial, sans-serif !default;

// ======================================================================
//  App font size
// ======================================================================
$m-font-size--l: 18px !default;
$m-font-size: 16px !default;
$m-font-size--s: 14px !default;
$m-font-size--xs: 10px !default;

// ======================================================================
//  Titles font size
// ======================================================================
$m-font-size--h1: 32px !default;
$m-font-size--h2: 28px !default;
$m-font-size--h3: 24px !default;
$m-font-size--h4: 20px !default;
$m-font-size--h5: 18px !default;
$m-font-size--h6: 18px !default;

// ======================================================================
//  Font weight
// ======================================================================
$m-font-weight--black: 500 !default;
$m-font-weight--bold: 400 !default;
$m-font-weight: 300 !default;
$m-font-weight--regular: 300 !default;
$m-font-weight--light: 200 !default;

// ======================================================================
//  Line height
// ======================================================================
$m-line-height: 1.3 !default;
