// ======================================================================
//  max and min width
// ======================================================================
$m-max-width: 1000px !default;
$m-max-width--text: 720px !default;
$m-min-width: 320px !default;

// ======================================================================
//  margin
// ======================================================================
$m-margin--xl: 48px !default;
$m-margin--l: 24px !default;
$m-margin: 12px !default;
$m-margin--s: 6px !default;
$m-margin--xs: 3px !default;

// ======================================================================
//  padding
// ======================================================================
$m-padding--xl: 64px !default;
$m-padding--l: 32px !default;
$m-padding: 16px !default;
$m-padding--s: 8px !default;
$m-padding--xs: 4px !default;

// ======================================================================
//  border
// ======================================================================
$m-border-width--l: 4px !default;
$m-border-width: 2px !default;
$m-border-width--s: 1px !default;

// ======================================================================
//  box-shadow
// ======================================================================
$m-box-shadow--l: 0 3px 6px rgba($m-color--black, 0.18) !default;
$m-box-shadow: 0 2px 4px rgba($m-color--black, 0.15) !default;
$m-box-shadow--s: 0 1px 1px rgba($m-color--black, 0.15) !default;

// ======================================================================
//  touch size
// ======================================================================
$m-touch-size--l: 48px !default;
$m-touch-size: 44px !default;
$m-touch-size--s: 38px !default;
