$m-color--black: #000;
$m-color--text: $m-color--black;
$m-color--white: #fff;

// ======================================================================
//  Official color of Université Laval
// ======================================================================
$m-color--ul-blue: #09f;
$m-color--ul-yellow: #ffc103;
$m-color--ul-red: #e30513;

// ======================================================================
//  Grey
// ======================================================================
$m-color--grey--darkest: #1c1c1c !default;
$m-color--grey--darker: #353535 !default;
$m-color--grey--dark: #545454 !default;
$m-color--grey: #d5d5d5 !default;
$m-color--grey--light: #e0e0e0 !default;
$m-color--grey--lighter: #ededed !default;
$m-color--grey--lightest: #f7f7f7 !default;

// ======================================================================
//  Primary colors
// ======================================================================
$m-color--primary--darker: #0074a0 !default;
$m-color--primary--dark: #0087bd !default;
$m-color--primary: $m-color--ul-blue !default;
$m-color--primary--light: #36adff !default;
$m-color--primary--lighter: #6ed2ff !default;
$m-color--primary--lightest: #dffaff !default;

// ======================================================================
//  Secondary colors
// ======================================================================
$m-color--secondary--darker: #b64c00 !default;
$m-color--secondary--dark: #d07300 !default;
$m-color--secondary: #f39612 !default;
$m-color--secondary--light: #ffaa26 !default;
$m-color--secondary--lighter: #ffbe3a !default;
$m-color--secondary--lightest: #ffeecf !default;

// ======================================================================
//  Yellow
// ======================================================================
$m-color--yellow--darker: #cc8f09 !default;
$m-color--yellow--dark: #e0a207 !default;
$m-color--yellow: $m-color--ul-yellow !default;
$m-color--yellow--light: #ffd517 !default;
$m-color--yellow--lighter: #ffec66 !default;
$m-color--yellow--lightest: #fffdcf !default;

// ======================================================================
//  Valid colors
// ======================================================================
$m-color--valid--darker: #079942 !default;
$m-color--valid--dark: #14a555 !default;
$m-color--valid: #13bf69 !default;
$m-color--valid--light: #17c96b !default;
$m-color--valid--lighter: #1ddd6f !default;
$m-color--valid--lightest: #dcf9e9 !default;

// ======================================================================
//  Error colors
// ======================================================================
$m-color--error--darker: #b20000 !default;
$m-color--error--dark: #ca0000 !default;
$m-color--error: $m-color--ul-red !default;
$m-color--error--light: #e33642 !default;
$m-color--error--lighter: #e39fa8 !default;
$m-color--error--lightest: #ffdcdc !default;
