// ======================================================================
//  Official color of Université Laval
// ======================================================================
$m-color--ul-blue: #09f;
$m-color--ul-yellow: #ffc103;
$m-color--ul-red: #e30513;

// ======================================================================
//  Seven Shades of Grey
// ======================================================================
$m-color--grey-darkest: #1f1f1f !default;
$m-color--grey-darker: #3d3d3d !default;
$m-color--grey-dark: #696969 !default;
$m-color--grey: #929292 !default;
$m-color--grey-light: #d7d7d7 !default;
$m-color--grey-lighter: #f4f4f4 !default;
$m-color--grey-lightest: #f9f9f9 !default;

// ======================================================================
//  General color
// ======================================================================
$m-color--black: #000;
$m-color--text: $m-color--grey-darker;
$m-color--white: #fff;

// ======================================================================
//  Success colors
// ======================================================================
$m-color--success-dark: #009962 !default;
$m-color--success: #00c77f !default;
$m-color--success-light: #cdf3e3 !default;
$m-color--success-lightest: #eaf9f1 !default;

// ======================================================================
//  Warning colors
// ======================================================================
$m-color--warning: $m-color--ul-yellow !default;
$m-color--warning-lightest: #fff8e6 !default;

// ======================================================================
//  Error colors
// ======================================================================
$m-color--error-dark: #b3040f !default;
$m-color--error: $m-color--ul-red !default;
$m-color--error-lightest: #fcf2f3 !default;

// ======================================================================
//  Interactive colors
// ======================================================================
$m-color--interactive-darker: #0075c3 !default;
$m-color--interactive-dark: #0587e1 !default;
$m-color--interactive: $m-color--ul-blue !default;
$m-color--interactive-light: #36adff !default;
$m-color--interactive-lighter: #6ed2ff !default;
$m-color--interactive-lightest: #dffaff !default;
$m-color--information: #eaf5ff !default;

// ======================================================================
//  Accent colors
// ======================================================================
$m-color--accent-dark: #ed8514 !default;
$m-color--accent: #f39612 !default;
$m-color--accent-light: #ffaa26 !default;
$m-color--accent-lightest: #ffeecf !default;

// ======================================================================
//  Active colors
// ======================================================================
$m-color--active: $m-color--ul-yellow !default;

// ======================================================================
//  disabled colors
// ======================================================================
$m-color--disabled: $m-color--grey-lighter !default;
$m-color--disabled-light: $m-color--grey-lighter !default;

// ======================================================================
//  Scrollbar colors
// ======================================================================
$m-color--scrollbar: $m-color--grey !default;
$m-color--scrollbar-light: $m-color--grey-lighter !default;

// ======================================================================
//  Boder colors
// ======================================================================
$m-color--border-dark: $m-color--grey-dark !default;
$m-color--border: $m-color--grey-light !default;
