

// ======================================================================
//  Max and min width
// ======================================================================

$m-max-width: 1000px !default;
$m-max-width--text: 720px !default;
$m-min-width: 320px !default;


// ======================================================================
//  Margin
// ======================================================================

$m-margin--xl: 48px !default;
$m-margin--l: 24px !default;
$m-margin: 12px !default;
$m-margin--s: 6px !default;
$m-margin--xs: 3px !default;


// ======================================================================
//  Padding
// ======================================================================

$m-padding--xl: 64px !default;
$m-padding--l: 32px !default;
$m-padding: 16px !default;
$m-padding--s: 8px !default;
$m-padding--xs: 4px !default;


// ======================================================================
//  Others
// ======================================================================

$m-touch-size: 44px !default;

