// ======================================================================
//  css customs properties
// ======================================================================
:root {

    // ======================================================================
    //  Official color of Université Laval
    // ======================================================================
    --m-color--ul-blue: rgb(0, 153, 255);
    --m-color--ul-yellow: rgb(255, 193, 3);
    --m-color--ul-red: rgb(224, 4, 19);

    // ======================================================================
    //  Seven Shades of Grey to rules them all!
    // ======================================================================
    --m-color--grey-darkest: rgb(31, 31, 31);
    --m-color--grey-darker: rgb(61, 61, 61);
    --m-color--grey-dark: rgb(105, 105, 105);
    --m-color--grey: rgb(146, 146, 146);
    --m-color--grey-light: rgb(215, 215, 215);
    --m-color--grey-lighter: rgb(244, 244, 244);
    --m-color--grey-lightest: rgb(249, 249, 249);

    // ======================================================================
    //  General color
    // ======================================================================
    --m-color--black: rgb(0, 0, 0);
    --m-color--text: var(--m-color--grey-darker);
    --m-color--white: rgb(255, 255, 255);

    // ======================================================================
    //  Success colors
    // ======================================================================
    --m-color--success-dark: rgb(0, 153, 98);
    --m-color--success: rgb(0, 199, 127);
    --m-color--success-light: rgb(205, 243, 227);
    --m-color--success-lightest: rgb(234, 249, 241);

    // ======================================================================
    //  Warning colors
    // ======================================================================
    --m-color--warning: var(--m-color--ul-yellow);
    --m-color--warning-lightest: rgb(255, 248, 230);

    // ======================================================================
    //  Error colors
    // ======================================================================
    --m-color--error-dark: rgb(179, 4, 15);
    --m-color--error: var(--m-color--ul-red);
    --m-color--error-lightest: rgb(252, 242, 243);

    // ======================================================================
    //  Interactive colors
    // ======================================================================
    --m-color--interactive-darker: rgb(0, 117, 195);
    --m-color--interactive-dark: rgb(5, 135, 225);
    --m-color--interactive: var(--m-color--ul-blue);
    --m-color--interactive-light: rgb(54, 173, 255);
    --m-color--interactive-lighter: rgb(110, 210, 255);
    --m-color--interactive-lightest: rgb(223, 250, 255);

    // ======================================================================
    //  Accent colors
    // ======================================================================
    --m-color--accent-dark: rgb(237, 133, 20);
    --m-color--accent: rgb(243, 150, 18);
    --m-color--accent-light: rgb(255, 170, 38);
    --m-color--accent-lightest: rgb(255, 238, 207);

    // ======================================================================
    //  Active colors
    // ======================================================================
    --m-color--active: var(--m-color--ul-yellow);

    // ======================================================================
    //  disabled colors
    // ======================================================================
    --m-color--disabled: var(--m-color--grey-lighter);
    --m-color--disabled-light: var(--m-color--grey-lighter);

    // ======================================================================
    //  Scrollbar colors
    // ======================================================================
    --m-color--scrollbar: var(--m-color--grey);
    --m-color--scrollbar-light: var(--m-color--grey-lighter);

    // ======================================================================
    //  UI colors
    // ======================================================================
    --m-color--border-dark: var(--m-color--grey-dark);
    --m-color--border: var(--m-color--grey-lighter);
    --m-color--header-dark: var(--m-color--grey-darkest);
}

// ======================================================================
//  Official color of Université Laval
// ======================================================================
$m-color--ul-blue: #09f;
$m-color--ul-yellow: #ffc103;
$m-color--ul-red: #e30513;

// ======================================================================
//  Seven Shades of Grey
// ======================================================================
$m-color--grey-darkest: #1f1f1f !default;
$m-color--grey-darker: #3d3d3d !default;
$m-color--grey-dark: #696969 !default;
$m-color--grey: #929292 !default;
$m-color--grey-light: #d7d7d7 !default;
$m-color--grey-lighter: #f4f4f4 !default;
$m-color--grey-lightest: #f9f9f9 !default;

// ======================================================================
//  General color
// ======================================================================
$m-color--black: #000;
$m-color--text: $m-color--grey-darker;
$m-color--white: #fff;

// ======================================================================
//  Success colors
// ======================================================================
$m-color--success-dark: #009962 !default;
$m-color--success: #00c77f !default;
$m-color--success-light: #cdf3e3 !default;
$m-color--success-lightest: #eaf9f1 !default;

// ======================================================================
//  Warning colors
// ======================================================================
$m-color--warning: $m-color--ul-yellow !default;
$m-color--warning-lightest: #fff8e6 !default;

// ======================================================================
//  Error colors
// ======================================================================
$m-color--error-dark: #b3040f !default;
$m-color--error: $m-color--ul-red !default;
$m-color--error-lightest: #fcf2f3 !default;

// ======================================================================
//  Interactive colors
// ======================================================================
$m-color--interactive-darker: #0075c3 !default;
$m-color--interactive-dark: #0587e1 !default;
$m-color--interactive: $m-color--ul-blue !default;
$m-color--interactive-light: #36adff !default;
$m-color--interactive-lighter: #6ed2ff !default;
$m-color--interactive-lightest: #dffaff !default;
$m-color--information: #eaf5ff !default;

// ======================================================================
//  Accent colors
// ======================================================================
$m-color--accent-dark: #ed8514 !default;
$m-color--accent: #f39612 !default;
$m-color--accent-light: #ffaa26 !default;
$m-color--accent-lightest: #ffeecf !default;

// ======================================================================
//  Active colors
// ======================================================================
$m-color--active: $m-color--ul-yellow !default;

// ======================================================================
//  disabled colors
// ======================================================================
$m-color--disabled: $m-color--grey-lighter !default;
$m-color--disabled-light: $m-color--grey-lighter !default;

// ======================================================================
//  Scrollbar colors
// ======================================================================
$m-color--scrollbar: $m-color--grey !default;
$m-color--scrollbar-light: $m-color--grey-lighter !default;

// ======================================================================
//  Boder colors
// ======================================================================
$m-color--border-dark: $m-color--grey-dark !default;
$m-color--border: $m-color--grey-lighter !default;
