// ======================================================================
//  Fonts property
// ======================================================================
$m-font-name: 'Source Sans Pro' !default;
$m-font-family: 'Overpass', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif !default;

// ======================================================================
//  App font size
// ======================================================================
$m-font-size--l: 18px !default;
$m-font-size: 16px !default;
$m-font-size--s: 14px !default;
$m-font-size--xs: 12px !default;

// ======================================================================
//  Titles font size
// ======================================================================
$m-font-size--h1: 32px !default;
$m-font-size--h2: 28px !default;
$m-font-size--h3: 24px !default;
$m-font-size--h4: 20px !default;
$m-font-size--h5: 16px !default;
$m-font-size--h6: 16px !default;

// ======================================================================
//  Font weight
// ======================================================================
$m-font-weight--black: 600 !default;
$m-font-weight--bold: 400 !default;
$m-font-weight: 300 !default;
$m-font-weight--regular: 300 !default;
$m-font-weight--light: 200 !default;

// ======================================================================
//  Line height
// ======================================================================
$m-line-height: 1.3 !default;
