@import 'commons';

.m-expandable-layout {
    display: grid;

    &.m--has-left-panel {
        grid-template-areas: 'panel main';
        grid-template-columns: auto 1fr;
    }

    &.m--has-right-panel {
        grid-template-areas: 'main panel';
        grid-template-columns: 1fr auto;
    }

    &__main {
        grid-area: main;
    }

    &__panel {
        grid-area: panel;
        overflow-x: hidden;
        overflow-y: auto;
        position: sticky;
        top: 0;
        align-self: start;
        transition: width $m-transition-duration ease;
    }
}
