<portal :target-el="portalTargetSelector"
        open-trigger="manual"
        v-if="portalCreated">
    <transition name="m--is">
        <div class="m-toast"
            :class="{'m--is-state-confirmation': isStateConfirmation,
                    'm--is-state-information': isStateInformation,
                    'm--is-state-warning': isStateWarning,
                    'm--is-state-error': isStateError,
                    'm--is-top': isTop,
                    'm--is-bottom': !isTop,
                    'm--is-left': isLeft,
                    'm--is-center': isCenter,
                    'm--is-right': isRight,
                    'm--is-mobile': isMqMaxS,
                    'm--is-desktop': !isMqMaxS}"
            ref="toast"
            v-show="portalMounted && propOpen">
            <div class="m-toast__wrap">
                <div class="m-toast__icon"
                    v-if="icon">
                    <m-icon :name="getIcon()"></m-icon>
                </div>
                <div class="m-toast__body">
                    <div class="m-toast__text">
                        <slot></slot>
                    </div>
                    <div class="m-toast__actions" v-if="actionLabel">
                        <m-link @click="onAction" :mode="buttonMode">{{ actionLabel }}</m-link>
                    </div>
                </div>
                <m-icon-button class="m-toast__close-button"
                    icon-name="m-svg__close-clear"
                    skin="link"
                    @click="onClose"
                    ref="toastclose">
                    {{'m-toast:close' | f-m-i18n}}
                </m-icon-button>
            </div>
        </div>
    </transition>
</portal>

