<span class="m-switch" :class="{ 'm--is-switch-left': hasSwitchLeft, 'm--is-switch-right': !hasSwitchLeft, 'm--is-checked': propChecked, 'm--is-focus': isFocus, 'm--no-helperText': !helperText }">
    <input ref="switch" type="checkbox" :id="id" class="m-switch__hidden" v-model="propChecked" @click="onClick" @focus="isFocus=true" @blur="isFocus=false">
    <label class="m-switch__wrap" :for="id" :aria-hidden="!label">
        <span class="m-switch__input" aria-hidden="true">
            <span class="m-switch__button" aria-hidden="true"></span>
            <span class="m-switch__text" aria-hidden="true" v-if="helperText">
                <span v-if="propChecked"><m-i18n k="m-switch:yes"></m-i18n></span>
                <span v-if="!propChecked"><m-i18n k="m-switch:no"></m-i18n></span>
            </span>
        </span>
        <span class="m-switch__label" v-if="label">
            <slot>m-switch</slot>
        </span>
    </label>
</span>

