@import 'commons';
$m-switch-size: 23px;

.m-switch {
    line-height: 1;

    &:not(.m--is-disabled):not(.m--is-waiting) {
        .m-switch__body {
            cursor: pointer;
        }

        .m-switch__label {
            flex: 1;
            color: $m-color--text;
        }

        .m-switch__input {
            border-color: $m-color--grey;
        }

        &:hover,
        &.m--is-focus {
            .m-switch__input {
                border-color: $m-color--grey-dark;
            }

            .m-switch__label {
                color: $m-color--interactive;
            }
        }

        &.m--is-checked {
            .m-switch__input {
                border-color: $m-color--interactive;
                background-color: $m-color--interactive;
            }

            .m-switch__button {
                border-color: $m-color--white;
                background-color: $m-color--white;
                left: auto;
                left: calc(100% - #{$m-switch-size});
            }

            .m-switch__text {
                color: $m-color--white;
                left: 0;
            }
        }

        &.m--has-error {
            .m-switch__input {
                border-color: $m-color--error;
                background: $m-color--error-lightest;
            }

            &:not(.m--is-checked) {
                .m-switch__text {
                    color: $m-color--error;
                }
            }

            &.m--is-checked {
                .m-switch__input {
                    background: $m-color--error;
                }
            }
        }

        &.m--is-valid {
            .m-switch__input {
                border-color: $m-color--success;
                background: $m-color--success-lightest;
            }

            &:not(.m--is-checked) {
                .m-switch__text {
                    color: $m-color--success;
                }
            }

            &.m--is-checked {
                .m-switch__input {
                    background: $m-color--success;
                }
            }
        }
    }

    &.m--is-disabled,
    &.m--is-waiting {
        .m-switch__input {
            border-color: $m-color--disabled;
            background: $m-color--disabled-light;
        }
    }

    &.m--is-disabled {
        .m-switch__body {
            cursor: default;
        }
    }

    &.m--is-waiting {
        .m-switch__body {
            cursor: wait;
        }
    }

    &.m--is-switch-left {
        .m-switch__label {
            padding-left: $m-margin--s;
        }
    }

    &.m--is-switch-right {
        .m-switch__body {
            flex-direction: row-reverse;
        }

        .m-switch__label {
            padding-right: $m-margin--s;
        }
    }

    &.m--no-state-text {
        .m-switch__input {
            min-width: 40px;
        }
    }

    &__body {
        display: inline-flex;
        align-items: center;
    }

    &__input {
        transition: $m-transition-duration ease-in-out;
        background: $m-color--grey-light;
        border-radius: 2rem;
        border: $m-border-width--s solid $m-color--grey;
        display: inline-flex;
        position: relative;
        height: 25px;
        min-width: 54px;
    }

    &__button {
        transition: $m-transition-duration ease-in-out;
        background: $m-color--white;
        border-radius: 2rem;
        border: $m-border-width--s solid $m-color--white;
        height: 100%;
        width: $m-switch-size;
        left: 0;
        position: relative;
        z-index: 2;
        color: $m-color--grey-darker;
        font-size: $m-font-size--xs;
    }

    &__text {
        transition: $m-transition-duration ease-in-out;
        display: flex;
        user-select: none;
        height: 100%;
        width: calc(100% - #{$m-switch-size});
        left: calc(100% - (100% - #{$m-switch-size}));
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 1;
        text-align: center;
        color: $m-color--grey-darker;
        font-size: 9px;
        text-transform: uppercase;
        line-height: 0;
    }

    &__label {
        transition: $m-transition-duration color ease;
    }

    &__hidden {
        @include m-visually-hidden;
    }
}
