@import 'commons';

.m-sortable {
    ul {
        display: flex;
        flex-direction: column;

        li {
            padding: $m-padding;
            margin-bottom: $m-margin--s;
            color: #fff;
            font-weight: $m-font-weight--bold;
            background-color: #7cadf1;
            display: flex;
            align-items: center;

            &.noHandle {
                cursor: grab;
            }

            .drag-handle {
                flex: none;
                cursor: grab;
                margin-right: $m-margin;
            }
        }
    }
}
