<div class="m-sortable">
    <h3>Sort with switch</h3>
    <h4>Sortable - with handle and no attribut can-drag</h4>
    <m-switch :value="peutEtreDrag"
              @change="basculePeutEtreDrag($event)">Enable/disable sort</m-switch>
    <ul v-m-sortable="peutEtreDrag"
        :items="elementsSortableWithHandleNoAttribut"
        @sortable:move="deplacerElementsWithHandleNoAttribut">

        <li v-for="(element, index) in elementsSortableWithHandleNoAttribut"
            :key="element.cle">
            <div v-if="peutEtreDrag"
                 class="drag-handle">
                <m-icon name="m-svg__drag-vertical"
                        size="28px"></m-icon>
            </div>
            {{ element.titre }}
        </li>
    </ul>

    <h4>Sortable - with handle and attribut can-drag</h4>
    <m-switch :value="peutEtreDrag"
              @change="basculePeutEtreDrag($event)">Enable/disable sort</m-switch>
    <ul v-m-sortable="peutEtreDrag"
        :items="elementsSortableWithHandleWithAttribut"
        @sortable:move="deplacerElementsWithHandleWithAttribut">

        <li v-for="(element, index) in elementsSortableWithHandleWithAttribut"
            :key="element.cle"
            :can-drag="isDraggable(element.cle)">
            <div v-if="peutEtreDrag"
                 class="drag-handle">
                <m-icon name="m-svg__drag-vertical"
                        size="28px"></m-icon>
            </div>
            {{ element.titre }}
        </li>
    </ul>

    <h3>Sort without switch</h3>
    <h4>Sortable - with handle</h4>
    <ul v-m-sortable="true"
        :items="elementsSortableWithHandle"
        @sortable:move="deplacerElementsWithHandle">

        <li v-for="(element, index) in elementsSortableWithHandle"
            :key="element.cle"
            :can-drag="isDraggable(element.cle)">
            <div class="drag-handle">
                <m-icon name="m-svg__drag-vertical"
                        size="28px"></m-icon>
            </div>
            {{ element.titre }}
        </li>
    </ul>


    <h4>Sortable - without handle</h4>
    <ul v-m-sortable="true"
        :items="elementsSortableWithoutHandle"
        @sortable:move="deplacerElementsWithoutHandle">

        <li v-for="(element, index) in elementsSortableWithoutHandle"
            class="noHandle"
            :key="element.cle"
            :can-drag="isDraggable(element.cle)">
            {{ element.titre }}
        </li>
    </ul>

</div>
