<m-icon class="m-tree-icon"
        v-if="propIconsSet === 'folder' && isFolder"
        size="24px"
        :showNameAsClass=true
        :name="folderIcon"></m-icon>
<m-icon-file class="m-tree-icon"
             v-else-if="propIconsSet === 'folder'"
             :extension="extensionFile"></m-icon-file>
<m-plus ref="plus-icon"
        v-else-if="propIconsSet === 'plus' && isFolder"
        class="m-accordion__header-icon"
        :class="{ 'm--is-left': 'true' }"
        :open="isFolderOpen"
        :large="true"
        aria-hidden="true"></m-plus>
