@import 'abstracts/variables';

.m-flex-template {
    &.m--is-menu-right {
        .m-flex-template {
            &__nav {
                right: 0;
            }
        }
    }

    &:not(.m--is-menu-right) {
        .m-flex-template {
            &__nav {
                left: 0;
            }
        }
    }

    &__nav-container,
    &__page-container {
        transition: 0.45s width ease-in-out;
    }

    &__nav__content,
    &__page__body,
    &__page__footer {
        > :first-child {
            &,
            > :first-child {
                margin-top: 0;
            }
        }
    }

    &__nav {
        &__content {
            outline: none;
        }

        &__content {
            background: $m-color--white;

            &,
            > :first-child {
                height: 100%;
                overflow-y: auto;

                @include m-scrollbar-ie();

                &::-webkit-scrollbar {
                    @include m-scrollbar();

                    &-track-piece {
                        @include m-scrollbar-track-piece();
                    }

                    &-thumb {
                        @include m-scrollbar-thumb();
                    }
                }
            }
        }
    }

    &__page {
        &-container {
            width: 100%;
        }

        &__footer {
            width: 100%;
        }
    }

    &[max-width~="#{ $m-bp--max--s }"] {
        &:not(.m--is-menu-open) {
            &.m--is-menu-right {
                .m-flex-template__nav {
                    transform: translate3d(100%, 0, 0);
                }
            }

            &:not(.m--is-menu-right) {
                .m-flex-template__nav {
                    transform: translate3d(-100%, 0, 0);
                }
            }
        }

        .m-flex-template {
            &__nav {
                transition: 0.45s transform ease;
                position: fixed;

                &-container {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    z-index: 4;
                }
            }

            &__page {
                &-container {
                    z-index: 1;
                    width: 100% !important;
                }
            }
        }
    }

    &[min-width~="#{ $m-bp--min--s }"] {
        display: flex;

        &.m--is-menu-right {
            flex-direction: row-reverse;

            .m-flex-template {
                &__nav {
                    &__content {
                        position: absolute;
                        right: 0;
                    }
                }
            }
        }

        .m-flex-template {
            &__nav {
                position: fixed;

                &-container {
                    position: relative;
                    width: 0;
                }
            }

            &__page {
                position: relative;
                display: flex;
                flex-direction: column;
                min-height: 100vh;

                &-container,
                &__body {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 auto;
                }

                &__body {
                    > :first-child {
                        flex: 1 1 auto;
                    }
                }
            }
        }
    }
}
