@import 'commons';

.m-scroll-spy {
    position: relative;

    &__container {
        display: flex;
    }

    &__left-sidebar {
        position: fixed;
        position: sticky;
        top: 60px;
        min-width: 300px;
        height: 100%;
        left: 0;
        flex: none;
        padding-right: $m-spacing;
        background-color: $m-color--white;

        h2 {
            margin-top: 0;
        }

        ul {
            display: flex;
            flex-direction: column;

            li {
                padding: $m-padding;
                margin-bottom: $m-margin--s;
                color: #fff;
                font-weight: $m-font-weight--black;
                background-color: #7cadf1;
                display: flex;
                align-items: center;
                text-decoration: none;

                &.m--is-current {
                    background-color: #01070f;
                }

                a {
                    color: #fff;
                }
            }
        }
    }

    &__right-area {
        section {
            margin: $m-spacing--xl 0 0;
        }
    }
}
