<div>
    <m-steppers>
        <m-steppers-item icon-name="m-svg__profile" state="visited" :completed="true">Profil</m-steppers-item>
        <m-steppers-item icon-name="m-svg__calendar" state="in-progress" :completed="true">Calandrier</m-steppers-item>
        <m-steppers-item icon-name="m-svg__logout" state="disabled" :completed="true">Déconnexion</m-steppers-item>
    </m-steppers>

    <h2>Steppers with prop url</h2>
    <m-steppers class="m-u--margin-top--l">
        <m-steppers-item url="/" icon-name="m-svg__profile" state="visited" :completed="true">Profil</m-steppers-item>
        <m-steppers-item url="/" icon-name="m-svg__calendar">Calandrier</m-steppers-item>
        <m-steppers-item url="/" icon-name="m-svg__logout" state="in-progress">Déconnexion</m-steppers-item>
    </m-steppers>
</div>
