<div>
    <!-- Sandbox template -->
    <h3>Edit-window</h3>
    <p class="m-u--margin-bottom">
        basic demo
    </p>
    <div>
        <m-edit-window title="Titre">
            <m-button slot="trigger">Ouvrir</m-button>
            <h2 slot="header" style="margin:0;">Titre</h2>
            <p style="margin:0;">Consectetur dolore commodo voluptate est laborum ex nulla. Amet nisi quis minim dolor voluptate est nisi anim
                elit duis enim. Sint veniam tempor occaecat irure nostrud eiusmod. Fugiat nostrud laborum pariatur dolor
                tempor in in nostrud reprehenderit minim culpa incididunt.</p>
            <p>Consectetur dolore commodo voluptate est laborum ex nulla. Amet nisi quis minim dolor voluptate est nisi anim
                elit duis enim. Sint veniam tempor occaecat irure nostrud eiusmod. Fugiat nostrud laborum pariatur dolor
                tempor in in nostrud reprehenderit minim culpa incididunt.</p>
        </m-edit-window>
    </div>
</div>
