<div>
    <!-- Sandbox template -->
    <h3>Edit-window</h3>
    <p class="m-u--margin-bottom">
        basic demo
    </p>
    <div>
        <m-edit-window title="Titre">
            <m-button slot="trigger">Ouvrir</m-button>
            <h2 slot="header" style="margin:0;">Titre</h2>
            <p style="margin:0;">Consectetur dolore commodo voluptate est laborum ex nulla. Amet nisi quis minim dolor voluptate est nisi anim
                elit duis enim. Sint veniam tempor occaecat irure nostrud eiusmod. Fugiat nostrud laborum pariatur dolor
                tempor in in nostrud reprehenderit minim culpa incididunt.</p>
            <p>Consectetur dolore commodo voluptate est laborum ex nulla. Amet nisi quis minim dolor voluptate est nisi anim
                elit duis enim. Sint veniam tempor occaecat irure nostrud eiusmod. Fugiat nostrud laborum pariatur dolor
                tempor in in nostrud reprehenderit minim culpa incididunt.</p>
        </m-edit-window>
    </div>

    <p class="m-u--margin-bottom">
        long text demo
    </p>
    <div>
        <m-edit-window title="Titre">
            <m-button slot="trigger">Ouvrir</m-button>
            <h2 slot="header" style="margin:0;">Titre</h2>
            <p style="margin:0;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum magni perspiciatis, facilis optio enim maiores animi et odit recusandae est suscipit culpa nostrum, iusto iste, saepe ipsa delectus corporis aliquam?
            Esse aspernatur asperiores atque. Fuga error esse corrupti iure at, mollitia recusandae facilis numquam itaque eaque, quia possimus nostrum repellat, nulla quos! Expedita explicabo enim sequi laudantium, similique mollitia magnam.
            Beatae magnam esse deserunt, perspiciatis nulla sed consequuntur veniam molestiae modi voluptatum deleniti provident accusamus nihil, nam culpa id iure nostrum praesentium laudantium consequatur! Alias maxime soluta deserunt saepe sint.
            Voluptatem, labore laborum. Cumque minus veniam, explicabo consectetur ut quasi. Eligendi dolorum, natus optio maiores reiciendis placeat alias explicabo, qui voluptates consequatur facilis consequuntur. Eveniet inventore sapiente ratione non in?
            Nemo eum commodi, reprehenderit labore sed cum nesciunt perspiciatis quibusdam laboriosam eius ex cumque maiores expedita ullam exercitationem quaerat quas nisi eligendi repellat sapiente sunt eveniet sint doloribus! Ut, quae!
            Doloribus, est? Sed atque velit blanditiis assumenda architecto iure reprehenderit explicabo, dignissimos, saepe quaerat maxime optio odio asperiores eius nobis totam accusantium nisi quia! Illo quas cupiditate quam accusamus eum?
            Sapiente eius consequuntur distinctio omnis doloribus, earum eum nostrum maiores, tenetur vitae officia, fuga ipsa delectus? Ad odio, incidunt voluptates ratione aut beatae placeat, dolorem ipsam laboriosam voluptas totam. Unde.
            Deserunt ex eaque repudiandae accusamus similique qui enim, obcaecati aliquid quo voluptatum voluptatibus aspernatur. Suscipit illum eum placeat, atque quos, quibusdam reprehenderit officiis culpa harum fugiat quis deleniti, vero consectetur?
            Commodi consequatur delectus non odio iste mollitia modi libero illum, sint sunt omnis magnam fugit consectetur ipsa necessitatibus id quasi voluptas molestiae quia? Nihil obcaecati nostrum voluptatibus debitis accusamus impedit!
            Dolor quod soluta ratione, quis, dolores amet eaque minus nobis laboriosam commodi repellendus eligendi possimus tenetur tempore velit voluptas consequatur itaque nam optio officia eveniet dolore. Eveniet quam neque esse?
            Repellat optio deserunt excepturi, assumenda distinctio iste alias molestiae dignissimos laboriosam obcaecati aliquid in totam tempore quia, officiis porro doloribus ut nemo minus autem ratione? Iure, itaque at! Consequuntur, asperiores.
            Recusandae aperiam corporis in, laboriosam ab sed eos quaerat fugit exercitationem voluptatibus mollitia, accusamus modi magnam saepe dolor! Reiciendis debitis quod tempora labore nobis architecto, iure officia excepturi commodi perspiciatis?
            Voluptas ipsa voluptates perferendis minus nulla nesciunt, neque est earum doloribus praesentium beatae impedit eaque facilis ipsum modi nam deleniti, quia suscipit alias veniam tempora repellat. Consequatur sequi maiores enim.
            Voluptatibus vitae, maiores distinctio cum odio consequuntur nam explicabo, laboriosam nobis ipsa magni. Explicabo, pariatur quibusdam? Ex commodi cum voluptates numquam unde quas magni doloremque temporibus. Magnam vitae ratione eum?
            Consequatur voluptates labore adipisci error tenetur recusandae, commodi cupiditate numquam deleniti quibusdam facilis sint modi repudiandae perferendis! Nesciunt explicabo placeat distinctio harum facilis commodi voluptatum a excepturi incidunt natus! Explicabo.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates natus impedit consectetur facilis, totam laboriosam temporibus quo maxime esse, dignissimos id sequi? Dolor molestiae aperiam, cumque unde tempora nam corporis.
            Provident aspernatur dicta quod repellat at, ipsum dolor aliquam, qui architecto nam tenetur? Aspernatur alias quia quo cum reiciendis. Aliquid, sunt natus! Vero repudiandae laboriosam officiis illo voluptatum ad consectetur?
            Accusamus aut laudantium consequuntur expedita numquam, iste cumque porro esse animi deserunt laborum vero unde nulla? Quibusdam, impedit illo tempore, error explicabo labore voluptatibus dolores delectus officia voluptatum dolore quaerat?
            Iure maxime impedit recusandae perspiciatis atque sunt beatae laudantium non enim mollitia amet excepturi nihil, optio soluta consequuntur voluptate, eos harum perferendis rerum! Necessitatibus delectus autem consequuntur temporibus voluptatum possimus.
            Quaerat velit atque obcaecati similique omnis totam optio deserunt minus, excepturi rem sunt eveniet in voluptas. Saepe optio maiores est nemo laudantium. Repellat dolore quas commodi minima animi dignissimos doloremque.
            Molestias accusantium dolorum autem odio cum architecto, velit at qui nobis in iste nam cupiditate eos nesciunt consequuntur, quas unde obcaecati alias quia animi. Rem sed deserunt illo magni distinctio!
            Labore quo sunt eius in saepe temporibus nisi aperiam voluptatum quis, iste alias non corrupti, iure, explicabo placeat molestiae velit autem officiis. Blanditiis vel, voluptate consequuntur sapiente harum nobis veniam!
            Doloribus pariatur quis aut? Unde, non pariatur. Debitis quas accusantium molestiae magni nemo quibusdam iure blanditiis doloremque voluptatibus ipsa repudiandae quo doloribus, reiciendis, ipsum explicabo repellat rerum. Nam, mollitia praesentium!
            Obcaecati assumenda architecto magni error, accusamus accusantium sunt pariatur provident quia repellendus suscipit atque officia. Nobis voluptate, itaque nulla laudantium consectetur aliquid illum dignissimos aut, sint facere consequatur laborum possimus!
            Assumenda earum temporibus quidem eius vel eaque harum possimus quo blanditiis obcaecati mollitia minus, ipsa iusto modi soluta nulla maiores autem eum non. Quis provident culpa sed, reprehenderit qui laborum.
            Quam, ipsa impedit facere consequatur iusto labore. Nisi, porro. Voluptatem, eos qui saepe aperiam cumque recusandae corporis commodi magnam atque iure nesciunt pariatur fuga quis? Eius saepe provident ab deserunt.
            Exercitationem aut non tempora excepturi vel assumenda vero nobis dolore, maiores recusandae ad nam rerum nisi voluptates veniam quis ut fugiat autem cum? Facilis nihil optio dolore distinctio tenetur autem!
            Aliquid, neque. Odit officiis ipsum dignissimos id, inventore cupiditate harum nostrum numquam incidunt nihil, quam nulla quis officia facilis dolorem nisi. Ducimus, aperiam quibusdam dolore nulla ipsam earum nostrum velit!
            Voluptatibus esse facilis ratione id fugit itaque facere voluptate odit, rerum quidem voluptas eligendi, blanditiis unde voluptates commodi ad dolor dicta quas hic. Incidunt modi accusamus tempore esse, est qui.
            Veniam ipsum qui, in repellendus quis dicta dolore ratione nemo fuga, laborum maiores quidem officiis iusto distinctio, cumque facere adipisci accusamus numquam! Porro eos veniam temporibus nisi. Error, quas ab!</p>
        </m-edit-window>
    </div>
</div>
