@import '../../styles/abstracts/variables';

.m-date-fields {
    display: inline-block;
}

.m-spinner {
    display: inline-flex;
}

.m-date-fields_years {
    margin-right: $m-margin--l;
}

.m-date-fields_months {
    margin-right: $m-margin--l;
}
