@import '../../styles/abstracts/variables';
$m-datepicker--item-dimension: $m-touch-size !default;

.m-date-fields {
    display: inline-block;
}

.m-spinner {
    display: inline-flex;
}

// .m-date-fields_years {

// }

// .m-date-fields_months {

// }

// .m-date-fields_days {

// }
