<div class="m-popup" :id="id" :style="{ width: width }">
    <m-popper :open="propOpen"
              @open="togglePopup(true)"
              @close="togglePopup(false)"
              :disabled="disabled"
              :id="id"
              :classNamePortalTarget="classNamePortalTarget"
              :placement="placement"
              :focus-management="focusManagement"
              :open-on-click="openOnClick"
              :open-on-Over="openOnOver"
              :before-enter="beforeEnter"
              :enter="enter"
              :after-enter="afterEnter"
              :enter-cancelled="enterCancelled"
              :before-leave="beforeLeave"
              :leave="leave"
              :after-leave="afterLeave"
              :leave-cancelled="leaveCancelled"
              v-if="!isSmall || desktopOnly"
              :style="{ width: width }">

        <slot></slot>
        <div slot="body" class="m-popup__body" :class="{ 'm--has-shadow': shadow }" v-if="hasHeaderSlot || hasBodySlot || hasFooterSlot">
            <slot name="header" v-if="hasHeaderSlot"></slot>
            <slot name="body" v-if="hasBodySlot"></slot>
            <slot name="footer" v-if="hasFooterSlot"></slot>
        </div>
    </m-popper>
    <m-sidebar :open="propOpen" @open="togglePopup(true)" @close="togglePopup(false)" :disabled="disabled" :id="id" :classNamePortalTarget="classNamePortalTarget"
        :padding="padding" :padding-header="paddingHeader" :padding-body="paddingBody" :padding-footer="paddingFooter" v-if="isSmall && !desktopOnly" :style="{ width: width }">
        <slot></slot>
        <div slot="header" class="m-popup__header" v-if="hasHeaderSlot">
            <slot name="header"></slot>
        </div>
        <div slot="body" class="m-popup__body" v-if="hasBodySlot">
            <slot name="body"></slot>
        </div>
        <div slot="footer" class="m-popup__footer" v-if="hasFooterSlot">
            <slot name="footer"></slot>
        </div>
    </m-sidebar>
</div>
