<div class="m-popup" aria-hidden="true">
    <m-popper :open.sync="propOpen"
              @open="onOpen()"
              @close="onClose()"
              :disabled="disabled"
              :id="id"
              :placement="placement"
              :focus-management="focusManagement"
              :open-trigger="propOpenTrigger"
              :trigger="propTrigger"
              :before-enter="beforeEnter"
              :enter="enter"
              :after-enter="afterEnter"
              :enter-cancelled="enterCancelled"
              :before-leave="beforeLeave"
              :leave="leave"
              :after-leave="afterLeave"
              :leave-cancelled="leaveCancelled"
              :shadow="shadow"
              :preload="preload"
              v-if="!isMqMaxS">
        <div slot="trigger" v-if="hasTriggerSlot">
            <slot name="trigger"></slot>
        </div>
        <div class="m-popup__body"
             :class="{ 'm--has-padding': padding,
                       'm--has--background': background }"
             :style="{ width: width }">
            <slot name="header"></slot>
            <slot></slot>
            <slot name="footer"></slot>
        </div>
    </m-popper>
    <m-sidebar :open.sync="propOpen"
               @open="onOpen()"
               @close="onClose()"
               :close-on-backdrop="closeOnBackdrop"
               :disabled="disabled"
               :focus-management="focusManagement"
               :id="id"
               :padding="padding"
               :padding-header="paddingHeader"
               :padding-body="paddingBody"
               :padding-footer="paddingFooter"
               :open-trigger="propOpenTrigger"
               :trigger="propTrigger"
               :class-name="className"
               :preload="preload"
               v-if="isMqMaxS">
        <div slot="trigger" v-if="hasTriggerSlot">
            <slot name="trigger"></slot>
        </div>
        <div class="m-popup__body" :class="{ 'm--no-padding': !padding }">
            <div slot="header" class="m-popup__header" v-if="hasHeaderSlot">
                <slot name="header"></slot>
            </div>
            <div class="m-popup__content" v-if="hasDefaultSlot">
                <slot></slot>
            </div>
            <div slot="footer" class="m-popup__footer" v-if="hasFooterSlot">
                <slot name="footer"></slot>
            </div>
        </div>
    </m-sidebar>
</div>
