<div class="m-popup" :class="{ 'm--is-inline': hasTriggerSlot }">
    <m-popper :open.sync="propOpen"
              @open="onOpen()"
              @close="onClose()"
              :disabled="disabled"
              :id="id"
              ref="popper"
              :placement="placement"
              :focus-management="focusManagement"
              :open-trigger="propOpenTrigger"
              :trigger="propTrigger"
              :before-enter="beforeEnter"
              :enter="enter"
              :after-enter="afterEnter"
              :enter-cancelled="enterCancelled"
              :before-leave="beforeLeave"
              :leave="leave"
              :after-leave="afterLeave"
              :leave-cancelled="leaveCancelled"
              :shadow="shadow"
              :padding="padding"
              :padding-header="paddingHeader"
              :padding-body="paddingBody"
              :padding-footer="paddingFooter"
              :preload="preload"
              :width="width"
              :background="background"
              v-if="!isMqMaxS">
        <div slot="trigger"
             v-if="hasTriggerSlot">
            <slot name="trigger"></slot>
        </div>
        <slot name="header" slot="header"></slot>
        <slot></slot>
        <slot name="footer" slot="footer" ></slot>
    </m-popper>
    <m-sidebar :open.sync="propOpen"
               @open="onOpen()"
               @close="onClose()"
               :close-on-backdrop="closeOnBackdrop"
               :disabled="disabled"
               :focus-management="focusManagement"
               :id="id"
               :padding="padding"
               :padding-header="paddingHeader"
               :padding-body="paddingBody"
               :padding-footer="paddingFooter"
               :open-trigger="propOpenTrigger"
               :trigger="propTrigger"
               :class-name="className"
               :preload="preload"
               v-if="isMqMaxS">
        <div slot="trigger"
             v-if="hasTriggerSlot">
            <slot name="trigger"></slot>
        </div>
        <slot name="header" slot="header"></slot>
        <slot></slot>
        <slot name="footer" slot="footer" ></slot>
    </m-sidebar>
</div>
