@font-face {
    font-family: "SourceSansPro";
    font-weight: 500;
    font-style: normal;
    src: url("https://contenu.monportail.ulaval.ca/mpo/modules/sourcesanspro/1.0.51/SourceSansPro-Regular/SourceSansPro-Semibold.otf.woff");
}

@font-face {
    font-family: "SourceSansPro";
    font-weight: 500;
    font-style: italic;
    src: url("https://contenu.monportail.ulaval.ca/mpo/modules/sourcesanspro/1.0.51/SourceSansPro-Regular/SourceSansPro-SemiboldIt.otf.woff");
}

@font-face {
    font-family: "SourceSansPro";
    font-weight: 400;
    font-style: normal;
    src: url("https://contenu.monportail.ulaval.ca/mpo/modules/sourcesanspro/1.0.51/SourceSansPro-Regular/SourceSansPro-Regular.otf.woff");
}

@font-face {
    font-family: "SourceSansPro";
    font-weight: 400;
    font-style: italic;
    src: url("https://contenu.monportail.ulaval.ca/mpo/modules/sourcesanspro/1.0.51/SourceSansPro-Regular/SourceSansPro-It.otf.woff");
}

@font-face {
    font-family: "SourceSansPro";
    font-weight: 300;
    font-style: normal;
    src: url("https://contenu.monportail.ulaval.ca/mpo/modules/sourcesanspro/1.0.51/SourceSansPro-Regular/SourceSansPro-Light.otf.woff");
}

@font-face {
    font-family: "SourceSansPro";
    font-weight: 300;
    font-style: italic;
    src: url("https://contenu.monportail.ulaval.ca/mpo/modules/sourcesanspro/1.0.51/SourceSansPro-Regular/SourceSansPro-LightIt.otf.woff");
}

@font-face {
    font-family: "SourceSansPro";
    font-weight: 200;
    font-style: normal;
    src: url("https://contenu.monportail.ulaval.ca/mpo/modules/sourcesanspro/1.0.51/SourceSansPro-Regular/SourceSansPro-ExtraLight.otf.woff");
}

@font-face {
    font-family: "SourceSansPro";
    font-weight: 200;
    font-style: italic;
    src: url("https://contenu.monportail.ulaval.ca/mpo/modules/sourcesanspro/1.0.51/SourceSansPro-Regular/SourceSansPro-ExtraLightIt.otf.woff");
}

*,
*::before,
*::after {
    box-sizing: inherit;
    outline-color: #1aadff;
}

html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
}

body {
    font-family: "SourceSansPro", "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 1.3;
    min-width: 320px;
}

::selection {
    background: #000;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
.m-h1,
.m-h2,
.m-h3,
.m-h4,
.m-h5 {
    font-weight: 400;
    line-height: 1;
}

h4,
h5,
h6,
.m-h4,
.m-h5,
.m-h6 {
    margin: 24px 0 0;
}

h1,
.m-h1 {
    font-size: 32px;
    margin: 0;
}

h2,
.m-h2 {
    font-size: 28px;
    margin: 32px 0 0;
}

h3,
.m-h3 {
    font-size: 24px;
    margin: 32px 0 0;
}

h4,
.m-h4 {
    font-size: 20px;
}

h5,
.m-h5 {
    font-size: 18px;
}

h6,
.m-h6 {
    font-weight: 300;
    font-size: 18px;
    line-height: 1;
}

p,
.m-p {
    margin: 12px 0;
}

b,
strong,
.m-font-weight-bold {
    font-weight: 400;
}

.m-font-weight-regular {
    font-weight: 300;
}

.m-font-weight-light {
    font-weight: 200;
}

.m-font-style-normal {
    font-style: normal;
}

i,
em,
.m-font-style-italic {
    font-style: italic;
}

small {
    font-size: 14px;
}

a {
    color: #09f;
}

.m-margin {
    margin: 12px;
}

.m-margin-top {
    margin-top: 12px;
}

.m-margin-top-large {
    margin-top: 24px;
}

.m-margin-top-small {
    margin-top: 6px;
}

.m-margin-right {
    margin-right: 12px;
}

.m-margin-right-large {
    margin-right: 24px;
}

.m-margin-right-small {
    margin-right: 6px;
}

.m-margin-bottom {
    margin-bottom: 12px;
}

.m-margin-bottom-large {
    margin-bottom: 24px;
}

.m-margin-bottom-small {
    margin-bottom: 6px;
}

.m-margin-left {
    margin-left: 12px;
}

.m-margin-left-large {
    margin-left: 24px;
}

.m-margin-left-small {
    margin-left: 6px;
}

.m-margin-top-bottom {
    margin-top: 12px;
    margin-bottom: 12px;
}

.m-margin-top-bottom-large {
    margin-top: 24px;
    margin-bottom: 24px;
}

.m-margin-top-bottom-small {
    margin-top: 6px;
    margin-bottom: 6px;
}

.m-margin-right-left {
    margin-right: 12px;
    margin-left: 12px;
}

.m-margin-right-left-large {
    margin-right: 24px;
    margin-left: 24px;
}

.m-margin-right-left-small {
    margin-right: 6px;
    margin-left: 6px;
}

.m-margin-large {
    margin: 24px;
}

.m-margin-samll {
    margin: 6px;
}

.m-padding {
    padding: 16px;
}

.m-padding-top {
    padding-top: 16px;
}

.m-padding-top-large {
    padding-top: 32px;
}

.m-padding-top-small {
    padding-top: 8px;
}

.m-padding-right {
    padding-right: 16px;
}

.m-padding-right-large {
    padding-right: 32px;
}

.m-padding-right-small {
    padding-right: 8px;
}

.m-padding-bottom {
    padding-bottom: 16px;
}

.m-padding-bottom-large {
    padding-bottom: 32px;
}

.m-padding-bottom-small {
    padding-bottom: 8px;
}

.m-padding-left {
    padding-left: 16px;
}

.m-padding-left-large {
    padding-left: 32px;
}

.m-padding-left-small {
    padding-left: 8px;
}

.m-padding-top-bottom {
    padding-top: 16px;
    padding-bottom: 16px;
}

.m-padding-top-bottom-large {
    padding-top: 32px;
    padding-bottom: 32px;
}

.m-padding-top-bottom-small {
    padding-top: 8px;
    padding-bottom: 8px;
}

.m-padding-right-left {
    padding-right: 16px;
    padding-left: 16px;
}

.m-padding-right-left-large {
    padding-right: 32px;
    padding-left: 32px;
}

.m-padding-right-left-small {
    padding-right: 8px;
    padding-left: 8px;
}

.m-padding-large {
    padding: 32px;
}

.m-padding-samll {
    padding: 8px;
}

.m-without-margin {
    margin: 0;
}

.m-without-margin-top {
    margin-top: 0;
}

.m-without-margin-right {
    margin-right: 0;
}

.m-without-margin-bottom {
    margin-bottom: 0;
}

.m-without-margin-left {
    margin-left: 0;
}

.m-without-margin-top-bottom {
    margin-top: 0;
    margin-bottom: 0;
}

.m-without-margin-right-left {
    margin-right: 0;
    margin-left: 0;
}

.m-without-padding {
    padding: 0;
}

.m-without-padding-top {
    padding-top: 0;
}

.m-without-padding-right {
    padding-right: 0;
}

.m-without-padding-bottom {
    padding-bottom: 0;
}

.m-without-padding-left {
    padding-left: 0;
}

.m-without-padding-top-bottom {
    padding-top: 0;
    padding-bottom: 0;
}

.m-without-padding-right-left {
    padding-right: 0;
    padding-left: 0;
}

.m-list-bullet {
    margin: 12px 0;
    padding: 0 0 0 32px;
}

.m-list-bullet > :not(ul):not(li) {
    font-weight: 400;
    margin-bottom: 0;
}

.m-list-bullet ul,
.m-list-bullet__list {
    margin: 0;
    padding: 0 0 0 32px;
}

.m-list-bullet:not(ul) {
    margin: 12px 0;
}

.m-list-bullet li,
.m-list-bullet__elem {
    position: relative;
    list-style: none;
    margin: 8px 0;
}

.m-list-bullet li::before,
.m-list-bullet__elem::before {
    position: absolute;
    top: 8px;
    left: -12px;
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #c4c4c4;
}
