@import 'abstracts/variables';

.m-button-chip {
    position: relative;
    display: inline-flex;

    &:hover {
        cursor: pointer;

        .m-button-chip__icon {
            background: $m-color--interactive-light;
            border-color: $m-color--interactive-light;
        }
    }

    &.m--is-active,
    &:active {
        .m-button-chip__icon {
            color: $m-color--white;
            background: $m-color--interactive-darker;
            border-color: $m-color--interactive-darker;
        }
    }

    &__icon {
        @include m-button();
        @include m-button--primary();

        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        width: 24px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        bottom: -5px;
        right: -11px;

        .m--is-active & {
            span {
                transform: rotate(135deg);
                margin-bottom: 0;
            }
        }

        span {
            display: block;
            // margin-bottom: -2px;
            transition: transform 0.5s ease, margin 0.5s ease;
        }
    }
}
