@import 'abstracts/variables';

.m-content-list-item {
    list-style: none;
    border-bottom: 1px solid $m-color--grey-lighter;
    padding: $m-padding;
    position: relative;
    justify-content: space-between;
    background-color: $m-color--white;

    &,
    &__button {
        display: flex;
        align-items: flex-end;
    }

    &__button {
        color: $m-color--grey-light;
        transition: color 0.3s ease;
        width: $m-touch-size;
        text-align: right;
        display: flex;
        align-self: center;
        justify-content: flex-end;
    }

    // &:hover {
    //     .m-content-list-item__button {
    //         color: $m-color--grey-light;
    //     }
    // }
}

.delete-anim-leave-active {
    transition: opacity 0.3s ease, max-height 0.5s ease, padding 0.5s ease;
}

.delete-anim-leave {
    opacity: 1;
    max-height: 100px;
}

.delete-anim-leave-to {
    opacity: 0;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}
