@import 'abstracts/variables';

.m-content-list-item {
    position: relative;
    list-style: none;

    &:not(:last-child) {
        .m-content-list-item__article {
            border-bottom: 1px solid $m-color--grey-lighter;
        }
    }

    &__article {
        padding: $m-padding;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $m-color--white;

        @media (max-width: $m-bp--max--s) {
            padding-left: 0;
            padding-right: 0;
        }

        &__body {
            > :first-child {
                &,
                > :first-child {
                    margin-top: 0;
                }
            }
        }

        &__button {
            &.m-button.m-button {
                min-width: auto;
                min-height: auto;
                width: $m-font-size;
                height: $m-font-size;
            }
        }
    }

    &.m--is-eq-max-xs {
        .m-content-list-item__article {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
