<transition :appear="true" :css="false" @before-enter="onBeforeEnter()" @enter="onEnter()" @leave="onLeave()">
    <div class="m-spinner">
        <portal :target-el="'#' + spinnerId" v-if="visible">
            <div class="m-spinner__wrap" :class="{'m--is-processing': modal,
                 'm--is-dark': skin == 'dark',
                 'm--is-light': skin == 'light',
                 'm--is-lighter': skin == 'lighter'}">
                <div aria-hidden="true" class="m-spinner__icon" :class="{ 'm--is-small' : size == 'small'}"></div>
                <h2 class="m-spinner__title" v-if="hasTitle">{{ title }}</h2>
                <p class="m-spinner__description" v-if="hasDescription">{{ description }}</p>
            </div>
        </portal>
        <div :id="spinnerId" v-if="!modal"></div>
    </div>
</transition>
