<div class="m-dropdown" ref="mDropdown" :class="{ 'm--is-disabled': disabled }">
    <ul class="m-dropdown__list m--is-hidden" aria-hidden="true">
        <li class="m-dropdown__list__element">
            <a href="#" class="m-dropdown__list__element-text" ref="mDropdownCalculate"></a>
        </li>
    </ul>
    <m-popper :options="{ placement: 'bottom' }"
              :close-on-content-click="true"
              :close-on-reference-click="false"
              :disabled="isDisabled"
              :open="propOpen"
              dialog-mode="panel"
              :enter="animEnter"
              :after-enter="animAfterEnter"
              :leave="animLeave"
              @show="toggleDropdown(true)"
              @hide="toggleDropdown(false)"
              :padding-header="false"
              :padding-body="false">
        <template slot="header" v-if="hasLabel && isScreenMaxS">
            <h2 class="m-dropdown__header__label">{{ label }}</h2>
            <div class="m-dropdown__header__research" v-if="editable">
                <input type="text"
                       class="m-dropdown__header__research-input"
                       :placeholder="researchText"
                       v-model="textElement"
                       ref="researchInput">
                <m-button mode="icon" icon-name="default" @click="focusOnResearchInput">
                    <m-i18n k="m-dropdown:search"></m-i18n>
                </m-button>
            </div>
        </template>
        <ul class="m-dropdown__list"
            ref="mDropdownElements"
            slot="body">
            <li v-for="(element, index) in elementsSortedFiltered"
                v-if="elementsCount > 0 && mode=='select'"
                class="m-dropdown__list__element"
                :class="{ 'is-selected': element === propSelectedElement }"
                :key="index"
                @click="onSelectElement($event, element)">
                <a href="#"
                   class="m-dropdown__list__element-text"
                   :data-index="index"
                   @click.prevent
                   @keyup="keyupItem($event, index)">{{ getElementListText(element) }}</a>
            </li>
            <slot name="body" v-if="elementsCount > 0 && mode=='dropdown'"></slot>
            <li v-if="elementsCount <= 0"
                class="m-dropdown__list__element">
                <span class="m-dropdown__list__element-text">
                    <m-i18n k="m-dropdown:no-result"></m-i18n>
                </span>
            </li>
        </ul>
        <template slot="footer" v-if="hasFooterSlot">
            <slot name="footer"></slot>
        </template>
        <m-text-field ref="mDropdownValue"
                      :label="label"
                      :value="textElement"
                      :state="propState"
                      :editable="editable"
                      :force-focus="propOpen"
                      :default-text="defaultText"
                      @valueChanged="textElement = $event"
                      @keyup="keyupReference">
        </m-text-field>
    </m-popper>
    <m-validation-message
        :state="propState"
        :error="propErrorMessage"
        :valid="propValidMessage"
        :helper="helperMessage"></m-validation-message>
</div>
