@import 'abstracts/variables';
$m-status-list-icon-size: 22px;
$m-status-list-line-width: 2px;

.m-status-list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    &::before {
        content: "";
        display: block;
        background-color: #d6d6d6;
        width: $m-status-list-line-width;
        position: absolute;
        top: 3px;
        bottom: 3px;
        left: ($m-status-list-icon-size / 2) - ($m-status-list-line-width / 2);
        z-index: 1;
    }

    &__list {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;

        + .m-status-list__list {
            margin-top: $m-margin;
        }

        &.m--is-completed {
            .m-icon {
                color: $m-color--valid;
            }
        }

        &.m--is-error {
            .m-icon {
                color: $m-color--error;
            }
        }

        &.m--is-pending {
            .m-icon {
                color: $m-color--yellow;
            }
        }
    }

    .m-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $m-status-list-icon-size;
        margin-right: 8px;
    }
}
