@import 'abstracts/variables';
$m-status-list-icon-size: 22px;

.m-status-list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    &::before {
        content: "";
        display: block;
        background-color: #d6d6d6;
        width: 2px;
        position: absolute;
        top: 3px;
        bottom: 3px;
        left: $m-status-list-icon-size / 2;
        z-index: 1;
    }

    li {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
    }

    li + li {
        margin-top: $m-margin;
    }

    .m-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $m-status-list-icon-size;
        width: $m-status-list-icon-size;
        height: $m-status-list-icon-size;
        margin-right: 8px;
    }
}
