<div>
    <h3>Icônes de fichiers</h3>
    <h5>image</h5>
    <m-icon-file extension=".bmp"></m-icon-file>
    <m-icon-file extension=".eps"></m-icon-file>
    <m-icon-file extension=".gif"></m-icon-file>
    <m-icon-file extension=".jpeg"></m-icon-file>
    <m-icon-file extension=".jpg"></m-icon-file>
    <m-icon-file extension=".png"></m-icon-file>
    <m-icon-file extension=".tif"></m-icon-file>
    <m-icon-file extension=".tiff"></m-icon-file>
    <m-icon-file extension=".psd"></m-icon-file>
    <m-icon-file extension=".ai"></m-icon-file>
    <m-icon-file extension=".indd"></m-icon-file>

    <h5>txt</h5>
    <m-icon-file extension=".txt"></m-icon-file>
    <m-icon-file extension=".csv"></m-icon-file>

    <h5>doc</h5>
    <m-icon-file extension=".doc"></m-icon-file>
    <m-icon-file extension=".docx"></m-icon-file>

    <h5>vsd</h5>
    <m-icon-file extension=".vsd"></m-icon-file>
    <m-icon-file extension=".vsdx"></m-icon-file>

    <h5>ppt</h5>
    <m-icon-file extension=".ppt"></m-icon-file>
    <m-icon-file extension=".pptx"></m-icon-file>
    <m-icon-file extension=".pps"></m-icon-file>
    <m-icon-file extension=".ppsx"></m-icon-file>

    <h5>xls</h5>
    <m-icon-file extension=".xls"></m-icon-file>
    <m-icon-file extension=".xlsx"></m-icon-file>
    <m-icon-file extension=".xlt"></m-icon-file>
    <m-icon-file extension=".xlv"></m-icon-file>
    <m-icon-file extension=".xlw"></m-icon-file>

    <h5>accdb</h5>
    <m-icon-file extension=".mdb"></m-icon-file>
    <m-icon-file extension=".accdb"></m-icon-file>

    <h5>pdf</h5>
    <m-icon-file extension=".pdf"></m-icon-file>

    <h5>Realmedia</h5>
    <m-icon-file extension=".rm"></m-icon-file>

    <h5>Wma</h5>
    <m-icon-file extension=".wma"></m-icon-file>
    <m-icon-file extension=".wmv"></m-icon-file>
    <m-icon-file extension=".asf"></m-icon-file>

    <h5>Mov</h5>
    <m-icon-file extension=".mov"></m-icon-file>

    <h5>swf</h5>
    <m-icon-file extension=".swf"></m-icon-file>
    <m-icon-file extension=".flv"></m-icon-file>
    <m-icon-file extension=".fla"></m-icon-file>

    <h5>video</h5>
    <m-icon-file extension=".mpeg"></m-icon-file>
    <m-icon-file extension=".mp4"></m-icon-file>
    <m-icon-file extension=".avi"></m-icon-file>

    <h5>audio</h5>
    <m-icon-file extension=".mp3"></m-icon-file>
    <m-icon-file extension=".ogg"></m-icon-file>
    <m-icon-file extension=".wav"></m-icon-file>
    <m-icon-file extension=".aiff"></m-icon-file>
    <m-icon-file extension=".aac"></m-icon-file>
    <m-icon-file extension=".ra"></m-icon-file>

    <h5>zip</h5>
    <m-icon-file extension=".zip"></m-icon-file>
    <m-icon-file extension=".rar"></m-icon-file>
    <m-icon-file extension=".tar"></m-icon-file>
    <m-icon-file extension=".gtar"></m-icon-file>
    <m-icon-file extension=".gz"></m-icon-file>

    <h5>openoffice</h5>
    <m-icon-file extension=".sxw"></m-icon-file>
    <m-icon-file extension=".sxi"></m-icon-file>
    <m-icon-file extension=".sxd"></m-icon-file>
    <m-icon-file extension=".sxc"></m-icon-file>
    <m-icon-file extension=".sxm"></m-icon-file>
    <m-icon-file extension=".sxg"></m-icon-file>

    <h5>odt</h5>
    <m-icon-file extension=".odt"></m-icon-file>

    <h5>odp</h5>
    <m-icon-file extension=".odp"></m-icon-file>

    <h5>odg</h5>
    <m-icon-file extension=".odg"></m-icon-file>

    <h5>ods</h5>
    <m-icon-file extension=".ods"></m-icon-file>

    <h5>odf</h5>
    <m-icon-file extension=".odf"></m-icon-file>

    <h5>odb</h5>
    <m-icon-file extension=".odb"></m-icon-file>

    <h5>dwg</h5>
    <m-icon-file extension=".dwg"></m-icon-file>
    <m-icon-file extension=".dao"></m-icon-file>
    <m-icon-file extension=".cao"></m-icon-file>
    <m-icon-file extension=".dxf"></m-icon-file>
    <m-icon-file extension=".dwf"></m-icon-file>

    <h5>markup</h5>
    <m-icon-file extension=".xml"></m-icon-file>
    <m-icon-file extension=".html"></m-icon-file>
    <m-icon-file extension=".htm"></m-icon-file>

    <h5>code</h5>
    <m-icon-file extension=".css"></m-icon-file>
    <m-icon-file extension=".scss"></m-icon-file>
    <m-icon-file extension=".json"></m-icon-file>
    <m-icon-file extension=".js"></m-icon-file>
    <m-icon-file extension=".ts"></m-icon-file>

    <h5>Defaut</h5>
    Toutes les extensions qui ne sont pas dans la liste ci-haut.<br/>
    <m-icon-file extension="xyz"></m-icon-file>

    <h4>Icônes de fichier avec pastille</h4>
    <h5>Completé</h5>
    <br />
    <m-icon-file extension=".bmp" v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".txt" v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".doc" v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".ppt" v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".xls" v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".ods" v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".pdf" v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".mpeg" v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".mp3" v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".zip" v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension="xyz" v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".rm" v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".mov" v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".wma" v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".swf" v-m-badge="{ state: 'completed'}"></m-icon-file>

    <h5>Échoué</h5>
    <br />
    <m-icon-file extension=".bmp" v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".txt" v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".doc" v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".ppt" v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".xls" v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".ods" v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".pdf" v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".mpeg" v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".mp3" v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".zip" v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension="xyz" v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".rm" v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".mov" v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".wma" v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".swf" v-m-badge="{ state: 'error'}"></m-icon-file>

    <h5>Avertissement</h5>
    <br />
    <m-icon-file extension=".bmp" v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".txt" v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".doc" v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".ppt" v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".xls" v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".ods" v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".pdf" v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".mpeg" v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".mp3" v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".zip" v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension="xyz" v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".rm" v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".mov" v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".wma" v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".swf" v-m-badge="{ state: 'warning'}"></m-icon-file>

    <h4>Taille</h4>
    <p>
        <m-icon-file extension="pdf" size="12px"></m-icon-file>
        <m-icon-file extension="pdf" size="24px"></m-icon-file>
        <m-icon-file extension="pdf" size="36px"></m-icon-file>
        <m-icon-file extension="pdf" size="48px"></m-icon-file>
        <m-icon-file extension="pdf" size="60px"></m-icon-file>
    </p>
</div>