<div>

    <h2>image</h2>
    <m-icon-file extension=".bmp"></m-icon-file>
    <m-icon-file extension=".eps"></m-icon-file>
    <m-icon-file extension=".gif"></m-icon-file>
    <m-icon-file extension=".jpeg"></m-icon-file>
    <m-icon-file extension=".jpg"></m-icon-file>
    <m-icon-file extension=".png"></m-icon-file>
    <m-icon-file extension=".tif"></m-icon-file>
    <m-icon-file extension=".tiff"></m-icon-file>
    <m-icon-file extension=".psd"></m-icon-file>
    <m-icon-file extension=".ai"></m-icon-file>
    <m-icon-file extension=".indd"></m-icon-file>

    <hr />

    <h2>txt</h2>
    <m-icon-file extension=".txt"></m-icon-file>
    <m-icon-file extension=".csv"></m-icon-file>

    <hr />

    <h2>doc</h2>
    <m-icon-file extension=".doc"></m-icon-file>
    <m-icon-file extension=".docx"></m-icon-file>

    <hr />

    <h2>vsd</h2>
    <m-icon-file extension=".vsd"></m-icon-file>
    <m-icon-file extension=".vsdx"></m-icon-file>

    <hr />

    <h2>ppt</h2>
    <m-icon-file extension=".ppt"></m-icon-file>
    <m-icon-file extension=".pptx"></m-icon-file>
    <m-icon-file extension=".pps"></m-icon-file>
    <m-icon-file extension=".ppsx"></m-icon-file>

    <hr />

    <h2>xls</h2>
    <m-icon-file extension=".xls"></m-icon-file>
    <m-icon-file extension=".xlsx"></m-icon-file>
    <m-icon-file extension=".xlt"></m-icon-file>
    <m-icon-file extension=".xlv"></m-icon-file>
    <m-icon-file extension=".xlw"></m-icon-file>

    <hr />

    <h2>accdb</h2>
    <m-icon-file extension=".mdb"></m-icon-file>
    <m-icon-file extension=".accdb"></m-icon-file>

    <hr />

    <h2>pdf</h2>
    <m-icon-file extension=".pdf"></m-icon-file>

    <hr />

    <h2>Realmedia</h2>
    <m-icon-file extension=".rm"></m-icon-file>

    <hr />

    <h2>Wma</h2>
    <m-icon-file extension=".wma"></m-icon-file>
    <m-icon-file extension=".wmv"></m-icon-file>
    <m-icon-file extension=".asf"></m-icon-file>

    <hr />

    <h2>Mov</h2>
    <m-icon-file extension=".mov"></m-icon-file>

    <hr />

    <h2>swf</h2>
    <m-icon-file extension=".swf"></m-icon-file>
    <m-icon-file extension=".flv"></m-icon-file>
    <m-icon-file extension=".fla"></m-icon-file>

    <hr />

    <h2>video</h2>
    <m-icon-file extension=".mpeg"></m-icon-file>
    <m-icon-file extension=".mp4"></m-icon-file>
    <m-icon-file extension=".avi"></m-icon-file>

    <hr />

    <h2>audio</h2>
    <m-icon-file extension=".mp3"></m-icon-file>
    <m-icon-file extension=".ogg"></m-icon-file>
    <m-icon-file extension=".wav"></m-icon-file>
    <m-icon-file extension=".aiff"></m-icon-file>
    <m-icon-file extension=".aac"></m-icon-file>
    <m-icon-file extension=".ra"></m-icon-file>

    <hr />

    <h2>zip</h2>
    <m-icon-file extension=".zip"></m-icon-file>
    <m-icon-file extension=".rar"></m-icon-file>
    <m-icon-file extension=".tar"></m-icon-file>
    <m-icon-file extension=".gtar"></m-icon-file>
    <m-icon-file extension=".gz"></m-icon-file>

    <hr />

    <h2>openoffice</h2>
    <m-icon-file extension=".sxw"></m-icon-file>
    <m-icon-file extension=".sxi"></m-icon-file>
    <m-icon-file extension=".sxd"></m-icon-file>
    <m-icon-file extension=".sxc"></m-icon-file>
    <m-icon-file extension=".sxm"></m-icon-file>
    <m-icon-file extension=".sxg"></m-icon-file>

    <hr />

    <h2>odt</h2>
    <m-icon-file extension=".odt"></m-icon-file>

    <hr />

    <h2>odp</h2>
    <m-icon-file extension=".odp"></m-icon-file>

    <hr />

    <h2>odg</h2>
    <m-icon-file extension=".odg"></m-icon-file>

    <hr />

    <h2>ods</h2>
    <m-icon-file extension=".ods"></m-icon-file>

    <hr />

    <h2>odf</h2>
    <m-icon-file extension=".odf"></m-icon-file>

    <hr />

    <h2>odb</h2>
    <m-icon-file extension=".odb"></m-icon-file>

    <hr />

    <h2>dwg</h2>
    <m-icon-file extension=".dwg"></m-icon-file>
    <m-icon-file extension=".dao"></m-icon-file>
    <m-icon-file extension=".cao"></m-icon-file>
    <m-icon-file extension=".dxf"></m-icon-file>
    <m-icon-file extension=".dwf"></m-icon-file>

    <hr />

    <h2>markup</h2>
    <m-icon-file extension=".xml"></m-icon-file>
    <m-icon-file extension=".html"></m-icon-file>
    <m-icon-file extension=".htm"></m-icon-file>

    <hr />

    <h2>code</h2>
    <m-icon-file extension=".css"></m-icon-file>
    <m-icon-file extension=".scss"></m-icon-file>
    <m-icon-file extension=".json"></m-icon-file>
    <m-icon-file extension=".js"></m-icon-file>
    <m-icon-file extension=".ts"></m-icon-file>

    <hr />

    <h2>Default</h2>

    <p>All extensions not listed above</p>

    <m-icon-file extension="xyz"></m-icon-file>

    <hr />

    <h2>Icon with pills</h2>
    <p>Completed</p>
    <br />
    <m-icon-file extension=".bmp"
                 v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".txt"
                 v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".doc"
                 v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".ppt"
                 v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".xls"
                 v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".ods"
                 v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".pdf"
                 v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".mpeg"
                 v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".mp3"
                 v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".zip"
                 v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension="xyz"
                 v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".rm"
                 v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".mov"
                 v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".wma"
                 v-m-badge="{ state: 'completed'}"></m-icon-file>
    <m-icon-file extension=".swf"
                 v-m-badge="{ state: 'completed'}"></m-icon-file>

    <br />

    <p>Fail</p>

    <br />
    <m-icon-file extension=".bmp"
                 v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".txt"
                 v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".doc"
                 v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".ppt"
                 v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".xls"
                 v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".ods"
                 v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".pdf"
                 v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".mpeg"
                 v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".mp3"
                 v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".zip"
                 v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension="xyz"
                 v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".rm"
                 v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".mov"
                 v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".wma"
                 v-m-badge="{ state: 'error'}"></m-icon-file>
    <m-icon-file extension=".swf"
                 v-m-badge="{ state: 'error'}"></m-icon-file>

    <br />

    <h2>Warning</h2>

    <br />

    <m-icon-file extension=".bmp"
                 v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".txt"
                 v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".doc"
                 v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".ppt"
                 v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".xls"
                 v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".ods"
                 v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".pdf"
                 v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".mpeg"
                 v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".mp3"
                 v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".zip"
                 v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension="xyz"
                 v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".rm"
                 v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".mov"
                 v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".wma"
                 v-m-badge="{ state: 'warning'}"></m-icon-file>
    <m-icon-file extension=".swf"
                 v-m-badge="{ state: 'warning'}"></m-icon-file>

    <hr />

    <h4>Sizes</h4>

    <m-icon-file extension="pdf"
                 size="12px"></m-icon-file>
    <m-icon-file extension="pdf"
                 size="24px"></m-icon-file>
    <m-icon-file extension="pdf"
                 size="36px"></m-icon-file>
    <m-icon-file extension="pdf"
                 size="48px"></m-icon-file>
    <m-icon-file extension="pdf"
                 size="60px"></m-icon-file>
</div>
