@import 'commons';
@import '../accordion/accordion-transition';

$m-validation-message--color-error: $m-color--error !default;
$m-validation-message--color-success: $m-color--success !default;
$m-validation-message--color-helper: $m-color--text-light !default;
$m-validation-message--margin: $m-padding--xs !default;

.m-validation-message {
    &__wrap {
        &.m-accordion-enter,
        &.m-accordion-leave-to {
            p {
                opacity: 0;
            }
        }
    }

    p {
        transition: opacity $m-transition-duration ease;
        margin: 0;
        font-size: $m-font-size--s;
    }

    &__error,
    &__valid {
        display: table-row;
        align-items: flex-start;

        ~ .m-validation-message__helper {
            margin-top: 2px; // Magic number
        }

        &__icon {
            font-size: $m-font-size--xs;
            margin-right: $m-padding--xs;
            min-width: $m-font-size--xs;
            display: table-cell;
            position: relative;
            top: 1px; // Magic number
        }
    }

    &__error {
        color: $m-validation-message--color-error;
    }

    &__valid {
        color: $m-validation-message--color-success;
    }

    &__helper {
        color: $m-validation-message--color-helper;
    }

    &__text {
        flex: 1 1 auto;
        display: table-cell;
    }
}
