<div>
    <h2 class="m-u--margin-bottom--s">Test the component</h2>
    Set error-mesage: <input v-model="errorMessage" /><br />
    Set valide-mesage: <input v-model="validMessage" /><br />
    Set helper-mesage: <input v-model="helperMessage" /><br />
    <h3 class="m-u--h6">Test area</h3>
    <div class="m-u--margin-top--s"
         style="padding: 16px; border: 1px solid #ccc;">
        <m-validation-message :error-message="errorMessage"
                              :valid-message="validMessage"
                              :helper-message="helperMessage"></m-validation-message>
    </div>


    <h2>Display a message with italic</h2>
    <m-validation-message class="m-u--margin-top--s"
                          error-message="Error message with <i>italic</i>"></m-validation-message>
    <m-validation-message class="m-u--margin-top--s"
                          valid-message="Valid message with <i>italic</i>"></m-validation-message>
    <m-validation-message class="m-u--margin-top--s"
                          helper-message="Helper message with <i>italic</i>"></m-validation-message>
</div>
