@import 'abstracts/variables';
$m-validation-message--color-error: $m-color--error !default;
$m-validation-message--color-success: $m-color--success !default;
$m-validation-message--color-helper: $m-color--text-light !default;
$m-validation-message--margin: $m-padding--xs !default;

.m-validation-message {
    p {
        margin: 0;
        font-size: $m-font-size--s;
    }

    &__error,
    &__valid {
        display: inline-flex;
        align-items: center;

        ~ .m-validation-message__helper {
            margin-top: 2px;
        }

        &__icon {
            font-size: $m-font-size--xs;
            margin-right: $m-padding--xs;
        }
    }

    &__error {
        color: $m-validation-message--color-error;
    }

    &__valid {
        color: $m-validation-message--color-success;
    }

    &__helper {
        color: $m-validation-message--color-helper;
    }

    &__text {
        flex: 1 1 auto;
    }
}
