<div class="m-repeater">

    <component :is="tag"
               v-if="list.length">
        <template v-for="(item, index) in list">

            <slot :props="getRowProps(item, index)"
                  :listeners="getRowListeners(item, index)"
                  name="row">

                <component :is="'li'"
                           class="m-repeater__row"
                           :key="getItemKey(item, index)">

                    <div class="m-repeater__col">
                        <slot :props="getItemProps(item, index)"
                              name="item"></slot>
                    </div>

                    <m-icon-button v-if="canDelete"
                                   class="m-repeater__delete"
                                   :ref="'deleteBtn' + index"
                                   @click="onDeleteBtnClick(index)"
                                   icon-name="m-svg__delete">{{ deleteBtnLabel }}</m-icon-button>
                </component>
            </slot>
        </template>
    </component>

    <div v-else-if="emptyMessage"
         class="m-repeater__empty-row">
        {{ emptyMessage }}
    </div>

    <!-- TODO: Replace with add component when it becomes available.  -->
    <m-link class="m-repeater__add"
            v-if="canAdd"
            mode="button"
            icon-name="m-svg__add-circle-filled"
            icon-size="24px"
            ref="addBtn"
            @click="onAddBtnClick()">
        {{ addBtnLabel }}
    </m-link>
</div>
