<div>
    <h2>File-upload</h2>

        <div class="m-u--margin-bottom">
            <h5>No extension specified</h5>
            <m-file-upload><m-button>File upload</m-button></m-file-upload>
        </div>

        <div class="m-u--margin-bottom">
            <h5>Allowed extensions only</h5>
            <span>Allowed extensions: jpg, jpeg, png</span>
            <m-file-upload :allowed-extensions="['jpg', 'jpeg', 'png']"><m-button>File upload</m-button></m-file-upload>
        </div>

        <div class="m-u--margin-bottom">
            <h5>Rejected extensions only</h5>
            <span>Rejected extensions: jpg, jpeg, png</span>
            <m-file-upload :rejected-extensions="['jpg', 'jpeg', 'png']"><m-button>File upload</m-button></m-file-upload>
        </div>

        <div class="m-u--margin-bottom">
            <h5>Allowed and rejected extensions</h5>
            <span>Allowed extensions: jpg, jpeg, png, mp4</span>
            <br>
            <span>Rejected extensions: jpg, jpeg</span>
            <m-file-upload :rejected-extensions="['jpg', 'jpeg']" :allowed-extensions="['jpg', 'jpeg', 'png', 'mp4']"><m-button>File upload</m-button></m-file-upload>
        </div>

        <div class="m-u--margin-bottom">
            <h5>Single file upload</h5>
            <m-file-upload :allowed-extensions="['jpg', 'jpeg', 'png']" :max-files="1"><m-button>File upload</m-button></m-file-upload>
        </div>

        <div class="m-u--margin-bottom">
            <h5>Multiple files upload</h5>
            <m-file-upload :allowed-extensions="['jpg', 'jpeg', 'png']" :max-files="5"><m-button>File upload</m-button></m-file-upload>
        </div>

        <div class="m-u--margin-bottom">
            <h5>Replacement file</h5>
            <span>Prop max-files: 1</span>
            <m-file-upload :file-replacement="true" :max-files="1"><m-button>File upload</m-button></m-file-upload>
        </div>

        <div class="m-u--margin-bottom">
            <h5>Replacement file</h5>
            <span>Prop max-files: 10 - should allowed only one</span>
            <m-file-upload :file-replacement="true" :max-files="10"><m-button>File upload</m-button></m-file-upload>
        </div>

        <div class="m-u--margin-bottom">
            <h5>Replacement file</h5>
            <span>Prop max-files: undefined</span>
            <m-file-upload :file-replacement="true"><m-button>File upload</m-button></m-file-upload>
        </div>
</div>
