<div>
    <h2>No context</h2>

    <p class="m-u--margin-bottom">
        <h2>No extension specified</h2>
        <m-file-upload>
            <m-button>File upload</m-button>
        </m-file-upload>
    </p>

    <hr />

    <h2>Allowed extensions only</h2>

    <p>Allowed extensions: jpg, jpeg, png</p>

    <p>
        <m-file-upload :allowed-extensions="['jpg', 'jpeg', 'png']">
            <m-button>File upload</m-button>
        </m-file-upload>
    </p>

    <hr />

    <h2>Rejected extensions only</h2>

    <p>Rejected extensions: jpg, jpeg, png</p>

    <p>
        <m-file-upload :rejected-extensions="['jpg', 'jpeg', 'png']">
            <m-button>File upload</m-button>
        </m-file-upload>
    </p>

    <hr />

    <h2>Allowed and rejected extensions</h2>

    <p>Allowed extensions: jpg, jpeg, png, mp4</p>
    <p>Rejected extensions: jpg, jpeg</p>

    <p>
        <m-file-upload :rejected-extensions="['jpg', 'jpeg']"
                       :allowed-extensions="['jpg', 'jpeg', 'png', 'mp4']">
            <m-button>File upload</m-button>
        </m-file-upload>
    </p>

    <hr />

    <h2>Single file upload</h2>

    <p>
        <m-file-upload :allowed-extensions="['jpg', 'jpeg', 'png']"
                       :max-files="1">
            <m-button>File upload</m-button>
        </m-file-upload>
    </p>

    <hr />

    <h2>Multiple files upload</h2>

    <p>
        <m-file-upload :allowed-extensions="['jpg', 'jpeg', 'png']"
                       :max-files="5">
            <m-button>File upload</m-button>
        </m-file-upload>
    </p>

    <hr />

    <h2>Replacement file</h2>

    <p>Prop max-files: 1</p>

    <p>
        <m-file-upload :file-replacement="true"
                       :max-files="1">
            <m-button>File upload</m-button>
        </m-file-upload>
    </p>

    <hr />

    <h2>Replacement file</h2>

    <p>Prop max-files: 10 - should allowed only one</p>

    <p>
        <m-file-upload :file-replacement="true"
                       :max-files="10">
            <m-button>File upload</m-button>
        </m-file-upload>
    </p>

    <hr />

    <h2>Replacement file</h2>

    <p>Prop max-files: undefined</p>

    <p>
        <m-file-upload :file-replacement="true">
            <m-button>File upload</m-button>
        </m-file-upload>
    </p>
</div>
