@import 'commons';

.m-rich-text {
    word-break: break-word;

    & > :first-child {
        margin-top: 0 !important;
    }

    /deep/ {
        @include m-commons-froala-styles();

        img {
            max-width: 100%;
        }
    }
}
