<div>
    <!-- Sandbox template -->
    <h3>Froala Text Editor</h3>
    <p class="m-u--margin-bottom">
        fonctionne sans options spécifiée
    </p>
    <p>
        <button @click="focus = !focus">Change focus (now: {{ focus }})</button>
        <button @click="placeholder = placeholder + 'a'">Change placeholder (now: {{ placeholder }})</button>
        <br />
        <m-rich-text-edit v-model="model" :label="'test123123'" :max-width="'large'" :placeholder="placeholder" :focus="focus"></m-rich-text-edit>
        <m-rich-text :value="model"></m-rich-text>
    </p>
</div>
