<div class="m-error-message">
    <m-message state="error">
        <m-i18n k="m-error-message:message"></m-i18n>
    </m-message>
    <p><m-i18n k="m-error-message:directions.primary"></m-i18n></p>
    <p><m-i18n k="m-error-message:directions.secondary"></m-i18n></p>
    <m-accordion skin="light" icon-size="small">
        <m-i18n slot="header" k="m-error-message:details"></m-i18n>
        <p><strong><m-i18n k="m-error-message:browser"></m-i18n>: </strong>{{userAgent}}</p>
        <p v-if="!!referenceNumber"><strong><m-i18n k="m-error-message:reference-number"></m-i18n>: </strong>{{referenceNumber}}</p>
        <p>{{i18nDate}}</p>
        <m-panel  class="m-error-message__stacktrace" :padding="false" v-if="propStacktrace">
            <pre>{{error.stack}}</pre>
        </m-panel>
    </m-accordion>
    <m-link mode="link">
        <m-i18n k="m-error-message:help"></m-i18n>
    </m-link>
</div>
