<div>
    <h5>default</h5>
    <div style="border: solid 1px black">
        <m-error-message></m-error-message>
    </div>

    <hr/>

    <h5>with #reference number</h5>
    <m-error-message reference-number="123456489"></m-error-message>

    <hr/>

    <h5>with stack trace</h5>
    <m-error-message reference-number="123456489" :error="e" :stacktrace="true"></m-error-message>

    <h5>unexpected error popup with stack</h5>
    <m-button v-m-popup:errorpopup>pop me an error</m-button>
    <m-dialog ref="errorpopup" :negativeLink="false" ok-label="Fermer">
        <m-error-message :error="e" :referenceNumber="123456879" :stacktrace="true"></m-error-message>
    </m-dialog>
</div>
