<m-popup class="m-option"
         :class="{ 'm--is-disabled': disabled }"
         :open.sync="open"
         :padding="false"
         :placement="placement"
         :disabled="disabled"
         :close-on-backdrop="true"
         :background="false"
         :shadow="false"
         :focus-management="focusManagement"
         @open="onOpen"
         @close="onClose">
    <m-icon-button :id="id"
                   class="m-option__button"
                   aria-haspopup="true"
                   :aria-controls="ariaControls"
                   :aria-expanded="open"
                   slot="trigger"
                   :skin="skin"
                   :title="propTitle"
                   icon-name="m-svg__options"
                   :disabled="disabled"
                   :button-size="size"
                   @click="onClick">
    </m-icon-button>
    <ul :id="ariaControls"
        class="m-option__list"
        :aria-labelledby="id"
        ref="menu">
        <slot></slot>
    </ul>
</m-popup>
