<div>
    <!-- Sandbox template -->
    <h3>Test Title</h3>
    <p class="m-u--margin-bottom">
        Test description
        <!-- if relevant, add link to PR
        </br>From <a href="https://github.com/ulaval/modul-components/pull/000" target="blank">PR description</a>
        -->
    </p>
    <m-option>
        <m-option-item-add @click="doAdd"></m-option-item-add>
        <m-option-item-edit></m-option-item-edit>
        <m-option-item-archive></m-option-item-archive>
        <m-option-item-delete :disabled="true"></m-option-item-delete>
    </m-option>
    <m-option>
        <m-option-item>Test 1</m-option-item>
        <m-option-item>Test 2</m-option-item>
        <m-option-item icon-name="m-svg__clock">Temps</m-option-item>
    </m-option>
    <m-option>
        <m-option-item>Test 1</m-option-item>
        <m-option-item :disabled="true">Test 2</m-option-item>
        <m-option-item>Test 3</m-option-item>
        <m-option-item>Test 4</m-option-item>
        <m-option-item>Test 5</m-option-item>
        <m-option-item>Test 6</m-option-item>
    </m-option>

    <div style="width: 100%;">Scroll down</div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolore porro tempora vel, mollitia, est fuga aut fugiat consequatur, soluta blanditiis obcaecati. Voluptas ratione recusandae debitis dolor mollitia odit blanditiis?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolore porro tempora vel, mollitia, est fuga aut fugiat consequatur, soluta blanditiis obcaecati. Voluptas ratione recusandae debitis dolor mollitia odit blanditiis?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolore porro tempora vel, mollitia, est fuga aut fugiat consequatur, soluta blanditiis obcaecati. Voluptas ratione recusandae debitis dolor mollitia odit blanditiis?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolore porro tempora vel, mollitia, est fuga aut fugiat consequatur, soluta blanditiis obcaecati. Voluptas ratione recusandae debitis dolor mollitia odit blanditiis?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolore porro tempora vel, mollitia, est fuga aut fugiat consequatur, soluta blanditiis obcaecati. Voluptas ratione recusandae debitis dolor mollitia odit blanditiis?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolore porro tempora vel, mollitia, est fuga aut fugiat consequatur, soluta blanditiis obcaecati. Voluptas ratione recusandae debitis dolor mollitia odit blanditiis?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolore porro tempora vel, mollitia, est fuga aut fugiat consequatur, soluta blanditiis obcaecati. Voluptas ratione recusandae debitis dolor mollitia odit blanditiis?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolore porro tempora vel, mollitia, est fuga aut fugiat consequatur, soluta blanditiis obcaecati. Voluptas ratione recusandae debitis dolor mollitia odit blanditiis?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolore porro tempora vel, mollitia, est fuga aut fugiat consequatur, soluta blanditiis obcaecati. Voluptas ratione recusandae debitis dolor mollitia odit blanditiis?</p>


    <m-overlay title="Titre">
        <m-button slot="trigger">Ouvrir</m-button>
        <m-option>
            <m-option-item>Test 1</m-option-item>
            <m-option-item>Test 2</m-option-item>
        </m-option>
    </m-overlay>

    <h3>Inside m-modal </h3>
    <m-modal title="Modal title">
        <m-button slot="trigger">Open the modal</m-button>
        <m-option>
            <m-option-item>Test 1</m-option-item>
            <m-option-item>Test 2</m-option-item>
        </m-option>
    </m-modal>
</div>
