<div>

    <h2>No context</h2>

    <p>Default behavior</p>

    <m-icon name="edit"></m-icon>

    <hr />

    <h2>Invalid name</h2>

    <p>
        Will not display the icon
    </p>

    <m-icon name="invalid__name"></m-icon>

    <hr />

    <h2>Shorthand property name</h2>

    <p>
        ie: 'edit'
    </p>

    <m-icon name="edit"></m-icon>

    <hr />

    <h2>Full property name</h2>

    <p>
        ie: 'm-svg__edit'
    </p>

    <m-icon name="m-svg__edit"></m-icon>

    <hr />

    <h2>
        Available pill states
        &nbsp;<select v-model="iconPillState">
            <option v-for="(element, i) in iconPillStates"
                    :value="element"
                    :selected="element === iconPillState"
                    :key="i">{{element.state}}</option>
        </select>
    </h2>

    <p>Change the pill states</p>

    <m-icon name="m-svg__calendar"
            v-m-badge="iconPillState"></m-icon>

    <hr />

    <h2>
        Custom size (px)
        <input v-model="iconSize"
               type="number"
               min="0"
               max="100" />
    </h2>

    <m-icon name="m-svg__calendar"
            v-m-badge="{ state: 'completed'}"
            :size="iconSize + 'px'"></m-icon>

    <hr />

    <h2>Position adjustments</h2>
    <p>
        Clock icon doesn't have a predefined position. By default, the pill is placed at the buttom right of the 24px square.
        It is possible to adjust it's position.
    </p>
    <p>
        <h5>Default</h5>
        <m-icon name="m-svg__clock"
                v-m-badge="{ state: 'completed'}"
                size="24px"></m-icon>
        <br />
        <m-icon name="m-svg__clock"
                v-m-badge="{ state: 'completed'}"
                size="72px"></m-icon>
        <h5>After</h5>
        size: 24px
        offsetX: -2px
        offsetY: -1px
        <br />
        <m-icon name="m-svg__clock"
                v-m-badge="{ state: 'completed', offsetX: '-2px', offsetY: '-1px'}"
                size="24px"></m-icon>
        <br />
        <br />
        size: 72px
        offsetX: -6px
        offsetY: -3px
        <br />
        <m-icon name="m-svg__clock"
                v-m-badge="{ state: 'completed', offsetX: '-6px', offsetY: '-3px'}"
                size="72px"></m-icon>
    </p>
</div>
