<div class="m-calendar"
     :class="{
    'm-calendar-single-date': isSingleDate,
    'm-calendar-date-range': isDateRange
}">
    <m-calendar-single-date-state v-if="isSingleDate"
                                  v-model="innerValue"
                                  :min-date="minDate"
                                  :max-date="maxDate"
                                  @input="onInput">
        <div slot-scope="{ calendar, calendarEvents }"
             class="m-calendar__render m-calendar-single-date__render">
            <m-simple-calendar :calendar="calendar"
                               :show-month-before-after="showMonthBeforeAfter"
                               v-on="calendarEvents"></m-simple-calendar>
        </div>
    </m-calendar-single-date-state>

    <m-calendar-range-date-state v-if="isDateRange"
                                 v-model="innerValue"
                                 :min-date="minDate"
                                 :max-date="maxDate"
                                 @input="onInput">
        <div slot-scope="{ calendar, calendarEvents }"
             class="m-calendar__render m-calendar-range-date__render">
            <m-simple-calendar :calendar="calendar"
                               :show-month-before-after="showMonthBeforeAfter"
                               v-on="calendarEvents"></m-simple-calendar>
        </div>
    </m-calendar-range-date-state>
</div>
