<div>
    <m-textfield v-model="singleDate"
                 placeholder="Date simple">
    </m-textfield>

    <h3>Calendar (default values only)</h3>
    <p>Date courante: {{ singleDate }}</p>
    <m-calendar v-model="singleDate"></m-calendar>

    <h3>Calendar</h3>
    <p>Date courante: {{ singleDateOptions }}</p>
    <m-calendar v-model="singleDateOptions"
                :min-date="minDate"
                :max-date="maxDate"
                show-month-before-after="hide"
                :months-names="['Janv.', 'Févr.', 'Mars', 'Avr.', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.']"
                :days-names="['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa']"></m-calendar>

    <h3>Calendar - date range</h3>
    <p>Date courante: {{ rangeDate.begin }} - {{ rangeDate.end }}</p>
    <m-calendar v-model="rangeDate"
                date-selection-mode="range"></m-calendar>
</div>
