@import 'commons';
$m-step--icon--size: 44px;
$m-step--icon--size-s: 34px;
$m-step--badge--size: 14px;
$m-step--badge--size-s: 10px;

.m-step {
    position: relative;
    display: block;
    padding-bottom: $m-padding--l;

    &[max-width~='#{$m-mq--max--s - $m-padding *2}'] {
        &::before {
            left: #{($m-step--icon--size-s / 2) - 1}; // Magic number
        }

        .m-step {
            &__header {
                &__icon {
                    height: $m-step--icon--size-s;
                    width: $m-step--icon--size-s;
                    font-size: 14px;

                    &-badge {
                        width: $m-step--badge--size-s;
                        height: $m-step--badge--size-s;
                        bottom: $m-step--badge--size-s / -4;
                        right: $m-step--badge--size-s / -4;
                        font-size: 10px;
                    }
                }

                // &__title {
                //     &,
                //     h1,
                //     h2,
                //     h3,
                //     h4,
                //     h5,
                //     h6 {
                //         font-size: $m-font-size--h4;
                //     }
                // }
            }

            &__body {
                margin-left: $m-step--icon--size-s + $m-margin;
            }
        }
    }

    &::before {
        position: absolute;
        height: 100%;
        z-index: 1;
        width: 2px;
        background: $m-color--grey;
        content: '';
        left: #{($m-step--icon--size / 2) - 1}; // Magic number
    }

    &:not(.m--is-accordion) {
        &.m--is-open {
            .m-step__header {
                cursor: default;
                outline: none;
            }
        }

        &.m--is-close {
            .m-step__header {
                user-select: none;
            }
        }
    }

    &.m--is-accordion {
        .m-step__header {
            user-select: none;
        }
    }

    &.m--is-in-progress {
        .m-step__header__icon {
            border-color: $m-color--ul-yellow;
        }
    }

    &.m--is-last {
        &::before {
            position: relative;
            height: 0;
            z-index: 0;
            width: 0;
            background: none;
            content: '';
            left: auto;
        }
    }

    &__header {
        position: relative;
        display: flex;
        align-items: center;
        z-index: 2;
        color: $m-color--black;
        text-decoration: none;
        margin-bottom: $m-margin--xs;
        cursor: pointer;

        &:hover,
        &:active {
            outline: none;
        }

        &__icon {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: $m-step--icon--size;
            width: $m-step--icon--size;
            border-radius: 50%;
            border: 2px solid $m-color--grey;
            background: $m-color--white;
            font-size: 18px;

            &-badge {
                position: absolute;
                z-index: 2;
                width: $m-step--badge--size;
                height: $m-step--badge--size;
                bottom: $m-step--badge--size / -4;
                right: $m-step--badge--size / -4;
                font-size: 14px;
            }
        }

        &__title {
            flex: 1;

            &,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin: 0;
                margin-left: $m-margin;
                font-size: $m-font-size--h3;
                font-weight: $m-font-weight--semi-bold;
                line-height: 1.1;
            }
        }
    }

    &__body {
        margin-left: $m-step--icon--size + $m-margin;

        > :first-child {
            &,
            > :first-child {
                margin-top: 0;
            }
        }
    }
}
