<article class="m-step"
         :class="{ 'm--is-locked': state=='locked',
                   'm--is-in-progress': state=='in-progress',
                   'm--is-success': state=='success',
                   'm--is-warning': state=='warning',
                   'm--is-error': state=='error',
                   'm--is-open': propOpen,
                   'm--is-close': !propOpen,
                   'm--is-last': last,
                   'm--is-accordion': propMode === 'accordion' }">
    <header class="m-step__header"
            @keyup.enter="openStep"
            @click="openStep"
            ref="header">
        <span class="m-step__header__icon">
            <m-icon :name="iconName"></m-icon>
            <span class="m-step__header__icon-badge"
                  v-if="state">
                <m-icon :name="getIcon()"></m-icon>
            </span>
        </span>

        <div class="m-step__header__title">
            <slot name="header"></slot>
        </div>
    </header>
    <transition @enter="accordionEnter"
                @after-enter="accordionAfterEnter"
                @leave="accordionLeave">
        <div class="m-step__body"
             v-if="propOpen">
            <slot></slot>
        </div>
    </transition>
</article>
