@import 'abstracts/variables';
$m-step--icon--size: 44px;
$m-step--badge--size: 20px;

.m-step {
    display: block;
    position: relative;
    padding-bottom: $m-padding--l;

    &::before {
        position: absolute;
        height: 100%;
        z-index: 1;
        width: 1px;
        background-color: $m-color--grey-dark;
        content: "";
        left: calc((#{$m-step--icon--size} / 2) - 1px); //magic number
    }

    &.m--is-open {
        .m-step__header {
            cursor: default;
        }
    }

    &.m--is-in-progress {
        .m-step__header__icon {
            border-color: $m-color--ul-yellow;
        }
    }

    &.m--is-last {
        &::before {
            position: relative;
            height: 0;
            z-index: 0;
            width: 0;
            background-color: transparent;
            content: "";
            left: auto;
        }
    }

    &__header {
        position: relative;
        display: flex;
        align-items: center;
        z-index: 2;
        color: $m-color--black;
        text-decoration: none;
        margin-bottom: $m-margin--xs;
        cursor: pointer;
        outline: none;

        &__icon {
            border: 2px solid $m-color--grey;
            height: $m-step--icon--size;
            width: $m-step--icon--size;
            font-size: $m-step--badge--size;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $m-color--white;
            position: relative;

            &-badge {
                width: $m-step--badge--size;
                height: $m-step--badge--size;
                position: absolute;
                z-index: 3;
                bottom: calc(#{$m-step--badge--size} / -4);
                right: calc(#{$m-step--badge--size} / -4);
            }
        }

        &__title {
            &,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin: 0;
                margin-left: $m-margin;
                font-size: $m-font-size--h2;
                font-weight: $m-font-weight--bold;
            }

            flex: 1;
            font-size: $m-font-size--h3;
        }
    }

    &__body {
        margin-left: calc(#{$m-step--icon--size} + #{$m-margin});

        @include m-transition-accordion;
    }
}
