<div>
    <h3>No context</h3>
    <p class="m-u--margin-bottom">
        Default behavior
    </p>
    <p>
        <m-file-select>
        </m-file-select>
    </p>
    <hr />
    <h3>Multiple</h3>
    <p class="m-u--margin-bottom">
        Allow to select many files
    </p>
    <p>
        <m-file-select :multiple="true">
        </m-file-select>
    </p>
    <hr />
    <small>This component include the <i>button</i> api to style, position icon, change label, etc. of the select button</small>
</div>
