<div class="m-calendar m-calendar-single-date">
    <m-calendar-single-date-state v-model="innerValue"
                                  :min-date="minDate"
                                  :max-date="maxDate"
                                  @input="onInput">
        <div slot-scope="{ calendar, calendarEvents }"
             class="m-calendar__render m-calendar-single-date__render">
            <m-simple-calendar :calendar="calendar"
                               :show-month-before-after="showMonthBeforeAfter"
                               v-on="calendarEvents"></m-simple-calendar>
        </div>
    </m-calendar-single-date-state>
</div>
