.m-u--app-body {
    @import 'button', 'header', 'typography', 'layout', 'link';

    // ======================================================================
    //  Visually hidden
    // ======================================================================
    .m-u--visually-hidden {
        @include m-visually-hidden;
    }

    // ======================================================================
    //  list
    // ======================================================================
    .m-u--bullet-list {
        @include m-bullet-list();
    }

    // ======================================================================
    //  table
    // ======================================================================
    .m-u--table {
        @include m-table();
    }

    // ======================================================================
    //  formulaire
    // ======================================================================
    .m-u--label {
        font-size: $m-font-size;
        font-weight: $m-font-weight--semi-bold;
    }

    // ======================================================================
    //  asterisk
    // ======================================================================
    .m-u--asterisk {
        color: $m-color--accent;
        font-weight: $m-font-weight--bold;
    }

    .m-u--require {
        margin-top: -$m-spacing !important;
        // margin-bottom: $m-spacing;
        float: right;
    }
}
