<div>
    <!-- Sandbox template -->
    <h3>Trigger the modal</h3>
    <p class="m-u--margin-bottom">Basic demo</p>
    <m-modal title="Modal title">
        <m-button slot="trigger">Open the modal</m-button>
        <p>Native input</p>
        <input type="text">
        <input type="text">
        <p class="m-u--margin-top--l">modUL input</p>
        <p style="margin:0;">
            <m-textfield label="Lorem ipsum dolor sit amet"></m-textfield>
        </p>
        <p style="margin:0;">
            <m-textfield label="Lorem ipsum dolor sit amet"></m-textfield>
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <div slot="footer">Footer</div>
    </m-modal>

    <p class="m-u--margin-bottom">Long text demo</p>
    <m-modal title="Modal title">
        <m-button slot="trigger">Open the modal</m-button>
        <p>Native input</p>
        <input type="text">
        <input type="text">
        <p class="m-u--margin-top--l">modUL input</p>
        <p style="margin:0;">
            <m-textfield label="Lorem ipsum dolor sit amet"></m-textfield>
        </p>
        <p style="margin:0;">
            <m-textfield label="Lorem ipsum dolor sit amet"></m-textfield>
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis magni reiciendis iste nulla eum velit error
            nihil corrupti. At culpa accusamus autem dignissimos aliquid quae ratione ipsa, reiciendis quod vero?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis magni reiciendis iste nulla eum velit error
            nihil corrupti. At culpa accusamus autem dignissimos aliquid quae ratione ipsa, reiciendis quod vero?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis magni reiciendis iste nulla eum velit error
            nihil corrupti. At culpa accusamus autem dignissimos aliquid quae ratione ipsa, reiciendis quod vero?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis magni reiciendis iste nulla eum velit error
            nihil corrupti. At culpa accusamus autem dignissimos aliquid quae ratione ipsa, reiciendis quod vero?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis magni reiciendis iste nulla eum velit error
            nihil corrupti. At culpa accusamus autem dignissimos aliquid quae ratione ipsa, reiciendis quod vero?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis magni reiciendis iste nulla eum velit error
            nihil corrupti. At culpa accusamus autem dignissimos aliquid quae ratione ipsa, reiciendis quod vero?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis magni reiciendis iste nulla eum velit error
            nihil corrupti. At culpa accusamus autem dignissimos aliquid quae ratione ipsa, reiciendis quod vero?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis magni reiciendis iste nulla eum velit error
            nihil corrupti. At culpa accusamus autem dignissimos aliquid quae ratione ipsa, reiciendis quod vero?
        </p>
        <div slot="footer">Pied de page</div>
    </m-modal>
</div>
