@import 'commons';

$m-modal--max-width--l: $m-max-width !default;
$m-modal--max-width: 672px !default; // padding + input + margin + input + padding
$m-modal--max-width--s: 420px !default;

.m-modal {
    &__wrap {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: none;
        display: flex;
        align-items: center;
        outline: none;
        min-width: $m-min-width;
        overflow: hidden;

        // MODUL-20, MODUL-87, ENA2-760
        // the mq must stay sync with the component template and TS file
        @media (min-width: $m-mq--min--s) {
            justify-content: center;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            font-size: $m-font-size--h4;
            font-weight: $m-font-weight--semi-bold;
        }

        @include m-is-ie() {
            display: block;
        }

        &.m--is-close-on-backdrop {
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
        }

        &.m--is-enter-active,
        &.m--is-leave-active {
            &.m--is-full-screen {
                transition-duration: $m-transition-duration--xl;
            }

            &:not(.m--is-full-screen) {
                transition-duration: $m-transition-duration;
            }
        }

        &.m--is-enter,
        &.m--is-leave-to {
            &:not(.m--is-full-screen) {
                .m-modal__article {
                    transform: translate3d(0, $m-padding--l, 0) scale(0.98);
                    opacity: 0;
                }
            }

            &.m--is-full-screen {
                .m-modal__article {
                    transform: translate3d(0, 110%, 0);
                }
            }
        }

        &:not(.m--is-full-screen) {
            padding: 0 $m-padding--l 0 $m-padding--l;

            .m-modal__article {
                transition: transform $m-transition-duration ease, opacity $m-transition-duration--s linear;
                margin-top: auto;
                margin-bottom: auto;
                max-width: $m-modal--max-width;
                transform: translate3d(0, 0, 0);
            }
        }

        &.m--is-full-screen {
            .m-modal__article {
                transition: transform $m-transition-duration--xl ease;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: 0 !important; //style for IE
            }
        }

        &.m--is-large {
            .m-modal__article {
                max-width: $m-modal--max-width--l;
            }
        }

        &.m--is-small {
            .m-modal__article {
                max-width: $m-modal--max-width--s;
            }
        }

        &.m--has-body-max-width {
            .m-modal__body {
                max-width: $m-max-width--l;
                margin: 0 auto;
            }
        }
    }

    &__article {
        cursor: auto;
        width: 100%;
        background: $m-color--white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        max-height: 100%;

        @include m-is-ie() {
            margin: $m-padding--l * 2 auto;
        }
    }

    &__header,
    &__body,
    &__footer {
        > :first-child {
            margin-top: 0;
        }
    }

    &__header,
    &__footer {
        flex-shrink: 0;
        min-height: $m-box--min-height;

        @include m-box-padding($m-spacing, $m-spacing--l, $m-spacing, $m-spacing);
    }

    &__header {
        position: relative;
        background-color: $m-color--grey-black;
        color: $m-color--white;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__close-button {
            margin-right: -12px; // Magic number: visually align
        }

        &:not(.m--has-content) {
            justify-content: flex-end;
        }
    }

    &__body {
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        flex: 1 1 auto;
        width: 100%;
        min-height: 120px;
        -webkit-overflow-scrolling: touch;

        @include m-scrollbar();
    }

    &__content {
        @include m-box-padding();

        @include m-is-ie() {
            flex: none;
        }
    }

    &__footer {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        border-top: 1px solid $m-color--grey;
        animation: fadeIn 0.5s linear forwards;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            z-index: -1;
        }

        100% {
            opacity: 1;
            z-index: 1;
        }
    }
}
