<div>
    <!-- Sandbox template -->
    <h3>Trigger the modal</h3>
    <p class="m-u--margin-bottom">Basic demo</p>
    <m-modal title="Modal title">
        <m-button slot="trigger">Open the modal</m-button>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, velit? Temporibus et ipsa, voluptatibus cum, ducimus rerum ex officia minima culpa maiores architecto tempore aut, consequuntur consectetur possimus tempora recusandae!
        <div slot="footer">Footer</div>
    </m-modal>

    <p class="m-u--margin-bottom">Long text demo</p>
    <m-modal title="Modal title">
        <m-button slot="trigger">Open the modal</m-button>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit magnam maiores rerum tenetur omnis! Laudantium aliquid necessitatibus cupiditate perspiciatis error recusandae nostrum, odit doloribus repudiandae. Saepe mollitia sint magni possimus.
        Placeat sapiente aperiam nihil, veniam quas enim et quos, aut a odio alias dolor qui ad. Fugiat fugit dolore autem deleniti qui explicabo, consequatur tempore quas debitis repudiandae provident ex.
        Minima aspernatur labore at laudantium pariatur rerum debitis dolore. Quidem modi nesciunt fuga iure eaque illo, facere reprehenderit, cupiditate, ex ab aperiam porro optio hic delectus in ad rem aliquid.
        Impedit alias animi, commodi fugit expedita ipsam porro nisi, numquam eveniet in nulla cupiditate nostrum molestiae eum excepturi asperiores ut ex iusto repellat dignissimos magni officia autem? Obcaecati, laborum minus?
        Natus pariatur ad culpa dignissimos similique alias placeat maxime voluptate autem quae veniam qui quo minima laudantium expedita officiis illum nisi optio, earum, nam doloribus! Est saepe voluptate blanditiis eligendi!
        Vitae reprehenderit magni velit dolorum saepe dolor minima repellat eos recusandae fugit quidem provident nam voluptatibus aperiam optio sequi voluptates architecto error alias perspiciatis, minus sed quos! Inventore, voluptates. Explicabo.
        Mollitia molestiae earum, provident distinctio quis perspiciatis debitis autem magni aliquam unde? Veritatis cupiditate, sunt quidem error dicta at voluptatem inventore aliquid ipsum nulla perspiciatis, totam, corporis repellendus aliquam laudantium?
        Dolore quia, exercitationem quibusdam id consequatur aspernatur nulla impedit illum quaerat expedita cupiditate inventore minima amet in ipsa magnam obcaecati alias dolores tenetur totam aliquid? Velit rerum esse nemo fugit.
        Eum ducimus, iure necessitatibus nam ea numquam quae. Ipsam maiores velit ipsa nam, totam tempora consequuntur qui illum nulla! Fugit libero, ipsam voluptatibus dolores vero commodi voluptate placeat quia delectus.
        Doloribus dolores quia consequuntur temporibus laborum rem porro earum non reiciendis, maiores illo esse unde magni, nobis magnam impedit voluptatum, officiis ipsum accusantium iure ipsam officia expedita! Quis, distinctio ad!
        Aliquid perferendis consequuntur ab, debitis molestias voluptas omnis, provident distinctio tenetur non maxime libero quis cum numquam, cumque eum! Molestias veniam esse ipsa facilis explicabo ex ab obcaecati debitis voluptas.
        Quaerat blanditiis omnis similique earum perspiciatis sit at! Assumenda dicta ea sapiente eius eaque delectus quaerat dignissimos consequatur a sequi! Quam ut voluptas soluta sint sed commodi eos aliquam obcaecati?
        Numquam quia, facilis ipsum minus saepe quos esse enim ullam animi explicabo non laborum quod accusamus ducimus fuga, suscipit, in ipsam molestiae. Perferendis rerum officiis tempore odit commodi, quasi inventore.
        Quibusdam pariatur adipisci odio officiis tempora ea atque aliquid corrupti deserunt velit facere nostrum natus dignissimos voluptas, dolore optio quasi fugit dicta, ipsum iure sequi est numquam. Repudiandae, inventore culpa?
        Sunt autem, expedita debitis commodi accusamus, a animi laboriosam officia incidunt aspernatur possimus, qui impedit nemo nesciunt! Laborum voluptatibus, quo aut aspernatur voluptatem numquam a repellat, eius rem, ad ab.
        Recusandae laborum, saepe consequatur officiis dolore adipisci veritatis voluptate, doloribus placeat dolor nostrum quae hic! Asperiores, iusto autem cumque molestiae ullam nesciunt. Labore alias suscipit quaerat quo quisquam porro eaque.
        Error earum, ipsam voluptatum enim numquam eos sed temporibus accusamus nam! Dignissimos quas debitis distinctio voluptatum fugiat fuga architecto possimus mollitia nihil quo nulla soluta in, quod est libero placeat.
        Repellat, quia magnam laborum cupiditate beatae minima. Obcaecati eos reprehenderit, eius reiciendis quae perspiciatis? Fugiat voluptatibus deleniti inventore cumque in cum quibusdam sed quia consequuntur omnis quam, magnam ducimus et.
        Suscipit, eos excepturi possimus alias asperiores laudantium repudiandae! Deleniti explicabo nesciunt, ut reprehenderit minus omnis commodi mollitia sapiente, quod iste at dolorum, animi adipisci maiores voluptas dolores cum dolor est!
        Voluptate fuga alias repellat tenetur! Vero numquam iure sapiente sunt corrupti id officiis consequatur quod illum ipsam voluptate harum veritatis sequi molestiae esse, ipsum maxime a, beatae aspernatur nemo laudantium.
        <div slot="footer">Pied de page</div>
    </m-modal>
</div>
