<li class="m-navbar-item"
    :class="{'m--is-selected': isSelected,
             'm--is-disabled': disabled }"
    role="menuitem">
    <router-link class="m-navbar-item__contents"
                 ref="item"
                 :to="url"
                 v-if="url && !disabled"
                 @click.native="onClick"
                 @keyup.enter="onClick"
                 @mouseover="onMouseover"
                 @mouseleave="onMouseleave"
                 :aria-selected="isSelected"
                 :aria-haspopup="ariaHaspopup"
                 :aria-expanded="ariaExpanded"
                 :aria-controls="ariaControls">
        <span class="m-navbar-item__text"
              v-if="hasDefaultSlot">
            <slot></slot>
        </span>
        <span class="m-navbar-item__text"
              v-else>{{ value }}</span>
    </router-link>
    <div class="m-navbar-item__contents"
         ref="item"
         :tabindex="disabled ? '-1' : '0'"
         @click="onClick"
         @keyup.enter="onClick"
         @mouseover="onMouseover"
         @mouseleave="onMouseleave"
         :aria-selected="isSelected"
         :aria-haspopup="ariaHaspopup"
         :aria-expanded="ariaExpanded"
         :aria-controls="ariaControls"
         :role="disabled ? undefined : 'button'"
         v-else>
        <span class="m-navbar-item__text"
              v-if="hasDefaultSlot">
            <slot></slot>
        </span>
        <span class="m-navbar-item__text"
              v-else>{{ value }}</span>
    </div>
</li>
