@import 'abstracts/variables';
$m-popper--scale: 0.98 !default;
$m-popper--margin: $m-margin--l !default;

.m-popper {
    display: inline-flex;

    &__article {
        max-height: calc(100vh - #{ $m-margin });
        overflow-y: auto;

        &.m--is-default-anim {
            transition: 0.3s transform ease-in-out, 0.3s opacity ease;
            opacity: 0;

            &.m--is-placement-top,
            &.m--is-placement-top-start,
            &.m--is-placement-top-end {
                transform: translate3d(0, -$m-popper--margin, 0) scale($m-popper--scale);
            }

            &.m--is-placement-right,
            &.m--is-placement-right-start,
            &.m--is-placement-right-end {
                transform: translate3d($m-popper--margin, 0, 0) scale($m-popper--scale);
            }

            &.m--is-placement-bottom,
            &.m--is-placement-bottom-start,
            &.m--is-placement-bottom-end {
                transform: translate3d(0, $m-popper--margin, 0) scale($m-popper--scale);
            }

            &.m--is-placement-left,
            &.m--is-placement-left-start,
            &.m--is-placement-left-end {
                transform: translate3d(-$m-popper--margin, 0, 0) scale($m-popper--scale);
            }

            &.m--is-open.m--is-open {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
        }
    }
}
