@import 'abstracts/variables';

.m-popup {
    display: inline-flex;

    &[x-placement^="top"],
    &[x-placement^="top-start"],
    &[x-placement^="top-end"] {
        .m-popup__article {
            &.m--is-default-anim {
                transform: translate3d(0, -$m-margin--l, 0) scale(0.98);
            }
        }
    }

    &[x-placement^="right"],
    &[x-placement^="right-start"],
    &[x-placement^="right-end"] {
        .m-popup__article {
            &.m--is-default-anim {

            }
        }
    }

    &[x-placement^="bottom"],
    &[x-placement^="bottom-start"],
    &[x-placement^="bottom-end"] {
        .m-popup__article {
            &.m--is-default-anim {
                transform: translate3d(0, $m-margin--l, 0) scale(0.98);
            }
        }
    }

    &[x-placement^="left"],
    &[x-placement^="left-start"],
    &[x-placement^="left-end"] {
        .m-popup__article {
            &.m--is-default-anim {
                transform: translate3d(-$m-margin--l, 0, 0) scale(0.98);
            }
        }
    }

    &__article {
        max-height: calc(100vh - #{ $m-margin });
        overflow-y: auto;

        &.m--is-default-anim {
            transition: 0.3s transform ease-in-out, 0.3s opacity ease;
            opacity: 0;

            &.m--is-placement-top{
                transform: translate3d(0, -$m-margin--l, 0) scale(0.98);
            }

            &.m--is-placement-bottom {
                transform: translate3d(0, $m-margin--l, 0) scale(0.98);
            }

            &.m--is-placement-right {
                transform: translate3d($m-margin--l, 0, 0) scale(0.98);
            }

            &.m--is-placement-left {
                transform: translate3d(-$m-margin--l, 0, 0) scale(0.98);
            }

            &.m--is-open.m--is-open {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
        }
    }
}
