<div class="m-popper"
     :class="{ 'm--is-open': animPopperActive }"
     @mouseover="onMouseOver"
     @mouseout="onMouseOut">
     <template v-if="!isScreenMaxS">
        <transition @enter="animEnter"
                    @after-enter="animAfterEnter"
                    @leave="animLeave"
                    @after-leave="doDestroy">
            <div class="m-popper__popper-wrap"
                 :aria-hidden="!showPopper"
                 v-show="!disabled && showPopper">
                <div class="m-popper__popper" ref="popper">
                    <div class="m-popper__content" v-if="hasContentSlot" @click="onContentClick">
                        <slot name="content"></slot>
                    </div>
                    <div class="m-popper__footer" v-if="hasFooterSlot">
                        <slot name="footer"></slot>
                    </div>
                </div>
            </div>
        </transition>
        <div @click="doToggle" ref="reference" class="m-popper__reference">
            <slot></slot>
        </div>
    </template>
    <m-dialog :mode="propMobileMode" v-if="isScreenMaxS"
              :padding="padding"
              :paddingHeader="paddingHeader"
              :paddingBody="paddingBody"
              :paddingFooter="paddingFooter"
              :disabled="disabled">
        <div slot="header" class="m-popper__header" v-if="hasHeaderSlot">
            <slot name="header"></slot>
        </div>
        <div slot="content" class="m-popper__content" v-if="hasContentSlot">
            <slot name="content"></slot>
        </div>
        <div slot="footer" class="m-popper__footer" v-if="hasFooterSlot">
            <slot name="footer"></slot>
        </div>
        <slot></slot>
    </m-dialog>
</div>
