<div class="m-popper" :class="{ 'm--is-open': propOpen }">
    <slot name="trigger"></slot>
    <portal :target-el="'#' + propId" v-if="hasDefaultSlot">
        <transition
            @before-enter="onBeforeEnter"
            @enter="onEnter"
            @after-enter="onAfterEnter"
            @enter-cancelled="onEnterCancelled"
            @before-leave="onAfterLeave"
            @leave="onLeave"
            @after-leave="onAfterLeave"
            @leave-cancelled="onLeaveCancelled">
            <article ref="popper"
                     class="m-popper__article"
                     :class="[{ 'm--is-default-anim': defaultAnim,
                                'm--is-open': defaultAnimOpen,
                                'm--has-shadow': shadow },
                                'm--is-placement-' + placement,
                                className ]"
                     :aria-hidden="!propOpen"
                     v-show="propOpen" v-if="propOpen || preload || loaded">
                <slot></slot>
            </article>
        </transition>
    </portal>
</div>
