<div>
    <h2 class="m-u--no-margin">Prop skin</h2>
    <h3 class="m-u--h5">skin="light" (default)</h3>
    <p>
        <m-icon-button>
        </m-icon-button>
    </p>

    <h3 class="m-u--h5">skin="dark"</h3>
    <p>
        <m-icon-button skin="dark">
        </m-icon-button>
    </p>

    <h3 class="m-u--h5">skin="primary"</h3>
    <p>
        <m-icon-button skin="primary">
        </m-icon-button>
    </p>

    <h3 class="m-u--h5">skin="secondary"</h3>
    <p>
        <m-icon-button skin="secondary">
        </m-icon-button>
    </p>

    <h3 class="m-u--h5">skin="link"</h3>
    <p>
        <m-icon-button skin="link">
        </m-icon-button>
    </p>

    <h2>Prop icon-size</h2>
    <h3 class="m-u--h5">icon-size="10px"</h3>
    <p>
        <m-icon-button icon-size="10px">
        </m-icon-button>
    </p>
    <h3 class="m-u--h5">icon-size="30px"</h3>
    <p>
        <m-icon-button icon-size="30px">
        </m-icon-button>
    </p>
</div>
