<div class="m-icon-button"
        :class="{ 'm--is-skin-light': isSkinLight,
               'm--is-skin-link': isSkinLink,
               'm--is-skin-dark': isSkinDark,
               'm--is-skin-primary': isSkinPrimary,
               'm--is-skin-secondary': isSkinSecondary,
               'm--has-ripple': ripple,
               'm--is-disabled': disabled }"
        @click="onClick"
        @focus="onFocus"
        @blur="onBlur"
        :title="title"
        :style="{ width: buttonSize, height: buttonSize, fontSize: iconSize }">
    <m-icon ref="icon" class="m-icon-button__icon" :name="iconName"></m-icon>
    <span class="m-icon-button__hidden" v-if="hasSlots"><slot></slot></span>
</div>
