<div>
    <!-- Sandbox template -->
    <h2>Navbar skins</h2>
    <p class="m-u--margin-bottom">
        Show the different skins possible for the component
    </p>

    <m-button @click="toggleMultiline">{{ multiline ? 'Remove' : 'Add' }} multiline</m-button>

    <h3>Skin nav-main (default)</h3>
    <m-navbar :selected.sync="selectedItem" :multiline="multiline" title-button-left="Naviguer précédent" title-button-right="Naviguer suivant">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10" :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>

    <h3>Skin nav-sub</h3>
    <m-navbar skin="nav-sub" :selected.sync="selectedItem" :multiline="multiline" title-button-left="Naviguer précédent" title-button-right="Naviguer suivant">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10" :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>

    <h3>Skin nav-soft</h3>
    <m-navbar skin="nav-soft" :selected.sync="selectedItem" :multiline="multiline" title-button-left="Naviguer précédent" title-button-right="Naviguer suivant" style="background: #09f;">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10" :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>

    <h3>Skin tab-light</h3>
    <m-navbar skin="tab-light" :selected.sync="selectedItem" :multiline="multiline" title-button-left="Naviguer précédent" title-button-right="Naviguer suivant">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10" :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>

    <h3>Skin tab-dark</h3>
    <m-navbar skin="tab-dark" :selected.sync="selectedItem" :multiline="multiline" title-button-left="Naviguer précédent" title-button-right="Naviguer suivant">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10" :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>

    <h3>Skin tab-arrow</h3>
    <m-navbar skin="tab-arrow" :selected.sync="selectedItem" :multiline="multiline" title-button-left="Naviguer précédent" title-button-right="Naviguer suivant">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10" :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>

    <h3>Skin tab-underline</h3>
    <m-navbar skin="tab-underline" :selected.sync="selectedItem" :multiline="multiline" title-button-left="Naviguer précédent" title-button-right="Naviguer suivant">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10" :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>

    <h3>Skin tab-soft</h3>
    <m-navbar skin="tab-soft" :selected.sync="selectedItem" :multiline="multiline" title-button-left="Naviguer précédent" title-button-right="Naviguer suivant">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10" :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>

    <h2>Main navbar with sub menu</h2>
    <m-navbar skin="nav-main" :selected.sync="selectedItemMainMenu" :multiline="multiline" title-button-left="Naviguer précédent" title-button-right="Naviguer suivant">
        <m-navbar-item value="item1" @click="navOpen = false">
            Item 1
        </m-navbar-item>
        <m-navbar-item value="item2" @click="navOpen = false">
            Item 2
        </m-navbar-item>
        <m-navbar-item value="item3" @click="navOpen = false">
            Item 3
        </m-navbar-item>
        <m-navbar-item value="item4" @click="toggleNav">
            Toggle sub menu
        </m-navbar-item>
        <m-navbar-item value="item5" @click="navOpen = false">
            Item 5
        </m-navbar-item>
        <m-navbar-item value="item6" @click="navOpen = false">
            Item 6
        </m-navbar-item>
    </m-navbar>
    <m-accordion-transition>
        <div v-if="navOpen" >
            <m-navbar skin="nav-sub" selected="item3">
                <m-navbar-item value="item1">
                    Sub item 1
                </m-navbar-item>
                <m-navbar-item value="item2">
                    Sub item 2
                </m-navbar-item>
                <m-navbar-item value="item3">
                    Sub item 3
                </m-navbar-item>
                <m-navbar-item value="item4">
                    Sub item 4
                </m-navbar-item>
            </m-navbar>
        </div>
    </m-accordion-transition>
</div>
