<div>
    <!-- Sandbox template -->
    <h2>Navbar skins</h2>
    <p class="m-u--margin-bottom">
        Show the different skins possible for the component
    </p>

    <m-button @click="toggleMultiline">{{ multiline ? 'Remove' : 'Add' }} multiline</m-button>

    <h3>Skin light (default)</h3>
    <m-navbar :selected.sync="selectedItem" :multiline="multiline">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10" :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>

    <h3>Skin arrow</h3>
    <m-navbar skin="arrow" :selected.sync="selectedItem" :multiline="multiline">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10" :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>

    <h3>Skin darker</h3>
    <m-navbar skin="darker" :selected.sync="selectedItem" :multiline="multiline">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9" @click="toggleNav">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10" :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>
    <m-accordion-transition>
        <div v-if="navOpen" >
            <m-navbar skin="darkest" selected="item3">
                <m-navbar-item value="item1">
                    Élément enfant 1
                </m-navbar-item>
                <m-navbar-item value="item2">
                    Élément enfant 2
                </m-navbar-item>
                <m-navbar-item value="item3">
                    Élément enfant 3
                </m-navbar-item>
                <m-navbar-item value="item4">
                    Élément enfant 4
                </m-navbar-item>
            </m-navbar>
        </div>
    </m-accordion-transition>

    <h3>Skin darkest</h3>
    <m-navbar skin="darkest" :selected.sync="selectedItem" :multiline="multiline">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10" :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>

    <h3>Skin soft</h3>
    <m-navbar skin="soft" :selected.sync="selectedItem" :multiline="multiline" style="background: #09f;">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10" :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>

    <h3>Skin simple</h3>
    <m-navbar skin="simple" :selected.sync="selectedItem" :multiline="multiline">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10" :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>

    <h3>Skin light-tab</h3>
    <m-navbar skin="light-tab" :selected.sync="selectedItem" :multiline="multiline">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10" :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>

    <h3>Skin dark-tab</h3>
    <m-navbar skin="dark-tab" :selected.sync="selectedItem" :multiline="multiline">
        <m-navbar-item value="item1">
            1 souris verte
        </m-navbar-item>
        <m-navbar-item value="item2">
            2
        </m-navbar-item>
        <m-navbar-item value="item3">
            3
        </m-navbar-item>
        <m-navbar-item value="item4">
            4
        </m-navbar-item>
        <m-navbar-item value="item5">
            5
        </m-navbar-item>
        <m-navbar-item value="item6">
            6
        </m-navbar-item>
        <m-navbar-item value="item7">
            7
        </m-navbar-item>
        <m-navbar-item value="item8">
            8
        </m-navbar-item>
        <m-navbar-item value="item9">
            9 singes
        </m-navbar-item>
        <m-navbar-item value="item10" :disabled="true">
            10 chèvres et 10 moutons
        </m-navbar-item>
        <m-navbar-item value="item11">
            11 barnacles magestueuses volant vers le lointain
        </m-navbar-item>
        <m-navbar-item value="item12">
            12 zaine d'oeufs
        </m-navbar-item>
    </m-navbar>
</div>
