@import 'abstracts/variables';

.m-navbar {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;

    &.m--is-skin-darker {
        background-color: $m-color--grey-darker;
    }

    &.m--is-skin-darkest {
        border-top: 1px solid $m-color--black;
        box-shadow: 0 0 7px $m-color--black inset;
        background-color: $m-color--grey-darkest;
    }

    &.m--is-skin-light {
        &::before {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: $m-border-width--l;
            width: 100%;
            content: '';
            background: $m-color--border;
        }
    }

    &.m--is-skin-arrow {
        &::before {
            position: absolute;
            right: 0;
            bottom: $m-margin--s;
            left: 0;
            content: '';
            width: 100%;
            height: $m-border-width--s;
            background: $m-color--grey;
        }
    }

    &__button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 64px;

        .m--is-skin-darker,
        .m--is-skin-darkest & {
            color: $m-color--grey-light;
            stroke-width: 2;
        }

        .m--is-anim-ready & {
            &.show-enter-active,
            &.show-leave-active {
                transition: opacity 0.3s ease, max-width 0.4s ease;
            }

            &.show-enter,
            &.show-leave-to {
                opacity: 0;
                max-width: 0;
            }
        }
    }

    &__wrap {
        position: relative;
        flex: 1 1 auto;
        overflow-x: auto;
        overflow-y: hidden;
    }

    &__list {
        position: relative;
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline-flex;
        justify-content: space-between;
        text-align: center;
    }

    &__line,
    &__arrow {
        position: absolute;

        &.m--is-anim-active {
            transition: transform $m-transition-duration ease, width $m-transition-duration ease;
        }
    }

    &__line {
        bottom: 0;
        background: $m-color--active;
        height: $m-border-width--l;
    }

    &__arrow {
        bottom: $m-margin--s;

        &::before,
        &::after {
            transform: translateX(-50%);
            position: absolute;
            left: 50%;

            @include m-triangle(bottom, currentcolor, 18px);
        }

        &::before {
            color: $m-color--grey;
            top: 0;
        }

        &::after {
            color: $m-color--white;
            top: -1px;
        }
    }

    &-item {
        position: relative;
        display: flex;
        align-items: center;
        user-select: none;

        &:not(.m--is-selected):not(.m--is-disabled) {
            &,
            a,
            a:visited,
            button {
                cursor: pointer;
            }
        }

        &.m--is-disabled {
            &,
            a,
            a:visited,
            button {
                cursor: not-allowed;
            }
        }

        &,
        a,
        a:visited,
        button {
            font-family: $m-font-family;
            font-size: $m-font-size;
            font-weight: $m-font-weight;
        }

        button {
            border: none;
            background: none;
        }

        &,
        :focus {
            outline: none;
        }
    }
}
