<div class="m-address-lookup-field">
    <m-autocomplete :placeholder="i18nPlaceholder"
                    :label="i18nSearch"
                    :results="results"
                    :open.sync="open"
                    @complete="onComplete"
                    @change="onSelect"
                    v-model="selection">
        <template slot-scope="{item}">
            <div :class="item.classesToggle">
                <b>{{ item.label }}</b>
                <div v-html="item.description"></div>
            </div>
        </template></m-autocomplete>
</div>
