// ======================================================================
//  Official color of Université Laval
// ======================================================================
$m-color--ul-blue: #09f;
$m-color--ul-yellow: #ffc103;
$m-color--ul-red: #e30513;

// ======================================================================
//  Seven Shades of Grey
// ======================================================================

$m-color--grey-black: #1f1f1f !default;
$m-color--grey-darkest: #2e2e2e !default;
$m-color--grey-darker: #3d3d3d !default;
$m-color--grey-dark: #696969 !default;
$m-color--grey: #929292 !default;
$m-color--grey-light: #d7d7d7 !default;
$m-color--grey-lighter: #f4f4f4 !default;
$m-color--grey-lightest: #f9f9f9 !default;

// ======================================================================
//  General color
// ======================================================================
$m-color--black: #000;
$m-color--text: $m-color--black;
$m-color--text-light: #757575 !default;
$m-color--white: #fff;

// ======================================================================
//  Success colors
// ======================================================================
$m-color--success-dark: #009962 !default;
$m-color--success: #00c77f !default;
$m-color--success-light: #cdf3e3 !default;
$m-color--success-lightest: #eaf9f1 !default;

// ======================================================================
//  Warning colors
// ======================================================================
$m-color--warning: $m-color--ul-yellow !default;
$m-color--warning-lightest: #fff8e6 !default;

// ======================================================================
//  Error colors
// ======================================================================
$m-color--error-dark: #b3040f !default;
$m-color--error: $m-color--ul-red !default;
$m-color--error-lightest: #fcf2f3 !default;

// ======================================================================
//  Hint colors
// ======================================================================
$m-color--hint: #00cb78 !default;

// ======================================================================
//  Interactive colors
// ======================================================================
$m-color--interactive-darker: #0075c3 !default;
$m-color--interactive-dark: #0587e1 !default;
$m-color--interactive: $m-color--ul-blue !default;
$m-color--interactive-light: #36adff !default;
$m-color--interactive-lighter: #6ed2ff !default;
$m-color--interactive-lightest: #dffaff !default;
$m-color--information: #eaf5ff !default;

// ======================================================================
//  Accent colors
// ======================================================================
$m-color--accent-dark: #ed8514 !default;
$m-color--accent: #f39612 !default;
$m-color--accent-light: #ffaa26 !default;
$m-color--accent-lightest: #ffeecf !default;

// ======================================================================
//  Active colors
// ======================================================================
$m-color--active: $m-color--ul-yellow !default;

// ======================================================================
//  disabled colors
// ======================================================================
$m-color--disabled: $m-color--grey-light !default;
$m-color--disabled-light: $m-color--grey-lighter !default;

// ======================================================================
//  Scrollbar colors
// ======================================================================
$m-color--scrollbar: $m-color--grey !default;
$m-color--scrollbar-light: $m-color--grey-light !default;

// ======================================================================
//  Boder colors
// ======================================================================
$m-color--border-dark: $m-color--grey-dark !default;
$m-color--border: $m-color--grey-light !default;
$m-color--border-light: $m-color--grey-lighter !default;

// ======================================================================
//  map variable to be used with m-color function
//  all colors must have a base value.
// ======================================================================
$m-color-map: (
    black : (
        base : $m-color--black
    ),
    white : (
        base : $m-color--white
    ),
    active : (
        base : $m-color--active
    ),
    text : (
        base : $m-color--grey-darker,
        light : $m-color--grey
    ),
    grey : (
        base : $m-color--grey,
        black : $m-color--grey-black,
        darkest : $m-color--grey-darkest,
        darker : $m-color--grey-darker,
        dark : $m-color--grey-dark,
        light : $m-color--grey-light,
        lighter : $m-color--grey-lighter,
        lightest : $m-color--grey-lightest
    ),
    ul : (
        blue : $m-color--ul-blue,
        yellow : $m-color--ul-yellow,
        red : $m-color--ul-red
    ),
    success : (
        base : $m-color--success,
        dark : $m-color--success-dark,
        light : $m-color--success-light,
        lightest : $m-color--success-lightest
    ),
    disabled : (
        base : $m-color--disabled,
        light : $m-color--disabled-light
    ),
    warning : (
        base : $m-color--warning,
        lightest : $m-color--warning-lightest
    ),
    scrollbar : (
        base : $m-color--scrollbar,
        light : $m-color--scrollbar-light
    ),
    border : (
        base : $m-color--border,
        dark : $m-color--border-dark,
        light : $m-color--border-light
    ),
    error : (
        base : $m-color--warning,
        dark : $m-color--error-dark,
        lightest : $m-color--error-lightest
    ),
    interactive : (
        base : $m-color--interactive,
        darker : $m-color--interactive-darker,
        dark : $m-color--interactive-dark,
        light : $m-color--interactive-light,
        lighter : $m-color--interactive-lighter,
        lightest : $m-color--interactive-lightest
    ),
    accent : (
        base : $m-color--accent,
        dark : $m-color--accent-dark,
        light : $m-color--accent-light,
        lightest : $m-color--accent-lightest
    )
);
