// ======================================================================
//  Border
// ======================================================================
$m-border-width--l: 4px !default;
$m-border-width: 2px !default;
$m-border-width--s: 1px !default;
$m-border-radius--l: 8px !default;
$m-border-radius: 6px !default;
$m-border-radius--s: 3px !default;

// ======================================================================
//  Box-shadow
// ======================================================================
$m-box-shadow--l: 0 3px 6px rgba($m-color--black, 0.15) !default;
$m-box-shadow: 0 2px 4px rgba($m-color--black, 0.1) !default;
$m-box-shadow--s: 0 1px 1px rgba($m-color--black, 0.1) !default;

// ======================================================================
//  Scrollbar
// ======================================================================
$m-scrollbar-width: 8px !default;

// ======================================================================
//  Touch size
// ======================================================================
$m-touch-size--l: 48px !default;
$m-touch-size: 44px !default;
$m-touch-size--s: 38px !default;
