$m-transition-duration--xl: 0.6s !default;
$m-transition-duration--l: 0.45s !default;
$m-transition-duration: 0.3s !default;
$m-transition-duration--s: 0.2s !default;
$m-transition-duration--xs: 0.1s !default;
