// ======================================================================
//  components
// ======================================================================
$m-input-style--color-default-text: $m-color--disabled !default;
$m-input-style--color-hover: $m-color--interactive-light !default;
$m-input-style--color-focus: $m-color--interactive !default;
$m-input-style--color-error: $m-color--error !default;
$m-input-style--color-valid: $m-color--success !default;
$m-input-style--color-disabled: $m-color--disabled !default;
$m-input-style--color-waiting: $m-color--active !default;
$m-input-style--padding: 11px;
$m-input-style--icon-button-size: 22px;
