@import 'commons';
$m-datepicker--item-dimension: $m-touch-size !default;

.m-datepicker {
    display: inline-flex;
    flex-direction: column;

    @include m-input-inline-spacing();

    &.m--has-validation-message {
        .m-datepicker__validation-message {
            margin-top: $m-spacing--xs;
        }
    }

    &__validation-message {
        margin-top: $m-margin--xs;
        transition: margin-top $m-transition-duration ease;
    }
}
