@import '../../styles/abstracts/variables';
$m-datepicker--item-dimension: 40px !default;

.m-datepicker {
    &__wrap {
        background: $m-color--white;
        padding: $m-padding--s;
        border: 1px solid $m-color--grey-light;
    }

    &__target {
        background: $m-color--white;

        @media (max-width: $m-bp--max--s) {
            width: 100%;
        }

        @media (min-width: $m-bp--min--s) {
            width: 7 * $m-datepicker--item-dimension + 2 * $m-padding--s + 2;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__years,
    &__months,
    &__item {
        background: none;
        border: 0;
        color: inherit;
        font: inherit;
        outline: none;
        padding: 0;
        cursor: pointer;
    }

    &__body {
        display: flex;
        justify-content: center;
        overflow-y: auto;
        height: $m-datepicker--item-dimension * 7;

        &-table {
            border-spacing: 0;
            border-collapse: collapse;
            text-align: center;
            width: 100%;
        }

        &-cell {
            padding: 0;
        }
    }

    &__weekday {
        padding: 0;
        width: $m-datepicker--item-dimension;
        height: $m-datepicker--item-dimension;
    }

    &__item {
        width: $m-datepicker--item-dimension;
        height: $m-datepicker--item-dimension;
        border-radius: 50%;
        cursor: pointer;

        &.m--is-today {
            background-color: $m-color--grey-light;
        }

        &:hover,
        &:focus {
            background-color: $m-color--interactive-lightest;
        }

        &.m--is-selected {
            background-color: $m-color--interactive-light;
        }

        &.m--is-other-month {
            color: $m-color--grey-dark;
        }
    }

    .m--is-disabled {
        background-color: transparent;
        color: $m-color--grey-light;
        cursor: not-allowed;
    }
}
