<div>
    <h2>Default datepicker</h2>
    <m-datepicker class="m-u--margint-top"></m-datepicker>

    <h2>Add error message on blur event</h2>
    <m-datepicker class="m-u--margint-top"
                  @blur="addMessageError"
                  @open="onOpen"
                  @close="onClose"
                  :error-message="errorMessage">
    </m-datepicker>

    <h2>Disabled</h2>
    <m-datepicker class="m-u--margint-top"
                  :disabled="true">
    </m-datepicker>

    <h2>Selected value</h2>
    <m-datepicker class="m-u--margint-top"
                  v-model="model"></m-datepicker>
    <p>Selected value: {{ model }}</p>

    <h2>Datepicker inside m-modal </h2>
    <m-modal title="Modal title">
        <m-button slot="trigger">Open the modal</m-button>
        <m-datepicker class="m-u--margint-top"></m-datepicker>
    </m-modal>

    <h2>Readonly</h2>
    <m-datepicker :readonly="true">
    </m-datepicker>

    <h2>max-width: custom value</h2>
    <m-datepicker max-width="333px">
    </m-datepicker>

    <h2>max-width: small</h2>
    <m-datepicker max-width="regular">
    </m-datepicker>

</div>
