@import '../../styles/abstracts/variables';
$m-datepicker--item-dimension: $m-touch-size !default;

.m-datepicker {
    display: inline-flex;
    flex-direction: column;

    &__header,
    &__body {
        background: $m-color--white;

        @media (max-width: $m-bp--max--s) {
            width: 100%;
        }

        @media (min-width: $m-bp--min--s) {
            width: 7 * $m-datepicker--item-dimension + 2 * $m-padding--s + 2;
        }
    }

    &__header {
        justify-content: space-around;
        padding: $m-padding--s 0;

        @media (max-width: $m-bp--max--s) {
            border-bottom: $m-border-width--s solid $m-color--grey-light;
        }

        @media (min-width: $m-bp--min--s) {
            border: $m-border-width--s solid $m-color--grey-light;
        }

        &,
        &__nav {
            display: flex;
            align-items: center;
        }

        &__nav {
            justify-content: space-between;
            width: 50%;
        }
    }

    &__years,
    &__months,
    &__item {
        background: none;
        border: 0;
        color: inherit;
        font: inherit;
        outline: none;
        padding: 0;
        cursor: pointer;
    }

    &__years,
    &__months {
        transition: color $m-transition-duration ease;
        font-weight: $m-font-weight--bold;
        color: $m-color--black-grey-lighter;

        &:hover,
        &:focus {
            color: $m-color--text;
        }
    }

    &__body {
        display: flex;
        justify-content: center;
        overflow-y: auto;
        height: $m-datepicker--item-dimension * 7 + $m-padding + $m-border-width--s;
        padding: $m-padding--s;

        @media (min-width: $m-bp--min--s) {
            border-right: $m-border-width--s solid $m-color--grey-light;
            border-bottom: $m-border-width--s solid $m-color--grey-light;
            border-left: $m-border-width--s solid $m-color--grey-light;
        }

        &-table {
            border-spacing: 0;
            border-collapse: collapse;
            text-align: center;
            width: 100%;
        }

        &-cell {
            padding: 0;
        }
    }

    &__weekday {
        padding: 0;
        width: $m-datepicker--item-dimension;
        height: $m-datepicker--item-dimension;
        font-weight: $m-font-weight--bold;
    }

    &__item {
        position: relative;
        width: $m-datepicker--item-dimension;
        height: $m-datepicker--item-dimension;

        &__text {
            position: relative;
            z-index: 1;
        }

        &::after {
            transition: transform $m-transition-duration ease, opacity $m-transition-duration ease;
            position: absolute;
            top: -50%;
            left: -50%;
            z-index: 0;
            transform: translate3d(50%, 50%, 0) scale(0);
            content: '';
            border-radius: 50%;
            width: $m-touch-size;
            height: $m-touch-size;
            background: $m-color--interactive-lightest;
            opacity: 0;
        }

        &.m--is-today:not(.m--is-selected) {
            &::after {
                background: $m-color--grey-light;
                font-weight: $m-font-weight--bold;
            }
        }

        &:hover,
        &:focus,
        &.m--is-selected,
        &.m--is-today {
            &::after {
                transform: translate3d(50%, 50%, 0) scale(1);
                opacity: 1;
            }
        }

        &.m--is-selected {
            color: white;
            font-weight: $m-font-weight--bold;

            &::after {
                background: $m-color--interactive-light;
            }
        }

        &.m--is-other-month {
            transition: color $m-transition-duration ease;
            color: $m-color--disabled;

            &:hover,
            &:focus {
                color: $m-color--text;
            }
        }
    }

    .m--is-disabled {
        background-color: transparent;
        color: $m-color--grey-light;
        cursor: not-allowed;
    }
}
