@import 'abstracts/variables';

.m--is {
    &-right-to-left-enter,
    &-left-to-right-leave-to {
        transform: translateX(100%);
        opacity: 0;
    }

    &-right-to-left-enter-active,
    &-left-to-right-enter-active,
    &-right-to-left-leave-active,
    &-left-to-right-leave-active {
        transition: transform $m-transition-duration--xl, opacity $m-transition-duration--xl;
    }

    &-right-to-left-leave-active,
    &-left-to-right-leave-active  {
        transition: transform $m-transition-duration--xl, opacity $m-transition-duration--xl;
        position: absolute;
    }

    &-right-to-left-leave-to,
    &-left-to-right-enter {
        transform: translateX(-100%);
        opacity: 0;
    }
}
