@import 'abstracts/variables';

.m-carousel-item {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.m--is-anim-active {
        &.m--is {
            &-left-to-right-enter,
            &-left-to-right-leave-to,
            &-right-to-left-enter,
            &-right-to-left-leave-to {
                opacity: 0;
            }

            &-right-to-left-enter-active,
            &-right-to-left-leave-active,
            &-left-to-right-enter-active,
            &-left-to-right-leave-active {
                transition: transform $m-transition-duration--xl ease, opacity $m-transition-duration--xl ease;
            }

            &-left-to-right-enter,
            &-right-to-left-leave-to {
                transform: translate3d(-100%, 0, 0) scale(0.85) rotateY(14deg);
                transform-origin: 0 50%;
            }

            &-left-to-right-leave-to,
            &-right-to-left-enter {
                transform: translate3d(100%, 0, 0) scale(0.85) rotateY(-14deg);
                transform-origin: 100% 50%;
            }

            &-left-to-right-leave-active,
            &-right-to-left-leave-active {
                position: absolute;
                z-index: 0;
            }
        }
    }
}
