<div>
    <p id="u320" v-if="untilExtraSmall">... <= 320</p>
    <p id="u640" v-if="untilSmall">... < 640</p>
    <p id="u768" v-if="untilMedium">... < 768</p>
    <p id="u1024" v-if="untilLarge">... < 1024</p>
    <p id="u1400" v-if="untilExtraLarge">... < 1400</p>
    <p id="i320-640" v-if="isSmall">320 > ... < 640</p>
    <p id="i640-768" v-if="isMedium">640 >= ... < 768</p>
    <p id="i768-1024" v-if="isLarge">768 >= ... < 1024</p>
    <p id="f320" v-if="fromExtraSmall">320 > ...</p>
    <p id="f640" v-if="fromSmall">640 >= ...</p>
    <p id="f768" v-if="fromMedium">768 >= ...</p>
    <p id="f1024" v-if="fromLarge">1024 >= ...</p>
    <p id="f1400" v-if="fromExtraLarge">1400 >= ...</p>
</div>
