<div>
    <h2>min-width</h2>
    <p v-if="isMinExtraSmall">480px >= ...</p>
    <p v-if="isMinSmall">768 >= ...</p>
    <p v-if="isMinMedium">1024 >= ...</p>
    <p v-if="isMinLarge"> 1200 >= ...</p>
    <p v-if="isExtraLarge">1600 >= ...</p>

    <h2>max-width</h2>
    <p v-if="isExtraSmall">... <= 479</p>
    <p v-if="isMaxSmall">... <= 767</p>
    <p v-if="isMaxMedium">... <= 1023</p>
    <p v-if="isMaxLarge">... <= 1199px</p>
    <p v-if="isMaxExtraLarge">... <= 1599</p>

    <h2>min-width and max-width</h2>
    <p v-if="isSmall"> 480 =­> ... <= 767</p>
    <p v-if="isMedium">768 => ... <= 1023</p>
    <p v-if="isLarge">1024 => ... <= 1599</p>
</div>
