<div class="m-paging"
     :class="{'m--is-loading': loading}">
    <div class="m-paging__status">{{ status }}</div>
    <div class="m-paging__nav"
         v-if="nbOfPages > 1">
        <m-icon-button class="m-paging__previous-button"
                       icon-name="m-svg__chevron-circle--left"
                       skin="link"
                       @click="goToPage(value - 1)"
                       :disabled="firstPageSelected || loading">
            <m-i18n k="m-paging:previous"></m-i18n>
        </m-icon-button>
        <ul class="m-paging__pages">
            <li v-for="item of pagingItems"
                class="m-paging__item"
                :class="{'m-paging__item--ellipsis': item.ellipsis}">
                <m-link v-if="item.clickable"
                        class="m-paging__item--link"
                        mode="button"
                        :disabled="loading"
                        @click="goToPage(parseInt(item.label))">{{ item.label }}</m-link>
                <span v-else
                      class="m-paging__item--text">{{ item.label }}</span>
            </li>
        </ul>
        <m-icon-button class="m-paging__next-button"
                       icon-name="m-svg__chevron-circle--right"
                       skin="link"
                       @click="goToPage(value + 1)"
                       :disabled="lastPageSelected || loading">
            <m-i18n k="m-paging:next"></m-i18n>
        </m-icon-button>
    </div>
</div>
