<div class="m-paging">
    <m-icon-button class="m-paging__first-button"
                   icon-name="m-svg__chevron-circle--left"
                   @click="goToPage(1)"
                   :disabled="firstPageSelected">
        <m-i18n k="m-paging:first"></m-i18n>
    </m-icon-button>
    <m-icon-button class="
                   m-paging__previous-button"
                   icon-name="m-svg__chevron-circle--left"
                   @click="goToPage(value - 1)"
                   :disabled="firstPageSelected">
        <m-i18n k="m-paging:previous"></m-i18n>
    </m-icon-button>
    <ul class="m-paging__pages">
        <li v-for="page of nbOfPage">
            <m-link v-if="page !== value"
                    class="m-paging__page-link"
                    mode="button"
                    @click="goToPage(page)">{{ page }}</m-link>
            <span v-else
                  class="m-paging__page-selected">{{ page }}</span>
        </li>
    </ul>
    <m-icon-button class="m-paging__next-button"
                   icon-name="m-svg__chevron-circle--right"
                   @click="goToPage(value + 1)"
                   :disabled="lastPageSelected">
        <m-i18n k="m-paging:next"></m-i18n>
    </m-icon-button>
    <m-icon-button class="m-paging__last-button"
                   icon-name="m-svg__chevron-circle--right"
                   @click="goToPage(nbOfPage)"
                   :disabled="lastPageSelected">
        <m-i18n k="m-paging:last"></m-i18n>
    </m-icon-button>
</div>
