@import 'abstracts/variables';

.m-carousel {
    background-color: $m-color--black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    perspective: 1000px;
}
