@import 'commons';

.m-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    perspective: 1000px;
    margin: 0;
    user-select: none;
}
