<div class="m-carousel">
    <h1 v-if="title">{{title}}</h1>
    <p v-if="description">{{description}}</p>
    <v-touch class="m-carousel__viewer" @swipeleft="showNextItem" @swiperight="showPrevItem" :swipe-options="{direction: 'horizontal'}">
        <template v-for="(media, index) in medias">
            <component :key="index" :is="media" v-show="index === activeItemIndex"></component>
        </template>
    </v-touch>
    <div>
        <template v-if="items && items.length > 1">
            <m-icon-button icon-name="mpo-chevron-gauche" :disabled="prevDisabled" @click="showPrevItem"></m-icon-button>
            <m-icon-button icon-name="mpo-chevron-droit" :disabled="nextDisabled" @click="showNextItem"></m-icon-button>
            <span>{{activeItemIndex + 1}}/{{items.length}} : </span>
        </template>
        <span>{{activeItem.title}}</span>
    </div>
    <m-limit-text :lines="2">{{activeItem.description}}</m-limit-text>
    <div>{{activeItem.source}}</div>
</div>
