<div>
    <h3>
        Ajouter une marge en dessous d'une liste de cases à cocher
    </h3>
    <p>From <a href="https://jira.dti.ulaval.ca/browse/MODUL-135">MODUL-135</a></p>
    <p>
        <m-checkbox error-message="Enim ipsum qui consectetur ea in non.">Choix de réponse 1</m-checkbox><br>
        <m-checkbox>Choix de réponse 2</m-checkbox><br>
        <m-checkbox error-message="Enim ipsum qui consectetur ea in non.">Choix de réponse 3</m-checkbox>
    </p>

    <!-- Sandbox template -->
    <h3>Readonly</h3>
    <p class="m-u--margin-bottom">
        Un checkbox peut être en mode readonly. Il garde sa valeur.
        </br>From <a href="https://github.com/ulaval/modul-components/pull/579"
           target="blank">PR 579</a>

    </p>
    <p>
        <h3>Le crochet reste visible lorsque la case est désactivée</h3>
        <p class="m-u--margin-bottom">

            <!-- if relevant, add link to PR
                </br>From <a href="https://github.com/ulaval/modul-components/pull/000" target="blank" label="PR description</a>

            </p>-->
            <m-checkbox v-model="disabledCheckboxValue"
                        :disabled="disabledCheckbox"></m-checkbox>
            <m-button @click="disabledCheckbox = !disabledCheckbox">Désactiver/Activer le checkbox</m-button>
        </p>

    <m-checkbox :readonly="isReadOnly"
                v-model="checkboxReadOnlyValue">Readonly</m-checkbox><em>(Valeur checkbox: {{checkboxReadOnlyValue}})</em><br />
    <m-button @click="isReadOnly = !isReadOnly">Activer/Désactiver ReadOnly</m-button>

</div>
