<div>
    <h2>No context</h2>

    <p>Basic behavior</p>

    <m-checkbox>Default</m-checkbox>

    <hr />

    <h2>Inderteminate</h2>

    <p>Neither true or false</p>

    <m-checkbox :indeterminate="true">I am indeterminate</m-checkbox>

    <hr />

    <h2>
        Available positions
        &nbsp;<select v-model="checkboxPosition">
            <option v-for="(element, i) in checkboxPositionAsArray"
                    :value="element"
                    :selected="element === checkboxPosition"
                    :key="i">{{element}}</option>
        </select>
    </h2>

    <p>Change the position of the checkbox</p>

    <m-checkbox :position="checkboxPosition">A positionable checkbox</m-checkbox>

    <hr />

    <h2>
        With error message
    </h2>

    <p>
        Display a message bellow the checkbox
    </p>

    <m-checkbox error-message="Wrong answer">A wrongful answer</m-checkbox>

    <hr />

    <h2>
        Readonly
        &nbsp;<m-button @click="isReadOnly = !isReadOnly">{{isReadOnly ? 'Is readonly' : 'Is not readonly'}}</m-button>
    </h2>

    <p class="m-u--margin-bottom">
        A checkbox will keep it's value if marked as readonly
        &nbsp;<m-checkbox :readonly="isReadOnly"
                    v-model="checkboxReadOnlyValue">Readonly</m-checkbox><em>(Valeur checkbox: {{checkboxReadOnlyValue}})</em><br />
    </p>

    <hr />

    <h2>
        Enabled/disabled
        &nbsp;<m-button @click="disabledCheckbox = !disabledCheckbox">{{disabledCheckbox? 'Disabled' : 'Enabled'}}</m-button>
    </h2>

    <p>Will stay check if disabled when checked</p>

    <m-checkbox v-model="disabledCheckboxValue"
                :disabled="disabledCheckbox"></m-checkbox>

</div>
