@import 'abstracts/variables';
$m-checkbox--width: 16px;

.m-checkbox {
    display: inline;
    user-select: none;
    line-height: 1;

    &:not(.is-disabled) {
        cursor: pointer;

        .m-checkbox__wrap {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
        }

        .m-checkbox__label {
            flex: 1;
            color: $m-text-color;
        }

        .m-checkbox__input {
            border-color: $m-color--primary;
            color: $m-color--primary;

            .m-icon {
                position: absolute;
            }
        }

        &:hover {
            .m-checkbox__input {
                background: $m-color--primary--lightest;
            }

            .m-checkbox__label {
                color: $m-color--primary;
            }
        }

        &.m--is-focus {
            .m-checkbox__input {
                background: $m-color--primary--lightest;
            }

            .m-checkbox__label {
                color: $m-color--primary;
            }
        }

        &.m--is-checked {
            .m-checkbox__input-icon {
                visibility: visible;
            }
        }
    }

    &.m--is-disabled {
        border-color: $m-color--grey--light;
        background: $m-color--grey--lighter;
    }

    &.m--is-checkbox-left {
        .m-checkbox__label {
            padding-left: $m-margin--s;
        }
    }

    &.m--is-checkbox-right {
        flex-direction: row-reverse;

        .m-checkbox__label {
            padding-right: $m-margin--s;
        }
    }

    &__input-icon {
        visibility: hidden;
    }

    &__input {
        transition: 0.3s background ease;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: $m-checkbox--width;
        height: $m-checkbox--width;
        background: $m-color--white;
        border-width: 1px;
        border-style: solid;
        border-radius: $m-border-size / 2;
    }

    &__label {
        transition: 0.3s color ease;
    }

    &__hidden {
        @include visuallyHidden;
    }
}
