<div>
    <h3>
        Ajouter une marge en dessous d'une liste de cases à cocher
    </h3>
    <p>From <a href="https://jira.dti.ulaval.ca/browse/MODUL-135">MODUL-135</a></p>
    <p>
        <m-checkbox error-message="Enim ipsum qui consectetur ea in non.">Choix de réponse 1</m-checkbox><br>
        <m-checkbox>Choix de réponse 2</m-checkbox><br>
        <m-checkbox error-message="Enim ipsum qui consectetur ea in non.">Choix de réponse 3</m-checkbox>
    </p>

    <!-- Sandbox template -->
    <h3>Test Title</h3>
    <p class="m-u--margin-bottom">
        Test description
        <!-- if relevant, add link to PR
        </br>From <a href="https://github.com/ulaval/modul-components/pull/000" target="blank">PR description</a>
        -->
    </p>
</div>
