@import 'abstracts/variables';
$m-checkbox--width: 16px;

.m-checkbox {
    display: inline;
    user-select: none;
    line-height: 1;

    &:not(.is-disabled) {
        cursor: pointer;

        .m-checkbox {
            &__wrap {
                display: inline-flex;
                align-items: center;
                cursor: pointer;
            }

            &__label {
                flex: 1;
                color: $m-color--text;
            }

            &__input {
                position: relative;
                border-color: $m-color--text;
                color: $m-color--primary;

                &__icon {
                    position: relative;
                    top: -1px; // Magic number
                    left: 1px; // Magic number
                    width: 10px;
                    height: 5px;
                    transform: rotate(-32deg);

                    &::before,
                    &::after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        content: '';
                        background: $m-color--primary;
                        width: 0;
                        border-radius: 2px;
                    }

                    &::before {
                        bottom: 0;
                        transition: 0.1s width ease;
                        transition-delay: 0;
                        transform: rotate(-20deg);
                        width: 0;
                        height: 2px;
                    }

                    &::after {
                        top: 0;
                        transition: 0.1s height ease;
                        transition-delay: 0.1s;
                        width: 2px;
                        height: 0;

                    }
                }
            }
        }

        &:hover,
        &.m--is-focus {
            .m-checkbox {
                &__input {
                    border-color: $m-color--primary;
                    background: $m-color--primary-lightest;
                }

                &__label {
                    color: $m-color--primary;
                }
            }
        }

        &.m--is-checked {
            .m-checkbox {
                &__input {
                    &__icon {
                        &::before {
                            transition-delay: 0.2s;
                            width: 10px;
                        }

                        &::after {
                            transition-delay: 0;
                            height: 6px;
                        }
                    }
                }
            }
        }
    }

    &.m--is-disabled {
        border-color: $m-color--grey-light;
        background: $m-color--grey-lighter;
    }

    &.m--is-checkbox-left {
        .m-checkbox {
            &__label {
                padding-left: $m-margin--s;
            }
        }
    }

    &.m--is-checkbox-right {
        .m-checkbox {
            &__wrap {
                flex-direction: row-reverse;
            }

            &__label {
                padding-right: $m-margin--s;
            }
        }
    }

    &__input {
        transition: 0.3s background ease, 0.3s border-color ease;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: $m-checkbox--width;
        height: $m-checkbox--width;
        background: $m-color--white;
        border-width: $m-border-width--s;
        border-style: solid;
        border-radius: $m-border-width;
    }

    &__label {
        transition: 0.3s color ease;
    }

    &__hidden {
        @include visuallyHidden;
    }
}
