<div v-if="!hasErrors" v-cloak>
    <slot :data="data"></slot>
    <component :is="tag" v-model="data['value']" v-bind.sync="data"></component>
    <table>
        <tr v-for="(value, key) in meta.attributes">
            <td>{{ key }}</td>
            <td>{{ value.type }}</td>
            <td>
                <div v-if="value.type === 'boolean'">
                    <input  type="checkbox" v-model="data[key]" />
                </div>
                <div v-else-if="value.type === 'string'">
                    <input type="text" v-model="data[key]" />
                </div>
                <div v-else-if="value.type === 'string[]'">
                    <input  type="text" :value="data[key]" @input="assignArrayProp(key, $event.target.value)" /> {{ data[key] }}
                </div>
                <div v-else-if="value.type === 'number'">
                    <input type="number" v-model="data[key]" />
                </div>
                <div v-else-if="meta.enums[value.type]">
                    <select v-model="data[key]">
                        <option v-for="value in meta.enums[value.type]" :value="value">{{ value }}</option>
                    </select>
                </div>
                <div v-else>
                    <input type="text" v-model="data[key]" />
                    This type is not supported by dynamicSandbox.  Some custom validator errors may arise.
                </div>
            </td>
        </tr>
    </table>
</div>
