@import 'abstracts/variables';

.m-bullet-list {
    &__title {
        font-weight: $m-font-weight--bold;
        margin: 0 0 $m-margin--s 0;
    }

    &__list {
        margin: 0;

        @include m-bullet-list();
    }
}
