@import 'abstracts/variables';
$m-menu-item--color-hover: $m-color--interactive-lightest !default;
$m-menu-item--color-select: $m-color--grey-light !default;
$m-menu-item--color-active: $m-color--grey-lightest !default;

.m-menu-item {
    display: flex;
    text-decoration: none;

    .m--has-icon-spacing {
        .m-menu-item {
            &__text {
                padding-left: 10px;
            }
        }
    }

    &__icon,
    &__text {
        padding-top: $m-padding;
        padding-bottom: $m-padding;
    }

    &__icon {
        color: $m-color--grey-darker;
        width: 32px;
        padding-left: $m-padding;
    }

    &__text {
        flex: 1 1 auto;
        color: $m-color--black;
        padding-right: $m-padding;
        padding-left: $m-padding;
    }

    &.m--is-disabled {
        cursor: not-allowed;
    }

    &:not(.m--is-disabled) {
        transition: background $m-transition-duration ease;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: $m-menu-item--color-hover;

            .m-menu-item {
                &__icon {
                    color: $m-color--black-grey;
                }
            }
        }

        &:active {
            background-color: $m-menu-item--color-active;
        }
    }

    &:focus {
        outline: 0;
    }

    @media (max-width: $m-mq--min--s) {
        width: 100%;
    }
}
