@import 'commons';

$m-dialog--max-width: 380px !default;
$m-dialog--max-width--l: 500px !default;

.m-dialog {
    display: inline-block;

    &__wrap {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        min-width: $m-min-width;
        overflow: auto;
        padding: $m-spacing--l;

        @include m-is-ie() {
            display: block;
        }

        @media (max-width: $m-mq--max--s) {
            padding-left: $m-spacing--s;
            padding-right: $m-spacing--s;
        }

        &.m--is-enter-active,
        &.m--is-leave-active {
            transition-duration: $m-transition-duration;

            .m-dialog__article {
                transition: transform $m-transition-duration ease, opacity $m-transition-duration--s linear;
            }
        }

        &.m--is-enter,
        &.m--is-leave-to {
            .m-dialog__article {
                transform: translate3d(0, $m-padding--l, 0) scale(0.98);
                opacity: 0;
            }
        }
    }

    &__article {
        margin-top: auto;
        margin-bottom: auto;
        border-radius: $m-border-radius;
        cursor: auto;
        width: 100%;
        max-width: $m-dialog--max-width;
        background: $m-color--white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);

        @include m-is-ie() {
            margin: 60px auto;
        }

        &.m--has-width-large {
            max-width: $m-dialog--max-width--l;
        }
    }

    &__header,
    &__body,
    &__footer {
        &.m--no-padding {
            padding: 0;
        }

        > :first-child {
            margin-top: 0;

            > :first-child {
                margin-top: 0;
            }
        }
    }

    &__header {
        width: 100%;
        border-bottom: 1px solid $m-color--border;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            font-size: $m-font-size--h4;
            font-weight: $m-font-weight--semi-bold;
        }

        &:not(.m--no-padding) {
            padding: $m-spacing;

            @media (min-width: $m-mq--min--s) {
                padding: 28px $m-spacing--m 26px;
            }
        }
    }

    &__body {
        text-align: center;

        &:not(.m--no-padding) {
            padding: $m-spacing--m $m-spacing;

            @media (min-width: $m-mq--min--s) {
                padding: $m-spacing--l $m-spacing--m;
            }
        }

        @include m-scrollbar();

        ~ .m-dialog__footer {
            padding-top: 0;
        }

        .m-dialog {
            &__hint {
                display: flex;
                border: 1px solid $m-color--hint;
                background-color: $m-color--white;
                padding: 2px;
                position: relative;

                &--body {
                    min-width: 100%;
                    border: 1px solid $m-color--hint;
                    padding: 10px $m-spacing--s;
                    text-align: left;
                    font-style: italic;
                    font-size: $m-font-size;
                    line-height: 1;
                    display: flex;
                }

                &--icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                    position: relative;
                    top: -2px;

                    .m-icon {
                        color: $m-color--hint;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                &--text {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding-left: 10px;
                    font-size: $m-font-size--h6;
                }
            }

            &__message {
                font-size: 18px;

                @media (min-width: $m-mq--min--s) {
                    font-size: $m-font-size--h5;
                }

                + .m-dialog__hint {
                    margin-top: $m-spacing;

                    @media (min-width: $m-mq--min--s) {
                        margin-top: $m-spacing--m;
                    }
                }
            }

            &__state-icon {
                .m-message {
                    &.m--is-skin-page-light {
                        margin-top: -$m-spacing--s;
                        margin-bottom: $m-spacing;

                        @media (min-width: $m-mq--min--s) {
                            margin-top: -$m-spacing;
                        }
                    }
                }
            }
        }
    }

    &__footer {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        &:not(.m--no-padding) {
            padding: 0 $m-spacing $m-spacing;

            @media (min-width: $m-mq--min--s) {
                padding: 0 $m-spacing--m 28px;
            }
        }

        &__nav {
            display: inline-flex;
            flex-direction: column;
            align-items: center;

            .m-link {
                margin-top: $m-margin;
            }
        }

        .m-button {
            + .m-button {
                margin-top: $m-margin;
            }
        }
    }
}
