@import 'commons';
$m-dialog--max-width: 380px !default;
$m-dialog--max-width--l: 500px !default;

.m-dialog {
    display: inline-block;

    &__wrap {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        min-width: $m-min-width;
        overflow: auto;
        padding: $m-spacing--l;

        @include m-is-ie() {
            display: block;
        }

        @media (max-width: $m-mq--max--s) {
            padding-left: $m-spacing--s;
            padding-right: $m-spacing--s;
        }

        &.m--is-enter-active,
        &.m--is-leave-active {
            transition-duration: $m-transition-duration;

            .m-dialog__article {
                transition: transform $m-transition-duration ease, opacity $m-transition-duration--s linear;
            }
        }

        &.m--is-enter,
        &.m--is-leave-to {
            .m-dialog__article {
                transform: translate3d(0, $m-padding--l, 0) scale(0.98);
                opacity: 0;
            }
        }
    }

    &__article {
        margin-top: auto;
        margin-bottom: auto;
        border-radius: $m-border-radius;
        cursor: auto;
        width: 100%;
        max-width: $m-dialog--max-width;
        background: $m-color--white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);

        @include m-is-ie() {
            margin: 60px auto;
        }

        &.m--has-width-large {
            max-width: $m-dialog--max-width--l;
        }
    }

    &__header,
    &__body,
    &__footer {
        &.m--no-padding {
            padding: 0;
        }

        > :first-child {
            margin-top: 0;

            > :first-child {
                margin-top: 0;
            }
        }
    }

    &__body,
    &__footer {
        &:not(.m--no-padding) {
            padding: $m-spacing--l $m-spacing;

            @media (min-width: $m-mq--min--s) {
                padding: $m-spacing--l $m-spacing--m;
            }
        }
    }

    &__header {
        width: 100%;
        border-bottom: 1px solid $m-color--border;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            font-size: $m-font-size--h4;
            font-weight: $m-font-weight--bold;
        }

        &:not(.m--no-padding) {
            padding: $m-spacing $m-spacing;

            @media (min-width: $m-mq--min--s) {
                padding: $m-spacing $m-spacing--m;
            }
        }
    }

    &__body {
        text-align: center;

        @include m-scrollbar();

        ~ .m-dialog__footer {
            padding-top: 0;
        }
    }

    &__footer {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        &__nav {
            display: inline-flex;
            flex-direction: column;
            align-items: center;

            .m-link {
                margin-top: $m-margin;
            }
        }
    }
}
