<div class="m-dialog">
    <div class="m-dialog__backdrop" @click.self="onBackdropClick" aria-hidden>
        <div class="m-dialog__wrapper">
            <div class="m-dialog__container">
                <div class="m-dialog__body">
                    <slot name="body"></slot>
                </div>
                <div class="m-dialog__footer">
                    <div class="m-dialog__footer-content">
                        <slot name="footer"></slot>
                        <m-link v-if="!isModal" type="button" @onClick="onClose">Fermer</m-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
