<div class="m-dialog" ref="baseWindow">
    <slot name="trigger"></slot>
    <portal :target-el="'#' + propId">
        <transition name="m--is">
            <div v-show="propOpen"
                 class="m-dialog__wrap m--is-dialog"
                 :class="[{ 'm--is-small': sizeSmall,
                            'm--is-large': sizeLarge,
                            'm--is-full-screen': sizeFullSceen,
                            'm--has-body-max-width': bodyMaxWidth,
                            'm--is-close-on-backdrop': closeOnBackdrop,
                            'm--is-disabled':disabled }, className ]"
                 @click.self="backdropClick()"
                 ref="dialogWrap">
                <article class="m-dialog__article" :style="{ width: propWidth, 'margin-left': marginLeft }" ref="article">
                    <header>
                        <div class="m-dialog__header"
                             :class="{ 'm--has-title': hasTitle,
                                       'm--has-content': hasHeader,
                                       'm--no-padding': !padding || !paddingHeader }">
                            <h2 v-if="hasTitle">{{ title }}</h2>
                            <slot name="header"></slot>
                            <m-icon-button @click="closeDialog()" icon-name="close" skin="dark" class="m-dialog__header__close-button">
                                <m-i18n k="m-dialog:close"></m-i18n>
                            </m-icon-button>
                        </div>
                    </header>
                    <div class="m-dialog__body"
                         :class="{ 'm--no-padding': !padding || !paddingBody }" v-if="hasDefaultSlot">
                        <slot></slot>
                    </div>
                    <footer v-if="hasFooterSlot">
                        <div class="m-dialog__footer"
                             :class="{ 'm--no-padding': !padding || !paddingFooter }">
                            <slot name="footer"></slot>
                        </div>
                    </footer>
                </article>
            </div>
        </transition>
    </portal>
</div>
