@import '../../styles/abstracts/variables';
$m-dialog--max-width--l: $m-max-width !default;
$m-dialog--max-width: 640px !default;
$m-dialog--max-width--s: 420px !default;

.m-dialog {
    display: inline-block;

    &__wrap {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        min-width: $m-min-width;
        overflow: hidden;

        @include m-is-ie() {
            display: block;
        }

        @media screen and (min-width: $m-mq--min--s) {
            padding: $m-padding--l $m-padding--l 0 $m-padding--l;
        }

        &.m--is-close-on-backdrop {
            cursor: pointer;
        }

        &.m--is-enter-active,
        &.m--is-leave-active {
            @media screen and (max-width: #{$m-mq--max--s}) {
                transition-duration: 0.6s;
            }

            @media screen and (min-width: #{$m-mq--min--s}) {
                transition-duration: $m-transition-duration;
            }
        }

        &.m--is-enter,
        &.m--is-leave-to {
            .m-dialog__article {
                @media screen and (max-width: #{$m-mq--max--s}) {
                    transform: translate3d(0, 110%, 0);
                }

                @media screen and (min-width: #{$m-mq--min--s}) {
                    transform: translate3d(0, $m-padding--l, 0) scale(0.98);
                    opacity: 0;
                }
            }
        }

        &.m--is-full-size {
            .m-dialog__article {
                @media screen and (min-width: #{$m-mq--min--s}) {
                    max-width: 100%;
                    height: 100%;
                }
            }
        }

        &.m--is-large {
            .m-dialog__article {
                @media screen and (min-width: #{$m-mq--min--s}) {
                    max-width: $m-dialog--max-width--l;
                }
            }
        }

        &.m--is-small {
            .m-dialog__article {
                @media screen and (min-width: #{$m-mq--min--s}) {
                    max-width: $m-dialog--max-width--s;
                }
            }
        }
    }

    &__article {
        cursor: auto;
        width: 100%;
        background: $m-color--white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        max-height: 100%;

        @media screen and (max-width: #{$m-mq--max--s}) {
            transition: transform 0.6s ease;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: 0 !important; //style for IE
        }

        @media screen and (min-width: #{$m-mq--min--s}) {
            transition: transform $m-transition-duration ease, opacity $m-transition-duration--s linear;
            margin-top: auto;
            margin-bottom: auto;
            max-width: $m-dialog--max-width;
            transform: translate3d(0, 0, 0);
        }

        @include m-is-ie() {
            margin: $m-padding--l*2 auto;
        }
    }

    &__header,
    &__body,
    &__footer {
        > :first-child {
            margin-top: 0;

            > :first-child {
                margin-top: 0;
            }
        }
    }

    &__body,
    &__footer {
        &.m--no-padding {
            padding: 0;
        }
    }

    &__header {
        position: relative;
        background: $m-color--black-grey;
        color: $m-color--white;
        padding: $m-margin $m-touch-size $m-margin $m-padding;

        &.m--no-padding {
            padding: 0 $m-touch-size 0 0;
        }

        &__close-button.m-icon-button {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate3d(0, -50%, 0);
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            font-size: $m-font-size--h2;
            font-weight: $m-font-weight--bold;
        }
    }

    &__body {
        padding: $m-padding;
        flex: 1 1 auto;
        overflow-x: hidden;
        overflow-y: auto;

        @include m-is-ie() {
            flex: none;
        }

        @include m-scrollbar-ie();

        &::-webkit-scrollbar {
            @include m-scrollbar();

            &-track-piece {
                @include m-scrollbar-track-piece();
            }

            &-thumb {
                @include m-scrollbar-thumb();
            }
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        min-height: $m-touch-size;
        padding: $m-margin $m-padding;
        border-top: 1px solid $m-color--grey;
    }
}
