@import '../../styles/abstracts/variables';
$m-dialog--max-width--l: $m-max-width !default;
$m-dialog--max-width: 600px !default;
$m-dialog--max-width--s: 420px !default;

.m-dialog {
    // display: inline-block; // commented because the display property cause the div to show empty space. Related to https://github.com/ulaval/modul-components/issues/49

    &__wrap {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        min-width: $m-min-width;
        overflow: hidden;

        // doesn't work for slot content because of the scoped style... >_<
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            font-size: $m-font-size--h4;
            font-weight: $m-font-weight--bold;
        }
        ////////////////////////////////////////////

        @include m-is-ie() {
            display: block;
        }

        &.m--is-close-on-backdrop {
            cursor: pointer;
        }

        &.m--is-enter-active,
        &.m--is-leave-active {
            &.m--is-full-screen {
                transition-duration: $m-transition-duration--xl;
            }

            &:not(.m--is-full-screen) {
                transition-duration: $m-transition-duration;
            }
        }

        &.m--is-enter,
        &.m--is-leave-to {
            &:not(.m--is-full-screen) {
                .m-dialog__article {
                    transform: translate3d(0, $m-padding--l, 0) scale(0.98);
                    opacity: 0;
                }
            }

            &.m--is-full-screen {
                .m-dialog__article {
                    transform: translate3d(0, 110%, 0);
                }
            }
        }

        &:not(.m--is-full-screen) {
            padding: $m-padding--l $m-padding--l 0 $m-padding--l;

            .m-dialog__article {
                transition: transform $m-transition-duration ease, opacity $m-transition-duration--s linear;
                margin-top: auto;
                margin-bottom: auto;
                max-width: $m-dialog--max-width;
                transform: translate3d(0, 0, 0);
            }
        }

        &.m--is-full-screen {
            .m-dialog__article {
                transition: transform $m-transition-duration--xl ease;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: 0 !important; //style for IE
            }
        }

        &.m--is-large {
            .m-dialog__article {
                max-width: $m-dialog--max-width--l;
            }
        }

        &.m--is-small {
            .m-dialog__article {
                max-width: $m-dialog--max-width--s;
            }
        }

        &.m--has-body-max-width {
            .m-dialog__body {
                max-width: $m-max-width--l;
                margin: 0 auto;
            }
        }
    }

    &__article {
        cursor: auto;
        width: 100%;
        background: $m-color--white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        max-height: 100%;

        @include m-is-ie() {
            margin: $m-padding--l*2 auto;
        }
    }

    &__header,
    &__body,
    &__footer {
        > :first-child {
            margin-top: 0;

            > :first-child {
                margin-top: 0;
            }
        }
    }

    &__header,
    &__footer {
        min-height: $m-box--min-height;

        @include m-box-padding($m-padding);
    }

    &__header {
        position: relative;
        background: $m-color--black-grey;
        color: $m-color--white;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__close-button {
            margin-right: -12px; // Magic number: visually align
        }

        &:not(.m--has-content) {
            justify-content: flex-end;
        }
    }

    &__body {
        position: relative;
        width: 100%;
        flex: 1 1 auto;
        overflow-x: hidden;
        overflow-y: auto;
        min-height: 120px;

        @include m-box-padding();

        @include m-is-ie() {
            flex: none;
        }

        @include m-scrollbar();
    }

    &__footer {
        border-top: 1px solid $m-color--grey;
    }
}
