<div>
    <h2 class="m-u--h4 m-u--no-margin">Dialog Example #1 - Width default</h2>
    <m-dialog class="m-u--margin-top" title="Dialog Example #1">
        <m-button slot="trigger">Ouvrir Dialog #1</m-button>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, delectus, quisquam nobis recusandae, vel
        doloribus iure sapiente debitis nisi pariatur impedit asperiores magni rerum ratione qui voluptatum dolorum vero
        id!
    </m-dialog>
    <br/>
    <br/>
    <br/>
    <h2 class="m-u--h4 m-u--no-margin">Dialog Example #2 - Width default, type=error, with hint</h2>
    <m-dialog class="m-u--margin-top" hint="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a nisi
     sagittis, convallis nibh ac, egestas enim." type="error" title="Dialog Example #2">
        <m-button slot="trigger">Ouvrir Dialog #2</m-button>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, delectus, quisquam nobis recusandae, vel
        doloribus iure sapiente debitis nisi pariatur impedit asperiores magni rerum ratione qui voluptatum dolorum vero
        id!
    </m-dialog>
    <br/>
    <br/>
    <br/>
    <h2 class="m-u--h4 m-u--no-margin">Dialog Example #3 - Width default,type=confirmation</h2>
    <m-dialog class="m-u--margin-top" title="Dialog Example #3" type="confirmation">
        <m-button slot="trigger">Ouvrir Dialog #3</m-button>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, delectus, quisquam nobis recusandae, vel
        doloribus iure sapiente debitis nisi pariatur impedit asperiores magni rerum ratione qui voluptatum dolorum vero
        id!
    </m-dialog>
    <br/>
    <br/>
    <h2 class="m-u--h4 m-u--no-margin">Dialog Example #4 - Width large, type=information, with hint</h2>
    <m-dialog class="m-u--margin-top" title="Dialog Example #4" hint="Lorem ipsum dolor sit amet, consectetur adipiscing
     elit. Quisque a nisi sagittis, convallis nibh ac, egestas enim."type="information" width="large">
        <m-button slot="trigger">Ouvrir Dialog #4</m-button>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, delectus, quisquam nobis recusandae, vel
        doloribus iure sapiente debitis nisi pariatur impedit asperiores magni rerum ratione qui voluptatum dolorum vero
        id!
    </m-dialog>
    <br/>
    <br/>
    <h2 class="m-u--h4 m-u--no-margin">Dialog Example #5 - Width large, type=warning</h2>
    <m-dialog class="m-u--margin-top" type="warning" title="Dialog Example #5" width="large">
        <m-button slot="trigger">Ouvrir Dialog #5</m-button>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, delectus, quisquam nobis recusandae, vel
        doloribus iure sapiente debitis nisi pariatur impedit asperiores magni rerum ratione qui voluptatum dolorum vero
        id!
    </m-dialog>
</div>
