@import '../../styles/abstracts/variables';
$m-dialog-primary--max-width: 380px !default;
$m-dialog-secondary--max-width: 640px !default;
$m-dialog-secondary--header-height: $m-touch-size !default;

.m-dialog {
    &__wrap {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;

        @media screen and (min-width: $m-screen--min--s) {
            padding: $m-padding--l;
        }

        &.m--is-primary {
            padding: $m-padding;

            .m-dialog {
                &__article {
                    transition: 0.3s transform ease, 0.2s opacity linear;
                    margin-top: auto;
                    margin-bottom: auto;
                    transform: translate3d(0, $m-padding--l, 0);
                    opacity: 0;
                    border-radius: $m-border-radius;

                    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                        margin-top: 60px;
                    }

                    @media screen and (min-width: #{$m-dialog-primary--max-width + $m-padding * 2}) {
                        width: $m-dialog-primary--max-width;
                    }
                }

                &__header {
                    border-bottom: 1px solid $m-color--grey-light;
                }
            }

            &.m--is-open {
                .m-dialog {
                    &__article {
                        transform: translate3d(0, 0, 0);
                        opacity: 1;
                    }
                }
            }
        }

        &.m--is-secondary {
            .m-dialog {
                &__article {
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;

                    @media screen and (max-width: #{$m-screen--max--s}) {
                        transition: 0.45s transform ease;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        transform: translate3d(0, 100%, 0);
                    }

                    @media screen and (min-width: #{$m-screen--min--s}) {
                        transition: 0.3s transform ease, 0.2s opacity linear;
                        transform: translate3d(0, $m-padding--l, 0);
                        margin-top: auto;
                        margin-bottom: auto;
                        max-width: $m-dialog-secondary--max-width;
                        opacity: 0;
                    }
                }

                &__header {
                    position: relative;
                    background: $m-color--black-grey;
                    color: $m-color--white;
                    min-height: $m-dialog-secondary--header-height;

                    &__title {
                        padding-right: $m-touch-size;
                    }

                    &__close-button {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        margin: 0;
                        color: $m-color--white;
                        transform: translate3d(0, -50%, 0);
                        stroke-width: 2px;

                        &::after {
                            background: $m-color--black-grey-light;
                        }
                    }
                }

                &__body {
                    flex: 1;
                    overflow-x: hidden;
                    overflow-y: auto;
                }
            }

            &.m--is-open {
                .m-dialog {
                    &__article {
                        @media screen and (max-width: #{$m-screen--max--s}) {
                            transform: translate3d(0, 0, 0);
                        }

                        @media screen and (min-width: #{$m-screen--min--s}) {
                            transform: translate3d(0, 0, 0);
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &.m--is-clickable-backdrop {
            cursor: pointer;
        }
    }

    &__article {
        cursor: auto;
        width: 100%;
        background: $m-color--white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    }

    &__body {
        padding: $m-padding;
    }

    &__header {
        display: flex;
        align-items: center;
        padding: $m-margin $m-padding;

        &__title {
            flex: 1;
            margin: 0;
            font-size: $m-font-size--h5;
            font-weight: $m-font-weight--bold;
            line-height: 1.2;
        }
    }

    &__footer {
        padding: 0 $m-padding $m-padding;
        text-align: center;

        &__nav {
            display: inline-flex;
            flex-direction: column;
        }

        .m-button {
            margin-top: $m-padding--s;
        }

        .m-button__text {
            width: 100%;
            text-align: center;
        }
    }
}
