<div :id="id"
     class="m-base-calendar"
     :class="{'m--is-picker-mode-year': isPickerModeYear}">
    <nav class="m-base-calendar__header"
         :class="{'m--is-select-mode': !isPickerModeDay}">
        <m-link class="m-base-calendar__current-month-and-year"
                :mode="modeLinkCurrentMonthAndYear"
                @click.stop="onYearClick"
                aria-live="polite"
                ref="currentDate">{{ currentMonthName }} {{ currentYear }}</m-link>

        <div v-if="isPickerModeDay"
             class="m-base-calendar__nav-buttons">
            <m-icon-button class="m-base-calendar__previous"
                           @click.stop="onMonthPrevious()"
                           :disabled="isMinMonth"
                           icon-name="m-svg__chevron--left"
                           ref="previousMonth"
                           skin="link">{{ previousMonthLabel }}</m-icon-button>
            <m-icon-button class="m-base-calendar__next"
                           @click.stop="onMonthNext()"
                           :disabled="isMaxMonth"
                           icon-name="m-svg__chevron--right"
                           ref="nextMonth"
                           skin="link">{{ nextMonthLabel }}</m-icon-button>
        </div>
    </nav>
    <div class="m-base-calendar__body"
         :class="{'m--is-max-row': isMaxRow}"
         aria-live="polite">

        <div v-if="isPickerModeYear"
             class="m-base-calendar__years">
            <div v-for="(y, yearIndex) in years"
                 :key="yearIndex"
                 class="m-base-calendar__year"
                 :class="{'m--is-selected': y.isCurrent}"
                 @click.stop="onYearSelect(y)"
                 @keyup.enter="onYearSelect(y)"
                 :ref="buildRef('year', y)"
                 role="button"
                 tabindex="0">{{ y.year }}</div>
        </div>
        <div v-if="isPickerModeMonth"
             class="m-base-calendar__months">
            <div v-for="(m, monthIndex) in months"
                 :key="monthIndex"
                 class="m-base-calendar__month"
                 :class="{'m--is-disabled': m.isDisabled,
                          'm--is-selected': m.isCurrent}"
                 @click.stop="onMonthSelect(m)"
                 @keyup.enter="onMonthSelect(m)"
                 :ref="buildRef('month', m)"
                 role="button"
                 :tabindex="monthTabIndex(m)">{{ monthIndexToShortName(m.month) }}</div>
        </div>
        <template v-if="isPickerModeDay">
            <div class="m-base-calendar__week">
                <span v-for="(w, weekdayIndex) in weekdaysLabels"
                      :key="weekdayIndex"
                      class="m-base-calendar__weekday">{{ w }}</span>
            </div>
            <div class="m-base-calendar__days">
                <div v-for="(d, dayIndex) in days"
                     :key="dayIndex"
                     class="m-base-calendar__day"
                     :class="{ 'm--is-highlighted': d.isHighlighted,
                                'm--is-in-future': isDateInFuture(d),
                                'm--is-inside-range': isInsideRange(d),
                                'm--is-disabled': d.isDisabled || hideDay(d),
                                'm--is-other-month': d.isInPreviousMonth || d.isInNextMonth,
                                'm--is-selection-start': isSelectionStart(d),
                                'm--is-selection-end': isSelectionEnd(d),
                                'm--is-selected': d.isSelected,
                                'm--is-today': d.isToday,}"
                     @click.stop="onDaySelect(d)"
                     @keyup.enter="onDaySelect(d)"
                     @keyup.tab="onDaykeyboardTab(d)"
                     @mouseenter="onDayMouseEnter(d)"
                     @mouseleave="onDayMouseLeave(d)"
                     :ref="buildRef('day', d)"
                     role="button"
                     :tabindex="dayTabIndex(d)">
                    <span class="m-base-calendar__day-content"
                          :class="{ 'm--is-hidden': hideDay(d) }"
                          tabindex="-1">{{ d.day }}</span>
                </div>
            </div>
        </template>
    </div>
</div>
