@import 'commons';

$m-base-calendar-week-length: 7 !default;
$m-base-calendar-dimension: $m-touch-size !default;
$m-base-calendar-weekday-height: 33px !default; // magic number
$m-base-calendar-min-width: $m-base-calendar-dimension * $m-base-calendar-week-length !default;
$m-base-calendar--border-focus: 1px solid m-color(interactive, darker);

@mixin m-base-calendar__show-indicator() {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

@mixin m-base-calendar__today() {
    font-weight: $m-font-weight--semi-bold;

    &::before {
        background-color: $m-color--grey-light;
        border-color: $m-color--grey-light;

        @include m-base-calendar__show-indicator();
    }
}

@mixin m-base-calendar__grid($col: $m-base-calendar-week-length, $width: $m-base-calendar-dimension, $height: $m-base-calendar-dimension) {
    text-align: center;
    display: grid;
    grid-template-columns: repeat($col, $width);
    grid-auto-rows: $height;
}

.m-base-calendar {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $m-mq--max--s) {
        padding: m-spacing(s);
    }

    @media (min-width: $m-mq--min--s) {
        padding: m-spacing() m-spacing(m) m-spacing(m) m-spacing(m);
        border: $m-border-width--s solid $m-color--border;
    }

    &.m--is-picker-mode-year {
        .m-base-calendar__body {
            overflow: auto;

            @include m-scrollbar();
        }
    }

    &__next,
    &__previous {
        color: m-color(interactive);

        &:hover,
        &:focus {
            color: m-color(interactive, darker);
        }
    }

    &__header,
    &__body {
        background: $m-color--white;

        @media (max-width: $m-mq--max--s) {
            min-width: $m-base-calendar-min-width;
        }

        @media (min-width: $m-mq--min--s) {
            min-width: $m-base-calendar-week-length * $m-base-calendar-dimension;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: m-spacing(s);
        min-height: $m-touch-size;

        &.m--is-select-mode {
            border-bottom: 1px solid m-color(border);
        }
    }

    &__current-month-and-year {
        margin: 0 3px 0 0;
    }

    &__nav-buttons {
        margin-right: -16px; // Magic number: align buttons with calendar
    }

    &__body {
        // for animation purpose
        transition: height $m-transition-duration ease;
        height: ($m-base-calendar-dimension * 5) + $m-base-calendar-weekday-height;

        &.m--is-max-row {
            height: ($m-base-calendar-dimension * 6) + $m-base-calendar-weekday-height;
        }
    }

    &__years {
        @include m-base-calendar__grid(5, minmax($m-base-calendar-dimension, auto));
    }

    &__months {
        @include m-base-calendar__grid(3, minmax($m-base-calendar-dimension, auto));

        transition: color $m-transition-duration ease;
        font-weight: $m-font-weight--semi-bold;
    }

    &__week {
        @include m-base-calendar__grid($height: auto);

        align-items: center;
        border-bottom: $m-border-width--s solid $m-color--border;
        padding: 0 0 m-spacing(xs) 0;
        margin: 0 0 m-spacing(s) 0;
    }

    &__weekday {
        font-weight: $m-font-weight--semi-bold;
        color: m-color(grey);
    }

    &__days {
        @include m-base-calendar__grid();

        overflow: hidden;
    }

    &__year,
    &__month,
    &__day {
        transition: background-color $m-transition-duration ease, color $m-transition-duration ease;
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;

        &::before {
            transition: transform $m-transition-duration--l ease, opacity $m-transition-duration ease, background-color $m-transition-duration ease, border-color $m-transition-duration ease;
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            display: block;
            width: $m-base-calendar-dimension;
            height: $m-base-calendar-dimension;
            border-radius: 50%;
            border: 1px solid m-color(interactive);
            opacity: 0;
            transform: translate(-50%, -50%) scale(0.8);
            transform-origin: center;
        }

        // mouse only, to avoid sticky hover on mobile
        @media (pointer: fine) {
            &:not(.m--is-disabled):not(.m--is-selected) {
                &:hover,
                &:focus {
                    color: m-color(interactive);
                }

                &:active {
                    color: m-color(white);
                }
            }

            &:not(.m--is-disabled) {
                cursor: pointer;

                &:hover,
                &:focus {
                    &::before {
                        @include m-base-calendar__show-indicator();
                    }
                }

                &:active {
                    &::before {
                        transform: translate(-50%, -50%) scale(0.9);
                        border-color: m-color(interactive, dark);
                        background: m-color(interactive, dark);
                    }
                }
            }
        }

        &.m--is-today:not(.m--is-selected) {
            // today style shouldn't be visible on hover
            &:not(:hover) {
                @include m-base-calendar__today();

                // when inside a daterange selection
                &.m--is-highlighted {
                    &::before {
                        border: 1px solid $m-color--grey-light;
                        background-color: $m-color--interactive-lightest;
                    }
                }

                &:focus {
                    border: $m-base-calendar--border-focus;
                }
            }

            // when today is outside of min or max date
            &.m--is-disabled {
                @include m-base-calendar__today();

                color: $m-color--white;
            }
        }

        &.m--is-selected {
            color: $m-color--white;
            font-weight: $m-font-weight--semi-bold;
            border-radius: 50%;

            &::before {
                background-color: m-color(interactive);

                @include m-base-calendar__show-indicator();
            }
        }

        &.m--is-highlighted {
            background-color: $m-color--interactive-lightest;

            &:hover:not(.m--is-selection-start):not(.m--is-inside-range),
            &:focus:not(.m--is-selection-start):not(.m--is-inside-range) {
                border-radius: 50% 0 0 50%;

                &.m--is-in-future {
                    border-radius: 0 50% 50% 0;
                }
            }
        }

        &.m--is-selection-start {
            border-radius: 50%;
        }

        &.m--is-selection-end:not(.m--is-selection-start) {
            border-radius: 0 50% 50% 0;
        }

        &.m--is-other-month {
            color: m-color(gray, dark);
        }

        &.m--is-disabled {
            background-color: transparent;
            color: $m-color--grey-light;
            cursor: default;
        }
    }

    &__day:not(.m--is-disabled):not(.m--is-other-month) {
        font-weight: $m-font-weight--semi-bold;
    }

    &__day-content {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $m-base-calendar-dimension;
        height: $m-base-calendar-dimension;
        margin: 0 auto;
        outline: none;

        &.m--is-hidden {
            display: none;
        }
    }

    // for left to right range selection visual
    .m--is-selection-start {
        & + .m--is-highlighted,
        &:nth-child(7n) + .m--is-highlighted {
            z-index: 0;

            &::after {
                position: absolute;
                z-index: -2;
                top: -50%;
                left: -50%;
                content: '';
                width: $m-touch-size;
                height: $m-touch-size;
                background-color: m-color(interactive, lightest);
            }
        }

        & + .m--is-highlighted {
            &::after {
                transform: translate3d(0, 50%, 0);
            }
        }

        &:nth-child(7n) + .m--is-highlighted {
            &::after {
                transform: translate3d(700%, -50%, 0);
            }
        }
    }

    // for right to left range selection visual
    .m--is-highlighted + .m--is-selection-start {
        border-radius: 0 50% 50% 0;
    }
}
