@import 'commons';

$m-base-calendar-week-length: 7 !default;
$m-base-calendar-dimension: $m-touch-size !default;
$m-base-calendar-weekday-height: 25px !default; // DOM number
$m-base-calendar-min-width: $m-base-calendar-dimension * $m-base-calendar-week-length !default;

@mixin grid($col: $m-base-calendar-week-length, $width: $m-base-calendar-dimension, $height: $m-base-calendar-dimension) {
    text-align: center;
    display: grid;
    grid-template-columns: repeat($col, $width);
    grid-auto-rows: $height;
}

.m-base-calendar {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    // reset default button styles
    &__year-content,
    &__month-content,
    &__day-content,
    &__current-month-and-year {
        background: none;
        border: 0;
        color: inherit;
        font: inherit;
        outline: none;
        padding: 0;
        cursor: inherit;
    }

    @media (max-width: $m-mq--max--s) {
        padding: unset;
    }

    @media (min-width: $m-mq--min--s) {
        padding: m-spacing(m);
        border: $m-border-width--s solid $m-color--border;
    }

    &__next,
    &__previous,
    &__current-month-and-year {
        color: m-color(interactive);

        &:hover,
        &:focus {
            color: m-color(interactive, darker);
        }
    }

    &__current-month-and-year {
        font-weight: $m-font-weight--bold;
        cursor: pointer;
    }

    &__header,
    &__body {
        background-color: $m-color--white;

        @media (max-width: $m-mq--max--s) {
            min-width: $m-base-calendar-min-width;
        }

        @media (min-width: $m-mq--min--s) {
            min-width: $m-base-calendar-week-length * $m-base-calendar-dimension;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: m-spacing(s);
        min-height: $m-touch-size;

        &.m--is-select-mode {
            border-bottom: 1px solid m-color(border);
            justify-content: center;
        }
    }

    &__body {
        min-height: $m-base-calendar-dimension * 5 + $m-base-calendar-weekday-height;
    }

    &__years {
        @include grid(5, minmax($m-base-calendar-dimension, auto));
    }

    &__months {
        @include grid(3, minmax($m-base-calendar-dimension, auto));

        transition: color $m-transition-duration ease;
        font-weight: $m-font-weight--bold;
    }

    &__week {
        @include grid($height: auto);

        grid-auto-rows: auto;
        align-items: center;
        border-bottom: $m-border-width--s solid $m-color--border;
        padding: 0 0 m-spacing(xs) 0;
    }

    &__weekday {
        font-weight: $m-font-weight--bold;
        color: m-color(grey);
    }

    &__days {
        @include grid();

        overflow: hidden;
    }

    &__year,
    &__month,
    &__day {
        position: relative;
        transition: background-color $m-transition-duration linear, color $m-transition-duration ease;
        cursor: pointer;

        &:hover:not(.m--is-hidden):not(.m--is-disabled),
        &:focus:not(.m--is-hidden):not(.m--is-disabled) {
            color: $m-color--interactive-darker;

            &::after {
                content: '';
                width: $m-touch-size;
                height: $m-touch-size;
                position: relative;
                display: block;
                top: -100%;
                margin: 0 auto;
                background-color: #fff;
                border: 1px solid m-color(interactive, darker);
                border-radius: 50%;
                z-index: 1;
            }
        }

        &.m--is-highlighted:not(.m--is-hidden) {
            background-color: $m-color--interactive-lightest;

            &:hover:not(.m--is-selection-start):not(.m--is-inside-range) {
                border-radius: 50% 0 0 50%;

                &.m--is-in-future {
                    border-radius: 0 50% 50% 0;
                }
            }
        }

        &.m--is-selection-start {
            border-radius: 50%;
        }

        &.m--is-selection-end {
            border-radius: 0 50% 50% 0;
        }

        &.m--is-disabled {
            background-color: transparent;
            color: $m-color--grey-light;
            cursor: default;
        }
    }

    &__year-content,
    &__month-content,
    &__day-content {
        width: $m-base-calendar-dimension;
        height: $m-base-calendar-dimension;
        position: relative;
        z-index: 2;

        &.m--is-other-month:not(:hover):not(.m--is-selected):not(.m--is-today) {
            color: $m-color--disabled;
        }

        &.m--is-today:not(:hover):not(.m--is-selected) {
            background-color: $m-color--grey-light;
            font-weight: $m-font-weight--bold;
            border-radius: 50%;

            .m--is-highlighted & {
                border: 1px solid $m-color--grey-light;
                background-color: transparent;
            }
        }

        &.m--is-selected:not(:hover) {
            color: #fff;
            font-weight: $m-font-weight--bold;
            border-radius: 50%;
            background-color: m-color(interactive);
        }

        &.m--is-hidden {
            display: none;
        }
    }
}

// for left to right range selection visual
.m--is-selection-start {
    & + .m--is-highlighted:not(.m--is-hidden),
    &:nth-child(7n) + .m--is-highlighted:not(.m--is-hidden) {
        &::before {
            position: absolute;
            top: -50%;
            left: -50%;
            content: '';
            width: $m-touch-size;
            height: $m-touch-size;
            z-index: 0;
            background-color: m-color(interactive, lightest);
        }
    }

    & + .m--is-highlighted {
        &::before {
            transform: translate3d(0, 50%, 0);
        }
    }

    &:nth-child(7n) + .m--is-highlighted {
        &::before {
            transform: translate3d(700%, -50%, 0);
        }
    }
}

// for right to left range selection visual
.m--is-highlighted + .m--is-selection-start {
    border-radius: 0 50% 50% 0;
}
