<div class="m-base-calendar"
     :id="id">


    <nav class="m-base-calendar__header"
         :class="{'m--is-select-mode': !isPickerModeDay}">
        <m-icon-button class="m-base-calendar__previous"
                       skin="link"
                       v-if="isPickerModeDay"
                       @click.stop="onMonthPrevious()"
                       :disabled="isMinMonth"
                       icon-name="m-svg__chevron--left"
                       ref="previousMonth">{{ previousMonthLabel }}</m-icon-button>
        <button class="m-base-calendar__current-month-and-year"
                @click.stop="onYearClick"
                aria-live="polite"
                ref="currentDate"
                type="button">{{ currentMonthName }} {{ currentYear }}
        </button>
        <m-icon-button class="m-base-calendar__next"
                       skin="link"
                       v-if="isPickerModeDay"
                       @click.stop="onMonthNext()"
                       :disabled="isMaxMonth"
                       icon-name="m-svg__chevron--right"
                       ref="nextMonth">{{ nextMonthLabel }}</m-icon-button>
    </nav>
    <div class="m-base-calendar__body"
         aria-live="polite">
        <template v-if="isPickerModeYear">

            <div class="m-base-calendar__years">
                <div class="m-base-calendar__year"
                     v-for="(y, yearIndex) in years"
                     :key="yearIndex">
                    <button class="m-base-calendar__year-content"
                            :class="{'m--is-selected': y.isCurrent}"
                            @click.stop="onYearSelect(y)"
                            :ref="buildRef('year', y)"
                            type="button">
                        <span>{{ y.year }}</span>
                    </button>
                </div>
            </div>
        </template>
        <template v-if="isPickerModeMonth">

            <div class="m-base-calendar__months">
                <div class="m-base-calendar__month"
                     v-for="(m, monthIndex) in months"
                     :key="monthIndex">
                    <button class="m-base-calendar__month-content"
                            :class="{'m--is-selected': m.isCurrent, 'm--is-disabled': m.isDisabled}"
                            @click.stop="onMonthSelect(m)"
                            :disabled="m.isDisabled"
                            :ref="buildRef('month', m)"
                            type="button">
                        <span>{{ monthIndexToShortName(m.month) }}</span>
                    </button>
                </div>
            </div>

        </template>
        <template v-if="isPickerModeDay">
            <div class="m-base-calendar__week">
                <span class="m-base-calendar__weekday"
                      v-for="(w, weekdayIndex) in weekdaysLabels"
                      :key="weekdayIndex">{{ w }}</span>
            </div>
            <div class="m-base-calendar__days">
                <div class="m-base-calendar__day"
                     :class="{  'm--is-highlighted': d.isHighlighted,
                                'm--is-in-future': isDateInFuture(d),
                                'm--is-inside-range': isInsideRange(d),
                                'm--is-hidden': hideDay(d),
                                'm--is-disabled': d.isDisabled,
                                'm--is-selection-start': isSelectionStart(d),
                                'm--is-selection-end': isSelectionEnd(d) }"
                     v-for="(d, dayIndex) in days"
                     :key="dayIndex">
                    <button class="m-base-calendar__day-content"
                            :class="{ 'm--is-selected': d.isSelected,
                                    'm--is-today': d.isToday,
                                    'm--is-other-month': d.isInPreviousMonth || d.isInNextMonth,
                                    'm--is-hidden': hideDay(d) }"
                            @click.stop="onDaySelect(d)"
                            @mouseenter="onDayMouseEnter(d)"
                            @mouseleave="onDayMouseLeave(d)"
                            :ref="buildRef('day', d)"
                            type="button">
                        <span>{{ d.day }}</span>
                    </button>
                </div>
            </div>
        </template>
    </div>
</div>
