<div class="m-rich-text-editor-sandbox">
    <!-- Sandbox template -->
    <h3>Froala Text Editor</h3>
    <h5 class="m-u--margin-bottom">fonctionne sans option spécifiée</h5>
    <div class="m-u--margin-bottom">
        <div>
            Error message: <input type="text"
                   v-model="errorMessage" />
        </div>
        <div>
            Valid message: <input type="text"
                   v-model="validMessage" />
        </div>
        <div>
            Helper message: <input type="text"
                   v-model="helperMessage" />
        </div>
        <div>
            <m-checkbox v-model="focus">Focus</m-checkbox>
        </div>
        <div>
            <m-checkbox v-model="waiting">Waiting</m-checkbox>
        </div>
        <div>
            <m-checkbox v-model="disabled">Disabled</m-checkbox>
        </div>
        <div>
            <m-checkbox v-model="readonly">ReadOnly</m-checkbox>
        </div>
    </div>
    <div class="m-u--margin-bottom">
        <m-rich-text-editor v-model="model"
                            :label="'rich text with placeholder'"
                            :max-width="'large'"
                            :placeholder="'some placeholder'"
                            :focus="focus"
                            :error="error"
                            :error-message="errorMessage"
                            :valid-message="validMessage"
                            :helper-message="helperMessage"
                            :waiting="waiting"
                            :disabled="disabled"
                            :readonly="readonly"></m-rich-text-editor>
    </div>
    <div class="m-u--margin-bottom">
        <m-rich-text-editor v-model="model"
                            :label="'rich text with placeholder'"
                            :max-width="'large'"
                            :placeholder="'some placeholder'"
                            :focus="focus"
                            :error="error"
                            :error-message="errorMessage"
                            :valid-message="validMessage"
                            :helper-message="helperMessage"
                            :waiting="waiting"
                            :disabled="disabled"
                            :readonly="readonly"></m-rich-text-editor>
    </div>
    <div class="m-u--margin-bottom">
        <h5>Résultat dans le lecteur</h5>
        <div>
            <m-rich-text :value="initializedModel"></m-rich-text>
        </div>
    </div>
    <div class="m-u--margin-bottom">
        <h5>Mode media</h5>
        <m-rich-text-editor v-model="mediaModel"
                            :options="options"
                            label="rich text"
                            max-width="large"
                            @image-ready="imageReady"
                            @image-added="imageAdded"
                            @image-removed="imageRemoved"></m-rich-text-editor>
    </div>
    <div class="m-u--margin-bottom">
        <m-rich-text-editor v-model="mediaModel2"
                            :options="options"
                            label="rich text"
                            max-width="large"
                            @image-ready="imageReady"
                            @image-added="imageAdded"
                            @image-removed="imageRemoved"></m-rich-text-editor>
    </div>
    <div class="m-u--margin-bottom">
        <h5>One title</h5>
        <div>
            <m-rich-text-editor v-model="modelTitle1"
                                :title-available="true"
                                :options="options"
                                label="rich text"
                                max-width="large"
                                first-header-level="1"
                                last-header-level="1"></m-rich-text-editor>
        </div>
    </div>
    <div class="m-u--margin-bottom">
        <h5>Title and subtitle</h5>
        <div>
            <m-rich-text-editor v-model="modelTitle2"
                                :options="options"
                                :title-available="true"
                                label="rich text"
                                max-width="large"
                                first-header-level="2"
                                last-header-level="3"></m-rich-text-editor>
        </div>
    </div>
    <div class="m-u--margin-bottom">
        <h5>Multiple titles</h5>
        <div>
            <m-rich-text-editor v-model="modelTitle3"
                                :options="options"
                                :title-available="true"
                                label="rich text"
                                max-width="large"
                                first-header-level="1"
                                last-header-level="6"></m-rich-text-editor>
        </div>
    </div>
    <div class="m-u--margin-bottom">
        <h5>Résultat dans le lecteur</h5>
        <div>
            <m-rich-text :value="model"></m-rich-text>
        </div>
    </div>
    <h5 class="m-u--margin-bottom">fonctionne quand le modèle est déjà initialisé</h5>
    <div class="m-u--margin-bottom">
        <m-rich-text-editor v-model="initializedModel"
                            :label="'rich text'"
                            :max-width="'large'"
                            :placeholder="'some placeholder'"
                            :focus="focus"
                            :error="error"
                            :error-message="errorMessage"
                            :valid-message="validMessage"
                            :helper-message="helperMessage"
                            :waiting="waiting"
                            :disabled="disabled"></m-rich-text-editor>
    </div>
    <div>
        <h5 class="m-u--margin-bottom">fonctionne dans un formulaire pleine page</h5>
        <button @click="afficherFormulairePleinePage = !afficherFormulairePleinePage">Afficher formulaire pleine page</button>
        <m-overlay id="overlayPleinePage"
                   :open.sync="afficherFormulairePleinePage"
                   @cancel="resetModelPleinePage()">
            <template slot="header">
                <span class="m-u--h2 m-u--font-weight--bold">
                    <m-i18n k="texte:texte"></m-i18n>
                </span>
            </template>
            <div>
                <m-rich-text-editor class="p-formulaire-texte__textearea"
                                    scrollable-container="#overlayPleinePage .m-overlay__body"
                                    :label="'rich text'"
                                    tag-style="p"
                                    max-width="720px"
                                    v-model="fullScreenFormModel"></m-rich-text-editor>
            </div>
        </m-overlay>
    </div>
    <div>
        <h5 class="m-u--margin-bottom">RTE dans un formulaire modal</h5>
        <m-modal id="idModal"
                 title="Modal title"
                 :size="modalSize">
            <m-button slot="trigger">Open the modal</m-button>
            <div id="teste">
                <m-rich-text-editor class="p-formulaire-texte__textearea"
                                    :label="'rich text'"
                                    @fullscreen="onFullscreen"
                                    max-width="720px"
                                    v-model="model"
                                    scrollable-container=".m-modal__body"></m-rich-text-editor>
            </div>
            <div slot="footer">Footer</div>
        </m-modal>
    </div>
    <h5 class="m-u--margin-bottom">placeholder vide n'affiche rien</h5>
    <div class="m-u--margin-bottom">
        <m-rich-text-editor v-model="model"
                            :label="'rich text'"
                            :max-width="'large'"
                            :focus="focus"
                            :error="error"
                            :error-message="errorMessage"
                            :valid-message="validMessage"
                            :helper-message="helperMessage"
                            :waiting="waiting"
                            :disabled="disabled"></m-rich-text-editor>
    </div>

    <h5 class="m-u--margin-bottom">peut focuser avec une fonction (à partir de input management, sans prop)</h5>
    <p>
        <button @click="focusEditor">Focus the editor</button>
    </p>
    <div class="m-u--margin-bottom">
        <m-rich-text-editor v-model="model"
                            ref="rteTestFocus"></m-rich-text-editor>
    </div>

    <h5 class="m-u--margin-bottom">Tests de la case à cocher « Ouvrir dans un nouvel onglet » d'un lien externe</h5>
    <div class="m-u--margin-bottom">
        <m-rich-text-editor v-model="linksOpenInNewWindowModel"
                            :label="'rich text'"
                            :max-width="'large'"
                            :focus="focus"
                            :error="error"
                            :error-message="errorMessage"
                            :valid-message="validMessage"
                            :helper-message="helperMessage"
                            :waiting="waiting"
                            :disabled="disabled"
                            :placeholder="'some placeholder'"></m-rich-text-editor>
    </div>
    <h5 class="m-u--margin-bottom">peut focuser / clicker différents éléments à la suite du rich-text après avoir focus
        le rich-text</h5>
    <div class="m-u--margin-bottom">
        <div>
            <select v-model="inputFocusTestInputType">
                <option v-if="!inputFocusTestInputType"
                        value="">Choisir un élément à tester</option>
                <option value="radio">Radio</option>
                <option value="textfield">Textfield</option>
                <option value="textarea">Textarea</option>
                <option value="button">Button</option>
            </select>
        </div>
        <m-rich-text-editor v-model="model"
                            :label="'rich text'"
                            :max-width="'large'"
                            :focus="focus"
                            :error="error"
                            :error-message="errorMessage"
                            :valid-message="validMessage"
                            :helper-message="helperMessage"
                            :waiting="waiting"
                            :disabled="disabled"></m-rich-text-editor>
        <div>
            <m-radio v-if="inputFocusTestInputType === 'radio'">radio</m-radio>
            <m-textfield v-if="inputFocusTestInputType === 'textfield'"
                         placeholder="textfield"></m-textfield>
            <m-textarea v-if="inputFocusTestInputType === 'textarea'"
                        placeholder="textarea"></m-textarea>
            <m-button v-if="inputFocusTestInputType === 'button'"
                      @click="alertTestSuccess('The button was clicked')">Button</m-button>
        </div>

        <p>Ce test nécéssite beaucoup de contenu à la suite du rich-text. Ne pas enlever svp.</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum ultrices egestas. Class aptent
            taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec non magna ac diam
            mattis feugiat sit amet at tellus. Curabitur ullamcorper lorem ac mauris pretium, vel suscipit ex
            venenatis. Proin aliquet semper lacus eget vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Duis at risus massa. Vestibulum interdum luctus tellus, id tempor justo facilisis id.

            Maecenas blandit odio convallis, ornare mauris sed, commodo nulla. Fusce hendrerit congue turpis. Ut
            viverra gravida metus sed gravida. Quisque condimentum massa eu finibus accumsan. Maecenas efficitur orci
            ut velit aliquam aliquam. Vestibulum vestibulum velit rhoncus justo mollis dignissim. Morbi pulvinar nulla
            iaculis consectetur convallis. Suspendisse imperdiet ornare interdum.

            In orci lorem, consectetur sed hendrerit ac, sodales non leo. Fusce dolor sapien, faucibus vitae sapien
            vel, porta elementum nunc. Phasellus non nisi ac ligula pretium placerat nec a turpis. Mauris at orci
            magna. Praesent dictum purus quis metus vehicula placerat. Praesent eu pellentesque lorem. Integer et
            euismod nulla. Integer ex erat, tincidunt a sem a, blandit blandit leo. Curabitur nisi libero, molestie
            dapibus enim eget, imperdiet egestas ex.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum ultrices egestas. Class aptent
            taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec non magna ac diam
            mattis feugiat sit amet at tellus. Curabitur ullamcorper lorem ac mauris pretium, vel suscipit ex
            venenatis. Proin aliquet semper lacus eget vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Duis at risus massa. Vestibulum interdum luctus tellus, id tempor justo facilisis id.

            Maecenas blandit odio convallis, ornare mauris sed, commodo nulla. Fusce hendrerit congue turpis. Ut
            viverra gravida metus sed gravida. Quisque condimentum massa eu finibus accumsan. Maecenas efficitur orci
            ut velit aliquam aliquam. Vestibulum vestibulum velit rhoncus justo mollis dignissim. Morbi pulvinar nulla
            iaculis consectetur convallis. Suspendisse imperdiet ornare interdum.

            In orci lorem, consectetur sed hendrerit ac, sodales non leo. Fusce dolor sapien, faucibus vitae sapien
            vel, porta elementum nunc. Phasellus non nisi ac ligula pretium placerat nec a turpis. Mauris at orci
            magna. Praesent dictum purus quis metus vehicula placerat. Praesent eu pellentesque lorem. Integer et
            euismod nulla. Integer ex erat, tincidunt a sem a, blandit blandit leo. Curabitur nisi libero, molestie
            dapibus enim eget, imperdiet egestas ex.
        </p>
    </div>

    <div>
        <h5 class="m-u--margin-bottom">Réutilisation d'un RTE</h5>
        <p>Si on change la valeur du model dans le JS, le changement est rapporté dans le RTE</p>
        <div>
            <h6>Current todo</h6>
            <dl>
                <dt>TODO :</dt>
                <dd>
                    <code>{{ currentTodo.todo }}</code>
                </dd>
                <dt>DONE : </dt>
                <dd>
                    <code>{{ currentTodo.done }}</code>
                </dd>
            </dl>
        </div>

        <ul v-if="todos.length > 0">
            <li v-for="todo in todos">
                {{ todo.todo }} is {{ (todo.done) ? "done" : "in progress" }}
            </li>
        </ul>

        <div>
            <m-rich-text-editor v-model="currentTodo.todo"
                                :label="'Todo'"
                                :max-width="'large'"
                                :focus="focus"
                                :error="error"
                                :error-message="errorMessage"
                                :valid-message="validMessage"
                                :helper-message="helperMessage"
                                :waiting="waiting"
                                :disabled="disabled"></m-rich-text-editor>
            <br />
            <button @click="addTodo">Add todo</button><input type="text"
                   placeholder="Valeur à affecter au RTE lors de la réinitialisation"
                   v-model="resetValue" />
        </div>
    </div>

    <m-radio-group class="m-u--margin-top"
                   v-model="radioValue">
        <m-radio value="1">Option 1</m-radio>
        <m-rich-text-editor v-model="model"
                            max-width="large"
                            :disabled="radioValue != 1"></m-rich-text-editor>
        <m-radio value="2">Option 2</m-radio>
    </m-radio-group>
</div>
