<div>
    <!-- Sandbox template -->
    <h3>Froala Text Editor</h3>
    <h5 class="m-u--margin-bottom">fonctionne sans option spécifiée</h5>
    <div class="m-u--margin-bottom">
        <div><button @click="focus = !focus">Change focus (now: {{ focus }})</button></div>
        <div>
            Error message: <input type="text" v-model="errorMessage" />
        </div>
        <div>
            Valid message: <input type="text" v-model="validMessage" />
        </div>
        <div>
            Helper message: <input type="text" v-model="helperMessage" />
        </div>
        <div><button @click="waiting = !waiting">Waiting (now: {{ waiting }})</button></div>
        <div><button @click="disabled = !disabled">Disabled (now: {{ disabled }})</button></div>
    </div>
    <div class="m-u--margin-bottom">
        <m-rich-text-editor v-model="model"
        toolbar-sticky-offset=".mtest-header"
        :label="'texte riche'"
        :max-width="'large'"
        :placeholder="'some placeholder'"
        :focus="focus"
        :error="error"
        :error-message="errorMessage"
        :valid-message="validMessage"
        :helper-message="helperMessage"
        :waiting="waiting"
        :disabled="disabled"></m-rich-text-editor>
    </div>
    <div class="m-u--margin-bottom">
        <h5>Résultat dans le lecteur</h5>
        <div><m-rich-text :value="model"></m-rich-text></div>
    </div>
    <div>
        <h5 class="m-u--margin-bottom">fonctionne dans un formulaire pleine page</h5>
        <button @click="afficherFormulairePleinePage = !afficherFormulairePleinePage">Afficher formulaire pleine page</button>
        <m-edit-window :open.sync="afficherFormulairePleinePage">
            <template slot="header">
                <span class="m-u--h2 m-u--font-weight--bold">
                    <m-i18n k="texte:texte"></m-i18n>
                </span>
            </template>
            <div>
                <m-rich-text-editor scrollable-container=".m-edit-window__body" class="p-formulaire-texte__textearea" :label="'texte riche'"
                    tag-style="p" max-width="720px" v-model="fullScreenFormModel"></m-rich-text-editor>
            </div>
        </m-edit-window>
    </div>
    <h5 class="m-u--margin-bottom">placeholder vide n'affiche rien</h5>
    <div class="m-u--margin-bottom">
        <m-rich-text-editor v-model="model"
        :toolbar-sticky-offset="58"
        :label="'texte riche'"
        :max-width="'large'"
        :focus="focus"
        :error="error"
        :error-message="errorMessage"
        :valid-message="validMessage"
        :helper-message="helperMessage"
        :waiting="waiting"
        :disabled="disabled"></m-rich-text-editor>
    </div>
</div>
