<div>
    <!-- Sandbox template -->
    <h3>Froala Text Editor</h3>
    <p class="m-u--margin-bottom">
        fonctionne sans options spécifiée
    </p>
    <p>
        <m-rich-text-editor @input="test" v-model="model"></m-rich-text-editor>
    </p>
    <p>fonctionne avec toggle read-only</p>
    <p>
        <m-switch v-model="isReadOnly">
            <span>read only?</span>
        </m-switch>
        <m-rich-text-editor @input="test" v-model="model" :read-only="isReadOnly"></m-rich-text-editor>
    </p>
</div>
