<div class="m-rich-text"
    :class="{ 'm--is-disabled' : isDisabled,
    'm--is-waiting' : isWaiting,
    'm--has-error' : hasError,
    'm--is-valid' : isValid,
    'm--is-focus' : isFocus,
    'm--has-icon' : hasIcon,
    'm--has-label': hasLabel  }"
    @click="onClick"
    :style="{ width: inputWidth, maxWidth: inputMaxWidth }">
    <m-input-style :disabled="isDisabled"
                   :waiting="isWaiting"
                   :error="hasError"
                   :valid="isValid"
                   :label="label"
                   :label-for="id"
                   :focus="isFocus"
                   :empty="isEmpty"
                   :border-top="true"
                   :icon-name="iconName"
                   :required-marker="requiredMarker"
                   :tag-style="tagStyle">
        <froala :config="internalOptions"
            :value="value"
            @input="refreshModel"
            @focus="onFocus"
            @blur="onBlur"
            @change="onChange"
            @keypress.enter.prevent
            @keyup="onKeyup"
            @keydown="onKeydown"
            @paste="onPaste"
            :disabled="disabled || waiting"
            :custom-translations="customTranslations"
            ref="input"></froala>

    </m-input-style>
    <div class="m-textfield__validation">
        <m-validation-message
            class="m-textfield__validation__message"
            :disabled="isDisabled"
            :waiting="isWaiting"
            :error="hasError"
            :error-message="errorMessage"
            :valid="isValid"
            :valid-message="validMessage"
            :helper-message="helperMessage"></m-validation-message>
    </div>
</div>
