<div class="m-rich-text"
     :class="{ 'm--is-disabled' : isDisabled,
    'm--is-waiting' : isWaiting,
    'm--has-error' : hasError,
    'm--is-valid' : isValid,
    'm--is-focus' : isFocus,
    'm--has-label': hasLabel,
    'm--has-validation-message': hasValidationMessage  }"
     @click="onClick"
     :style="{ width: inputWidth, maxWidth: inputMaxWidth }">
    <m-input-style :disabled="isDisabled"
                   :waiting="isWaiting"
                   :error="hasError"
                   :valid="isValid"
                   :label="label"
                   :label-for="id"
                   :focus="isFocus"
                   :empty="isEmpty"
                   :border-top="!readonly"
                   :required-marker="requiredMarker"
                   :tag-style="tagStyle"
                   :readonly="readonly">
        <froala :config="internalOptions"
                :value="value"
                @input="refreshModel"
                @focus="onFocus"
                @blur="onBlur"
                @change="onChange"
                @keypress.enter.prevent
                @keyup="onKeyup"
                @keydown="onKeydown"
                @paste="onPaste"
                @image-ready="imageReady"
                @image-added="imageAdded"
                @image-removed="imageRemoved"
                @fullscreen="onFullscreen"
                :disabled="disabled || waiting"
                :custom-translations="customTranslations"
                ref="input"
                :readonly="readonly"></froala>
    </m-input-style>

    <m-validation-message class="m-rich-text__validation-message"
                          :disabled="isDisabled"
                          :waiting="isWaiting"
                          :error="hasError"
                          :error-message="errorMessage"
                          :valid="isValid"
                          :valid-message="validMessage"
                          :helper-message="helperMessage"></m-validation-message>
</div>
