@import 'commons';
@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css'); /* FA CSS import */

.vue-froala {
    overflow: hidden;

    // to overcome input-style base padding.
    .m-input-style & {
        margin: -#{$m-input-style--padding};
    }

    // to overcome input-style base padding, minus space for the label.
    .m-input-style.m--is-label-up.m--is-focus & {
        margin-top: -4px; // magic number
    }

    // basic body padding for all states
    /deep/ .fr-element.fr-view {
        padding: $m-input-style--padding;
    }

    /deep/ .fas {
        font-style: normal;
    }

    /deep/ button[id^='fullscreen'] {
        float: right;
    }

    /deep/ .fr-separator:last-of-type {
        display: none;
    }

    &.m--is-dirty {
        overflow: unset;
    }

    &.m--is-anim-ready /deep/ {
        .fr-toolbar {
            transition: margin-top $m-transition-duration--l ease, opacity $m-transition-duration ease;
        }
    }

    &.m--is-collapsed /deep/ {
        .fr-box.fr-basic .fr-element {
            padding: 0;
            min-height: unset;
            height: 0;
        }

        .fr-box.fr-basic.fr-top .fr-wrapper {
            box-shadow: unset;
        }

        .fr-wrapper.show-placeholder .fr-placeholder {
            display: none;
        }
    }

    &.m--is-disabled /deep/ {
        .fr-wrapper {
            cursor: default;
        }

        .fr-view {
            color: $m-color--disabled;

            /deep/ a {
                color: $m-color--disabled;
                cursor: default;
            }
        }

        .fr-toolbar {
            display: none;
        }
    }

    &:not(.m--is-focus) {
        overflow: hidden;

        /deep/ {
            .fr-sticky-dummy {
                height: 0 !important; // Fix flicking problem with multiple editors on page.
            }
        }
    }

    &.m--is-readonly.m--is-focus /deep/ {
        .fr-placeholder {
            display: none;
        }

        .fr-box.fr-basic .fr-element {
            padding: unset;
            font-weight: $m-font-weight--light;
            word-wrap: break-word;
            -moz-user-select: text; // Dirty fix for text selection in firefox if the rich-text is in a draggable container.
            border-left: 0 transparent;
            border-right: 0 transparent;
        }

        .fr-box.fr-basic.fr-top .fr-wrapper {
            background: $m-color--white;
        }

        .fr-toolbar {
            display: none;
        }

        .fr-sticky-dummy + .fr-sticky-dummy {
            height: 0 !important; // Fix flicking problem with multiple editors on page and https://github.com/froala/wysiwyg-editor/issues/2818
        }
    }

    &.m--is-focus /deep/ {
        .fr-placeholder {
            color: $m-color--disabled;
            font-weight: $m-font-weight--semi-bold;
        }

        .fr-box.fr-basic .fr-element {
            font-weight: $m-font-weight--light;
            word-wrap: break-word;
            -moz-user-select: text; // Dirty fix for text selection in firefox if the rich-text is in a draggable container.
        }

        .fr-box.fr-basic.fr-top .fr-wrapper {
            background: $m-color--white;
        }

        .fr-toolbar {
            &::before {
                font-family: Font Awesome 5 Free, sans-serif;
                font-weight: 900;
            }

            height: 40px;
            margin-top: 0;
            padding: 0;
            opacity: 1;

            &::before,
            &::after {
                .m-rich-text.m--has-error & {
                    background-color: $m-color--error;
                }

                .m-rich-text.m--is-valid & {
                    background-color: $m-color--success;
                }
            }
        }

        .fr-sticky-dummy + .fr-sticky-dummy {
            height: 0 !important; // Fix flicking problem with multiple editors on page and https://github.com/froala/wysiwyg-editor/issues/2818
        }
    }

    /deep/ {
        @include m-commons-froala-styles();

        .fr-box.fr-basic.fr-top .fr-wrapper {
            background: rgba($m-color--white, 0);
            box-shadow: unset;
        }

        .fr-box.fr-basic .fr-element {
            transition: padding $m-transition-duration--l ease;
            min-height: unset;
            overflow-x: unset;
        }

        .fr-wrapper {
            transition: background $m-transition-duration ease;
            cursor: text;
            display: flex;
        }

        .fr-view {
            color: $m-color--text;
            width: 100%;

            & > :first-child {
                margin-top: 0 !important;
            }
        }

        .fr-toolbar {
            cursor: default;
            opacity: 0;
            box-shadow: unset;
            border-radius: 0;
            border-top: 0;
            border-right: 0;
            border-left: 0;
            border-bottom: 1px solid $m-color--grey-light;

            button {
                color: $m-color--grey-darker;

                svg {
                    fill: $m-color--grey-darker;
                }
            }

            button[data-cmd*='specialCharacters'] {
                :not(.fr-sr-only) {
                    font-size: 16px;
                }
            }

            button[id*='-sub-menu'],
            .popup-button {
                &::after {
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-top: 4px solid $m-color--grey-darker;
                    right: 4px;
                    top: 17px;
                    content: '';
                }

                svg {
                    margin-left: 8px;
                    margin-right: 16px;
                }
            }

            div[id*="paragraphStyle"] {
                li {
                    a {
                        margin-top: 0;
                        font-family: $m-font-family;
                    }

                    &:first-child {
                        a {
                            font-weight: $m-font-weight--light;
                            font-size: $m-font-size;
                        }
                    }
                }
            }
        }

        .fr-popup {
            border-radius: 0;
            border-top-color: $m-color--grey-darker;
        }

        .fr-arrow {
            border-bottom-color: $m-color--grey-darker;
        }

        .fr-input-line {
            input[type='text'],
            textarea {
                transition: border-color $m-transition-duration ease;
                position: relative;
                font-family: inherit;
                font-size: $m-font-size;
                font-weight: $m-font-weight--semi-bold;
                color: $m-color--text;
                border-bottom-color: $m-color--grey;

                &::placeholder {
                    color: $m-color--disabled;
                    font-weight: $m-font-weight--semi-bold;
                }

                &:disabled {
                    color: $m-color--disabled;
                    border-bottom: 1px dashed $m-color--disabled;
                }

                &:not(:disabled) {
                    &:hover {
                        border-bottom-color: $m-color--grey-darker;
                    }

                    &:focus {
                        border-bottom-color: $m-color--interactive;
                    }
                }

                &.fr-not-empty:focus + label {
                    color: $m-color--interactive;
                }
            }
        }
    }

    &.m--is-mobile {
        /deep/ .fr-command {
            display: none;

            &[data-cmd*='-sub-menu'],
            &[data-cmd='fullscreen'],
            &[data-cmd='insertLink'],
            &[data-cmd='insertImage'],
            &[data-cmd='specialCharacters'] {
                display: inline-block;
            }

            &.fr-submit {
                display: inline-block;
            }
        }

        /deep/ .fr-separator {
            display: none;
        }

        &.m--is-focus {
            /deep/ .fr-placeholder {
                padding-top: 50px !important;
            }

            /deep/ .fr-box.fr-basic .fr-element {
                padding-top: 50px;
            }
        }
    }

    &.m--is-desktop {
        /deep/ .fr-command {
            display: inline-block;

            &[data-cmd*='-sub-menu'],
            &[data-cmd='hide'] {
                display: none;
            }
        }
    }
}
