<div class="vue-froala"
     @click.stop
     @mousedown.capture="isDirty = !disabled"
     @touchstart.capture="isDirty = !disabled"
     :class="{
        'm--is-focus': isFocused,
        'm--is-collapsed': collapsed,
        'm--is-anim-ready': isInitialized,
        'm--is-dirty': isDirty,
        'm--is-desktop' : isEqMinXS,
        'm--is-mobile' : isEqMaxXS,
        'm--is-readonly' : readonly,
        'm--is-disabled' : disabled
    }">
    <component ref="editor"
               :is="tag"></component>
</div>
