<div class="vue-froala"
     @click.stop
     @mousedown.capture="isDirty = !disabled"
     @touchstart.capture="isDirty = !disabled"
     :class="{
        'm--is-focus': isFocused,
        'm--is-collapsed': collapsed,
        'm--is-anim-ready': isInitialized,
        'm--is-dirty': isDirty,
        'm--is-desktop' : isDesktop,
        'm--is-mobile' : !isDesktop,
        'm--is-readonly' : readonly,
        'm--is-disabled' : disabled
    }">
    <component ref="editor"
               :is="tag"></component>
    <m-file-upload :open.sync="isFileUploadOpen"
                   :max-files="1"
                   :store-name="fileUploadStoreName"
                   :allowed-extensions="allowedExtensions"
                   @files-ready="filesReady"
                   @done="filesAdded"
                   @close="onClose"></m-file-upload>
</div>
