<div>
    <m-textfield :character-count="true" max-length="20" :length-overflow="true" threshold="-5"></m-textfield>
    <m-textfield :character-count="true" max-length="20" :length-overflow="true" threshold="200"></m-textfield>
    <m-textfield :character-count="true" max-length="20" :length-overflow="true" threshold="10"></m-textfield>
    <m-textfield :character-count="true" max-length="20" :length-overflow="false"></m-textfield>
    <m-textfield :character-count="true" max-length="20" :length-overflow="true" threshold="10" error-message="Enim qui mollit proident incididunt et ad laborum sunt sint deserunt ipsum ut in duis."></m-textfield>
    <m-textfield :character-count="true" max-length="20" :length-overflow="false" error-message="Enim qui mollit proident incididunt et ad laborum sunt sint deserunt ipsum ut in duis."></m-textfield>
</div>
