<div class="m-textfield"
     :class="[{ 'm--is-disabled' : isDisabled,
                'm--is-waiting' : isWaiting,
                'm--has-error' : hasError,
                'm--is-valid' : isValid,
                'm--has-icon' : hasIcon,
                'm--has-label': hasLabel },
                'm--is-type-' + inputType ]"
     @click="onClick">
    <m-input-style :disabled="isDisabled"
                   :waiting="isWaiting"
                   :error="hasError"
                   :valid="isValid"
                   :label="label"
                   :focus="isFocus"
                   :empty="isEmpty"
                   :icon-name="iconName">
        <input ref="input"
               class="m-textfield__input"
               :disabled="!active"
               :placeholder="placeholder"
               :readonly="readonly"
               @focus="onFocus"
               @blur="onBlur"
               @keyup="onKeyup"
               v-model="model">
        <div slot="right-content" class="m-textfield__icon-password" :class="{ 'm--is-transparent': !hasValue }" v-if="propPasswordIcon">
            <m-icon-button :icon-name="iconNamePassword" button-size="22px" @click="togglePasswordVisibility">{{ iconDescriptionPassword }}</m-icon-button>
        </div>
    </m-input-style>
    <m-validation-message
        :disabled="isDisabled"
        :waiting="isWaiting"
        :error="hasError"
        :valid="isValid"
        :error-message="errorMessage"
        :valid-message="validMessage"
        :helper-message="helperMessage"></m-validation-message>
</div>
