@import 'commons';

.m-textfield {
    position: relative;
    display: inline-flex;
    flex-direction: column;

    @include m-input-inline-spacing();

    &.m--has-validation-message {
        .m-textfield__validation {
            margin-top: $m-spacing--xs;
        }
    }

    &.m--has-error {
        .m-textfield__validation {
            color: $m-color--error;
        }
    }

    &.m--is-valid {
        .m-textfield__validation {
            color: $m-color--success;
        }
    }

    &__icon-password {
        margin-left: $m-spacing;
    }

    &__reset,
    &__icon-password {
        &.m--is-enter-active,
        &.m--is-leave-active {
            transition: opacity $m-transition-duration--s linear;
        }

        &.m--is-enter,
        &.m--is-leave-to {
            opacity: 0;
        }
    }

    &__validation {
        transition: margin-top $m-transition-duration ease;
        display: flex;
        justify-content: flex-end;

        &__message {
            flex: 1 1 auto;
        }

        &__character-count {
            flex-shrink: 0;
        }
    }
}
