@import 'abstracts/variables';

.m-textfield {
    position: relative;
    display: inline-flex;
    flex-direction: column;

    &.m--has-error {
        .m-textfield__validation {
            color: $m-color--error;
        }
    }

    &.m--is-valid {
        .m-textfield__validation {
            color: $m-color--success;
        }
    }

    &__icon-password {
        margin-left: $m-margin--s;

        &.m--is-enter-active,
        &.m--is-leave-active {
            transition: opacity $m-transition-duration--s linear;
        }

        &.m--is-enter,
        &.m--is-leave-to {
            opacity: 0;
        }
    }

    &__validation {
        display: flex;
        justify-content: flex-end;

        &__message {
            flex: 1 1 auto;
        }

        &__maxlenght {
            transition: color $m-transition-duration ease;
            margin-top: 2px; // Magic number
            font-size: $m-font-size--xs;
            padding-left: $m-padding--xs;
        }
    }

    &.m--has-word-wrap {
        .m-textfield__input {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            outline: none;
            resize: none;
            overflow: hidden;
            margin: 0;
            word-break: break-word;
            white-space: pre-wrap;

            &-hidden {
                opacity: 0;
                word-break: break-word;
                white-space: pre-wrap;
            }
        }
    }
}
