@import '../../styles/abstracts/variables';

.m-textfield-sandbox {
    &__light {
        font-weight: $m-font-weight--light;
    }

    &__regular {
        font-weight: $m-font-weight--regular;
    }

    &__bold {
        font-weight: $m-font-weight--bold;
    }

    &__black {
        font-weight: $m-font-weight--black;
    }

    &__111 {
        font-weight: 111;
    }

    &__222 {
        font-weight: 222;
    }

    &__333 {
        font-weight: 333;
    }

    &__444 {
        font-weight: 444;
    }

    &__555 {
        font-weight: 555;
    }

    &__666 {
        font-weight: 666;
    }

    &__777 {
        font-weight: 777;
    }

    &__888 {
        font-weight: 888;
    }

    &__999 {
        font-weight: 999;
    }
}
