.vue-froala {
    &--collapsed {
        // Style overrides when the editor is not focused when there is nothing to display.  Rework this as you wish.
        /deep/ .fr-box.fr-basic .fr-element {
            padding: 0;
            min-height: unset;

            p { margin: 0; }
        }

        /deep/ .fr-box.fr-basic.fr-top .fr-wrapper {
            box-shadow: unset;
        }

        /deep/ .fr-wrapper.show-placeholder .fr-placeholder { display: none; }
    }

    /deep/ .fr-box.fr-basic .fr-element {
        font-weight: 300; // important since font-weight is bold by default otherwise.  A constant must exist somwhere.
    }
}
