.vue-froala {
    /deep/ .fr-wrapper {
        background-color: transparent;
    }

    &--collapsed {
        // Style overrides when the editor is not focused when there is nothing to display.  Rework this as you wish.
        /deep/ .fr-box.fr-basic .fr-element {
            padding: 0;
            min-height: unset;

            p { margin: 0; }
        }

        /deep/ .fr-box.fr-basic.fr-top .fr-wrapper {
            box-shadow: unset;
        }

        /deep/ .fr-wrapper.show-placeholder .fr-placeholder { display: none; }
    }

    &--focused {
        /deep/ .fr-wrapper {
            background-color: white;
        }
    }

    /deep/ .fr-box.fr-basic .fr-element {
        font-weight: 300; // important since font-weight is bold by default otherwise.  A constant must exist somwhere.
    }

    /deep/ .fr-element {
        ul { padding: inherit; }

        li {
            padding: 0;
            list-style: unset;
        }
    }

    /deep/ .fr-toolbar {
        margin-top: 5px;
        border-top: 2px solid #09f !important; // change for constant
    }
}
