<div>
    <!-- Sandbox template -->
    <h3 class="m-u--margin-bottom">Overlay</h3>
    <p class="m-u--margin-bottom">
        use the input to trigger the keyboard on mobile devices.
    </p>

    <m-overlay title="Titre">
        <m-button slot="trigger">Ouvrir</m-button>
        <h2 slot="header" style="margin:0;">Titre</h2>

        <input type="text" class="m-u--margin-bottom">
        <input type="text" class="m-u--margin-bottom">
        <input type="text" class="m-u--margin-bottom">

        <p style="margin:0;">Consectetur dolore commodo voluptate est laborum ex nulla. Amet nisi quis minim dolor voluptate est nisi anim
            elit duis enim. Sint veniam tempor occaecat irure nostrud eiusmod. Fugiat nostrud laborum pariatur dolor
            tempor in in nostrud reprehenderit minim culpa incididunt.</p>
    </m-overlay>

    <h3>Basic demo with overflow content</h3>
    <p class="m-u--margin-bottom">
        use the input to trigger the keyboard on mobile devices.
    </p>

    <m-overlay title="Titre">
        <m-button slot="trigger">Ouvrir</m-button>
        <h2 slot="header" style="margin:0;">Titre</h2>

        <input type="text" class="m-u--margin-bottom">
        <input type="text" class="m-u--margin-bottom">
        <input type="text" class="m-u--margin-bottom">
        <textarea name=""  class="m-u--margin-bottom" cols="30" rows="10"></textarea>

        <p style="margin:0;">Consectetur dolore commodo voluptate est laborum ex nulla. Amet nisi quis minim dolor voluptate est nisi anim
            elit duis enim. Sint veniam tempor occaecat irure nostrud eiusmod. Fugiat nostrud laborum pariatur dolor
            tempor in in nostrud reprehenderit minim culpa incididunt.</p>
        <p>Consectetur dolore commodo voluptate est laborum ex nulla. Amet nisi quis minim dolor voluptate est nisi anim
            elit duis enim. Sint veniam tempor occaecat irure nostrud eiusmod. Fugiat nostrud laborum pariatur dolor
            tempor in in nostrud reprehenderit minim culpa incididunt.</p>
        <p>Consectetur dolore commodo voluptate est laborum ex nulla. Amet nisi quis minim dolor voluptate est nisi anim
            elit duis enim. Sint veniam tempor occaecat irure nostrud eiusmod. Fugiat nostrud laborum pariatur dolor
            tempor in in nostrud reprehenderit minim culpa incididunt.</p>
        <p>Consectetur dolore commodo voluptate est laborum ex nulla. Amet nisi quis minim dolor voluptate est nisi anim
            elit duis enim. Sint veniam tempor occaecat irure nostrud eiusmod. Fugiat nostrud laborum pariatur dolor
            tempor in in nostrud reprehenderit minim culpa incididunt.</p>
        <p>Consectetur dolore commodo voluptate est laborum ex nulla. Amet nisi quis minim dolor voluptate est nisi anim
            elit duis enim. Sint veniam tempor occaecat irure nostrud eiusmod. Fugiat nostrud laborum pariatur dolor
            tempor in in nostrud reprehenderit minim culpa incididunt.</p>
        <p>Consectetur dolore commodo voluptate est laborum ex nulla. Amet nisi quis minim dolor voluptate est nisi anim
            elit duis enim. Sint veniam tempor occaecat irure nostrud eiusmod. Fugiat nostrud laborum pariatur dolor
            tempor in in nostrud reprehenderit minim culpa incididunt.</p>
        <p>Consectetur dolore commodo voluptate est laborum ex nulla. Amet nisi quis minim dolor voluptate est nisi anim
            elit duis enim. Sint veniam tempor occaecat irure nostrud eiusmod. Fugiat nostrud laborum pariatur dolor
            tempor in in nostrud reprehenderit minim culpa incididunt.</p>
        <p>Consectetur dolore commodo voluptate est laborum ex nulla. Amet nisi quis minim dolor voluptate est nisi anim
            elit duis enim. Sint veniam tempor occaecat irure nostrud eiusmod. Fugiat nostrud laborum pariatur dolor
            tempor in in nostrud reprehenderit minim culpa incididunt.</p>
    </m-overlay>
</div>
