<div>
    <h2>Default</h2>
    <m-table-header></m-table-header>

    <h2>With addBtnLabel</h2>
    <m-table-header add-btn-label="Add data"></m-table-header>

    <h2>With left slot</h2>
    <m-table-header>
        <div slot="left">Content in left slot</div>
    </m-table-header>

    <h2>With right slot</h2>
    <m-table-header>
        <div slot="right">Content in right slot</div>
    </m-table-header>

    <h2>With addBtnLabel, left and right slots</h2>
    <m-table-header add-btn-label="Add data">
        <div slot="left">Content in left slot</div>
        <div slot="right">Content in right slot</div>
    </m-table-header>
</div>
