@import 'commons';

.m-chip {
    display: inline-block;
    background-color: $m-color--grey-lighter;
    padding: $m-margin;
    border-radius: 25px;
    height: 40px;

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        font-weight: $m-font-weight--bold;
    }
}
