<li class="m-tree">
    <div v-if="canHaveChildren" class="m-tree__with-children" :class="{'m--is-disabled': hasNoChild}">
        <div class="m-tree__with-children__header" @click="toggleChildrenVisibility()">
            <span class="m-tree__with-children__header__icon" :class="{ 'm--is-closed': isOpen}"></span>
            <m-file-tree v-if="isFileTree" :file="node.content" :is-open="isOpen"></m-file-tree>
            <span>{{ nodeTitle }}</span>
        </div>
        <transition name="m-tree__with-children__body">
            <ul v-show="isOpen" class="m-tree__with-children__body">
                <m-tree-node v-for="childrensNode in node.children" class="m-tree__with-children__children" :is-file-tree="isFileTree" :selection-number="selectionNumber" :selection-icon="selectionIcon" :node="childrensNode" :external-selected-node="externalSelectedNode" :is-all-open="isAllOpen" @newNodeSelectected="selectNewNode" @generateErrorTree="generateErrorTree"></m-tree-node>
            </ul>
        </transition>
    </div>
    <template v-else-if="validNode()" >
            <m-link :mode="linkMode" class="m-tree__single-node" @click="selectNewNode(node)" :disabled="isInactiveButton">
                <m-file-tree v-if="isFileTree" :file="node.content"></m-file-tree>
                <span>{{ nodeTitle }}</span>
            </m-link>
            <m-icon v-if="isNodeSelected()" :name="selectionIcon"></m-icon>
    </template>
</li>
