@import 'abstracts/variables';
$m-dropdown-item--color-hover: $m-color--grey-lightest !default;
$m-dropdown-item--color-select: $m-color--grey-light !default;
$m-dropdown-item--color-focus: $m-color--interactive-lightest !default;
$m-dropdown-item--color-active: $m-color--interactive-lightest !default;

.m-dropdown-item {
    transition: background $m-transition-duration ease;
    display: inline-block;
    width: 100%;
    padding: $m-padding;
    margin: 0;
    color: $m-color--text;
    font-size: $m-font-size--l;
    text-decoration: none;
    outline: none;

    @include m-word-wrap();

    &:not(.m--is-disabled) {
        &:not(.m--is-inactif) {
            &:not(.m--is-selected) {
                cursor: pointer;

                &:hover {
                    background: $m-dropdown-item--color-hover;
                }

                &:focus {
                    background: $m-dropdown-item--color-focus;
                }

                &:active {
                    background: $m-dropdown-item--color-active;
                }
            }
        }
    }

    &.m--is-disabled {
        cursor: not-allowed;
        color: $m-color--grey;
    }

    &.m--is-selected {
        background: $m-dropdown-item--color-select;

        .m-dropdown__list__element-text {
            cursor: default;
            background: $m-dropdown-item--color-select;
        }
    }
}
