<li class="m-dropdown-item"
    :class="{ 'm--is-selected': selected,
              'm--is-disabled': disabled,
              'm--is-inactive': inactive,
              'm--is-focus': focused }"
    role="option"
    :aria-selected="selected"
    :tabindex="disabled ? '-1' : '0'"
    v-if="!filtered || inactive"
    @click.prevent="onClick">
    <span class="m-dropdown-item__element-text" v-if="isMqMinS"><slot>{{ propLabel }}</slot></span>
    <m-radio-style :full-width="true" radio-position="right" :focus="hasFocus" :checked="selected" :disabled="disabled" tabindex="0" v-if="!isMqMinS">
        <span class="m-dropdown-item__element-text"><slot>{{ propLabel }}</slot></span>
    </m-radio-style>
</li>
