<li class="m-dropdown-item"
    :class="{ 'is-selected': propSelected, 'm--is-disabled': disabled }"
    :disabled="disabled"
    v-if="visible"
    @click="onSelectElement($event, element)"
    :data-value="value"
    :data-key="propKey">
        <span class="m-dropdown-item__element-text" >{{ propLabel }}</span>
    <!-- <slot></slot> -->

    <!-- <a href="#"
       class="m-dropdown-item__element-text"
       :data-index="index"
       @click.prevent
       @keyup="keyupItem($event, index)">

    </a> -->
</li>
