<nav class="m-nav-bar">
    <ul class="m-nav-bar__list" aria-hidden="true">
        <li class="m-nav-bar__element" v-for="(element, index) in elements">
            <a href="#"
               class="m-nav-bar__element__link"
               :class="{ 'm--is-selected': element.isSelected,
                      'm--is-icon-right': propIconPosition=='right'}"
               @click.prevent="onClick($event, index)">
               <m-icon :name="element.iconName" v-if="element.iconName"></m-icon>{{ element.value }}</a>
        </li>
    </ul>
    <div aria-hidden="true"
         class="m-nav-bar__line"
         :class="{ 'm--is-anim-active': isAnimActive }"
         ref="line"></div>
</nav>
