@import 'abstracts/variables';

.m-nav-bar {
    position: relative;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline-flex;
    }

    &__line {
        position: absolute;
        bottom: 0;
        background: $m-color--active;
        height: $m-border-width--l;

        &.m--is-anim-active {
            transition: 0.3s transform ease, 0.3s width ease;
        }
    }

    &-item {
        position: relative;
        display: flex;
        align-items: center;
        user-select: none;

        &:not(.m--is-selected) {
            &,
            a,
            a:visited,
            button {
                cursor: pointer;
            }
        }

        &,
        a,
        a:visited,
        button {
            font-family: $m-font-family;
            font-size: $m-font-size;
            font-weight: $m-font-weight;
        }

        button {
            border: none;
            background: none;
        }

        &,
        :focus {
            outline: none;
        }
    }

    &.m--is-regular {
        .m-nav-bar-item {
            + .m-nav-bar-item {
                margin-left: 1px;
            }

            &[tabindex],
            a,
            button {
                padding: $m-padding;
                background: $m-color--grey-light;
                color: $m-color--text;
            }

            &.m--is-selected {
                &[tabindex],
                a,
                button {
                    background: $m-color--white;

                    &::before {
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        content: '';
                        height: $m-border-width--l;
                        background: $m-color--active;
                    }
                }
            }

            &:not(.m--is-selected) {
                &[tabindex],
                a,
                button {
                    transition: 0.3s background ease;

                    &:hover,
                    &:focus {
                        background: $m-color--grey-lighter;
                    }

                    &:active {
                        background: $m-color--grey;
                    }
                }
            }
        }
    }

    &.m--is-dark {
        .m-nav-bar-item {
            &.m--is-selected {
                &[tabindex],
                a,
                button {
                    color: $m-color--white;
                    background: $m-color--black-grey;
                }
            }
        }
    }

    &.m--is-light {
        .m-nav-bar-item {
            margin: 0 $m-margin;

            a:visited {
                color: $m-color--grey-darker;
            }

            &[tabindex],
            a,
            button {
                transition: 0.3s color ease;
                color: $m-color--grey-darker;
                padding: 0 0 $m-margin 0;

                &::after {
                    transition: 0.3s opacity ease;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: $m-border-width--l;
                    background: $m-color--grey-light;
                    opacity: 0;
                }

                &:hover,
                &:focus {
                    color: $m-color--text;

                    &::after {
                        opacity: 1;
                    }
                }
            }

            &.m--is-selected {
                &[tabindex],
                a,
                button {
                    color: $m-color--text;
                }
            }

            &.m--is-first {
                margin-left: 0;
            }

            &.m--is-last {
                margin-right: 0;
            }
        }
    }
}
