@import 'abstracts/variables';

.m-nav-bar {
    position: relative;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline-flex;
    }

    &__element {
        margin: 0 $m-margin;

        &__link {
            position: relative;
            transition: 0.3s color ease;
            display: flex;
            align-items: center;
            padding: 0 0 $m-margin 0;
            text-decoration: none;
            font-size: $m-font-size;
            color: $m-color--grey-darker;

            &::after {
                transition: 0.3s opacity ease;
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                content: '';
                width: 100%;
                height: $m-border-width--l;
                background: $m-color--grey-light;
                opacity: 0;
            }

            .m-icon {
                font-size: 10px;
            }

            &:hover,
            &.m--is-selected {
                color: $m-color--text;
            }

            &:hover {
                &::after {
                    opacity: 1;
                }
            }

            &.m--is-icon-right {
                flex-direction: row-reverse;

                .m-icon {
                    margin-left: $m-margin--s;
                }
            }

            &:not(.m--is-icon-right) {
                .m-icon {
                    margin-right: $m-margin--s;
                }
            }
        }
    }

    &__line {
        position: absolute;
        bottom: 0;
        background: $m-color--yellow;
        height: $m-border-width--l;

        &.m--is-anim-active {
            transition: 0.3s transform ease, 0.3s width ease;
        }
    }
}
