<div class="DISPLAYFLEX">
    <div v-show="!editMode" >
        <slot name="readMode"></slot>
    </div>
    <div @click.stop v-show="editMode" >
        <template v-if="isMqMinS">
            <slot name="editMode" ></slot>
            <m-icon-button ref="confirm-control" skin="primary" iconName="ICONE_CROCHET" @click="confirm">
                <m-i18n k="m-wrapper-inline-edition:confirm"></m-i18n>
            </m-icon-button>
            <m-icon-button ref="cancel-control" skin="secondary" iconName="ICONE_X" @click="cancel">
                <m-i18n k="m-wrapper-inline-edition:cancel"></m-i18n>
            </m-icon-button>
        </template>
        <template v-else>
            <m-dialog :title="dialogTitle" :open="editMode" @close="cancel">
                <slot name="editMode"></slot>
                <template slot="footer">
                    <m-button ref="confirm-control-mobile" skin="primary" @click="confirm">
                        <m-i18n k="m-wrapper-inline-edition:confirm"></m-i18n>
                    </m-button>
                    <m-button ref="cancel-control-mobile" skin="secondary" @click="cancel">
                        <m-i18n k="m-wrapper-inline-edition:cancel"></m-i18n>
                    </m-button>
                </template>
            </m-dialog>
        </template>
    </div>
</div>
