<div class="m-table-sandbox">
    <m-table :columns="columns" :rows="rows"></m-table>

    <m-table :columns="columns" :rows="rows">
        <template slot="header">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>AGE</th>
                    <th>USERNAME</th>
                </tr>
            </thead>
        </template>
        <template slot="body">
            <tbody>
                <tr v-for="row in rows">
                    <td>{{ row.age }}</td>
                    <td>{{ row.username }}</td>
                    <td>{{ row.name }}</td>
                </tr>
            </tbody>
        </template>
    </m-table>

    <m-table :columns="columns" :rows="rows">
        <template slot="header.age">
            <th>AGE</th>
        </template>
        <template slot="body.age" scope="{data}">
            {{ data.age }} ans
        </template>
    </m-table>
</div>
