@import '../../styles/abstracts/variables';

.m-table-sandbox {
    table {
        width: 50%;
        margin-bottom: $m-margin--l;

        .subscribed {
            background-color: $m-color--success;
            padding: $m-padding--xs $m-padding--s;
            color: $m-color--grey-lightest;
        }
    }

    &--show-more {
        text-align: center;
        padding: $m-padding;
    }

    h2 {
        margin-bottom: $m-margin;
    }
}
