<div :class="[ componentName, + '' ]">
    <header :class="[ componentName + '__header']" v-if="hasHeader">
        <slot name="header"></slot>
        <span :class="[ componentName + '__header__content', 'is-left']" v-if="hasContentLeft">
            <slot name="header-content-left"></slot>
        </span>
        <span :class="[ componentName + '__header__content', 'is-right']" v-if="hasContentRight">
            <slot name="header-content-right"></slot>
        </span>
    </header>
    <div :class="[ componentName + '__body']">
        <slot>
            <table>
                <thead>
                    <tr>
                        <th>title</th>
                        <th>title</th>
                        <th>title</th>
                        <th>title</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>cell</td>
                        <td>cell</td>
                        <td>cell</td>
                        <td>cell</td>
                    </tr>
                    <tr>
                        <td>cell</td>
                        <td>cell</td>
                        <td>cell</td>
                        <td>cell</td>
                    </tr>
                </tbody>
            </table>
        </slot>
    </div>
</div>
