@import '../../styles/abstracts/variables';

.m-table {
    thead {
        text-align: left;

        tr {
            background-color: rgba($m-color--grey-light, 0.3);
        }

        th {
            color: $m-color--grey;
        }
    }

    tbody {
        color: $m-color--grey-darker;

        tr {
            &:nth-child(even) {
                background-color: $m-color--grey-lightest;
            }

            &:hover:not(.m-table__message):not(.m-table__loading) {
                background-color: $m-color--interactive-lightest;
            }
        }
    }

    th,
    td {
        padding: $m-spacing;
        box-sizing: content-box;
        word-break: break-word;
    }

    &__loading td {
        padding: 0;
        height: auto;
    }

    &__message {
        background-color: $m-color--grey-lightest;
        text-align: center;
        height: 260px; // magic number
        color: $m-color--grey;
        font-size: $m-font-size--l;
        font-weight: $m-font-weight--bold;

        &__precision {
            font-size: $m-font-size;
            font-weight: $m-font-weight--light;
        }

        p {
            margin-top: 0;
        }
    }
}
