<div>
    <!-- Sandbox template -->
    <h3>Only text, 4 lines</h3>
    <p class="m-u--margin-bottom">Limit-text with only text character, 4 lines limit</p>
    <div>
        <m-limit-text>Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor ut
            excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit irure.Culpa laborum ullamco
            sint quis exercitation amet ad est sunt commodo. Eiusmod sint minim eu id consequat esse veniam. Ullamco labore
            do sit sit commodo. Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident
            aliqua anim tempor ut excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit
            irure.Culpa laborum ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint minim eu id consequat
            esse veniam. Ullamco labore do sit sit commodo. Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum
            aliqua nostrud. Proident aliqua anim tempor ut excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam
            amet reprehenderit irure.Culpa laborum ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint
            minim eu id consequat esse veniam. Ullamco labore do sit sit commodo. Deserunt ad amet sint in esse aute. Ut
            est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor ut excepteur tempor ipsum qui eu. Anim
            culpa voluptate occaecat veniam amet reprehenderit irure.Culpa laborum ullamco sint quis exercitation amet ad
            est sunt commodo. Eiusmod sint minim eu id consequat esse veniam. Ullamco labore do sit sit commodo. Deserunt
            ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor ut excepteur
            tempor ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit irure.Culpa laborum ullamco sint
            quis exercitation amet ad est sunt commodo. Eiusmod sint minim eu id consequat esse veniam. Ullamco labore do
            sit sit commodo. Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua
            anim tempor ut excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit irure.Culpa
            laborum ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint minim eu id consequat esse veniam.
            Ullamco labore do sit sit commodo. Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud.
            Proident aliqua anim tempor ut excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit
            irure.Culpa laborum ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint minim eu id consequat
            esse veniam. Ullamco labore do sit sit commodo.</m-limit-text>
    </div>
    <h3>limit-text with raw html data</h3>
    <p class="m-u--margin-bottom">Limit-text with :html prop to use raw html</p>
    <div>
        <m-limit-text :html="vhtml"
                      lines="2">
        </m-limit-text>
    </div>
    <h3>Only text, 2 lines</h3>
    <p class="m-u--margin-bottom">Limit-text with only text character, 2 lines limit</p>
    <div>
        <m-limit-text lines="2">Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor ut
            excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit irure.Culpa laborum ullamco
            sint quis exercitation amet ad est sunt commodo. Eiusmod sint minim eu id consequat esse veniam. Ullamco labore
            do sit sit commodo. Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident
            aliqua anim tempor ut excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit
            irure.Culpa laborum ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint minim eu id consequat
            esse veniam. Ullamco labore do sit sit commodo. Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum
            aliqua nostrud. Proident aliqua anim tempor ut excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam
            amet reprehenderit irure.Culpa laborum ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint
            minim eu id consequat esse veniam. Ullamco labore do sit sit commodo. Deserunt ad amet sint in esse aute. Ut
            est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor ut excepteur tempor ipsum qui eu. Anim
            culpa voluptate occaecat veniam amet reprehenderit irure.Culpa laborum ullamco sint quis exercitation amet ad
            est sunt commodo. Eiusmod sint minim eu id consequat esse veniam. Ullamco labore do sit sit commodo. Deserunt
            ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor ut excepteur
            tempor ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit irure.Culpa laborum ullamco sint
            quis exercitation amet ad est sunt commodo. Eiusmod sint minim eu id consequat esse veniam. Ullamco labore do
            sit sit commodo. Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua
            anim tempor ut excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit irure.Culpa
            laborum ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint minim eu id consequat esse veniam.
            Ullamco labore do sit sit commodo. Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud.
            Proident aliqua anim tempor ut excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit
            irure.Culpa laborum ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint minim eu id consequat
            esse veniam. Ullamco labore do sit sit commodo.</m-limit-text>
    </div>
    <h3>Multi paragraph, 4 lines</h3>
    <p class="m-u--margin-bottom">Limit-text with paragraph, 4 lines limit</p>
    <div>
        <m-limit-text lines="4">
            <p>Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor
                ut excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit irure.Culpa laborum
                ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint minim eu id consequat esse veniam.
                Ullamco labore do sit sit commodo. Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua
                nostrud. Proident aliqua anim tempor ut excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam
                amet reprehenderit irure.Culpa laborum ullamco sint quis exercitation amet ad est sunt commodo.</p>
            <p>Eiusmod sint minim eu id consequatesse veniam. Ullamco labore do sit sit commodo. Deserunt ad amet sint in esse
                aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor ut excepteur tempor ipsum
                qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit irure.Culpa laborum ullamco sint quis exercitation
                amet ad est sunt commodo. Eiusmod sint minim eu id consequat esse veniam. Ullamco labore do sit sit commodo.
                Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor
                ut excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit irure.Culpa laborum
                ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint minim eu id consequat esse veniam.
                Ullamco labore do sit sit commodo. Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua
                nostrud. Proident aliqua anim tempor ut excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam
                amet reprehenderit irure.Culpa laborum ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint
                minim eu id consequat esse veniam. Ullamco labore do sit sit commodo. Deserunt ad amet sint in esse aute.
                Ut est cupidatat</p>
            <p>mollit ipsum aliqua nostrud. Proident aliqua anim tempor ut excepteur tempor ipsum qui eu. Anim culpa voluptate
                occaecat veniam amet reprehenderit irure.Culpa laborum ullamco sint quis exercitation amet ad est sunt commodo.
                Eiusmod sint minim eu id consequat esse veniam. Ullamco labore do sit sit commodo. Deserunt ad amet sint
                in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor ut excepteur tempor
                ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit irure.Culpa laborum ullamco sint quis
                exercitation amet ad est sunt commodo. Eiusmod sint minim eu id consequat esse veniam. Ullamco labore do
                sit sit commodo.</p>
        </m-limit-text>
    </div>
    <h3>Paragraph and title, 4 lines</h3>
    <p class="m-u--margin-bottom">Limit-text with paragraph, 4 lines limit</p>
    <div>
        <m-limit-text lines="4">
            <h4>Eiusmod sint minim eu id consequat esse veniam.</h4>
            <p>Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor
                ut excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit irure.Culpa laborum
                ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint minim eu id </p>
            <h4>Eiusmod sint minim eu id consequat esse veniam.</h4>
            <p>Eiusmod sint minim eu id consequat esse veniam. Ullamco labore do sit sit commodo. Deserunt ad amet sint in esse
                aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor ut excepteur tempor ipsum
                qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit irure.Culpa laborum ullamco sint quis exercitation
                amet ad est sunt commodo. Eiusmod sint minim eu id consequat esse veniam. Ullamco labore do sit sit commodo.
                Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor
                ut excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit irure.Culpa laborum
                ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint minim eu id consequat esse veniam.
                Ullamco labore do sit sit commodo. Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua
                nostrud. Proident aliqua anim tempor ut excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam
                amet reprehenderit irure.Culpa laborum ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint
                minim eu id consequat esse veniam. Ullamco labore do sit sit commodo. Deserunt ad amet sint in esse aute.
                Ut est cupidatat</p>
            <p>mollit ipsum aliqua nostrud. Proident aliqua anim tempor ut excepteur tempor ipsum qui eu. Anim culpa voluptate
                occaecat veniam amet reprehenderit irure.Culpa laborum ullamco sint quis exercitation amet ad est sunt commodo.
                Eiusmod sint minim eu id consequat esse veniam. Ullamco labore do sit sit commodo. Deserunt ad amet sint
                in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor ut excepteur tempor
                ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit irure.Culpa laborum ullamco sint quis
                exercitation amet ad est sunt commodo. Eiusmod sint minim eu id consequat esse veniam. Ullamco labore do
                sit sit commodo.</p>
        </m-limit-text>
    </div>
    <h3>Title, 2 lines</h3>
    <p class="m-u--margin-bottom">Limit-text with a title, 2 lines limit</p>
    <div>
        <m-limit-text lines="2">
            <h2>Eiusmod runt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor
                ut excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit irure.Culpa laborum
                ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint minim eu id consequat esse veniam.
                Ullamco labore do sit sit commodo.</h2>
        </m-limit-text>
    </div>
    <h3>Custom label, 4 lines</h3>
    <p class="m-u--margin-bottom">Limit-text with custom label, 4 lines limit</p>
    <div>
        <m-limit-text lines="4"
                      open-label="open it"
                      close-label="close it">
            <p>Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor
                ut excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit irure.Culpa laborum
                ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint minim eu id Eiusmod sint minim eu id
                consequat esse veniam. Ullamco labore do sit sit commodo. Deserunt ad amet sint in esse aute. Ut est cupidatat
                mollit ipsum aliqua nostrud. Proident aliqua anim tempor ut excepteur tempor ipsum qui eu. Anim culpa voluptate
                occaecat veniam amet reprehenderit irure.Culpa laborum ullamco sint quis exercitation amet ad est sunt commodo.
                Eiusmod sint minim eu id consequat esse veniam. Ullamco labore do sit sit commodo. Deserunt ad amet sint
                in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor ut excepteur tempor
                ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit irure.Culpa laborum ullamco sint quis
                exercitation amet ad est sunt commodo. Eiusmod sint minim eu id consequat esse veniam. Ullamco labore do
                sit sit commodo. Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident
                aliqua anim tempor ut excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit
                irure.Culpa laborum ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint minim eu id consequat
                esse veniam. Ullamco labore do sit sit commodo. Deserunt ad amet sint in esse aute. Ut est cupidatatmollit
                ipsum aliqua nostrud. Proident aliqua anim tempor ut excepteur tempor ipsum qui eu. Anim culpa voluptate
                occaecat veniam amet reprehenderit irure.Culpa laborum ullamco sint quis exercitation amet ad est sunt commodo.
                Eiusmod sint minim eu id consequat esse veniam. Ullamco labore do sit sit commodo. Deserunt ad amet sint
                in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor ut excepteur tempor
                ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit irure.Culpa laborum ullamco sint quis
                exercitation amet ad est sunt commodo. Eiusmod sint minim eu id consequat esse veniam. Ullamco labore do
                sit sit commodo.</p>
        </m-limit-text>
    </div>
    <h3>Short text, 10 lines</h3>
    <p class="m-u--margin-bottom">Limit-text with a short paragraph, 10 lines limit. The show more link is hidden.</p>
    <div>
        <m-limit-text lines="10">
            Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor ut excepteur
            tempor ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit irure.Culpa laborum ullamco sint
            quis exercitation amet ad est sunt commodo. Eiusmod sint minim eu id Eiusmod sint minim eu id consequat esse
            veniam. Ullamco labore do sit sit commodo. Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum
            aliqua nostrud. Proident aliqua anim tempor ut excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam
            amet reprehenderit irure.Culpa laborum ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint
            minim eu id consequat esse veniam.</m-limit-text>
    </div>
    <h3>Text with link, 2 lines</h3>
    <p class="m-u--margin-bottom">Limit-text with text and links, 2 lines limit.</p>
    <div>
        <m-limit-text lines="2">
            <p>Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor
                ut excepteur tempor ipsum qui eu. Anim culpa
                <a href="#">Duis officia exercitation consequat ut.</a> voluptate occaecat veniam amet reprehenderit irure.Culpa laborum
                ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint minim eu id Eiusmod sint minim eu id
                consequat esse veniam. Ullamco labore do sit sit commodo. Deserunt ad amet sint in esse aute. Ut est cupidatat
                mollit ipsum aliqua nostrud. Proident aliqua anim tempor ut excepteur tempor
                <a href="#">Duis officia exercitation consequat ut.</a> ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit
                irure.Culpa laborum ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint Lorem ipsum, dolor
                sit amet consectetur adipisicing elit. Aliquid voluptates a sapiente beatae odio architecto delectus repellat
                dolorem soluta accusamus. Ex, blanditiis illum explicabo quo mollitia nesciunt officiis facilis vero. minim
                eu id consequat esse veniam
                <a href="#">Duis officia exercitation consequat ut.</a>.</p>
        </m-limit-text>
    </div>
    <h3>Text with bold text, 2 lines</h3>
    <p class="m-u--margin-bottom">Limit-text with text and bold text, 2 lines limit.</p>
    <div>
        <m-limit-text lines="2">
            <p>Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor
                ut excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit irure.Culpa laborum
                ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint minim eu id Eiusmod sint minim eu id
                consequat esse veniam. <b>Ullamco labore do sit sit commodo.</b>Deserunt ad amet sint in esse aute. Ut est cupidatat
                mollit ipsum aliqua nostrud. Proident aliqua anim tempor ut excepteur tempor ipsum qui eu. Anim culpa <b>voluptate occaecat veniam amet</b> reprehenderit
                irure.Culpa laborum ullamco sint quis exercitation <b>amet ad est sunt commodo. Eiusmod sint Lorem ipsum, dolor</b>
                sit amet consectetur adipisicing elit. Aliquid voluptates a sapiente beatae odio architecto delectus repellat
                dolorem soluta accusamus. Ex, blanditiis illum explicabo quo mollitia nesciunt officiis facilis vero. minim
                eu id consequat esse veniam.</p>
        </m-limit-text>
    </div>
    <h3>Open with props</h3>
    <p class="m-u--margin-bottom">Limit-text with text and bold text, 2 lines limit, open param.</p>
    <div>
        <m-button @click="testOpen = !testOpen">Toggle open</m-button>
        <m-limit-text :open="testOpen"
                      lines="2">
            <p>Deserunt ad amet sint in esse aute. Ut est cupidatat mollit ipsum aliqua nostrud. Proident aliqua anim tempor
                ut excepteur tempor ipsum qui eu. Anim culpa voluptate occaecat veniam amet reprehenderit irure.Culpa laborum
                ullamco sint quis exercitation amet ad est sunt commodo. Eiusmod sint minim eu id Eiusmod sint minim eu id
                consequat esse veniam. <b>Ullamco labore do sit sit commodo.</b>Deserunt ad amet sint in esse aute. Ut est cupidatat
                mollit ipsum aliqua nostrud. Proident aliqua anim tempor ut excepteur tempor ipsum qui eu. Anim culpa <b>voluptate occaecat veniam amet</b> reprehenderit
                irure.Culpa laborum ullamco sint quis exercitation <b>amet ad est sunt commodo. Eiusmod sint Lorem ipsum, dolor</b>
                sit amet consectetur adipisicing elit. Aliquid voluptates a sapiente beatae odio architecto delectus repellat
                dolorem soluta accusamus. Ex, blanditiis illum explicabo quo mollitia nesciunt officiis facilis vero. minim
                eu id consequat esse veniam.</p>
        </m-limit-text>
    </div>
    <h3>Dynamic text, 2 lines</h3>
    <p class="m-u--margin-bottom">Exemple of dynamic text with 2 lines limit. Change text by pressing button</p>
    <div>
        <m-button @click="changingText">Change text</m-button>
        <m-limit-text lines="2">
            <p>{{ texte }}</p>
        </m-limit-text>
    </div>

</div>
