<div class="m-avatar"
     :class="interactionClass"
     :style="sizeStyle"
     :tabindex="tabindex"
     @click="onClick"
     @keydown.enter="onClick"
     @keyup.tab="focusDisplay(true)"
     @mouseover="setHover(true)"
     @mouseleave="setHover(false)"
     @focus="setHover(true)"
     @blur="setHover(false)"
     ref="avatar">
    <slot>
        <m-icon class="m-avatar__default-image"
                :class="{ 'm--is-avatar-large': !isSmall }"
                :name="defaultAvatar"
                :size="size"></m-icon>
    </slot>
    <slot name="content"
          :hover="isHover"></slot>
</div>
