@import 'commons';

$m-avatar--button-height: 30%;

.m-avatar {
    overflow: hidden;
    position: relative;

    &.m--is-circle {
        border-radius: 50%;
    }

    &.m--is-clickable {
        cursor: pointer;
    }

    &__default-image {
        background: $m-color--grey;
        color: $m-color--white;
    }
}
