<div class="m-input-group"
     :class="{ 'm--is-inline': inline,
               'm--is-disabled': stateIsDisabled,
               'm--has-error': hasError,
               'm--is-valid': isValid,
               'm--has-validation-message': hasValidationMessage,
               'm--is-validation-message-position-bottom': isValidationMessagePositionBottom }">
    <p :id="idLabel"
       class="m-input-group__label"
       v-if="hasLabel">{{ label }}&nbsp;<sup v-if="requiredMarker"
             class="m-input-group__required-marker">*</sup>
    </p>
    <m-validation-message v-if="isValidationMessagePositionTop"
                          :id="idValidationMessage"
                          class="m-input-group__message"
                          :disabled="isDisabled"
                          :waiting="isWaiting"
                          :error="hasError"
                          :error-message="errorMessage"
                          :valid="isValid"
                          :valid-message="validMessage"
                          :helper-message="helperMessage"></m-validation-message>
    <div class="m-input-group__body"
         :aria-labelledby="idLabel"
         :aria-describedby="idValidationMessage">
        <slot></slot>
    </div>

    <m-validation-message v-if="isValidationMessagePositionBottom"
                          :id="idValidationMessage"
                          class="m-input-group__message"
                          :disabled="isDisabled"
                          :waiting="isWaiting"
                          :error="hasError"
                          :error-message="errorMessage"
                          :valid="isValid"
                          :valid-message="validMessage"
                          :helper-message="helperMessage"></m-validation-message>
</div>
