@import 'commons';
@import './../input-style/input-style.scss';

.m-input-group {
    &.m--has-validation-message {
        &:not(.m--is-validation-message-position-bottom) {
            .m-input-group__label {
                ~ .m-input-group__body {
                    margin-top: $m-spacing--xs;
                }
            }

            .m-input-group__content {
                margin-top: $m-spacing--s;
            }
        }

        &.m--is-validation-message-position-bottom {
            .m-input-group__body {
                flex-direction: column-reverse;
                margin-top: $m-spacing--xs;
            }

            .m-input-group__message {
                margin-top: $m-spacing--xs;
            }
        }
    }

    &__label {
        margin: 0;
        font-size: $m-font-size;
        font-weight: $m-font-weight--semi-bold;
        display: flex;
        align-items: center;

        ~ .m-input-group__body {
            margin-top: $m-spacing--s;
        }
    }

    &__icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: $m-margin--xs;
    }

    &__required-marker {
        color: $m-color--accent;
        font-size: inherit;
        font-weight: $m-font-weight--bold;
        vertical-align: baseline;
    }

    &__body {
        display: flex;
        flex-direction: column;
    }

    &__validation__message {
        transition: margin $m-transition-duration ease;
    }
}
