<div>

    <h2>Input integer</h2>
    <h3 class="m-u--h6">No limit</h3>
    <m-integerfield label="number"
                    v-model="model1"
                    placeholder="Put a number"></m-integerfield>
    <p> model = {{ model1 }} </p>

    <h3 class="m-u--h6">2 numbers limit</h3>
    <m-integerfield label="number"
                    v-model="model2"
                    max-length="2"
                    :length-overflow="false"
                    placeholder="Put a number"></m-integerfield>
    <p> model = {{ model2 }} </p>

</div>
