<div>

    <h2>Input integer</h2>
    <h3 class="m-u--h6">No limit (should be max-length 16 by default)</h3>
    <m-integerfield label="number"
                    v-model="model1"
                    placeholder="Put a number"></m-integerfield>
    <p> model = {{ model1 }} </p>

    <h3 class="m-u--h6">2 numbers limit</h3>
    <m-integerfield label="number"
                    v-model="model2"
                    max-length="2"
                    :length-overflow="false"
                    placeholder="Put a number"></m-integerfield>
    <p> model = {{ model2 }} </p>

    <h2>Messages</h2>
    <h3 class="m-u--h6">Static error (default)</h3>
    <m-integerfield label="label"
                    value="10"
                    v-model="model3"
                    error-message="this field is in error">
    </m-integerfield>

    <h3 class="m-u--h6">Valid message</h3>
    <m-integerfield label="label"
                    value="10"
                    v-model="model4"
                    valid-message="Valid textfield"></m-integerfield>
</div>
