@import 'abstracts/variables';
$m-tooltip--width: 320px !default;
$m-tooltip--max-height: 280px !default;

.m-tooltip {
    > :first-child {
        display: inline;
    }

    &.m--is-mode-icon {
        display: inline-flex;

        .m-tooltip__icon {
            position: relative;
            top: -1px; // Magic number: align icon width text
        }
    }

    &.m--is-mode-link {
        display: inline;

        .m-tooltip__link {
            position: relative;
            top: -2px; // Magic number: align link width text
        }
    }

    &__icon {
        transition: color $m-transition-duration ease;
        color: $m-color--interactive-light;
        cursor: pointer;

        &:hover {
            color: $m-color--interactive;
        }

        &:active {
            outline: none;
        }

        &.m-icon-button.m-icon-button {
            min-width: auto;
            min-height: auto;
            width: $m-font-size;
            height: $m-font-size;
            color: $m-color--interactive-light;

            &:hover {
                color: $m-color--interactive;
            }
        }
    }

    &__close-button {
        position: absolute;
        top: 1px; // Magic number: border-width
        right: 1px; // Magic number: border-width
        display: flex;
        align-items: center;
        justify-content: center;
        width: $m-touch-size;
        height: $m-touch-size;
        color: $m-color--interactive;
        outline: none;
        cursor: pointer;

        &:hover,
        &:focus {
            color: $m-color--interactive-darker;
        }
    }

    &__body {
        padding: $m-padding;
        background: $m-color--information;

        @media (max-width: $m-mq--max--s) {
            position: relative;

            &::after {
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                content: '';
                height: 1px;
                background: $m-color--interactive;
            }
        }

        @media (min-width: $m-mq--min--s) {
            width: $m-tooltip--width;
            max-height: $m-tooltip--max-height;
            overflow-x: hidden;
            overflow-y: auto;
            border: 1px solid $m-color--interactive;
            border-radius: $m-border-radius--s;
        }

        @media (max-height: $m-tooltip--max-height) {
            min-height: $m-touch-size;
            max-height: calc(100vh - #{ $m-margin--l });
        }

        @include m-scrollbar();

        &-container {
            &.m--has-close-button {
                position: relative;

                .m-tooltip__body {
                    padding-right: $m-padding--l;
                }
            }
        }
    }
}
