@import 'abstracts/variables';

.m-tooltip {
    &__icon {
        color: $m-color--interactive-light;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
            color: $m-color--interactive;
        }
    }

    &__content {
        padding: $m-padding;
    }
}
