@import 'abstracts/variables';
$m-tooltip--width: 320px !default;
$m-tooltip--max-height: 280px !default;

.m-tooltip {
    display: inline;

    > :first-child {
        display: inline;
    }

    &.m--is-icon-mode {
        .m-tooltip__icon {
            position: relative;
            top: -1px; // Magic number: align icon width text
        }
    }

    &.m--is-link-mode {
        .m-tooltip__link {
            position: relative;
            top: -2px; // Magic number: align link width text
        }
    }

    &__icon {
        transition: color 0.3s ease;
        color: $m-color--interactive-light;
        cursor: pointer;

        &:hover {
            color: $m-color--interactive;
        }

        &:active {
            outline: none;
        }

        &.m-button {
            min-width: $m-font-size;
            min-height: $m-font-size;
            height: $m-font-size;
            color: $m-color--interactive-light;

            &:hover {
                color: $m-color--interactive;
            }
        }
    }

    &__close-button.m-button.m--is-icon {
        position: absolute;
        top: 0;
        right: 0;
        color: $m-color--interactive;

        .m-button__icon .m-icon {
            font-size: $m-font-size--xs;
            height: $m-font-size--xs;
        }
    }

    &__body {
        padding: $m-padding;
        background: $m-color--interactive-lightest;
        box-shadow: rgba($m-color--black, 0.3) 0 1px 3px 0;
        border-radius: $m-border-radius--s;

        @media (max-width: $m-bp--max--s) {
            position: relative;

            &::after {
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                content: '';
                height: 1px;
                background: $m-color--interactive;
            }
        }

        @media (min-width: $m-bp--min--s) {
            width: $m-tooltip--width;
            max-height: $m-tooltip--max-height;
            overflow-x: hidden;
            overflow-y: auto;
            border: 1px solid $m-color--interactive;
        }

        @media (max-height: $m-tooltip--max-height) {
            min-height: $m-touch-size;
            max-height: calc(100vh - #{ $m-margin--l });
        }

        @include m-scrollbar-ie();

        &::-webkit-scrollbar {
            @include m-scrollbar();

            &-track-piece {
                @include m-scrollbar-track-piece();
            }

            &-thumb {
                @include m-scrollbar-thumb();
            }
        }

        &-container {
            &.m--has-close-button {
                position: relative;

                .m-tooltip__body {
                    padding-right: $m-padding--l;
                }
            }
        }
    }
}
