<m-popup class="m-tooltip"
         :class="{ 'm--is-disabled': disabled }"
         :open.sync="propOpen"
         :padding="false"
         :background="false"
         :placement="placement"
         :disabled="disabled"
         :close-on-backdrop="true"
         :class-name="className"
         :focus-management="isMqMaxS"
         @open="onOpen"
         @close="onClose">
    <m-link :id="id"
            class="m-tooltip__link"
            v-if="$slots.text"
            slot="trigger"
            @click="onClick"
            :underline="true"
            :unvisited="true"
            :disabled="disabled"
            :aria-haspopup="!disabled"
            :aria-controls="ariaControls"
            :aria-expanded="propOpen">
        <slot name="text"></slot>
    </m-link>
    <m-icon-button :id="id"
                   class="m-tooltip__icon"
                   v-else
                   @click="onClick"
                   slot="trigger"
                   icon-name="m-svg__information"
                   :title="propTitle"
                   :disabled="disabled"
                   button-size="22px"
                   :aria-haspopup="!disabled"
                   :aria-controls="ariaControls"
                   :aria-expanded="propOpen">
    </m-icon-button>
    <div :id="ariaControls"
         class="m-tooltip__body-container"
         :class="[ 'm--is-' + size + '-size', { 'm--has-close-button': propCloseButton }]"
         :aria-labelledby="id">
        <m-icon-button class="m-tooltip__close-button"
                       @click="close"
                       skin="link"
                       :ripple="false"
                       icon-size="14px">{{ getCloseTitle() }}</m-icon-button>
        <div class="m-tooltip__body">
            <slot></slot>
        </div>
    </div>
</m-popup>
