<section class="m-template" :class="{ 'm--has-column' : hasColumnSlot, 'm--is-eq-max-s' : isEqMaxS, 'm--is-eq-max-m' : isEqMaxM }">
    <header class="m-template__header-container" v-if="hasHeaderSlot">
        <div class="m-template__header">
            <slot name="header"></slot>
        </div>
    </header>
    <div class="m-template__wrap" v-if="hasDefaultSlot || hasColumnSlot || hasFooterSlot ">
        <div class="m-template__body-container" v-if="hasDefaultSlot || (hasFooterSlot && !footerFullWidth)">
            <div class="m-template__body">
                <div class="m-template__body__content" v-if="hasDefaultSlot">
                    <slot></slot>
                </div>
                <footer class="m-template__body__footer" v-if="hasFooterSlot && !footerFullWidth">
                    <slot name="footer"></slot>
                </footer>
            </div>
        </div>
        <aside class="m-template__column" v-if="hasColumnSlot">
            <slot name="column"></slot>
        </aside>
    </div>
    <footer class="m-template__body__footer" v-if="hasFooterSlot && footerFullWidth">
        <slot name="footer"></slot>
    </footer>
</section>
