@import 'abstracts/variables';
$m-template--column-width: 370px;
$m-template--column-color: $m-color--grey-light;

.m-template {
    position: relative;
    display: flex;
    flex-direction: column;

    &[max-width~="#{ $m-screen--max--m }"] {
        .m-template {
            &__column {
                flex: 0 0 50%;
            }
        }
    }

    &[max-width~="#{ $m-screen--max--s }"] {
        .m-template {
            &__wrap {
                display: flex;
                flex-direction: column;
            }

            &__column {
                flex: none;
                width: 100%;
            }
        }
    }

    &[min-width~="#{ $m-screen--min--m }"] {
        .m-template {
            &__column {
                flex: 0 0 $m-template--column-width;
            }
        }
    }

    &[min-width~="#{ $m-screen--min--s }"] {
        .m-template {
            &__column {
                max-width: $m-template--column-width;
            }
        }
    }

    &__body__content,
    &__body__footer,
    &__column {
        > :first-child {
            &,
            > :first-child {
                margin-top: 0;
            }
        }
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        &-container {
            width: 100%;
            display: block;
            background-color: $m-color--grey-lighter;
        }

        > :first-child:not(:only-child):not(.m-link) {
            flex: 2 1 auto;
            margin: 0;
        }

        > :last-child:not(:only-child) {
            flex: 0 1 auto;
            margin: 0;
        }

        .m-link {
            width: 100%;
            margin-bottom: $m-margin--s;

            + :nth-child(2) {
                flex: 2 1 auto;
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            font-size: $m-font-size--h1;
            font-weight: $m-font-weight;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 1 1 auto;
    }

    &__body {
        display: flex;
        flex-direction: column;
        height: 100%;

        &-container {
            flex: 1 1 auto;
            background: $m-color--white;
        }

        &__content {
            flex: 1 1 auto;
        }

        &__footer {
            width: 100%;
        }
    }

    &__column {
        background-color: $m-template--column-color;
    }
}

@media (max-width: $m-screen--max--s) {
    .m-template {
        &__header,
        &__body__content,
        &__column {
            padding: $m-padding;
        }
    }
}

@media (min-width: $m-screen--min--s) {
    .m-template {
        &__body__content,
        &__column {
            padding: $m-padding--l;
        }

        &__header {
            padding: $m-margin--l $m-padding--l;
        }
    }
}
