@import 'abstracts/variables';

.m-scroll-top {
    &__button {
        &:not(.m--is-relative) {
            position: fixed;
            right: $m-padding;
            bottom: $m-padding;

            @media (min-width: $m-bp--min--s) {
                right: $m-padding--l;
                bottom: $m-padding--l;
            }
        }

        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        padding: 0;
        background-color: $m-color--black-grey-dark;
        border: none;
        border-radius: $m-border-radius--s;
        opacity: 0.3;
        cursor: pointer;
        transition: transform 0.3s ease, opacity 0.3s ease;
        transform: rotate(0) scale(1);

        .m-icon {
            color: $m-color--white;
            transform: rotate(-90deg);
        }

        &:hover {
            opacity: 1;
        }

        &:active,
        &:focus {
            outline: none;
            opacity: 1;
        }

        &.m--is {
            &-enter,
            &-leave-to {
                transform: rotate(360deg) scale(0);
            }

            &-relative {
                transform: rotate(0) scale(1);
            }
        }
    }

    &.m--is-relative .m-scroll-top__wrap {
        display: flex;
        position: relative;
        margin-top: $m-margin;
        align-items: center;
        justify-content: flex-end;

        .m-scroll-top__wrap__slotContent {
            flex: 1;
        }
    }

    &__hidden {
        @include m-visually-hidden;
    }
}
