<div>
    <!-- Sandbox template -->
    <h3>Test du composante</h3>
    <p class="m-u--margin-bottom">
        This component seem to not work @todo?! (charles.maheu)
        <!-- if relevant, add link to PR
        </br>From <a href="https://github.com/ulaval/modul-components/pull/000" target="blank">PR description</a>
        -->
    </p>
    <p>
        <div style="height: 1000px; background-color: royalblue;"> </div>
        <m-scroll-top position="relative"><!-- Test case --></m-scroll-top>
    </p>
</div>
