@import 'abstracts/variables';

.m-scroll-top {
    transition: opacity 0.3s ease;
    position: fixed;
    right: $m-padding;
    bottom: $m-padding;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 28px;
    min-height: 28px;
    padding: 0;
    background-color: $m-color--black-grey-dark;
    border: none;
    border-radius: $m-border-radius--s;
    width: 28px;
    height: 28px;
    opacity: 0.3;
    cursor: pointer;

    @media (min-width: $m-bp--min--s) {
        right: $m-padding--l;
        bottom: $m-padding--l;
    }

    &:hover {
        opacity: 1;
    }

    &:active,
    &:focus {
        outline: none;
        opacity: 1;
    }

    .m-icon {
        color: $m-color--white;
        transform: rotate(-90deg);
    }

    &__hidden {
        @include m-visually-hidden;
    }
}
