<div>
    <h2>
        Faire défiler jusqu'à la fin du texte pour voir le composant
    </h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum, libero eget tincidunt vehicula, libero ex vulputate
        dui, quis placerat augue massa a orci. Fusce lacinia venenatis nunc, id commodo felis cursus nec. Pellentesque eget
        erat nec mi consequat dictum vitae non elit. Phasellus non eros tristique elit dignissim posuere. Vivamus vel nibh
        fermentum, dictum dui et, vehicula orci. Praesent porta placerat nulla sed feugiat. Mauris pulvinar diam ante, a
        porttitor orci varius et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt sapien ut odio
        commodo rutrum. Proin tortor felis, malesuada quis est quis, viverra molestie velit. Curabitur ornare felis leo,
        non pulvinar diam pellentesque vel. Ut aliquet, erat eget aliquet lobortis, nunc nisi ullamcorper tortor, at blandit
        justo eros nec justo. Nullam sit amet sem ac leo tincidunt facilisis. Vestibulum ligula augue, commodo id nunc id,
        tincidunt commodo enim. Phasellus elementum volutpat erat, eu lacinia erat iaculis sed.
    </p>
    <p>
        Suspendisse molestie diam at sodales vestibulum. Donec eget maximus tortor. Integer pretium, eros interdum condimentum facilisis,
        mi purus vehicula magna, a consequat sem leo id enim. Vestibulum dictum, neque quis interdum suscipit, magna elit
        condimentum dui, in tempor tortor diam eu risus. Pellentesque lobortis, felis lacinia consectetur laoreet, lacus
        lectus tristique lectus, in consequat erat sapien sed justo. Morbi nec tincidunt mi. Mauris turpis justo, tempus
        nec lectus et, tincidunt consequat velit. Duis id odio et quam rhoncus cursus laoreet ac sem. Nunc id fringilla ex.
        Nunc ornare pellentesque mi, id semper erat porta a. Phasellus scelerisque quis neque in congue.
    </p>
    <p>
        Aliquam vitae massa ultrices, placerat nibh sed, egestas enim. Etiam arcu dolor, vestibulum quis lacinia nec, vestibulum
        eu lectus. Duis vehicula auctor diam, et suscipit leo tincidunt a.Suspendisse et tincidunt nulla. Vestibulum aliquam
        pretium eros, sit amet placerat diam accumsan eget. Phasellus eu feugiat nisi, a ultricies magna. Aenean placerat,
        ex sed vehicula tempus, velit lorem dapibus erat, eget volutpat massa lorem non tellus.
    </p>
    <p>
        Suspendisse molestie diam at sodales vestibulum. Donec eget maximus tortor. Integer pretium, eros interdum condimentum facilisis,
        mi purus vehicula magna, a consequat sem leo id enim. Vestibulum dictum, neque quis interdum suscipit, magna elit
        condimentum dui, in tempor tortor diam eu risus. Pellentesque lobortis, felis lacinia consectetur laoreet, lacus
        lectus tristique lectus, in consequat erat sapien sed justo. Morbi nec tincidunt mi. Mauris turpis justo, tempus
        nec lectus et, tincidunt consequat velit. Duis id odio et quam rhoncus cursus laoreet ac sem. Nunc id fringilla ex.
        Nunc ornare pellentesque mi, id semper erat porta a. Phasellus scelerisque quis neque in congue.
    </p>
    <p>
        Aliquam vitae massa ultrices, placerat nibh sed, egestas enim. Etiam arcu dolor, vestibulum quis lacinia nec, vestibulum
        eu lectus. Duis vehicula auctor diam, et suscipit leo tincidunt a.Suspendisse et tincidunt nulla. Vestibulum aliquam
        pretium eros, sit amet placerat diam accumsan eget. Phasellus eu feugiat nisi, a ultricies magna. Aenean placerat,
        ex sed vehicula tempus, velit lorem dapibus erat, eget volutpat massa lorem non tellus.
    </p>
    <p>
        Suspendisse molestie diam at sodales vestibulum. Donec eget maximus tortor. Integer pretium, eros interdum condimentum facilisis,
        mi purus vehicula magna, a consequat sem leo id enim. Vestibulum dictum, neque quis interdum suscipit, magna elit
        condimentum dui, in tempor tortor diam eu risus. Pellentesque lobortis, felis lacinia consectetur laoreet, lacus
        lectus tristique lectus, in consequat erat sapien sed justo. Morbi nec tincidunt mi. Mauris turpis justo, tempus
        nec lectus et, tincidunt consequat velit. Duis id odio et quam rhoncus cursus laoreet ac sem. Nunc id fringilla ex.
        Nunc ornare pellentesque mi, id semper erat porta a. Phasellus scelerisque quis neque in congue.
    </p>
    <p>
        Aliquam vitae massa ultrices, placerat nibh sed, egestas enim. Etiam arcu dolor, vestibulum quis lacinia nec, vestibulum
        eu lectus. Duis vehicula auctor diam, et suscipit leo tincidunt a.Suspendisse et tincidunt nulla. Vestibulum aliquam
        pretium eros, sit amet placerat diam accumsan eget. Phasellus eu feugiat nisi, a ultricies magna. Aenean placerat,
        ex sed vehicula tempus, velit lorem dapibus erat, eget volutpat massa lorem non tellus.
    </p>
    <p>
        Maecenas iaculis ullamcorper sagittis. Suspendisse sit amet erat ac magna dictum hendrerit. Morbi est quam, cursus id pharetra
        eu, rutrum sit amet sapien. Vivamus sit amet cursus purus, facilisis viverra enim. Nullam vulputate volutpat ex ut
        maximus. Cras euismod euismod justo a fermentum. Duis suscipit diam ante, id congue massa sollicitudin in. Mauris
        sit amet nibh vel libero gravida sodales eget ut odio. Praesent pretium scelerisque mauris sed scelerisque. Duis
        ac ligula at quam aliquam mollis. Vivamus lacinia felis vitae vulputate ullamcorper.
    </p>
    <p>
        Nulla dignissim dui quis sapien ullamcorper, eu tempor magna posuere. Vivamus et tristique nibh. Cras tincidunt porta enim
        vehicula ultricies. Sed a ex tincidunt, gravida purus sit amet, blandit tellus. Duis rhoncus elementum tellus, vel
        tincidunt nisi faucibus at. Nullam quis nibh urna. Vivamus vel vestibulum purus. Praesent quam mi, sodales sed ipsum
        ut, lacinia placerat tortor. Proin auctor auctor felis ac condimentum. Curabitur lobortis semper justo nec egestas.
        Aliquam bibendum urna eget tristique eleifend.
    </p>
    <p>
        Aliquam mollis ligula tortor, ac accumsan risus interdum a. Integer faucibus lacus nec pellentesque convallis. Praesent consequat
        eleifend condimentum. Vestibulum eleifend tincidunt ornare. Aliquam et luctus erat. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Aliquam molestie molestie turpis, ut scelerisque sapien tempor
        non. Ut in magna at metus accumsan fringilla sollicitudin quis dolor. Nullam tempor lacinia ex, eu ornare massa gravida
        vel. Cras semper sem ante, eget luctus libero lacinia eu. Fusce vel nisl ut turpis semper gravida. Sed dignissim
        mauris non erat cursus imperdiet. Praesent vel dictum diam, eget vehicula nisi.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum, libero eget tincidunt vehicula, libero ex vulputate
        dui, quis placerat augue massa a orci. Fusce lacinia venenatis nunc, id commodo felis cursus nec. Pellentesque eget
        erat nec mi consequat dictum vitae non elit. Phasellus non eros tristique elit dignissim posuere. Vivamus vel nibh
        fermentum, dictum dui et, vehicula orci. Praesent porta placerat nulla sed feugiat. Mauris pulvinar diam ante, a
        porttitor orci varius et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt sapien ut odio
        commodo rutrum. Proin tortor felis, malesuada quis est quis, viverra molestie velit. Curabitur ornare felis leo,
        non pulvinar diam pellentesque vel. Ut aliquet, erat eget aliquet lobortis, nunc nisi ullamcorper tortor, at blandit
        justo eros nec justo. Nullam sit amet sem ac leo tincidunt facilisis. Vestibulum ligula augue, commodo id nunc id,
        tincidunt commodo enim. Phasellus elementum volutpat erat, eu lacinia erat iaculis sed.
    </p>
    <p>
        Suspendisse molestie diam at sodales vestibulum. Donec eget maximus tortor. Integer pretium, eros interdum condimentum facilisis,
        mi purus vehicula magna, a consequat sem leo id enim. Vestibulum dictum, neque quis interdum suscipit, magna elit
        condimentum dui, in tempor tortor diam eu risus. Pellentesque lobortis, felis lacinia consectetur laoreet, lacus
        lectus tristique lectus, in consequat erat sapien sed justo. Morbi nec tincidunt mi. Mauris turpis justo, tempus
        nec lectus et, tincidunt consequat velit. Duis id odio et quam rhoncus cursus laoreet ac sem. Nunc id fringilla ex.
        Nunc ornare pellentesque mi, id semper erat porta a. Phasellus scelerisque quis neque in congue.
    </p>
    <p>
        Aliquam vitae massa ultrices, placerat nibh sed, egestas enim. Etiam arcu dolor, vestibulum quis lacinia nec, vestibulum
        eu lectus. Duis vehicula auctor diam, et suscipit leo tincidunt a.Suspendisse et tincidunt nulla. Vestibulum aliquam
        pretium eros, sit amet placerat diam accumsan eget. Phasellus eu feugiat nisi, a ultricies magna. Aenean placerat,
        ex sed vehicula tempus, velit lorem dapibus erat, eget volutpat massa lorem non tellus.
    </p>
    <p>
        Suspendisse molestie diam at sodales vestibulum. Donec eget maximus tortor. Integer pretium, eros interdum condimentum facilisis,
        mi purus vehicula magna, a consequat sem leo id enim. Vestibulum dictum, neque quis interdum suscipit, magna elit
        condimentum dui, in tempor tortor diam eu risus. Pellentesque lobortis, felis lacinia consectetur laoreet, lacus
        lectus tristique lectus, in consequat erat sapien sed justo. Morbi nec tincidunt mi. Mauris turpis justo, tempus
        nec lectus et, tincidunt consequat velit. Duis id odio et quam rhoncus cursus laoreet ac sem. Nunc id fringilla ex.
        Nunc ornare pellentesque mi, id semper erat porta a. Phasellus scelerisque quis neque in congue.
    </p>
    <p>
        Aliquam vitae massa ultrices, placerat nibh sed, egestas enim. Etiam arcu dolor, vestibulum quis lacinia nec, vestibulum
        eu lectus. Duis vehicula auctor diam, et suscipit leo tincidunt a.Suspendisse et tincidunt nulla. Vestibulum aliquam
        pretium eros, sit amet placerat diam accumsan eget. Phasellus eu feugiat nisi, a ultricies magna. Aenean placerat,
        ex sed vehicula tempus, velit lorem dapibus erat, eget volutpat massa lorem non tellus.
    </p>
    <p>
        Suspendisse molestie diam at sodales vestibulum. Donec eget maximus tortor. Integer pretium, eros interdum condimentum facilisis,
        mi purus vehicula magna, a consequat sem leo id enim. Vestibulum dictum, neque quis interdum suscipit, magna elit
        condimentum dui, in tempor tortor diam eu risus. Pellentesque lobortis, felis lacinia consectetur laoreet, lacus
        lectus tristique lectus, in consequat erat sapien sed justo. Morbi nec tincidunt mi. Mauris turpis justo, tempus
        nec lectus et, tincidunt consequat velit. Duis id odio et quam rhoncus cursus laoreet ac sem. Nunc id fringilla ex.
        Nunc ornare pellentesque mi, id semper erat porta a. Phasellus scelerisque quis neque in congue.
    </p>
    <p>
        Aliquam vitae massa ultrices, placerat nibh sed, egestas enim. Etiam arcu dolor, vestibulum quis lacinia nec, vestibulum
        eu lectus. Duis vehicula auctor diam, et suscipit leo tincidunt a.Suspendisse et tincidunt nulla. Vestibulum aliquam
        pretium eros, sit amet placerat diam accumsan eget. Phasellus eu feugiat nisi, a ultricies magna. Aenean placerat,
        ex sed vehicula tempus, velit lorem dapibus erat, eget volutpat massa lorem non tellus.
    </p>
    <p>
        Maecenas iaculis ullamcorper sagittis. Suspendisse sit amet erat ac magna dictum hendrerit. Morbi est quam, cursus id pharetra
        eu, rutrum sit amet sapien. Vivamus sit amet cursus purus, facilisis viverra enim. Nullam vulputate volutpat ex ut
        maximus. Cras euismod euismod justo a fermentum. Duis suscipit diam ante, id congue massa sollicitudin in. Mauris
        sit amet nibh vel libero gravida sodales eget ut odio. Praesent pretium scelerisque mauris sed scelerisque. Duis
        ac ligula at quam aliquam mollis. Vivamus lacinia felis vitae vulputate ullamcorper.
    </p>
    <p>
        Nulla dignissim dui quis sapien ullamcorper, eu tempor magna posuere. Vivamus et tristique nibh. Cras tincidunt porta enim
        vehicula ultricies. Sed a ex tincidunt, gravida purus sit amet, blandit tellus. Duis rhoncus elementum tellus, vel
        tincidunt nisi faucibus at. Nullam quis nibh urna. Vivamus vel vestibulum purus. Praesent quam mi, sodales sed ipsum
        ut, lacinia placerat tortor. Proin auctor auctor felis ac condimentum. Curabitur lobortis semper justo nec egestas.
        Aliquam bibendum urna eget tristique eleifend.
    </p>
    <p>
        Aliquam mollis ligula tortor, ac accumsan risus interdum a. Integer faucibus lacus nec pellentesque convallis. Praesent consequat
        eleifend condimentum. Vestibulum eleifend tincidunt ornare. Aliquam et luctus erat. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Aliquam molestie molestie turpis, ut scelerisque sapien tempor
        non. Ut in magna at metus accumsan fringilla sollicitudin quis dolor. Nullam tempor lacinia ex, eu ornare massa gravida
        vel. Cras semper sem ante, eget luctus libero lacinia eu. Fusce vel nisl ut turpis semper gravida. Sed dignissim
        mauris non erat cursus imperdiet. Praesent vel dictum diam, eget vehicula nisi.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum, libero eget tincidunt vehicula, libero ex vulputate
        dui, quis placerat augue massa a orci. Fusce lacinia venenatis nunc, id commodo felis cursus nec. Pellentesque eget
        erat nec mi consequat dictum vitae non elit. Phasellus non eros tristique elit dignissim posuere. Vivamus vel nibh
        fermentum, dictum dui et, vehicula orci. Praesent porta placerat nulla sed feugiat. Mauris pulvinar diam ante, a
        porttitor orci varius et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt sapien ut odio
        commodo rutrum. Proin tortor felis, malesuada quis est quis, viverra molestie velit. Curabitur ornare felis leo,
        non pulvinar diam pellentesque vel. Ut aliquet, erat eget aliquet lobortis, nunc nisi ullamcorper tortor, at blandit
        justo eros nec justo. Nullam sit amet sem ac leo tincidunt facilisis. Vestibulum ligula augue, commodo id nunc id,
        tincidunt commodo enim. Phasellus elementum volutpat erat, eu lacinia erat iaculis sed.
    </p>
    <p>
        Suspendisse molestie diam at sodales vestibulum. Donec eget maximus tortor. Integer pretium, eros interdum condimentum facilisis,
        mi purus vehicula magna, a consequat sem leo id enim. Vestibulum dictum, neque quis interdum suscipit, magna elit
        condimentum dui, in tempor tortor diam eu risus. Pellentesque lobortis, felis lacinia consectetur laoreet, lacus
        lectus tristique lectus, in consequat erat sapien sed justo. Morbi nec tincidunt mi. Mauris turpis justo, tempus
        nec lectus et, tincidunt consequat velit. Duis id odio et quam rhoncus cursus laoreet ac sem. Nunc id fringilla ex.
        Nunc ornare pellentesque mi, id semper erat porta a. Phasellus scelerisque quis neque in congue.
    </p>
    <p>
        Aliquam vitae massa ultrices, placerat nibh sed, egestas enim. Etiam arcu dolor, vestibulum quis lacinia nec, vestibulum
        eu lectus. Duis vehicula auctor diam, et suscipit leo tincidunt a.Suspendisse et tincidunt nulla. Vestibulum aliquam
        pretium eros, sit amet placerat diam accumsan eget. Phasellus eu feugiat nisi, a ultricies magna. Aenean placerat,
        ex sed vehicula tempus, velit lorem dapibus erat, eget volutpat massa lorem non tellus.
    </p>
    <p>
        Suspendisse molestie diam at sodales vestibulum. Donec eget maximus tortor. Integer pretium, eros interdum condimentum facilisis,
        mi purus vehicula magna, a consequat sem leo id enim. Vestibulum dictum, neque quis interdum suscipit, magna elit
        condimentum dui, in tempor tortor diam eu risus. Pellentesque lobortis, felis lacinia consectetur laoreet, lacus
        lectus tristique lectus, in consequat erat sapien sed justo. Morbi nec tincidunt mi. Mauris turpis justo, tempus
        nec lectus et, tincidunt consequat velit. Duis id odio et quam rhoncus cursus laoreet ac sem. Nunc id fringilla ex.
        Nunc ornare pellentesque mi, id semper erat porta a. Phasellus scelerisque quis neque in congue.
    </p>
    <p>
        Aliquam vitae massa ultrices, placerat nibh sed, egestas enim. Etiam arcu dolor, vestibulum quis lacinia nec, vestibulum
        eu lectus. Duis vehicula auctor diam, et suscipit leo tincidunt a.Suspendisse et tincidunt nulla. Vestibulum aliquam
        pretium eros, sit amet placerat diam accumsan eget. Phasellus eu feugiat nisi, a ultricies magna. Aenean placerat,
        ex sed vehicula tempus, velit lorem dapibus erat, eget volutpat massa lorem non tellus.
    </p>
    <p>
        Suspendisse molestie diam at sodales vestibulum. Donec eget maximus tortor. Integer pretium, eros interdum condimentum facilisis,
        mi purus vehicula magna, a consequat sem leo id enim. Vestibulum dictum, neque quis interdum suscipit, magna elit
        condimentum dui, in tempor tortor diam eu risus. Pellentesque lobortis, felis lacinia consectetur laoreet, lacus
        lectus tristique lectus, in consequat erat sapien sed justo. Morbi nec tincidunt mi. Mauris turpis justo, tempus
        nec lectus et, tincidunt consequat velit. Duis id odio et quam rhoncus cursus laoreet ac sem. Nunc id fringilla ex.
        Nunc ornare pellentesque mi, id semper erat porta a. Phasellus scelerisque quis neque in congue.
    </p>
    <p>
        Aliquam vitae massa ultrices, placerat nibh sed, egestas enim. Etiam arcu dolor, vestibulum quis lacinia nec, vestibulum
        eu lectus. Duis vehicula auctor diam, et suscipit leo tincidunt a.Suspendisse et tincidunt nulla. Vestibulum aliquam
        pretium eros, sit amet placerat diam accumsan eget. Phasellus eu feugiat nisi, a ultricies magna. Aenean placerat,
        ex sed vehicula tempus, velit lorem dapibus erat, eget volutpat massa lorem non tellus.
    </p>
    <p>
        Maecenas iaculis ullamcorper sagittis. Suspendisse sit amet erat ac magna dictum hendrerit. Morbi est quam, cursus id pharetra
        eu, rutrum sit amet sapien. Vivamus sit amet cursus purus, facilisis viverra enim. Nullam vulputate volutpat ex ut
        maximus. Cras euismod euismod justo a fermentum. Duis suscipit diam ante, id congue massa sollicitudin in. Mauris
        sit amet nibh vel libero gravida sodales eget ut odio. Praesent pretium scelerisque mauris sed scelerisque. Duis
        ac ligula at quam aliquam mollis. Vivamus lacinia felis vitae vulputate ullamcorper.
    </p>
    <p>
        Nulla dignissim dui quis sapien ullamcorper, eu tempor magna posuere. Vivamus et tristique nibh. Cras tincidunt porta enim
        vehicula ultricies. Sed a ex tincidunt, gravida purus sit amet, blandit tellus. Duis rhoncus elementum tellus, vel
        tincidunt nisi faucibus at. Nullam quis nibh urna. Vivamus vel vestibulum purus. Praesent quam mi, sodales sed ipsum
        ut, lacinia placerat tortor. Proin auctor auctor felis ac condimentum. Curabitur lobortis semper justo nec egestas.
        Aliquam bibendum urna eget tristique eleifend.
    </p>
    <p>
        Aliquam mollis ligula tortor, ac accumsan risus interdum a. Integer faucibus lacus nec pellentesque convallis. Praesent consequat
        eleifend condimentum. Vestibulum eleifend tincidunt ornare. Aliquam et luctus erat. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Aliquam molestie molestie turpis, ut scelerisque sapien tempor
        non. Ut in magna at metus accumsan fringilla sollicitudin quis dolor. Nullam tempor lacinia ex, eu ornare massa gravida
        vel. Cras semper sem ante, eget luctus libero lacinia eu. Fusce vel nisl ut turpis semper gravida. Sed dignissim
        mauris non erat cursus imperdiet. Praesent vel dictum diam, eget vehicula nisi.
    </p>
    <m-button mode="icon"  icon-name="arrow-right" icon-size="16px" @click="scrollTop" class="m-scroll-top">
        <m-i18n k="m-scroll-top:top"></m-i18n>
    </m-button>
</div>

