@import 'abstracts/variables';

a {
    text-decoration: none;
}

.m-navbar.m--is-skin-tab {
    .m-navbar-item {
        + .m-navbar-item {
            margin-left: 1px;
        }

        &:not(.m--is-disabled) {
            .m-navbar-item__contents {
                padding: $m-padding;
                background: $m-color--grey-light;
                color: $m-color--text;
            }
        }

        &.m--is-selected {
            position: relative;

            .m-navbar-item__contents {
                background: $m-color--white;

                &::before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    content: '';
                    height: $m-border-width--l;
                    background: $m-color--active;
                }
            }

            &:first-child,
            &:last-child {
                &::after {
                    position: absolute;
                    top: $m-border-width--l;
                    bottom: 0;
                    content: '';
                    width: $m-border-width--s;
                    background: $m-color--grey-light;
                }
            }

            &:first-child {
                &::after {
                    left: 0;
                }
            }

            &:last-child {
                &::after {
                    right: 0;
                }
            }
        }

        &:not(.m--is-selected):not(.m--is-disabled) {
            .m-navbar-item__contents {
                transition: background $m-transition-duration ease;

                &:hover,
                &:focus {
                    background: $m-color--grey-lighter;
                }
            }
        }
    }
}

.m-navbar.m--is-skin-light {
    .m-navbar-item {
        margin: 0 $m-padding;

        &:first-child {
            margin-left: 0;
        }

        &:not(.m--is-disabled) {
            .m-navbar-item__contents {
                &:hover,
                &:focus {
                    color: $m-color--text;

                    &::after {
                        opacity: 1;
                    }
                }
            }
        }

        &__contents {
            transition: color $m-transition-duration ease;
            color: $m-color--grey;
            padding: $m-padding 0 $m-padding + $m-border-width 0;

            &:visited {
                color: $m-color--grey-darker;
            }

            &::after {
                transition: opacity $m-transition-duration ease;
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                content: '';
                width: 100%;
                height: $m-border-width--l;
                background: $m-color--grey;
                opacity: 0;
            }
        }

        &.m--is-selected {
            .m-navbar-item__contents {
                color: $m-color--text;
            }
        }
    }
}

.m-navbar.m--is-skin-simple {
    .m-navbar-item {
        position: relative;

        &__contents {
            position: relative;
            padding-top: $m-padding;
            padding-bottom: $m-padding;
            padding-right: $m-padding--l;
            transition: color 0.4s ease, font-weight 0.4s ease;

            &:hover,
            &:focus {
                color: $m-color--interactive-light;
            }
        }

        &:not(:first-child) {
            .m-navbar-item__contents {
                padding-left: $m-padding--l;
            }
        }

        &:not(:last-child) {
            &::after {
                content: "";
                display: block;
                height: 16px;
                width: 1px;
                position: absolute;
                background: $m-color--text;
                right: 0;
                top: 50%;
                transform: translate3d(0, -50%, 0);
            }
        }

        &.m--is-selected {
            .m-navbar-item__contents {
                color: $m-color--black;
                font-weight: $m-font-weight--black;
            }
        }
    }
}

.m-navbar.m--is-skin-dark {
    $m-m-navbar-item--max-width: 60px;

    .m-navbar-item {
        font-size: $m-font-size--h5;
        font-weight: $m-font-weight--bold;
        text-transform: uppercase;

        &:not(:first-child) {
            margin-left: $m-padding--l;
        }

        &:not(:last-child) {
            margin-right: $m-padding--l;
        }

        // for multiline feature to come
        // max-width: 200 + $m-spacing--l * 2;
        // min-width: 120 + $m-spacing--l * 2;
        // word-break: break-word;

        &__contents {
            transition: color 0.4s ease;
            padding: $m-padding--l 0;
            color: $m-color--grey;
            min-width: $m-m-navbar-item--max-width;

            &:hover,
            &:focus {
                color: $m-color--white;
            }

            &::before {
                content: '';
                transition: opacity $m-transition-duration--s ease, width $m-transition-duration--l ease;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: $m-m-navbar-item--max-width/3;
                height: $m-border-width--l;
                background: $m-color--active;
                opacity: 0;
            }
        }

        &.m--is-selected {
            .m-navbar-item__contents {
                color: $m-color--white;
                font-weight: $m-font-weight--black;

                &::before {
                    opacity: 1;
                    width: $m-m-navbar-item--max-width;
                }
            }
        }
    }
}

.m-navbar.m--is-skin-arrow {
    // .m-navbar {
    //     &__list {
    //         padding-bottom: $m-margin--s;
    //     }
    // }

    .m-navbar-item {
        margin: 0 $m-padding;

        &:first-child {
            margin-left: 0;
        }

        &.m--is-selected {
            .m-navbar-item__contents {
                color: $m-color--text;
            }
        }

        &__contents {
            transition: color $m-transition-duration ease;
            color: $m-color--grey;
            padding: $m-padding 0 #{$m-padding + 6px} 0;
            font-weight: $m-font-weight--bold;

            &:visited {
                color: $m-color--grey-darker;
            }

            &:hover,
            &:focus {
                color: $m-color--black;
            }
        }
    }
}
