@import 'abstracts/variables';

a {
    text-decoration: none;
}

.m--is-skin-regular {
    .m-navbar-item {
        + .m-navbar-item {
            margin-left: 1px;
        }

        &:not(.m--is-disabled) {
            &[tabindex],
            a,
            button {
                padding: $m-padding;
                background: $m-color--grey-light;
                color: $m-color--text;
            }
        }

        &.m--is-selected {
            position: relative;

            &[tabindex],
            a,
            button {
                background: $m-color--white;

                &::before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    content: '';
                    height: $m-border-width--l;
                    background: $m-color--active;
                }
            }

            &.m--is-first {
                &::after {
                    position: absolute;
                    top: $m-border-width--l;
                    bottom: 0;
                    left: 0;
                    content: '';
                    width: $m-border-width--s;
                    background: $m-color--grey;
                }
            }

            &.m--is-last {
                &::after {
                    position: absolute;
                    top: $m-border-width--l;
                    right: 0;
                    bottom: 0;
                    content: '';
                    width: $m-border-width--s;
                    background: $m-color--grey;
                }
            }
        }

        &:not(.m--is-selected):not(.m--is-disabled) {
            &[tabindex],
            a,
            button {
                transition: background $m-transition-duration ease;

                &:hover,
                &:focus {
                    background: $m-color--grey-lighter;
                }

                &:active {
                    background: $m-color--grey;
                }
            }
        }
    }
}

.m--is-skin-dark {
    .m-navbar-item {
        &.m--is-selected {
            &[tabindex],
            a,
            button {
                color: $m-color--white;
                background: $m-color--black-grey-light;
            }
        }
    }
}

.m--is-skin-light {
    .m-navbar-item {
        margin: 0 $m-margin;

        &:not(.m--is-disabled) {
            &[tabindex],
            a,
            button {
                &:hover,
                &:focus {
                    color: $m-color--text;

                    &::after {
                        opacity: 1;
                    }
                }
            }
        }

        a:visited {
            color: $m-color--grey-darker;
        }

        &[tabindex],
        a,
        button {
            transition: color $m-transition-duration ease;
            color: $m-color--grey-darker;
            padding: $m-margin--s 0;

            &::after {
                transition: opacity $m-transition-duration ease;
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                content: '';
                width: 100%;
                height: $m-border-width--l;
                background: $m-color--grey;
                opacity: 0;
            }
        }

        &.m--is-selected {
            &[tabindex],
            a,
            button {
                color: $m-color--text;
            }
        }

        &.m--is-first {
            margin-left: 0;
        }

        &.m--is-last {
            margin-right: 0;
        }
    }
}

.m--is-skin-arrow {
    .m-navbar {
        &__list {
            padding-bottom: $m-margin--s;
        }
    }

    .m-navbar-item {
        margin: 0 $m-margin;

        &:not(.m--is-disabled) {
            &[tabindex],
            a,
            button {
                &:hover,
                &:focus {
                    color: $m-color--text;
                }
            }
        }

        a:visited {
            color: $m-color--grey-darker;
        }

        &[tabindex],
        a,
        button {
            transition: color $m-transition-duration ease;
            color: $m-color--grey-darker;
            padding: $m-margin 0;
            font-weight: $m-font-weight--bold;
        }

        &.m--is-selected {
            &[tabindex],
            a,
            button {
                color: $m-color--text;
            }
        }

        &.m--is-first {
            margin-left: 0;
        }

        &.m--is-last {
            margin-right: 0;
        }
    }
}

.m--no-margin {
    .m-navbar-item {
        margin: 0;
    }
}
