<div>
    <m-textfield v-model="current.year"
                 label="year"></m-textfield>
    <m-textfield v-model="current.month"
                 label="month"></m-textfield>
    <m-textfield v-model="current.day"
                 label="day"></m-textfield>

    <h3>Long format</h3>
    <p v-html="formattedDateLong"></p>

    <h3>Show year and month</h3>
    <p>{{ date | f-m-date({showDay: false}) }}</p>

    <h3>Short format</h3>
    <p v-html="formattedDateShort"></p>

    <m-textfield v-model="current.year"
                 label="year"></m-textfield>
    <m-textfield v-model="current.month"
                 label="month"></m-textfield>
    <m-textfield v-model="current.day"
                 label="day"></m-textfield>
    <m-textfield v-model="current.hours"
                 label="hours"></m-textfield>
    <m-textfield v-model="current.minutes"
                 label="minutes"></m-textfield>

    <h3>Long format</h3>
    <p v-html="formattedDateTimeLong"></p>

    <h3>Short format</h3>
    <p v-html="formattedDateTimeShort"></p>

    <m-textfield v-model="current.hours"
                 label="hours"></m-textfield>
    <m-textfield v-model="current.minutes"
                 label="minutes"></m-textfield>

    <h4>{{ date | f-m-time }}</h4>
    <h4 v-if="current.hours">{{ timeString | f-m-time }}</h4>

    <h3>Period Format</h3>

    <h4>Compact Mode</h4>
    <h5>short format</h5>
    <p v-html="formattedPeriodShortDate"></p>
    <h5>Long format</h5>
    <p v-html="formattedPeriod"></p>
    <p v-html="$options.filters['f-m-period'](periodThroughFilter)"></p>

    <div>
        <m-textfield v-model="current.year"
                     label="year"></m-textfield>
        <m-textfield v-model="current.month"
                     label="month"></m-textfield>
        <m-textfield v-model="current.day"
                     label="day"></m-textfield>
        <m-button type="reset"
                  @click="clearCurrent">Clear current date</m-button>
    </div>
    <div>
        <m-textfield v-model="later.year"
                     label="year"></m-textfield>
        <m-textfield v-model="later.month"
                     label="month"></m-textfield>
        <m-textfield v-model="later.day"
                     label="day"></m-textfield>
        <m-button type="reset"
                  @click="clearLater">Clear Later date</m-button>
    </div>
</div>
