@import 'commons';
@import '../menu-skins';

.m-menu.m--is-skin-light {
    .m-menu-item {
        &.m--is-inside-group {
            > .m-menu-item__link {
                background: $m-menu-color--skin-light-bg-dark;

                &::before {
                    background: $m-menu-color--skin-light-bg-light;
                }
            }

            &:not(.m--is-disabled) {
                > .m-menu-item__link {
                    &:hover::before,
                    &:focus::before {
                        background: $m-color--interactive-light;
                    }
                }
            }
        }

        &__link {
            color: rgba($m-color--white, 0.7);
            background: $m-menu-color--skin-light-bg-light;
        }
    }
}

.m-menu.m--is-skin-dark {
    .m-menu-item {
        &.m--is-inside-group {
            > .m-menu-item__link {
                background: $m-menu-color--skin-dark-bg-dark;

                &::before {
                    background: $m-menu-color--skin-dark-bg-light;
                }
            }

            &:not(.m--is-disabled) {
                > .m-menu-item__link {
                    &:hover::before,
                    &:focus::before {
                        background: $m-color--grey-darker;
                    }
                }
            }
        }

        &__link {
            color: $m-color--grey-light;
            background: $m-menu-color--skin-dark-bg-light;
        }
    }
}

.m-menu-item {
    position: relative;

    &.m--is-anim-ready {
        .m-menu-item__link {
            transition: color $m-transition-duration ease, font-weight $m-transition-duration ease;
        }

        &.m--is-inside-group {
            > .m-menu-item__link {
                &::before {
                    transition: background $m-transition-duration ease;
                }

                &::after {
                    transition: width $m-transition-duration ease;
                }
            }
        }
    }

    &.m--is-selected,
    &.m--is-group-selected {
        > .m-menu-item__link {
            color: $m-color--white;
            font-weight: $m-font-weight--bold;

            > .m-menu-item__icon {
                stroke-width: 1.5px;
            }
        }
    }

    &.m--is-group {
        > .m-menu-item__link {
            justify-content: space-between;
        }
    }

    &:not(.m--is-disabled) {
        > .m-menu-item__link {
            cursor: pointer;

            &:hover,
            &:focus {
                color: $m-color--white;
            }
        }
    }

    &.m--is-disabled {
        > .m-menu-item__link {
            cursor: default;
        }
    }

    &.m--is-inside-group {
        > .m-menu-item__link {
            &::before,
            &::after {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                content: '';
            }

            &::before {
                width: $m-border-width--l;
            }

            &::after {
                background: $m-color--ul-yellow;
                width: 0;
            }
        }

        &.m--is-selected {
            .m-menu-item__link::after {
                width: $m-border-width--l;
            }
        }
    }

    &:not(.m--is-inside-group) {
        > .m-menu-item__link {
            text-transform: uppercase;
        }
    }

    &__icon {
        margin-right: $m-spacing--s;
        font-size: 20px; // Magic number
    }

    &__link {
        position: relative;
        display: flex;
        font-weight: $m-font-weight--light;
        align-items: center;
        text-decoration: none;
        padding: $m-spacing--s $m-spacing;
        min-height: $m-touch-size;
        outline: none;
    }

    &__label {
        flex: 1 1 auto;
    }

    &__group {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}
