@import '../utils/link';

@mixin m-commons-froala-styles() {
    @include m-titles-styles();
    @include m-text-styles();

    ul,
    ol,
    table {
        margin-top: $m-margin;
        margin-bottom: 0;
    }

    ul {
        @include m-bullet-list();
    }

    ol {
        @include m-number-list();
    }

    table {
        @include m-table();
    }

    img {
        max-width: 100%;
        display: block;
        margin: auto;
        text-align: center;
        position: relative;

        &.fr-fil {
            float: left;
            margin-right: $m-spacing--s;
        }

        &.fr-fir {
            float: right;
            margin-left: $m-spacing--s;
        }
    }

    a {
        @extend .m-u--link;

        &:hover,
        &:focus {
            @extend %m-u--link-text--hover-focus;
        }
    }
}
