@mixin font-face($font-family, $url, $font-weight: normal, $font-style: normal) {
    @font-face {
        font-family: '#{$font-family}';
        src: url('#{$m-font-path}#{$url}.otf.woff2') format('woff2'), url('#{$m-font-path}#{$url}.ttf.woff2') format('woff2'), url('#{$m-font-path}#{$url}.otf.woff') format('woff'), url('#{$m-font-path}#{$url}.ttf.woff') format('woff');
        font-weight: $font-weight;
        font-style: $font-style;
    }
}

@mixin m-commons-title-styles() {
    font-weight: $m-font-weight--semi-bold;
    line-height: 1.1;
}

@mixin m-h1-font-style() {
    font-size: $m-font-size--h1;

    @media (max-width: $m-mq--max--s) {
        font-size: $m-font-size--mobile-h1;
    }
}

@mixin m-h2-font-style() {
    font-size: $m-font-size--h2;

    @media (max-width: $m-mq--max--s) {
        font-size: $m-font-size--mobile-h2;
    }
}

@mixin m-h3-font-style() {
    font-size: $m-font-size--h3;

    @media (max-width: $m-mq--max--s) {
        font-size: $m-font-size--mobile-h3;
    }
}

@mixin m-h4-font-style() {
    font-size: $m-font-size--h4;

    @media (max-width: $m-mq--max--s) {
        font-size: $m-font-size--mobile-h4;
        font-weight: $m-font-weight--bold;
    }
}

@mixin m-h5-font-style() {
    font-size: $m-font-size--h5;

    @media (max-width: $m-mq--max--s) {
        font-size: $m-font-size--mobile-h5;
    }
}

@mixin m-h6-font-style() {
    font-size: $m-font-size--h6;

    @media (max-width: $m-mq--max--s) {
        font-size: $m-font-size--mobile-h6;
    }
}

@mixin m-titles-styles() {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .m-u--h1,
    .m-u--h2,
    .m-u--h3,
    .m-u--h4,
    .m-u--h5,
    .m-u--h6 {
        @include m-commons-title-styles();
    }

    h1,
    .m-u--h1 {
        margin: 0;

        @include m-h1-font-style();
    }

    h2,
    .m-u--h2 {
        margin: $m-spacing--l 0 0 0;

        @include m-h2-font-style();
    }

    h3,
    .m-u--h3 {
        margin: $m-spacing--l 0 0 0;

        @include m-h3-font-style();
    }

    h4,
    .m-u--h4 {
        margin: $m-spacing--m 0 0 0;

        @include m-h4-font-style();
    }

    h5,
    .m-u--h5 {
        margin: $m-spacing--m 0 0 0;

        @include m-h5-font-style();
    }

    h6,
    .m-u--h6 {
        margin: $m-spacing--m 0 0 0;

        @include m-h6-font-style();
    }
}

@mixin m-text-styles() {
    p,
    .m-u--p {
        margin: $m-margin 0 0 0;
    }

    b,
    strong {
        font-weight: $m-font-weight--semi-bold;
    }

    i,
    em {
        font-style: italic;
    }

    small {
        font-size: $m-font-size--s;
    }

    pre,
    code {
        word-break: break-all;
        word-wrap: break-word;
        font-size: $m-font-size--s;
        font-weight: $m-font-weight--light;
        color: $m-color--text;
    }
}

@mixin m-word-wrap() {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}
