@import 'commons';

.m-phonefield {
    &__wrapper {
        display: flex;
        align-items: flex-end;
    }

    &__country {
        /deep/ .m-input-style__content {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &__number {
        /deep/ .m-input-style__content {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
