<div class="m-phonefield"
     :class="[{ 'm--is-disabled': isDisabled,
                'm--is-waiting': isWaiting,
                'm--is-readonly': isReadonly,
                'm--has-error': hasPhonefieldError,
                'm--is-valid': isPhonefieldValid,
                'm--has-validation-message': hasValidationMessage } ]">
    <div class="m-phonefield__wrapper">
        <m-dropdown class="m-phonefield__country"
                    v-model="countryModel"
                    :disabled="isDisabled"
                    :waiting="isWaiting"
                    :readonly="isReadonly"
                    :error="hasPhonefieldError"
                    :valid="isPhonefieldValid"
                    :width="countryDropdownWidth"
                    :max-width="countryDropdownMaxWidth">
            <m-dropdown-item v-for="country in countries"
                             :value="country.iso2"
                             :label="country.name">
                <span class="m-phonefield__item-wrapper">
                    <m-flag class="m-phonefield__item-flag"
                            :iso="country.iso2"></m-flag>
                    <span>{{ country.name }}</span>
                </span>

            </m-dropdown-item>
        </m-dropdown>
        <m-input-style class="m-phonefield__number"
                       :disabled="isDisabled"
                       :waiting="isWaiting"
                       :error="hasPhonefieldError"
                       :valid="isPhonefieldValid"
                       :label="propLabel"
                       :label-for="id"
                       :focus="isFocus"
                       :label-up="true"
                       :empty="isEmpty"
                       :readonly="isReadonly"
                       :required-marker="requiredMarker"
                       :tag-style="tagStyle">
            <m-input-mask class="m-phonefield__input"
                          v-model="model"
                          :id="id"
                          :disabled="isDisabled || isWaiting"
                          :placeholder="placeholder"
                          :readonly="isReadonly"
                          :options="inputMaskOptions"
                          @focus="onFocus"
                          @blur="onBlur"
                          @keyup="onKeyup"
                          @change="onChange"
                          ref="inputMask"></m-input-mask>
        </m-input-style>
    </div>
    <p class="m-phonefield__example"
       :style="{ 'margin-left': countryDropdownWidth }">{{ i18nExample }}{{ example }}</p>
    <div class="m-phonefield__validation">
        <m-validation-message class="m-phonefield__validation-message"
                              :disabled="isDisabled"
                              :waiting="isWaiting"
                              :error="hasPhonefieldError"
                              :error-message="errorMessage"
                              :valid="isPhonefieldValid"
                              :valid-message="validMessage"
                              :helper-message="helperMessage"></m-validation-message>
    </div>

</div>
