<div class="m-text-field"
     :class="[{ 'm--is-disabled' : isDisabled,
            'm--is-waiting' : isWaiting,
            'm--has-error' : hasError,
            'm--is-valid' : isValid,
            'm--has-icon' : hasIcon,
            'm--has-label': hasLabel },
            'm--is-type-' + inputType ]"
     @click="onClick">
    <m-input-style :state="propState" :label="label" :focus="isFocus" :empty="isEmpty">
        <input class="m-text-field__input"
               :disabled="isDisabled"
               :placeholder="placeholder"
               @focus="onFocus"
               @blur="onBlur"
               @keyup="onKeyup"
               ref="input"
               v-model="model">
        <template slot="right-content">
            <m-button mode="icon" :icon-name="iconName" v-if="hasIcon">{{ iconDescription }}</m-button>
            <div class="m-text-field__icon-password" :class="{ 'm--is-transparent': !hasValue }" v-if="propIconPassword">
                <m-button mode="icon" :icon-name="iconNamePassword" @click="togglePasswordVisibility">{{ iconDescriptionPassword }}</m-button>
            </div>
        </template>
    </m-input-style>
    <m-validation-message :error-message="errorMessage" :valid-message="validMessage" :helper-message="helperMessage" v-if="!isDisabled"></m-validation-message>
</div>
