@import 'abstracts/variables';
$m-text-field--color-helper: $m-color--grey-darker !default;
$m-text-field--color-focus: $m-color--interactive !default;
$m-text-field--color-error: $m-color--error !default;
$m-text-field--color-valid: $m-color--success !default;
$m-text-field--color-disabled: $m-color--grey-darker !default;
$m-text-field--margin: $m-margin--s !default;

.m-text-field {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    outline: none;
    min-width: 130px;
    padding-top: 16px; // Magic number

    &.m--is-focus {
        &:not(.m--is-disabled) {
            .m-text-field {
                &__label {
                    color: $m-text-field--color-focus;
                }

                &__input-container::after {
                    width: 100%;
                }

                &__icon-dropdown {
                    transform: rotate(-180deg);
                }
            }
        }
    }

    &.m--not-editable {
        .m-text-field__label,
        .m-text-field__input {
            cursor: pointer;
        }
    }

    &.m--is-disabled {
        &,
        .m-text-field__label,
        .m-text-field__input {
            user-select: none;
            cursor: not-allowed;
        }

        .m-text-field {
            &__label,
            &__icon,
            &__input {
                color: $m-text-field--color-disabled;
            }

            &__input {
                background: none;

                &-container::before {
                    border-bottom-style: dashed;
                    border-color: $m-text-field--color-disabled;
                }
            }
        }
    }

    &.m--has-error,
    &.m--is-valid {
        .m-text-field__input-container::after {
            width: 100%;
        }
    }

    &.m--has-error {
        &.m--is-focus,
        &:not(.m--no-value) {
            .m-text-field__label {
                color: $m-text-field--color-error;
            }
        }

        .m-text-field__input-container::after {
            width: 100%;
            background: $m-text-field--color-error;
        }
    }

    &.m--is-valid {
        &.m--is-focus,
        &:not(.m--no-value) {
            .m-text-field__label {
                color: $m-text-field--color-valid;
            }
        }

        .m-text-field__input-container::after {
            background: $m-text-field--color-valid;
        }
    }

    &:not(.m--is-focus),
    &.m--is-disabled {
        &.m--no-value {
            .m-text-field {
                &__label {
                    top: 18px; // Magic number
                    font-size: $m-font-size--l;
                }

                &__icon {
                    &-disabled {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    &:not(.m--is-focus):not(.m--is-disabled) {
        .m-text-field__label {
            cursor: pointer;
        }
    }

    &__label {
        transition-property: color, top, font-size;
        transition-duration: $m-transition-duration--l;
        transition-timing-function: ease;
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
        font-size: $m-font-size--s;
        font-weight: $m-font-weight--bold;
        white-space: nowrap;
    }

    &__input {
        position: relative;
        z-index: 2;
        outline: none;
        cursor: text;
        padding: 0 0 $m-text-field--margin 0;
        font-family: $m-font-family;
        font-size: $m-font-size--l;
        font-weight: $m-font-weight;
        text-decoration: none;
        color: $m-color--text;
        border: none;
        background: none;

        &-container {
            position: relative;
            display: flex;
            width: 100%;
            justify-content: space-between;

            &::before,
            &::after {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 2;
                content: '';
                display: block;
            }


            &::before {
                width: 100%;
                border-bottom: 1px solid #000;
            }

            &::after {
                transition: width $m-transition-duration--l ease-in-out;
                width: 0;
                height: 2px;
                background: $m-text-field--color-focus;
            }
        }

        &__default-text {
            transition: opacity $m-transition-duration ease;
            opacity: 1;
            color: $m-text-field--color-helper;

            &.m--is-transparent {
                opacity: 0;
            }
        }

        &__value {
            display: block;
            white-space: nowrap;
        }

        &[type="password"] {
            -webkit-text-security: disc;
            letter-spacing: 2px; // Maguc number;
            user-select: none;
        }

        &.m--is-transparent {
            opacity: 0;
            width: 1px;
            user-select: none;
        }
    }

    &__icon {
        &,
        &-password,
        &-dropdown,
        &-disabled {
            stroke-width: 2px;
            z-index: 1;

            &.m-button {
                min-height: 20px;
                min-width: 30px;
            }
        }

        &-disabled {
            margin-right: $m-margin--s;
        }

        &-dropdown {
            &.m-button {
                transition: transform 0.3s ease;
            }

        }
    }
}
