<span class="m-text-field"
      :class="[{ 'm--is-focus' : isFocusActive || isForceFocus,
          'm--not-editable' : !propsIsEditable,
          'm--is-disabled' : isDisabled,
          'm--has-error' : hasError,
          'm--is-valid' : isValid,
          'm--is-empty-value' : isEmptyValue },
          'm--is-type-' + propsType]">
    <span class="m-text-field__wrap">
        <label class="m-text-field__label" @click="onFocus" v-if="hasDefaultSlot || isDisabled">
            <m-icon name="default" class="m-text-field__icon-disabled" v-if="isDisabled"></m-icon>
            <slot></slot>
        </label>
        <input class="m-text-field__input"
               ref="input"
               :disabled="isDisabled"
               @focus="onFocus"
               @blur="onBlur"
               @keyup="onKeyup"
               v-model="propsValue"
               v-if="propsIsEditable">
        <a href="#"
           class="m-text-field__input"
           ref="input"
           @focus="onFocus"
           @blur="onBlur"
           @click="onClick"
           @keyup="onKeyup"
           v-if="!propsIsEditable">
            <span class="m-text-field__input__value" v-if="isDefaultTextEmpty">{{ propsValue }}</span>
            <span class="m-text-field__input__default-text" :aria-hidden="isDefaultTextEmpty" :class="{ 'm--is-transparent': isDefaultTextEmpty }">- {{ propsDefaultText}} -</span>
        </a>
        <m-icon :name="iconName" class="m-text-field__icon" v-if="hasIcon"></m-icon>
        <span aria-hidden="true" class="m-text-field__input-line"></span>
    </span>
    <m-validation-message
        :state="propsState"
        :error-message="propsErrorMessage"
        :valid-message="propsValidMessage"
        :helper-message="helperMessage"></m-validation-message>
</span>
