@import 'abstracts/variables';

.m-text-field {
    position: relative;
    display: inline-flex;
    flex-direction: column;

    &__icon-password {
        transition: opacity 0.3s ease;

        &.m--is-transparent {
            opacity: 0;
        }
    }
}
