@import 'abstracts/variables';
$m-text-field--transiton-duration: 0.45s !default;
$m-text-field--color-helper: $m-color--grey-darker !default;
$m-text-field--color-focus: $m-color--primary !default;
$m-text-field--color-error: $m-color--error !default;
$m-text-field--color-valid: $m-color--valid !default;
$m-text-field--color-disabled: $m-color--grey-darker !default;
$m-text-field--margin: $m-padding--xs !default;

.m-text-field {
    display: inline-flex;
    min-width: 80px;
    outline: none;

    &,
    &__wrap {
        position: relative;
        flex-direction: column;
    }

    &__wrap {
        display: flex;
    }

    &:not(.m--is-focus),
    &.m--is-disabled {
        &.m--is-empty-value {
            .m-text-field {
                &__label {
                    bottom: $m-text-field--margin;
                    font-size: $m-font-size;
                }

                &__icon {
                    &-disabled {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    &:not(.m--is-focus):not(.m--is-disabled) {
        .m-text-field__label {
            cursor: pointer;
        }
    }

    &__label {
        transition-property: color, bottom, font-size;
        transition-duration: $m-text-field--transiton-duration;
        transition-timing-function: ease;
        position: absolute;
        bottom: 25px;
        z-index: 2;
        width: 100%;
        font-size: $m-font-size--xs;
        font-weight: $m-font-weight--bold;

        ~ .m-text-field__input {
            margin-top: 12px; // Magic number : Space required when the label is present and the focus on text-field is active
        }
    }

    &__input {
        position: relative;
        z-index: 1;
        width: 100%;
        outline: none;
        cursor: text;
        padding: 0 0 $m-text-field--margin 0;
        font-family: $m-font-family;
        font-size: $m-font-size;
        font-weight: $m-font-weight;
        text-decoration: none;
        color: $m-color--text;
        border: none;
        border-bottom: 1px solid #000;
        background-color: none;

        &-line {
            transition: $m-text-field--transiton-duration width ease-in-out;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: $m-text-field--color-focus;
        }

        &__default-text {
            transition: opacity 0.3s ease;
            opacity: 1;
            color: $m-text-field--color-helper;

            &.m--is-transparent {
                opacity: 0;
            }
        }
    }

    &__icon {
        position: absolute;
        z-index: 2;
        bottom: 5px;
        right: 0;

        &,
        &-disabled {
            stroke-width: 2px;
            font-size: 8px;
        }
    }

    &.m--is-focus {
        &:not(.m--is-disabled) {
            .m-text-field {
                &__label {
                    color: $m-text-field--color-focus;
                }

                &__input-line {
                    width: 100%;
                }
            }
        }
    }

    &.m--not-editable {
        .m-text-field__label,
        .m-text-field__input {
            cursor: pointer;
        }
    }

    &.m--is-disabled {
        &,
        .m-text-field__label,
        .m-text-field__input {
            user-select: none;
            cursor: not-allowed;
        }

        .m-text-field__label,
        .m-text-field__icon,
        .m-text-field__input {
            color: $m-text-field--color-disabled;
        }

        .m-text-field__input {
            border-bottom-style: dashed;
            border-color: $m-text-field--color-disabled;
        }
    }

    &.m--has-error,
    &.m--is-valid {
        .m-text-field__input {
            &-line {
                width: 100%;
            }
        }
    }

    &.m--has-error {
        &.m--is-focus,
        &:not(.m--is-empty-value) {
            .m-text-field__label {
                color: $m-text-field--color-error;
            }
        }

        .m-text-field__input {
            &-line {
                width: 100%;
                background: $m-text-field--color-error;
            }
        }
    }

    &.m--is-valid {
        &.m--is-focus,
        &:not(.m--is-empty-value) {
            .m-text-field__label {
                color: $m-text-field--color-valid;
            }
        }

        .m-text-field__input {
            &-line {
                background: $m-text-field--color-valid;
            }
        }
    }

    .m-validation-message {
        margin-top: $m-text-field--margin;
    }
}
