<article class="m-accordion" :class="{ 'is-regular': typeIsRegular, 'is-light': propsMode=='light', 'is-no-style': propsMode=='noStyle', 'is-close': !propsIsOpen }">
    <header>
        <a href="#" class="m-accordion__header" @click="toggleAccordion">
            <span class="m-accordion__header__icon is-left" :class="{ 'is-close': propsIsOpen, 'is-large': propsIconSize=='large', 'has-border': propsIconStyle=='border' }" v-if="propsIconPosition != 'right'">
            </span>
            <span class="m-accordion__header__tilte">
                <slot name="title">m-accordion</slot>
                <m-i18n i18n-key="m-accordion:open" class="m-accordion__hidden" v-if="!propsIsOpen"></m-i18n>
                <m-i18n i18n-key="m-accordion:close" class="m-accordion__hidden" v-if="propsIsOpen"></m-i18n>
            </span>
            <span class="m-accordion__header__icon is-right" :class="{ 'is-close': propsIsOpen, 'is-large': propsIconSize=='large', 'has-border': propsIconStyle=='border' }" v-if="propsIconPosition == 'right'">
            </span>
        </a>
    </header>
    <transition @enter="animEnter" @after-enter="animAfterEnter" @leave="animLeave">
        <div class="m-accordion__body" :class="{ 'is-anim-active': animIsActive }" v-if="propsIsOpen">
            <div class="m-accordion__body__wrap">
                <slot>m-accordion - text</slot>
            </div>
        </div>
    </transition>
</article>
