<article class="m-accordion"
         :class="['m--is-' + propSkin,
            {'m--is-closed': !propOpen,
            'm--is-open': propOpen,
            'm--is-disabled': propDisabled,
            'm--has-icon-left': iconPosition !== 'right',
            'm--has-icon-large': iconSize=='large' }]">
    <div class="m-accordion__header"
         :class="{ 'm--has-padding': paddingHeader && padding }"
         tabindex="0"
         :id="propId"
         role="tab"
         :aria-expanded="propOpen"
         :aria-controls="propId + '-controls'"
         @keyup.self.enter="toggleAccordion"
         @click.prevent="toggleAccordion"
         ref="accordionHeader">
        <div class="m-accordion__header__content">
            <slot name="header"></slot>
            <m-i18n k="m-accordion:open"
                    class="m-accordion__hidden"
                    v-if="!propOpen"></m-i18n>
            <m-i18n k="m-accordion:close"
                    class="m-accordion__hidden"
                    v-if="propOpen"></m-i18n>
        </div>
        <m-plus class="m-accordion__header-icon"
                :class="{ 'm--is-left': iconPosition !== 'right' }"
                :open="propOpen"
                :large="iconSize=='large'"
                :border="hasIconBorder"
                aria-hidden="true"></m-plus>
    </div>
    <m-accordion-transition :height-delta="skin === 'default' || skin === 'dark' ? 24 : 0">
        <div class="m-accordion__body-wrap"
             role="tabpanel"
             :id="propId + '-controls'"
             :aria-labelledby="propId"
             v-if="propOpen">
            <div class="m-accordion__body"
                 :class="{ 'm--has-padding': paddingBody && padding }">
                <slot></slot>
            </div>
        </div>
    </m-accordion-transition>
</article>
