@import '../../styles/abstracts/variables';
$m-accordion--icon-l-width: 12px;
$m-accordion--icon-width: 10px;
$m-accordion--icon-l-height: 2px;
$m-accordion--icon-height: 1px;
$m-accordion--border-size: $m-border-width;
$m-accordion--border-color: $m-color--border;
$m-accordion--color: $m-color--accent;

.m-accordion {
    &.m--is-regular,
    &.m--is-light {
        > .m-accordion__header__content {
            &,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin: 0;
                font-size: $m-font-size--l;
                font-weight: $m-font-weight--bold;
            }
        }
    }

    &.m--is-regular {
        margin-top: - $m-accordion--border-size;

        > .m-accordion {
            &__header,
            &__body-wrap > .m-accordion__body {
                padding: $m-padding $m-padding $m-padding 20px; // Magic number
            }

            &__header {
                position: relative;
                min-height: 56px;
                border-top: $m-accordion--border-size solid $m-accordion--border-color;
                border-bottom: $m-accordion--border-size solid $m-accordion--border-color;

                &::after {
                    position: absolute;
                    top: -$m-accordion--border-size;
                    bottom: -$m-accordion--border-size;
                    left: 0;
                    content: '';
                    width: $m-border-width--l;
                    background: $m-accordion--color;
                }
            }

            &__body-wrap {
                &.v-enter-to {
                    .m-accordion__body {
                        transform: translate3d(0, 0, 0);
                        opacity: 1;
                    }
                }

                &.v-enter,
                &.v-leave-to {
                    .m-accordion__body {
                        transform: translate3d(0, $m-margin--l, 0);
                        opacity: 0;
                    }
                }

                > .m-accordion__body {
                    transition: opacity $m-transition-duration--l ease, transform $m-transition-duration ease;
                }
            }
        }
    }

    &.m--is-light {
        margin: $m-margin--s 0;

        > .m-accordion {
            &__header {
                &:hover {
                    .m-accordion__header__content {
                        transition: color $m-transition-duration ease;
                        color: $m-color--interactive;
                    }
                }
            }

            &__body-wrap {
                > .m-accordion__body {
                    padding-left: $m-margin--l;
                    padding-top: $m-margin--s;
                    padding-bottom: $m-margin;
                }
            }
        }
    }

    &__header {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover,
        &:active {
            outline: none;
        }

        &.m--is-icon-left {
            flex-direction: row-reverse;
        }

        &:not(.m--is-plain) {
            color: $m-color--text;
            text-decoration: none;
        }

        &__content {
            flex: 1;
        }

        &-icon {
            position: relative;
            display: block;

            &::before,
            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                content: '';
                background: $m-color--interactive;
                transform: translate3d(-50%, -50%, 0);
                transition: transform $m-transition-duration ease;
            }

            &::after {
                transition: transform $m-transition-duration ease, opacity 0.6s ease;
            }

            &.m--is-closed {
                &::before,
                &::after {
                    transform: translate3d(-50%, -50%, 0) rotate(90deg);
                }

                &::before {
                    opacity: 0;
                }
            }

            &:not(.m--is-large) {
                width: $m-accordion--icon-width;
                height: $m-accordion--icon-width;

                &::before {
                    width: $m-accordion--icon-width;
                    height: $m-accordion--icon-height;
                }

                &::after {
                    width: $m-accordion--icon-height;
                    height: $m-accordion--icon-width;
                }

                &.m--has-border {
                    width: $m-accordion--icon-width + 8;
                    height: $m-accordion--icon-width + 8;
                    border-width: $m-accordion--icon-height;
                }
            }

            &.m--is-large {
                width: $m-accordion--icon-l-width;
                height: $m-accordion--icon-l-width;

                &::before {
                    width: $m-accordion--icon-l-width;
                    height: $m-accordion--icon-l-height;
                }

                &::after {
                    width: $m-accordion--icon-l-height;
                    height: $m-accordion--icon-l-width;
                }

                &.m--has-border {
                    width: $m-accordion--icon-l-width + 8;
                    height: $m-accordion--icon-l-width + 8;
                    border-width: $m-accordion--icon-l-height;
                }
            }

            &.m--has-border {
                border-color: $m-color--interactive;
                border-style: solid;
            }

            &:not(.m--is-left) {
                margin-left: $m-margin;
            }

            &.m--is-left {
                margin-right: $m-margin--s;
            }
        }
    }

    &__hidden {
        @include m-visually-hidden();
    }
}
