<div>

    <h2>Toggles</h2>
    <p>
        Clicks from those children elements shouldn't toggle the accordion
    </p>
    <br>
    <m-accordion icon-position="right">
        <div slot="header">
            <m-menu>
                <m-menu-item>Menu 1</m-menu-item>
                <m-menu-item>Menu 2</m-menu-item>
                <m-menu-item>Menu 3</m-menu-item>
            </m-menu>
            <a @click="doSomething('funny')" href="https://www.google.ca/" target="_blank">link</a>
            <button @click="doSomething('funny')">
                button
            </button>
            <a @click="doSomething('funny')" href="patate">
                <span>element inside link</span>
            </a>
            <button @click="doSomething('funny')">
                <span>element inside button</span>
            </button>
            <input type="text" placeholder="input">
            <textarea placeholder="textarea" name="" id="" cols="30" rows="1"></textarea>
        </div>
        <div>
            Accordion content
        </div>
    </m-accordion>
    <br>
    <p>
        Generic html elements with custom vuejs events aren't trapped and still should be use with a <b>@click.stop</b> modifier.
    </p>
    <br>
    <m-accordion icon-position="right">
        <div slot="header">
            <div @click.stop="doSomething('not ideal but ok')">generic element with custom event</div>
        </div>
        <div>
            Accordion content
        </div>
    </m-accordion>
    <br>
    <p>
        without a @click.stop modifier.
    </p>
    <br>
    <m-accordion icon-position="right">
        <div slot="header">
            <div @click="doSomething('not funny')">generic element with custom event</div>
        </div>
        <div>
            Accordion content
        </div>
    </m-accordion>
    <br>
    <br>
    <hr>

    <h2>Border-top</h2>
    <p>
        when open, hide border-top on the next accordion
    </p>
    <br>
    <m-accordion icon-position="right" skin="dark">
        <div slot="header">
            Accordion title
        </div>
        <div>
            Accordion content
        </div>
    </m-accordion>
    <m-accordion icon-position="right" skin="dark">
        <div slot="header">
            Accordion title
        </div>
        <div>
            Accordion content
        </div>
    </m-accordion>
    <m-accordion icon-position="right" skin="dark">
        <div slot="header">
            Accordion title
        </div>
        <div>
            Accordion content
        </div>
    </m-accordion>

    <h2>Heading</h2>
    <p>
        Allow heading inside accordion header
    </p>
    <br>
    <m-accordion icon-position="right" skin="dark">
        <div slot="header">
            <h1>h1</h1>
            <h2>h2</h2>
            <h3>h3</h3>
            <h4>h4</h4>
            <h5>h5</h5>
            <h6>h6</h6>
            <p>Paragraph</p>
        </div>
        <div>
            Accordion content
        </div>
    </m-accordion>
</div>
