.m-accordion-enter {
    height: 0;
}

.m-accordion--has-transition {
    &.m-accordion-enter-active,
    &.m-accordion-leave-active {
        transition: height 0.3s ease-out;
        overflow: hidden;
    }
}

.m-accordion-leave-to {
    height: 0 !important;
}
