.accordion-enter {
    height: 0;
}

.accordion-enter-active,
.accordion-leave-active {
    transition: height 0.3s ease-out;
    overflow: hidden;
}

.accordion-leave-to {
    height: 0 !important;
}
