<article class="m-accordion"
         :class="{ 'm--is-regular': isAspectRegular,
                'm--is-light': propAspect=='light',
                'm--is-no-style': propAspect=='no-style',
                'm--is-close': !propOpen }">
    <header tabindex="0"
            class="m-accordion__header"
            :class="{ 'm--is-icon-left': propIconPosition != 'right' }"
            @keyup.enter="toggleAccordion"
            @click.prevent="toggleAccordion"
            ref="accordionHeader">
        <div class="m-accordion__header__title">
            <slot name="title">m-accordion</slot>
            <m-i18n i18n-key="m-accordion:open" class="m-accordion__hidden" v-if="!propOpen"></m-i18n>
            <m-i18n i18n-key="m-accordion:close" class="m-accordion__hidden" v-if="propOpen"></m-i18n>
        </div>
        <span aria-hidden="true"
              class="m-accordion__header-icon"
              :class="{ 'm--is-close': propOpen,
                     'm--is-anim-active': isAnimActive,
                     'm--is-left': propIconPosition != 'right',
                     'm--is-large': propIconSize=='large',
                     'm--has-border': propIconAspect=='regular' }"></span>
    </header>
    <transition @enter="animEnter" @after-enter="animAfterEnter" @leave="animLeave">
        <div class="m-accordion__body-wrap" :class="{ 'm--is-anim-active': isAnimActive }" v-if="propOpen">
            <div class="m-accordion__body">
                <slot>m-accordion - text</slot>
            </div>
        </div>
    </transition>
</article>
