<li class="m-tree-node"
    :class="{ 'm--is-selected': isSelected || isSelectedParentNode, 'm--is-disabled' : isDisabled }">
    <div class="m-tree-node__item"
         :class="{ 'm-tree-node__item--no-hover': withCheckboxes && !isFolder }"
         role="button"
         :tabindex="isDisabled ? '-1' : 1"
         @click="onClick"
         ref="item">
        <m-tree-icon class="m-tree-icon"
                     v-if="icons"
                     :use-plus-icons="usePlusIcons"
                     :filename="node.id"
                     :folder-open="internalOpen"
                     :folder="isFolder"></m-tree-icon>
        <span class="m-tree-node__item__label">{{label}}</span>
        <m-checkbox ref="checkbox"
                    :value="isSelected || isSelectedParentNode"
                    v-if="withCheckboxes"
                    :indeterminate="isIndeterminated"
                    :disabled="isDisabled"
                    @click="onCheckboxClick"></m-checkbox>
    </div>
    <template v-if="isFolder">
        <m-accordion-transition v-if="hasChildren">
            <ul v-show="internalOpen"
                class="m-tree-node__children"
                :class="{'m-tree-node__line-extension' : hasSibling}"
                ref="children">
                <m-tree-node v-for="(childNode, index) in node.children"
                             :key="childNode.id"
                             class="m-tree-node__child"
                             :path="currentPath"
                             :icons="icons"
                             :selectable="selectable"
                             :selected="isSelected"
                             :open.sync="childNode.open"
                             :node="childNode"
                             :use-plus-icons="usePlusIcons"
                             :with-checkboxes="withCheckboxes"
                             :selected-nodes="selectedNodes"
                             :disabled-nodes="disabledNodes"
                             :selected-parent-nodes="selectedParentNodes"
                             :auto-select-checkboxes-mode="autoSelectCheckboxesMode"
                             :has-sibling="childHasSibling(index)"
                             @auto-select-child-checkbox-change="onAutoSelectChildCheckboxChange"
                             @click="onChildClick"></m-tree-node>
            </ul>
        </m-accordion-transition>
        <m-accordion-transition v-else>
            <ul v-show="internalOpen"
                class="m-tree-node__children"
                :class="{'m-tree-node__line-extension' : hasSibling}">
                <li class="m-tree-node__child-empty">
                    {{emptyContentMessage}}
                </li>
            </ul>
        </m-accordion-transition>
    </template>
</li>
