<li class="m-tree-node"
    :class="{ 'm--is-selected': isSelected && !isDisabled,
            'm--is-disabled' : isDisabled,
            'm--is-read-only' : isReadonlyStyle,
            'm-tree-node__has-children' : isFolder,
            'm-tree-node__with-checkboxes' : withCheckboxes,
            'm-tree-node__file-icons' : useFilesIcons }">
    <div class="m-tree-node__item"
         ref="item"
         role="button"
         :class="{ 'm-tree-node__item--no-hover': moveSelectionZoneToCheckbox }"
         :tabindex="isDisabled ? '-1' : 0"
         @click="onClick">
        <m-tree-icon v-if="useFilesIcons"
                     class="m-tree-icon"
                     :is-folder-open="internalOpen"
                     :is-folder="isFolder"></m-tree-icon>
        <m-tree-icon class="m-tree-icon"
                     :filename="node.id"
                     :is-folder-open="internalOpen"
                     :use-files-icons="useFilesIcons"
                     :is-folder="isFolder"></m-tree-icon>
        <m-checkbox v-if="withCheckboxes"
                    ref="checkbox"
                    :value="isSelected"
                    :indeterminate="isIndeterminate"
                    :disabled="isDisabled"
                    :readonly="readonly"
                    @change="onCheckboxClick"></m-checkbox>
        <span class="m-tree-node__item-label">{{label}}</span>
        <span class="m-tree-node__item-check"></span>
        <m-icon v-if="hasRightIcon"
                class="m-tree-node__warning-icon"
                :name="node.rightIconName"
                size="1em"></m-icon>
    </div>
    <template v-if="isFolder">
        <m-accordion-transition v-if="hasChildren">
            <ul class="m-tree-node__children"
                ref="children"
                v-show="internalOpen"
                :class="{'m-tree-node__line-extension' : hasSibling}">
                <m-tree-node class="m-tree-node__child"
                             v-for="(childNode, index) in node.children"
                             :key="childNode.id"
                             :path="currentPath"
                             :selectable="selectable"
                             :selected="isSelected"
                             :readonly="readonly"
                             :open.sync="childNode.open"
                             :node="childNode"
                             :use-files-icons="useFilesIcons"
                             :selected-nodes="selectedNodes"
                             :disabled-nodes="disabledNodes"
                             :checkboxes="checkboxes"
                             :has-sibling="childHasSibling(index)"
                             @auto-select-child-checkbox-change="onAutoSelectChildCheckboxChange"
                             @click="onChildClick"></m-tree-node>
            </ul>
        </m-accordion-transition>
        <m-accordion-transition v-else>
            <ul class="m-tree-node__children"
                v-show="internalOpen"
                :class="{'m-tree-node__line-extension' : hasSibling}">
                <li class="m-tree-node__child-empty">
                    {{emptyContentMessage}}
                </li>
            </ul>
        </m-accordion-transition>
    </template>
    <template v-if="displaySelectionButton">
        <button class="m-tree-node__auto-select-button"
                ref="autoSelectButton"
                :class="{ 'm-tree-node__auto-select-button--selected': allChildrenAndSelfSelected}"
                @click="onAutoSelectButtonClick"></button>
    </template>
</li>
