@import 'commons';

$m-tree-node--height: 40px;
$m-tree-node--child-indentation: 20px;

.m-tree-node {
    color: $m-color--text;
    margin-left: $m-tree-node--child-indentation / 2;
    position: relative;

    .m-tree-node::before {
        content: '';
        position: absolute;
        left: -$m-tree-node--child-indentation;
        top: 15px; // Magic number
        width: $m-tree-node--child-indentation;
        height: 1px;
        background-color: $m-color--interactive;
    }

    .m-tree-node::after {
        content: '';
        position: absolute;
        left: -$m-tree-node--child-indentation;
        top: -25px; // Magic number
        width: 1px;
        height: $m-tree-node--height + 5px;
        background-color: $m-color--interactive;
    }

    .m-tree-node.m-tree-node__has-children {
        &::before {
            top: $m-tree-node--child-indentation;
        }
    }

    &:not(.m-tree-node__has-children)::after {
        height: $m-tree-node--child-indentation * 2;
        top: -25px; // Magic number
    }

    & + &,
    &__children > & {
        margin-top: $m-margin--s;
    }

    &__auto-select-button {
        position: absolute;
        left: $m-min-width + 10px;
        top: $m-tree-node--height / 4;
        height: $m-tree-node--height / 2;
        background: red;

        &--selected {
            background: blue;
        }
    }

    &__item {
        padding-left: $m-tree-node--child-indentation;
        padding-right: $m-tree-node--child-indentation;
        width: $m-min-width;
        height: $m-tree-node--child-indentation * 2;
        display: flex;
        align-items: center;
        position: relative;

        &-label {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: $m-line-height;
        }

        &-check {
            position: absolute;
            width: $m-tree-node--child-indentation;
            height: 100%;
            right: 0;
        }

        &:focus {
            outline: 1px solid $m-color--interactive-lighter;
        }

        /deep/ .m-checkbox__input {
            margin-right: $m-tree-node--child-indentation / 2;
        }

        .m-tree-node__warning-icon {
            margin-left: $m-spacing--s;
            color: $m-color--warning;
        }
    }

    &:not(.m-tree-node__has-children) .m-tree-node__item:hover,
    &.m--is-selected:not(.m-tree-node__has-children) .m-tree-node__item:hover,
    &.m--is-selected:not(.m-tree-node__has-children) .m-tree-node__item {
        .m-tree-node__item-check {
            &::before,
            &::after {
                content: '';
                position: absolute;
                right: 16px;
                background: $m-color--white;
                border-radius: 2px;
            }

            &::before {
                transform: rotate(-50deg);
                bottom: 16px;
                width: 10px;
                height: 2px;
            }

            &::after {
                transform: rotate(-30deg);
                right: 24px;
                bottom: 12px;
                width: 2px;
                height: 6px;
            }
        }
    }

    &:not(.m-tree-node__has-children):not(.m--is-disabled):not(.m--is-selected):not(.m--is-read-only) .m-tree-node__item:hover {
        .m-tree-node__item-check {
            &::before,
            &::after {
                background: $m-color--interactive;
            }
        }
    }

    &.m-tree-node__has-children > .m-tree-node__item,
    &.m-tree-node__has-children.m--is-disabled > .m-tree-node__item {
        font-weight: $m-font-weight--semi-bold;
        cursor: pointer;
    }

    &:not(.m-tree-node__has-children) > .m-tree-node__item {
        background: $m-color--white;
        color: $m-color--interactive;
        height: 32px; // Magic number
        width: auto;
        display: inline-flex;
        border-radius: $m-tree-node--child-indentation;
        padding-right: $m-tree-node--child-indentation * 2;
    }

    &.m--is-read-only > &__item {
        color: $m-color--text;
    }

    &.m--is-disabled > &__item {
        color: $m-color--text;
        cursor: default;
        background: $m-color--white;
    }

    &.m--is-selected:not(.m-tree-node__has-children) > &__item,
    &.m--is-selected:not(.m--is-read-only) > &__item {
        background-color: $m-color--interactive;
        color: $m-color--white;
    }

    &:not(.m--is-disabled):not(.m--is-selected):not(.m--is-read-only) > &__item:not(.m-tree-node__item--no-hover):hover,
    &:not(.m--is-disabled).m--is-selected:not(.m--is-read-only) > &__item:not(.m-tree-node__item--no-hover):hover,
    &:not(.m--is-disabled):not(.m--is-selected):not(.m--is-read-only) > &__item.m-tree-node__item--no-hover:hover {
        background: rgba($m-color--interactive, 0.15);
        cursor: pointer;
    }

    &:not(.m--is-disabled) > &__item:hover,
    &.m--is-selected {
        .m-tree-icon::before,
        .m-tree-icon::after {
            background-color: $m-color--white;
        }
    }

    &__line-extension::before {
        content: '';
        position: absolute;
        left: -$m-tree-node--child-indentation;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: $m-color--interactive;
    }

    &__child {
        margin-left: $m-tree-node--child-indentation;

        &-empty {
            margin-left: 0;
            margin-top: $m-margin;
            color: $m-color--text;
        }
    }

    &__file-icons .m-tree-node__item {
        padding-left: $m-tree-node--height + 10px;
    }

    /* Règles des exceptions du Tree-node with checkboxes  */

    &.m-tree-node__with-checkboxes:not(.m-tree-node__has-children) > .m-tree-node__item {
        color: $m-color--text;
    }

    &.m-tree-node__with-checkboxes.m--is-selected.m-tree-node__has-children > .m-tree-node__item {
        background-color: $m-color--grey-lighter;
        color: $m-color--text;
    }

    &.m-tree-node__with-checkboxes .m-tree-node__item.m-tree-node__item--no-hover .m-tree-node__item-check,
    &.m-tree-node__with-checkboxes .m-tree-node__child:not(.m-tree-node__has-children):not(.m--is-disabled) .m-tree-node__item .m-tree-node__item-check {
        display: none;
    }

    &.m-tree-node__with-checkboxes.m--is-disabled.m-tree-node__has-children::before {
        background-color: $m-color--ul-blue;
    }

    &.m-tree-node__with-checkboxes.m--is-disabled.m-tree-node__has-children > .m-tree-node__item {
        border-color: $m-color--ul-blue;
    }

    &.m-tree-node__with-checkboxes:not(.m--is-read-only):not(.m--is-disabled):not(.m--is-selected) > .m-tree-node__item--no-hover:hover /deep/ .m-checkbox__input,
    &.m-tree-node__with-checkboxes:not(.m--is-read-only):not(.m--is-disabled).m--is-selected > .m-tree-node__item--no-hover:hover /deep/ .m-checkbox__input {
        background: $m-color--interactive-lightest;
        border-color: $m-color--interactive;
    }

    &.m-tree-node__with-checkboxes:not(.m--is-read-only):not(.m--is-disabled):not(.m--is-selected) > .m-tree-node__item.m-tree-node__item--no-hover:hover {
        background: transparent;
        color: $m-color--interactive;
    }

    &.m-tree-node__with-checkboxes.m--is-selected:not(.m--is-read-only) > .m-tree-node__item.m-tree-node__item--no-hover {
        background-color: transparent;
        color: $m-color--text;

        &:hover {
            color: $m-color--interactive;
        }
    }

    &.m-tree-node__with-checkboxes.m--is-selected.m--is-read-only > .m-tree-node__item.m-tree-node__item--no-hover:hover {
        cursor: default;
    }

    &.m-tree-node__with-checkboxes:not(.m--is-disabled).m--is-selected > .m-tree-node__item.m-tree-node__item--no-hover {
        cursor: pointer;
        background-color: transparent;
    }
}
