@import '../../styles/abstracts/variables';

.m-tree {
    &__single-file {
        margin-left: $m-margin--l + 4px;

        &__selected {
            background-color: $m-color--grey-light;
        }
    }

    &__with-childs {
        &__selected {
            color: pink;
        }

        &__childs {
            margin-left: $m-margin--l;
        }
    }
}
