<div class="m-tree">
    <div v-if="isAFolder(node.idFile)" class="m-tree__with-childs">
        <div class="m-tree__with-childs__header" @click="openClose()">
            <span>{{ openCloseIcon() }}</span>
            <m-icon size="20px" :name="folderIcon"></m-icon>
            <span>{{ node.fileName }}</span>
        </div>
        <transition name="m-tree__with-childs__body">
            <div v-if="internalIsOpen" class="m-tree__with-childs__body">
                <m-tree v-for="childs_node in node.childs" :node="childs_node" :openFolders="openFolders" :externalSelectedFile="externalSelectedFile" @selectFile="selectFile" class="m-tree__with-childs__childs"></m-tree>
            </div>
        </transition>
    </div>
    <m-link v-else mode="button" class="m-tree__single-file" @click="selectFile(node)" :class="{'m-tree__single-file__selected': isFileSelected(node)}">
        <m-icon-file :extension="extensionFile(node.relativePath)"></m-icon-file>
        <span>{{ node.fileName }}</span>
    </m-link>
</div>
