<div class="m-tree">
    <div v-for="node in tree">
        <template v-if="haveChilds(node.childs)">
            <m-accordion skin="plain">
                <div slot="header">
                    <m-icon-file :extension="extensionFile(node.relativePath)"></m-icon-file>
                    <span>{{ node.fileName }}</span>
                </div>
                <m-tree v-if="haveChilds(node.childs)" :tree="node.childs" style="margin-left:100px;"></m-tree>
            </m-accordion>
        </template>
        <div v-else class="m-tree__single-file">
                <m-icon-file :extension="extensionFile(node.relativePath)"></m-icon-file>
                <span>{{ node.fileName }}</span>
        </div>
    </div>
</div>
