@import 'abstracts/variables';

.m-button-group {
    padding: 0;

    &:not(.m--is-inline) {
        .m-button-group__wrap {
            flex-direction: column;
        }
    }

    &.m--is-full-width {
        &,
        .m-button-group__wrap {
            width: 100%;
        }
    }

    &,
    &__wrap {
        display: inline-flex;
    }

    &__wrap {
        margin: 0;
    }
}
