@import 'abstracts/variables';

.m-link {
    transition: color $m-transition-duration ease;
    position: relative;
    font-weight: $m-font-weight--bold;
    color: $m-color--interactive;
    text-decoration: none;

    &.m--has-right-icon {
        flex-direction: row-reverse;

        .m-link__icon {
            margin-left: $m-margin--xs;
        }
    }

    &.m--has-left-icon {
        .m-link__icon {
            margin-right: $m-margin--xs;
        }
    }

    &:not(.m--is-disabled) {
        &:not(.m--no-underline) {
            .m-link__text {
                transition: box-shadow $m-transition-duration--s ease;
                box-shadow: 0 0 transparent;
            }

            &:not(.m--is-unvisited):visited {
                color: $m-color--interactive-darker;
            }

            &:hover,
            &:focus {
                .m-link__text {
                    box-shadow: 0 1px $m-color--interactive-light;
                }
            }

            &:active {
                .m-link__text {
                    box-shadow: 0 1px $m-color--interactive-dark;
                }
            }
        }

        &:not(.m--is-unvisited):visited {
            color: $m-color--interactive-darker;

            &:hover,
            &:focus {
                color: $m-color--interactive-light;
            }

            &:active {
                color: $m-color--interactive-dark;
            }
        }

        &:hover,
        &:focus {
            color: $m-color--interactive-light;
        }

        &:active {
            color: $m-color--interactive-dark;
        }
    }

    &.m--is-disabled {
        color: $m-color--disabled;
        cursor: default;
    }

    &:focus {
        outline: none;
    }

    &__text {
        position: relative;
        vertical-align: middle;
    }

    &__icon {
        display: inline-flex;
        vertical-align: middle;
        stroke-width: 2px;
    }

    &__hidden {
        @include m-visually-hidden();
    }
}
