<transition duration="0">
    <router-link class="m-link"
                 :class="{ 'm--is-unvisited': isUnvisited,
                           'm--is-disabled': disabled,
                           'm--no-underline': !underline,
                           'm--is-button': isButton,
                           'm--is-vanilla': vanilla,
                           'm--has-right-icon' : isIconPositionRight }"
                 :to="{ path: propUrl }"
                 v-if="isRouterLink">
        <m-icon :name="iconName" :style="{ fontSize: iconSize }" class="m-link__icon" v-if="hasIcon" aria-hidden="true"></m-icon>
        <span class="m-link__text">
            <slot></slot>
        </span>
        <span class="m-link__hidden" v-if="hasHiddenText">{{ hiddenText }}</span>
    </router-link>
    <a class="m-link" :class="{ 'm--is-unvisited': isUnvisited,
                 'm--is-disabled': disabled,
                 'm--no-underline': !underline,
                 'm--is-button': isButton,
                 'm--is-vanilla': vanilla,
                 'm--has-right-icon' : isIconPositionRight }"
       :href="propUrl"
       v-if="isLink || isExternalLink || isButton"
       ref="link" @click="onClick">
        <m-icon class="m-link__icon" :name="propIconName" :size="iconSize" v-if="hasIcon" aria-hidden="true"></m-icon>
        <span class="m-link__text">
            <slot></slot>
        </span>
        <span class="m-link__hidden" v-if="hasHiddenText">{{ hiddenText }}</span>
    </a>
</transition>
