<div>
    <h2>Utilisation du composant m-link</h2>
    <p>
        <m-link>Bonjour</m-link>
    </p>

    <h2>Icon name "m-svg__clock"</h2>
    <p>
        <m-link icon-name="m-svg__clock">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius reiciendis tempore modi rerum beatae. Placeat nam iure cupiditate ipsum non ipsa! Sequi enim ab, est tenetur a aliquam officiis cupiditate!</m-link>
    </p>

    <p>
        <m-link icon-name="m-svg__clock"
                :disabled="true">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius reiciendis tempore modi rerum beatae. Placeat nam iure cupiditate ipsum non ipsa! Sequi enim ab, est tenetur a aliquam officiis cupiditate!</m-link>
    </p>

    <h2>Skin text</h2>
    <p>
        <m-link skin="text"
                icon-name="m-svg__clock">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius reiciendis tempore modi rerum beatae. Placeat nam iure cupiditate ipsum non ipsa! Sequi enim ab, est tenetur a aliquam officiis cupiditate!</m-link>
    </p>
    <div class="m-u--margin-top--l"
         style="background: grey; padding: 16px;">
        <h2 class="m-u--no-margin">Skin light</h2>
        <p>
            <m-link skin="light"
                    icon-name="m-svg__clock">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius reiciendis tempore modi rerum beatae. Placeat nam iure cupiditate ipsum non ipsa! Sequi enim ab, est tenetur a aliquam officiis cupiditate!</m-link>
        </p>
    </div>
    <h2>Utilisation de la classe .m-u--link</h2>
    <p>
        <a href="#"
           class="m-u--link">
            <span class="m-u--link-text">Lien (.m-u--link)</span>
        </a>
    </p>
    <p>
        <a href="#"
           class="m-u--link">
            <m-icon class="m-u--link-icon-left"
                    name="m-svg__clock"></m-icon>
            <span class="m-u--link-text">Icône à gauche (.m-u--link-icon-left)</span>
        </a>
    </p>
    <p>
        <a href="#"
           class="m-u--link">
            <span class="m-u--link-text">Icône à droite (.m-u--link-icon-right)</span>
            <m-icon class="m-u--link-icon-right"
                    name="m-svg__clock"></m-icon>
        </a>
    </p>
    <h2>Lien de type RouterLink n'est pas fonctionnel en mode disabled (MODUL-561)</h2>
    <p>
        <m-link icon-name="m-svg__clock"
                :disabled="routerLinkDisabled">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius reiciendis tempore modi rerum beatae. Placeat nam iure cupiditate ipsum non ipsa! Sequi enim ab, est tenetur a aliquam officiis cupiditate!</m-link>
    </p>
    <p>
        <m-button @click="routerLinkDisabled = !routerLinkDisabled">Désactiver/Activer le lien</m-button>
    </p>
    <h2>Support for vue-router named route (MODUL-616)</h2>
    <p>
        <m-link mode="router-link"
                :url="components/m-link">a normal path</m-link>
        <m-link mode="router-link"
                :url="{path: components/m-link, query : {patate: 1}}">a-named-route with Location object</m-link>
    </p>
</div>
