@import 'abstracts/variables';

.m-link {
    transition: color $m-transition-duration ease;
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: $m-font-weight--bold;
    color: $m-color--interactive;
    text-decoration: none;

    &.m--has-right-icon {
        flex-direction: row-reverse;

        .m-link__icon {
            margin-left: $m-margin--xs;
        }
    }

    &.m--has-left-icon {
        .m-link__icon {
            margin-right: $m-margin--xs;
        }
    }

    &:not(.m--is-disabled):not(.m--is-text-link) {
        &:not(.m--no-underline) {
            .m-link__text {
                transition: box-shadow $m-transition-duration--s ease;
                box-shadow: 0 0 rgba($m-color--interactive, 0); // rgba doesn't seem to work with css variables in hex value... but in this case it doesn't matter though.
            }

            &:not(.m--is-unvisited):visited {
                color: var(--m-color--interactive-darker);
            }

            &:hover,
            &:focus {
                .m-link__text {
                    box-shadow: 0 1px var(--m-color--interactive-light);
                }
            }

            &:active {
                .m-link__text {
                    box-shadow: 0 1px var(--m-color--interactive-dark);
                }
            }
        }

        &:not(.m--is-unvisited):visited {
            color: var(--m-color--interactive-darker);

            &:hover,
            &:focus {
                color: var(--m-color--interactive-light);
            }

            &:active {
                color: var(--m-color--interactive-dark);
            }
        }

        &:hover,
        &:focus {
            color: var(--m-color--interactive-light);
        }

        &:active {
            color: var(--m-color--interactive-dark);
        }
    }

    &.m--is-disabled {
        color: $m-color--disabled;
        cursor: default;
    }

    &.m--is-text-link {
        color: $m-color--text;
    }

    &.m--is-skin-light {
        --m-color--interactive-darker: $m-color--white;
        --m-color--interactive-dark: $m-color--white;
        --m-color--interactive: $m-color--white;
        --m-color--interactive-light: $m-color--white;
        --m-color--interactive-lighter: $m-color--white;
        --m-color--interactive-lightest: $m-color--white;
    }

    &:focus {
        outline: none;
    }

    &__text {
        position: relative;
        vertical-align: middle;
    }

    &__icon {
        display: inline-flex;
        vertical-align: middle;
        stroke-width: 2px;
    }

    &__hidden {
        @include m-visually-hidden();
    }
}
