<div class="m-message" :class="{'is-success': state=='success',
                'is-information': state=='information',
                'is-warning': state=='warning',
                'is-error': state=='error',
                'is-regular': mode!='reduce',
                'is-reduce': mode=='reduce'}" v-if="isVisible">
    <div class="m-message__container" :class="{'is-regular': mode!='reduce',
                'is-reduce': mode=='reduce'}">
        <div class="m-message__icon" v-if="hasIcon">
            <m-icon :name="getIcon()"></m-icon>
        </div>
        <div class="m-message__body" :class="{'have-close-button': hasCloseButton}">
            <m-button aspect="icon" @onClick="onClose" class="m-message__closeButton" v-if="showCloseButton">
                <m-icon></m-icon>
            </m-button>
            <p>
                <slot>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis nibh eu diam pellentesque lobortis. Duis mattis
                    vel orci at luctus. Fusce vitae eros quis diam iaculis imperdiet quis vitae sapien. Aliquam blandit commodo
                    arcu et vehicula. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae.
                </slot>
            </p>
        </div>
    </div>
</div>
