@import 'commons';

$m-message-size: 32px;

@mixin m-message-skin-default($color) {
    .m-message {
        &__wrap {
            border-left: $m-border-width--l solid $color;
        }

        &__icon,
        &__title {
            color: $color;
        }
    }
}

.m-message.m--is-skin-default {
    &.m--is-state-confirmation {
        @include m-message-skin-default($m-color--success);
    }

    &.m--is-state-information {
        @include m-message-skin-default($m-color--interactive);
    }

    &.m--is-state-warning {
        @include m-message-skin-default($m-color--warning);
    }

    &.m--is-state-error {
        @include m-message-skin-default($m-color--error);
    }

    + .m-message {
        margin-top: $m-spacing;
    }

    .m-message {
        &__wrap {
            display: flex;
            padding: $m-spacing;
            background: $m-color--grey-lightest;
        }

        &__icon {
            justify-content: center;

            .m-icon {
                font-size: $m-message-size;
            }
        }

        &__body {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-left: $m-spacing;
            width: calc(100% - #{$m-message-size});

            &.m--has-close-button {
                padding-right: $m-touch-size;
                position: relative;
            }

            &__close-button {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 0;

                .m-button__icon .m-icon {
                    font-size: $m-font-size--xs;
                    height: $m-font-size--xs;
                }
            }
        }

        &__title {
            font-size: $m-font-size--l;

            + .m-message__text {
                margin-top: $m-spacing--s;
            }
        }
    }
}

.m-message.m--is-skin-light {
    &.m--is-state-confirmation {
        color: $m-color--success;
    }

    &.m--is-state-information {
        color: $m-color--interactive;
    }

    &.m--is-state-warning {
        color: $m-color--warning;
    }

    &.m--is-state-error {
        color: $m-color--error;
    }

    + .m-message {
        margin-top: $m-spacing--xs;
    }

    .m-message {
        &__wrap {
            display: inline-flex;
            align-items: flex-start;
        }

        &__icon {
            align-items: center;
            min-height: 1.25em; // Magic number
            min-width: 18px; // Magic number

            .m-icon {
                font-size: $m-font-size--l;
                width: $m-font-size--l;
            }
        }

        &__body {
            margin-top: 1px; // Magic number: align text with icon
            margin-left: $m-spacing--s;
            align-self: flex-start;
            width: calc(100% - #{$m-font-size--l + $m-spacing--s});
        }

        &__title {
            font-size: $m-font-size;
        }
    }
}

.m-message {
    text-align: left;

    &__wrap {
        position: relative;
    }

    &__icon {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .m-icon {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__body {
        position: relative;
        flex: 1 1 auto;
    }

    &__title {
        margin-top: 0;
    }

    &__text {
        position: relative;

        > :first-child {
            &,
            > :first-child {
                margin-top: 0;
            }
        }
    }
}
