<div>
    <h2>No context</h2>

    <p>Default behavior</p>

    <m-message>A message</m-message>

    <hr />

    <h2>Avaible skins
        &nbsp;<select v-model="messageSkin">
            <option v-for="(element, i) in messageSkinAsArray"
                    :value="element"
                    :selected="element === messageSkin"
                    :key="i">{{element}}</option>
        </select>
    </h2>

    <p>Change the skin of the message</p>

    <m-message :skin="messageSkin">A message</m-message>

    <hr />

    <h2>Avaible states
        &nbsp;<select v-model="messageState">
            <option v-for="(element, i) in messageStateAsArray"
                    :value="element"
                    :selected="element === messageState"
                    :key="i">{{element}}</option>
        </select>
    </h2>

    <p>Change the state of the message</p>

    <m-message :state="messageState">A message</m-message>

    <hr />

    <h2>Title</h2>

    <p>Display a custom title on the message</p>

    <m-message title="A custom title">A message</m-message>

    <hr />

    <h2>Close button</h2>

    <p>Add a close button to the message</p>

    <m-message :close-button="true">Try to close me</m-message>

    <hr />

    <h2>Visible &nbsp;<m-button @click="messageVisible = !messageVisible">{{messageVisible ? 'visible' : 'hidden'}}</m-button>
    </h2>

    <p>Hide or show the message</p>

    <m-message :visible="messageVisible">Now you see me</m-message>

    <hr />
</div>
