@import 'abstracts/variables';
$m-message-size: 22px;

.m-message {
    display: block;

    &.m--is-regular {
        &.m--is-success {
            border: 1px solid $m-color--success;

            .m-message__icon {
                background: $m-color--success-lightest;
                border-color: $m-color--success;
                color: $m-color--success;
            }

            .m-message__body__close-button {
                color: $m-color--success;
            }
        }

        &.m--is-information {
            border: 1px solid $m-color--interactive;

            .m-message__icon {
                background: $m-color--information;
                border-color: $m-color--interactive;
                color: $m-color--interactive;
            }

            .m-message__body__close-button {
                color: $m-color--interactive;
            }
        }

        &.m--is-warning {
            border: 1px solid $m-color--warning;

            .m-message__icon {
                background: $m-color--warning-lightest;
                border-color: $m-color--warning;
                color: $m-color--warning;
            }

            .m-message__body__close-button {
                color: $m-color--warning;
            }
        }

        &.m--is-error {
            border: 1px solid $m-color--error;

            .m-message__icon {
                background: $m-color--error-lightest;
                border-color: $m-color--error;
                color: $m-color--error;
            }

            .m-message__body__close-button {
                color: $m-color--error;
            }
        }

        .m-message {
            &__wrap {
                display: flex;
            }

            &__icon {
                width: 44px;
                justify-content: center;
                align-items: center;
                border-right: 1px solid;

                .m-icon {
                    font-size: $m-message-size;
                }
            }

            &__body {
                padding: $m-margin;
                flex: 1;

                &.m--has-close-button {
                    padding-right: $m-touch-size;
                    position: relative;
                }

                &__close-button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 0;

                    .m-button__icon .m-icon {
                        font-size: $m-font-size--xs;
                        height: $m-font-size--xs;
                    }
                }
            }
        }
    }

    &.m--is-light {
        &.m--is-success {
            .m-message__wrap {
                background: $m-color--success-lightest;
            }
        }

        &.m--is-information {
            .m-message__wrap {
                background: $m-color--information;
            }
        }

        &.m--is-warning {
            .m-message__wrap {
                background: $m-color--warning-lightest;
            }
        }

        &.m--is-error {
            .m-message__wrap {
                background: $m-color--error-lightest;
            }
        }

        .m-message {
            &__wrap {
                display: inline-flex;
            }

            &__body {
                padding: $m-padding--s;
            }

            &__icon {
                align-items: flex-start;

                .m-icon {
                    font-size: $m-font-size--l;
                    width: $m-font-size--l;
                    margin-left: $m-padding--s;
                    margin-top: $m-padding--s;
                }
            }
        }
    }

    &__icon {
        display: flex;

        .m-icon {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__body {
        &__content {
            position: relative;
            z-index: 1;

            > :first-child {
                &,
                > :first-child {
                    margin-top: 0;
                }
            }
        }
    }
}
