@import 'abstracts/variables';
$m-message-size: 22px;

.m-message {
    display: block;

    &.is-regular {
        &.is-success {
            border: 1px solid $m-color--valid;

            .m-message__icon {
                background-color: $m-color--valid--lightest;
                border-color: $m-color--valid;
            }

            .m-message__body .m-message__closeButton {
                color: $m-color--valid;
            }
        }

        &.is-information {
            border: 1px solid $m-color--primary;

            .m-message__icon {
                background-color: $m-color--primary--lightest;
                border-color: $m-color--primary;
            }

            .m-message__body .m-message__closeButton {
                color: $m-color--primary;
            }
        }

        &.is-warning {
            border: 1px solid $m-color--yellow;

            .m-message__icon {
                background-color: $m-color--yellow--lightest;
                border-color: $m-color--yellow;
            }

            .m-message__body .m-message__closeButton {
                color: $m-color--yellow;
            }
        }

        &.is-error {
            border: 1px solid $m-color--error;

            .m-message__icon {
                background-color: $m-color--error--lightest;
                border-color: $m-color--error;
            }

            .m-message__body .m-message__closeButton {
                color: $m-color--error;
            }
        }

        .m-message__container {
            display: flex;
        }

        .m-message__icon {
            width: 44px;
            justify-content: center;
            align-items: center;
            border-right: 1px solid;

            .m-icon {
                font-size: $m-message-size;
            }
        }

        .m-message__body {
            padding: $m-margin;
            flex: 1;

            &.have-close-button {
                padding-right: $m-padding--l;
                position: relative;
            }

            .m-message__closeButton {
                position: absolute;
                top: 0;
                right: 0;

                .m-icon {
                    font-size: $m-font-size--xs;
                    width: $m-font-size--xs;
                    height: $m-font-size--xs;
                }
            }
        }
    }

    &.is-light {
        &.is-success {
            .m-message__container {
                background-color: $m-color--valid--lightest;
            }
        }

        &.is-information {
            .m-message__container {
                background-color: $m-color--primary--lightest;
            }
        }

        &.is-warning {
            .m-message__container {
                background-color: $m-color--yellow--lightest;
            }
        }

        &.is-error {
            .m-message__container {
                background-color: $m-color--error--lightest;
            }
        }

        .m-message__container {
            display: inline-flex;

            .m-message__body {
                padding: $m-padding--s;
            }

            .m-message__icon {
                align-items: flex-start;

                .m-icon {
                    font-size: $m-font-size--l;
                    width: $m-font-size--l;
                    margin-left: $m-padding--s;
                    margin-top: $m-padding--s;
                }
            }
        }
    }

    .m-message__icon {
        display: flex;

        .m-icon {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .m-message__body {
        p {
            margin: 0;
        }
    }
}
