<div>
    <!-- Sandbox template -->
    <h3>Vertical alignement</h3>
    <p class="m-u--margin-bottom">
        vertical alignement of icon & text with light skin
        <!-- if relevant, add link to PR
        </br>From <a href="https://github.com/ulaval/modul-components/pull/000" target="blank">PR description</a>
        -->
    </p>
    <p>
        <m-message state="warning" skin="light">Ad labore ad ex do minim qui eu aliquip aute non.</m-message>
        <m-message skin="light">Ad labore ad ex do minim qui eu aliquip aute non.</m-message>
        <m-message state="error" skin="light">Ad labore ad ex do minim qui eu aliquip aute non.</m-message>
        <m-message state="information" skin="light">Ad labore ad ex do minim qui eu aliquip aute non.</m-message>
    </p>
    <p style="width:200px;">
        <m-message state="warning" skin="light">Ad labore ad ex do minim qui eu aliquip aute non. Tempor Lorem ipsum ad id esse minim. Pariatur cupidatat qui qui reprehenderit voluptate aute officia consectetur cillum sint do. Consequat ipsum ex est culpa sint velit nostrud nisi minim tempor nostrud tempor adipisicing do.</m-message>
    </p>
    <h3>Regular message</h3>
    <p>
        <m-message state="warning">Ad labore ad ex do minim qui eu aliquip aute non.</m-message>
    </p>
    <p>
        <m-message>Ad labore ad ex do minim qui eu aliquip aute non.</m-message>
    </p>
    <p>
        <m-message state="error">Ad labore ad ex do minim qui eu aliquip aute non.</m-message>
    </p>
    <p>
        <m-message state="information">Ad labore ad ex do minim qui eu aliquip aute non.</m-message>
    </p>
    <h3>Close button</h3>
    <p>
        <m-message state="warning" :close-button="true">Ad labore ad ex do minim qui eu aliquip aute non.</m-message>
    </p>
    <p>
        <m-message :close-button="true">Ad labore ad ex do minim qui eu aliquip aute non.</m-message>
    </p>
    <p>
        <m-message state="error" :close-button="true">Ad labore ad ex do minim qui eu aliquip aute non.</m-message>
    </p>
    <p>
        <m-message state="information" :close-button="true">Ad labore ad ex do minim qui eu aliquip aute non.</m-message>
    </p>
</div>
