@import 'commons';
$m-slider--tarck-height: 4px !default;
$m-slider--thumb-width: 20px !default;

.m-slider {
    position: relative;
    width: 100%;
    cursor: pointer;
    padding: #{ ($m-slider--thumb-width / 2) - ($m-slider--tarck-height / 2)} 0;

    &__track {
        position: relative;
        height: $m-slider--tarck-height;
        background: $m-color--grey-dark;
        border-radius: 2px;
        overflow: hidden;

        div {
            transition: width 0.1s ease;
            height: 100%;
            background: $m-color--interactive;
        }
    }

    &__thumb {
        transition: transform $m-transition-duration ease, background $m-transition-duration ease, left 0.1s ease;
        position: absolute;
        top: 0;
        width: $m-slider--thumb-width;
        height: $m-slider--thumb-width;
        margin-left: -$m-slider--thumb-width / 2; // Magic number
        background: $m-color--white;
        border-radius: 50%;
        cursor: pointer;
        outline: none;
        border: 4px solid $m-color--interactive;

        &:hover,
        &:focus {
            transform: scale(1.2);
        }

        &:active {
            background: $m-color--interactive-lighter;
        }
    }

    &__hidden {
        @include m-visually-hidden;
    }
}
