// ======================================================================
//  Animations keyframes
// ======================================================================

@keyframes m-infinity-rotation {
    0% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(270deg);
    }
}
