*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    min-width: $m-min-width;
    overflow-x: hidden;
    outline-color: $m-color--interactive-light;
}

html {
    box-sizing: border-box;
}

body,
.m-u--app-body {
    font-family: $m-font-family;
    font-weight: $m-font-weight;
    font-style: normal;
    font-size: $m-font-size;
    line-height: $m-line-height;
    margin: 0;
    color: $m-color--text;
}

::selection {
    background: $m-color--ul-yellow;
    color: $m-color--text;
}

ul,
li {
    padding: 0;
}

li {
    list-style: none;
}

button {
    border-radius: 0;
}
