*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    outline-color: $m-color--primary--light;
}

html {
    box-sizing: border-box;
}

body {
    font-family: $m-font-family;
    font-weight: $m-font-weight--regular;
    font-style: normal;
    font-size: $m-font-size;
    line-height: $m-line-height;
    min-width: $m-min-width;
    margin: 0;
}

::selection {
    background: $m-color--black;
    color: $m-color--white;
}
