body.m-u--app-body {
    min-width: $m-min-width;
}

.m-u--app-body {
    @supports (font-variation-settings: normal) {
        font-family: $m-font-family;
    }

    @supports not (font-variation-settings: normal) {
        font-family: $m-font-family--fallback;
    }

    font-weight: $m-font-weight;
    font-style: normal;
    font-size: $m-font-size;
    line-height: $m-line-height;
    margin: 0;
    color: $m-color--text;
    box-sizing: border-box;
    outline-color: $m-color--interactive-light;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    ::selection {
        background: $m-color--ul-yellow;
        color: $m-color--text;
    }

    ul,
    li {
        padding: 0;
    }

    ul li {
        list-style: none;
    }

    button {
        border-radius: 0;
    }

    abbr {
        text-decoration: none;
        box-shadow: 0 1px $m-color--grey-dark;
    }
}
