// ======================================================================
//  font-face import
// ======================================================================

// fallback
@include font-face('Source Sans Pro', 'source-sans-pro/SourceSansPro-Regular');
@include font-face('Source Sans Pro', 'source-sans-pro/SourceSansPro-Light', 300);
@include font-face('Source Sans Pro', 'source-sans-pro/SourceSansPro-Semibold', 600);
// font variable
@include font-face('Source Sans Variable', 'source-sans-variable/SourceSansVariable-Roman', $m-font-weight-range);
@include font-face('Source Sans Variable', 'source-sans-variable/SourceSansVariable-Italic', $m-font-weight-range, italic);

.m-u--app-body {
    font-family: $m-font-family--fallback;

    @supports (font-variation-settings: normal) {
        font-family: $m-font-family;
    }

    @at-root {
        body#{&} {
            min-width: $m-min-width;
        }
    }

    font-weight: $m-font-weight--light;
    font-style: normal;
    font-size: $m-font-size;
    line-height: $m-line-height;
    margin: 0;
    color: $m-color--text;
    box-sizing: border-box;
    outline-color: $m-color--interactive-light;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    ::selection {
        background: $m-color--ul-yellow;
        color: $m-color--text;
    }

    ul,
    li {
        padding: 0;
    }

    ul li {
        list-style: none;
    }

    button {
        border-radius: 0;
    }

    abbr {
        text-decoration: none;
        box-shadow: 0 1px $m-color--grey-dark;
    }

    a {
        color: $m-color--interactive;
    }

    // ======================================================================
    //  Titles
    // ======================================================================

    @include m-titles-styles();

    // ======================================================================
    //  Text
    // ======================================================================

    @include m-text-styles();
}
