// ======================================================================
//  List bullet
// ======================================================================

.m-u--bullet-list {
    margin: $m-margin 0;
    padding: 0 0 0 $m-padding--l;

    > :not(ul):not(li) {
        font-weight: $m-font-weight--bold;
        margin-bottom: 0;
    }

    ul,
    &__list {
        margin: 0;
        padding: 0 0 0 $m-padding--l;
    }

    &:not(ul) {
        margin: $m-margin 0;
    }

    li,
    &__elem {
        position: relative;
        list-style: none;
        margin: $m-padding--s 0;

        &::before {
            position: absolute;
            top: 8px; // Magic number
            left: -12px; // Magic number
            content: '';
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background: $m-color--black-grey-light;
        }
    }
}
