// ======================================================================
//  Import font face
// ======================================================================
// @import url('https://fonts.googleapis.com/css?family=Overpass:200,300,400,600');
// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');

@font-face {
    font-family: 'Source Sans Variable';
    src: url('#{$m-font-path}SourceSansVariable-Roman.otf');
    src:
        url('#{$m-font-path}SourceSansVariable-Roman.otf.woff') format('woff'),
        url('#{$m-font-path}SourceSansVariable-Roman.otf.woff2') format('woff2'),
        url('#{$m-font-path}SourceSansVariable-Roman.ttf') format('truetype'),
        url('#{$m-font-path}SourceSansVariable-Roman.ttf.woff') format('woff'),
        url('#{$m-font-path}SourceSansVariable-Roman.ttf.woff2') format('woff2');
    font-weight: 1 999;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Variable';
    src: url('#{$m-font-path}SourceSansVariable-Italic.otf');
    src:
        url('#{$m-font-path}SourceSansVariable-Italic.otf.woff') format('woff'),
        url('#{$m-font-path}SourceSansVariable-Italic.otf.woff2') format('woff2'),
        url('#{$m-font-path}SourceSansVariable-Italic.ttf') format('truetype'),
        url('#{$m-font-path}SourceSansVariable-Italic.ttf.woff') format('woff'),
        url('#{$m-font-path}SourceSansVariable-Italic.ttf.woff2') format('woff2');
    font-weight: 1 999;
    font-style: italic;
}
