

// ======================================================================
//  Margin
// ======================================================================

.m-margin {
    margin: $m-margin;

    &-top {
        margin-top: $m-margin;
        &-large {
            margin-top: $m-margin--l;
        }
        &-small {
            margin-top: $m-margin--s;
        }
    }

    &-right {
        margin-right: $m-margin;
        &-large {
            margin-right: $m-margin--l;
        }
        &-small {
            margin-right: $m-margin--s;
        }
    }

    &-bottom {
        margin-bottom: $m-margin;
        &-large {
            margin-bottom: $m-margin--l;
        }
        &-small {
            margin-bottom: $m-margin--s;
        }
    }

    &-left {
        margin-left: $m-margin;
        &-large {
            margin-left: $m-margin--l;
        }
        &-small {
            margin-left: $m-margin--s;
        }
    }

    &-top-bottom {
        margin-top: $m-margin;
        margin-bottom: $m-margin;

        &-large {
            margin-top: $m-margin--l;
            margin-bottom: $m-margin--l;
        }
        &-small {
            margin-top: $m-margin--s;
            margin-bottom: $m-margin--s;
        }
    }

    &-right-left {
        margin-right: $m-margin;
        margin-left: $m-margin;

        &-large {
            margin-right: $m-margin--l;
            margin-left: $m-margin--l;
        }
        &-small {
            margin-right: $m-margin--s;
            margin-left: $m-margin--s;
        }
    }

    &-large {
        margin: $m-margin--l;
    }

    &-samll {
        margin: $m-margin--s;
    }
}


// ======================================================================
//  Padding
// ======================================================================

.m-padding {
    padding: $m-padding;

    &-top {
        padding-top: $m-padding;
        &-large {
            padding-top: $m-padding--l;
        }
        &-small {
            padding-top: $m-padding--s;
        }
    }

    &-right {
        padding-right: $m-padding;
        &-large {
            padding-right: $m-padding--l;
        }
        &-small {
            padding-right: $m-padding--s;
        }
    }

    &-bottom {
        padding-bottom: $m-padding;
        &-large {
            padding-bottom: $m-padding--l;
        }
        &-small {
            padding-bottom: $m-padding--s;
        }
    }

    &-left {
        padding-left: $m-padding;
        &-large {
            padding-left: $m-padding--l;
        }
        &-small {
            padding-left: $m-padding--s;
        }
    }

    &-top-bottom {
        padding-top: $m-padding;
        padding-bottom: $m-padding;

        &-large {
            padding-top: $m-padding--l;
            padding-bottom: $m-padding--l;
        }
        &-small {
            padding-top: $m-padding--s;
            padding-bottom: $m-padding--s;
        }
    }

    &-right-left {
        padding-right: $m-padding;
        padding-left: $m-padding;

        &-large {
            padding-right: $m-padding--l;
            padding-left: $m-padding--l;
        }
        &-small {
            padding-right: $m-padding--s;
            padding-left: $m-padding--s;
        }
    }

    &-large {
        padding: $m-padding--l;
    }

    &-samll {
        padding: $m-padding--s;
    }
}


// ======================================================================
//  without margin and padding
// ======================================================================

.m-without {
    &-margin {
        margin: 0;
        &-top {
            margin-top: 0;
        }
        &-right {
            margin-right: 0;
        }
        &-bottom {
            margin-bottom: 0;
        }
        &-left {
            margin-left: 0;
        }
        &-top-bottom {
            margin-top: 0;
            margin-bottom: 0;
        }
        &-right-left {
            margin-right: 0;
            margin-left: 0;
        }
    }

    &-padding {
        padding: 0;
        &-top {
            padding-top: 0;
        }
        &-right {
            padding-right: 0;
        }
        &-bottom {
            padding-bottom: 0;
        }
        &-left {
            padding-left: 0;
        }
        &-top-bottom {
            padding-top: 0;
            padding-bottom: 0;
        }
        &-right-left {
            padding-right: 0;
            padding-left: 0;
        }
    }
}