.m-u {
    // ======================================================================
    //  Display
    // ======================================================================
    &--display {
        &--block {
            display: block;
        }

        &--flex {
            display: flex;
        }

        &--inline {
            display: inline;

            &-block {
                display: inline-block;
            }

            &-flex {
                display: inline-flex;
            }
        }
    }
    // ======================================================================
    //  Max and min width
    // ======================================================================
    &--max-width {
        max-width: $m-max-width;

        &--xs {
            max-width: $m-max-width--xs;
        }

        &--s {
            max-width: $m-max-width--s;
        }

        &--l {
            max-width: $m-max-width--l;
        }

        &--text {
            max-width: $m-max-width--text;
            display: flex !important;
        }
    }

    &--min-width {
        min-width: $m-min-width;
    }

    // ======================================================================
    //  Margin & Padding
    // ======================================================================
    @mixin m-spacing-factory() {
        $m-props: 'margin', 'padding';
        $m-directions: '', '-top', '-right', '-bottom', '-left';

        @each $prop in $m-props {
            @each $direction in $m-directions {
                &--no-#{$prop}#{$direction} {
                    #{$prop}#{$direction}: 0;
                }

                @each $size, $spacing in $m-spacing-map {
                    @if ( $size == '') {
                        &--#{$prop}#{$direction}#{$size} {
                            #{$prop}#{$direction}: $spacing;
                        }
                    }

                    @else {
                        &--#{$prop}#{$direction}--#{$size} {
                            #{$prop}#{$direction}: $spacing;
                        }
                    }
                }
            }
        }
    }

    @include m-spacing-factory();

    // exemple
    // padding: m-spacing(xs);
}
