@import 'commons';
@import '../input-style/input-style';

.m-searchfield {
    position: relative;
    display: inline-flex;
    flex-direction: column;

    @include m-input-inline-spacing();

    &__search-button {
        @include m-button;

        border: unset;
        background-color: inherit;
        border-radius: 0 $m-input-style-border-radius $m-input-style-border-radius 0;
        width: 100%;
        color: $m-color--interactive;
        padding: 0 $m-input-style--padding;

        @include m-button--hover();
    }

    &__reset {
        margin-left: $m-spacing--s;
    }

    &.m--has-validation-message {
        .m-decimalfield__validation {
            margin-top: $m-spacing--xs;
        }
    }

    &.m--has-error {
        .m-decimalfield__validation {
            color: $m-color--error;
        }
    }

    &.m--is-valid {
        .m-decimalfield__validation {
            color: $m-color--success;
        }
    }

    &__validation {
        transition: margin-top $m-transition-duration ease;
        display: flex;
        justify-content: flex-end;

        &__message {
            flex: 1 1 auto;
        }
    }

    &__input {
        appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            appearance: textfield;
        }
    }
}
